Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fixes wrong results with `TABLESAMPLE BERNOULLI` + `ANTI JOIN` / `NOT EXISTS`.
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PartitioningUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestBernoulliAntiJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPartitioningUtils.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

fix(planner): Add probe-side HASH exchange for co-partitioned anti-joins
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PartitioningUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestBernoulliAntiJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPartitioningUtils.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

fix(plugin-native-sidecar): Execute distributed call procedures using sidecar
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RewriteWriterTarget.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/CallDistributedProcedureValidator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestRewriteDataFilesProcedure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestNativeIcebergJmxMetadataMetrics.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestRewriteDataFilesProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/CallDistributedProcedureNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
Due: run_native_specific_jobs

feat: Pass filter condition to conflict detection during Iceberg update
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Address AI review comments
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

Ignore tests for Rest catalog on Nessie because of a known issue
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieRestCatalogDistributedQueries.java
Due: none

feat: Extend Makefile to accept a list of optional features to build
  presto-native-execution/Makefile
  presto-native-execution/README.md
Due: run_native_specific_jobs

cleanup
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/README.md
Due: run_native_specific_jobs

chore(deps): Update jackson version to 2.18.8
  pom.xml
  presto-common/src/main/java/com/facebook/presto/common/block/Block.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Domain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Range.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/ValueSet.java
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestDriver.java
Due: none

feat(plugin-iceberg): Support partitioned writer
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergNodePartitioningProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitionFieldHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitioningHandle.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

Native change for partitioned writer support in Iceberg connector
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Due: run_native_specific_jobs

Add test cases for verifying distribution types of plan fragments
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitionFieldHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitioningHandle.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestCreateTable.java
Due: run_native_specific_jobs

Fix plan shape change caused by merging table writer nodes with the same partitioning
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
Due: none

review comments
  presto-native-execution/Makefile
  presto-native-execution/README.md
Due: run_native_specific_jobs

Expose Velox allocator memory via nonHeapUsed in /v1/status
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Report native cache and query memory separately in NodeStatus
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

test(native): Gate array_top_n transform tests on sidecar
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeArrayFunctionQueries.java
Due: none

test(native): Add e2e tests for array_top_n transform function
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeArrayFunctionQueries.java
Due: none

feat: Iceberg V3 field-id protocol + Presto-to-Velox bridge
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergSplit.cpp.inc
Due: run_native_specific_jobs

[iceberg][native] Apply OSS clang-format (pre-commit clang-format 18.1.8)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
Due: run_native_specific_jobs

[iceberg] Add V3 field-id/type-attribute Java coordinator (presto-iceberg)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ColumnIdentity.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileFormat.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergColumnHandle.java
Due: none

update other workflow files
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

review comments
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/Makefile
  presto-native-execution/README.md
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Add support for Basic Auth against the REST catalog server
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/AuthenticationType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
Due: run_linux_tests=false

review comments
  presto-native-execution/README.md
Due: run_native_specific_jobs

Add support to enable TLS for REST catalog communication
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/PrestoRestTLSConfigurer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestPrestoRestTLSConfigurer.java
Due: run_linux_tests=false

Add test coverage for Iceberg V3 initial-default with filter pushdown
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3DefaultColumnValues.java
Due: none

Fix flight shim server to correctly map catalog to connector name
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestArrowFederationNativeQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimPlugins.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/NativeArrowFederationConnectorUtils.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesCassandra.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMixedConnectors.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMongo.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesRedis.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimTpchPlugin.java
Due: none

fix(native): Log first exchange fetch failure at WARNING (#28122)
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
Due: run_native_specific_jobs

fix(native): Announce both HTTP and HTTPS URIs in Prestissimo node discovery (#28119)
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/Announcer.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/AnnouncerTest.cpp
Due: run_native_specific_jobs

fix(native): Use internal-communication scheme for worker task base URI (#28120)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Fix LazyOutputBuffer.acknowledge() before setOutputBuffers (#28121)
  presto-main-base/src/main/java/com/facebook/presto/execution/buffer/LazyOutputBuffer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/buffer/TestLazyOutputBuffer.java
Due: none

fix: Return no-op for LazyOutputBuffer.acknowledge() before buffer init (#28121)
  presto-main-base/src/main/java/com/facebook/presto/execution/buffer/LazyOutputBuffer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/buffer/TestLazyOutputBuffer.java
Due: none
