Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

fix comment
  presto-common/src/main/java/com/facebook/presto/common/block/Block.java
Due: none

feat: Add QuantileDigest data structure (#12810)
  velox/common/base/Portability.h
  velox/functions/lib/QuantileDigest.h
  velox/functions/lib/tests/CMakeLists.txt
  velox/functions/lib/tests/QuantileDigestTest.cpp
  velox/functions/lib/tests/QuantileDigestTestBase.h
  velox/functions/lib/tests/TDigestTest.cpp
Due: none

fix(fuzzer): Ensure vector fuzzer uses generator for registered custom types (#13294)
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/tests/VectorFuzzerTest.cpp
Due: none

fix: Fix spelling for mixed grouped execution in configs.rst (#13274)
  velox/docs/configs.rst
Due: none

[native] Add optional Task queuing framework.
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs, run_linux_tests=false

fix: Prevent leaking promises in HashProbe (#13319)
  velox/exec/HashProbe.cpp
  velox/exec/tests/HashJoinTest.cpp
Due: none

fix: Fix wrong memory pool capacity log (#13300)
  velox/common/memory/MemoryPool.h
  velox/common/memory/tests/MemoryCapExceededTest.cpp
Due: none

feat: Add Spark CAST(bool as timestamp) (#12764)
  velox/docs/functions/spark/conversion.rst
  velox/expression/CastExpr-inl.h
  velox/expression/CastHooks.h
  velox/expression/PrestoCastHooks.cpp
  velox/expression/PrestoCastHooks.h
  velox/functions/sparksql/specialforms/SparkCastHooks.cpp
  velox/functions/sparksql/specialforms/SparkCastHooks.h
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Due: none

Merge TDigest Spill Concurrency Fix (#13321)
  velox/exec/Aggregate.h
  velox/functions/prestosql/aggregates/MergeTDigestAggregate.h
Due: none

resolve namespace
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/thrift/ThriftUtils.h
Due: run_native_specific_jobs

resolve namespace
  presto-native-execution/presto_cpp/main/thrift/ThriftUtils.cpp
Due: run_native_specific_jobs

remove old conversion
  presto-native-execution/presto_cpp/main/thrift/CMakeLists.txt
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
Due: run_native_specific_jobs

fix: Support float to double schema evolution (#13317)
  velox/dwio/common/ColumnVisitors.h
  velox/dwio/common/SelectiveFloatingPointColumnReader.h
Due: none

use existing files
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/thrift/CMakeLists.txt
  presto-native-execution/presto_cpp/main/thrift/Makefile
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/experimental/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/thrift/experimental/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/thrift/experimental/tests/TaskUpdateRequestTest.cpp
Due: run_native_specific_jobs

test: Enable fuzz tests for BingTile functions (#13297)
  velox/common/fuzzer/CMakeLists.txt
  velox/common/fuzzer/ConstrainedGenerators.cpp
  velox/common/fuzzer/ConstrainedGenerators.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/types/BingTileRegistration.cpp
  velox/functions/prestosql/types/BingTileType.cpp
  velox/functions/prestosql/types/BingTileType.h
Due: none

Enhance test framework to handle start/rollback/commit in a nature way
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestAccumuloDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: none

Refactor test framework to return `startedTransactionId` to client
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/KafkaLoader.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main-base/src/main/java/com/facebook/presto/testing/MaterializedResult.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisLoader.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/ResultsSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: none

Refactor test framework to return `clearTransactionId` flag to client
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/KafkaLoader.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main-base/src/main/java/com/facebook/presto/testing/MaterializedResult.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisLoader.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/ResultsSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesExcludingInvalidProperties.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesIncludingInvalidProperties.java
Due: none

Cleaning up tests
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilderJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilderJoinPushdownExtended.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJoinQueriesWithPushDown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcJoinPushdown.java
Due: none

[Iceberg]Explicitly close the transactions opened manually in tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Due: none

Add authentication layer to presto router
  presto-router/etc/config.properties
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/PrestoRouter.java
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteClusterInfo.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteInfoFactory.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteQueryInfo.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteState.java
  presto-router/src/main/java/com/facebook/presto/router/security/RouterSecurityModule.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/main/resources/router_ui/src/components/PageTitle.jsx
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestHealthChecks.java
  presto-router/src/test/java/com/facebook/presto/router/TestRouterAuthentication.java
  presto-router/src/test/java/com/facebook/presto/router/TestSelectors.java
  presto-router/src/test/java/com/facebook/presto/router/TestingRouterUtil.java
Due: none

Add docs for router authentication
  presto-docs/src/main/sphinx/router/deployment.rst
  presto-docs/src/main/sphinx/security/password-file.rst
Due: run_linux_tests=false

Fix redshift documentation
  presto-docs/src/main/sphinx/connector/redshift.rst
Due: run_linux_tests=false

static scan fix
  presto-main-base/src/main/java/com/facebook/presto/spiller/AesSpillCipher.java
Due: none

added checks to see disk usage
  .github/workflows/prestocpp-linux-container-tests.yml
Due: none

[test, no review][native] CMake test for CPP and clean up existing pipeline (#25097)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/presto_cpp/main/common/tests/test_json.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/ExecutionFailureInfo.json
  presto-native-execution/presto_cpp/main/tests/data/Fragment.txt
  presto-native-execution/presto_cpp/main/tests/data/MetadataUpdates.json
  presto-native-execution/presto_cpp/main/tests/data/OperatorStats.json
  presto-native-execution/presto_cpp/main/tests/data/OperatorStatsEmptyBlockedReason.json
  presto-native-execution/presto_cpp/main/tests/data/Split.json
  presto-native-execution/presto_cpp/main/tests/data/TableWriteInfo.json
  presto-native-execution/presto_cpp/main/tests/data/TaskInfo.json
  presto-native-execution/presto_cpp/main/thrift/Makefile
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-hpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/ThriftIO.h
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.json
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.py
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.json
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
  presto-native-execution/presto_cpp/presto_protocol/core/DataSize.h
  presto-native-execution/presto_cpp/presto_protocol/core/Duration.h
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
Due: run_native_specific_jobs

Test commit to see if tests are run
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativePlanValidation.java
Due: run_native_specific_jobs

feat: Add Geometry serde (#13003)
  .github/workflows/linux-build-base.yml
  CMake/resolve_dependency_modules/geos.cmake
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/CMakeLists.txt
  velox/functions/prestosql/geospatial/GeometrySerde.cpp
  velox/functions/prestosql/geospatial/GeometrySerde.h
  velox/functions/prestosql/registration/BingTileFunctionsRegistration.cpp
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
  velox/functions/prestosql/tests/TypeOfTest.cpp
Due: none

fix: Optimize array and map copy in encodedVectorCopy (#13320)
  velox/vector/EncodedVectorCopy.cpp
Due: none

Refactor PluginManager(s) to use PluginManagerUtil
  presto-main-base/src/main/java/com/facebook/presto/server/PluginInstaller.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
Due: none

[sidecar] Fix array_sort lambda function failure when sidecar is enabled and add e2e lambda function tests
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticException.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SignatureMatchingException.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

feat: Support constant encoding in RowVector::pushDictionaryToRowVectorLeaves (#13281)
  velox/vector/ComplexVector.cpp
  velox/vector/tests/VectorTest.cpp
Due: none

Change array_top_n to return null on bad n
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/sql/TestArraySqlFunctions.java
Due: none

Revert "Change array_top_n to return null on bad n"
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/sql/TestArraySqlFunctions.java
Due: none

[native]: Enable Velox cuDF
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/README.md
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
