Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Refactor PrestoS3 components: remove unused dependencies and streamline S3 client configuration
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3AclType.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemStats.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3SelectClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
  presto-iceberg/pom.xml
Due: none

fix(native): Fix crash in TaskResource by using EventBase KeepAlive (#26777)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Due: run_native_specific_jobs

fix(native): Change content type of endpoint /v1/info/metrics based on accept header (#26639)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
Due: run_native_specific_jobs

Address Sourcery comments
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
Due: run_linux_tests=false

chore(native): Fix protocol headers in ExpressionOptimizer
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
Due: run_native_specific_jobs

feat(optimizer): Add RowExpressionSerde and JsonCodecRowExpressionSerde
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleJsonModule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/ExpressionOptimizerManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/JsonCodecRowExpressionSerde.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/TestExpressionOptimizerManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/OptimizerAssert.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyRowExpressions.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/RowExpressionSerde.java
  presto-spi/src/main/java/com/facebook/presto/spi/sql/planner/ExpressionOptimizerContext.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: none

Add additional insert success assertion
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

feat(plugin-native-sidecar): Add native expression optimizer
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/ExpressionOptimizerManager.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/RowExpressionDeserializer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/RowExpressionSerializer.java
Due: run_linux_tests=false

feat(plugin-native-sidecar): Add e2e tests for native expression optimizer
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
  presto-tests/pom.xml
Due: run_native_specific_jobs

Revert constant folding hack
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
Due: none

Address comments
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
Due: none

Use dedicated ioexecutor
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

chore(native): Fix protocol headers in ExpressionOptimizer (#26780)
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
Due: run_native_specific_jobs

Run metrics server in its own dedicated thread
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

update jedis-mock test dependency
  redis-hbo-provider/pom.xml
Due: none

misc: Remove unused variable
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

chore(deps): Update jedis-mock test dependency (#26782)
  redis-hbo-provider/pom.xml
Due: none

misc: Remove unused exception variables
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
Due: run_native_specific_jobs

misc: Remove unused exception variables (#26784)
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
Due: run_native_specific_jobs

misc: Remove unused variables
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

Upgrade AWS Glue Integration to AWS SDK v2
  presto-hive-common/pom.xml
  presto-hive-common/src/main/java/com/facebook/presto/hive/aws/metrics/AwsSdkClientStats.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueCatalogApiStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueMetastoreStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueInputConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueToPrestoConverter.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueHiveMetastoreConfig.java
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueInputConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueToPrestoConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestingMetastoreObjects.java
Due: none

fixed wildcard directive
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
Due: none

fix product tests
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLJoinPushDown.java
Due: none

Add Iceberg metadata table $metadata_log_entries
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/MetadataLogTable.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Due: run_linux_tests=false

chore(deps): Upgrade airlft version to 225 (#26768)
  pom.xml
Due: none

Use shorter MV property names now that MV properties are distinct from view and table properties
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
Due: run_linux_tests=false

Support predicate stitching in MaterializedViewRewrite
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/MaterializedViewStitchingUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanClonerWithVariableMapping.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestMaterializedViewStitchingUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPlanClonerWithVariableMapping.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStaleReadBehavior.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_linux_tests=false

Wait for CTE in newSourcePartitionedSchedulerAsStageScheduler
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/CTEMaterializationTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
Due: none

Support materialized cte for single node execution
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDistributedCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSingleNodeCteExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeCteExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquetDistributed.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquetSingleNode.java
Due: run_native_specific_jobs

misc: Remove unused variables (#26785)
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

feat(plugin-native-sidecar): Add native row expression optimizer (#24602)
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleJsonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/ExpressionOptimizerManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/JsonCodecRowExpressionSerde.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/TestExpressionOptimizerManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/OptimizerAssert.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyRowExpressions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/RowExpressionDeserializer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/RowExpressionSerializer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/RowExpressionSerde.java
  presto-spi/src/main/java/com/facebook/presto/spi/sql/planner/ExpressionOptimizerContext.java
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs, run_linux_tests=false

Adding initial files, rough WIP
  pom.xml
  presto-flight-shim/etc/flightshim.properties
  presto-flight-shim/etc/log.properties
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimConfig.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimRequest.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServerExecutionMBean.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ForFlightShimServer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimBase.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimRequest.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimSingleStore.java
  presto-flight-shim/src/test/resources/certs/ca.crt
  presto-flight-shim/src/test/resources/certs/client.crt
  presto-flight-shim/src/test/resources/certs/client.key
  presto-flight-shim/src/test/resources/certs/invalid_cert.crt
  presto-flight-shim/src/test/resources/certs/server.crt
  presto-flight-shim/src/test/resources/certs/server.key
  presto-flight-shim/src/test/resources/split_additional_predicate.json
  presto-flight-shim/src/test/resources/split_tuple_domain.json
Due: none

Add necessary changes to Bryan's commit
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
Due: none

Expose TotalRunningTaskCount as an ODS Metric (#26763)
  presto-main-base/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroupManager.java
Due: none

feat: Make SSD cache maxEntries limit configurable
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

Use json_string_to_array/map/row_cast when possible
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
Due: run_native_specific_jobs

feat: Make table info JSON length configurable (#26731)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TableFinishInfo.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestAdaptivePhasedExecutionPolicy.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateStreamingJoins.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
