Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Fix array_intersect for array<array<T>>
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayIntersectFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayIntersectFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestNanQueries.java
Due: none

Encode the uri path and query parameter
  presto-main/src/main/java/com/facebook/presto/resourcemanager/DistributedTaskInfoResource.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
Due: none

Annotate REST endpoints properly
  presto-proxy/src/main/java/com/facebook/presto/proxy/ProxyResource.java
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
Due: none

[native] Add Linux Memory Manager
  .circleci/continue_config.yml
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/LinuxMemoryCheckerTest.cpp
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV1memory.stat
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV2memory.stat
Due: run_native_specific_jobs, run_linux_tests=false

Fix formatting in presto_cpp/properties.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

Add Comments in PRs to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix velox_query_replayer linking error (#11388)
  velox/tool/trace/CMakeLists.txt
Due: none

Fix Presto's date_add UDF with TimestampAndTimeZone and DST (#11353)
  velox/functions/prestosql/DateTimeImpl.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
  velox/type/tz/TimeZoneMap.cpp
  velox/type/tz/TimeZoneMap.h
  velox/type/tz/tests/TimeZoneMapTest.cpp
Due: none

Fix Presto's date_diff UDF with TimestampAndTimeZone and DST (#11380)
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/DateTimeImpl.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

[native] Use new metrics() API in PrestoExchangeSource
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Due: run_native_specific_jobs

Add ability to verify expression fuzzer runs on a subset of rows (#11267)
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
  velox/expression/tests/ExpressionRunner.cpp
  velox/expression/tests/ExpressionVerifier.cpp
  velox/expression/tests/ExpressionVerifier.h
  velox/expression/tests/ExpressionVerifierUnitTest.cpp
Due: none

Update HiveWriterFactory to use actualStorageFormat
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriterFactory.java
Due: none

Normalize NaNs in to_ieee754_32 and to_ieee754_64 (#11393)
  velox/functions/prestosql/BinaryFunctions.h
  velox/functions/prestosql/tests/BinaryFunctionsTest.cpp
Due: none

add opaque type support to hive type serde (#11253)
  velox/type/Type.cpp
  velox/type/Type.h
  velox/type/fbhive/HiveTypeParser.cpp
  velox/type/fbhive/HiveTypeParser.h
  velox/type/fbhive/HiveTypeSerializer.cpp
  velox/type/fbhive/tests/HiveTypeParserTests.cpp
  velox/type/fbhive/tests/HiveTypeSerializerTests.cpp
Due: none

Fix flakiness in TraceUtilTest.getTaskIds (#11394)
  velox/exec/tests/TraceUtilTest.cpp
Due: none

Fixed parser tests
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Due: none

[native] Fix table writer to use the actual storage format
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Added and updated unit tests
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Due: none

Add more test cases
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Added even more tests
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Fix flaky test MockSharedArbitrationTest.arbitrateBySelfMemoryReclaim (#11397)
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
Due: none

Added more tests
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Fix fast abort condition in global arbitration (#11382)
  velox/common/memory/SharedArbitrator.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
  velox/common/memory/tests/SharedArbitratorTestUtil.h
Due: none

Updated docs and added more tests
  presto-docs/src/main/sphinx/sql/alter-function.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-docs/src/main/sphinx/sql/analyze.rst
  presto-docs/src/main/sphinx/sql/call.rst
  presto-docs/src/main/sphinx/sql/create-function.rst
  presto-docs/src/main/sphinx/sql/create-schema.rst
  presto-docs/src/main/sphinx/sql/create-table-as.rst
  presto-docs/src/main/sphinx/sql/create-table.rst
  presto-docs/src/main/sphinx/sql/drop-function.rst
  presto-docs/src/main/sphinx/sql/grant-roles.rst
  presto-docs/src/main/sphinx/sql/grant.rst
  presto-docs/src/main/sphinx/sql/insert.rst
  presto-docs/src/main/sphinx/sql/revoke-roles.rst
  presto-docs/src/main/sphinx/sql/revoke.rst
  presto-docs/src/main/sphinx/sql/select.rst
  presto-docs/src/main/sphinx/sql/show-create-function.rst
  presto-docs/src/main/sphinx/sql/start-transaction.rst
  presto-docs/src/main/sphinx/sql/update.rst
  presto-docs/src/main/sphinx/sql/values.rst
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_linux_tests=false

Supports serializing a range of rows for CompactRow (#10714)
  velox/docs/develop/serde/compactrow.rst
  velox/row/CMakeLists.txt
  velox/row/CompactRow.cpp
  velox/row/CompactRow.h
  velox/row/benchmarks/CMakeLists.txt
  velox/row/benchmarks/DynamicRowVectorDeserializeBenchmark.cpp
  velox/row/benchmarks/UnsafeRowSerializeBenchmark.cpp
  velox/row/tests/CompactRowTest.cpp
  velox/serializers/CompactRowSerializer.cpp
  velox/serializers/benchmarks/CMakeLists.txt
  velox/serializers/benchmarks/RowSerializerBenchmark.cpp
  velox/serializers/tests/CompactRowSerializerTest.cpp
Due: none

Remove unused-variable in velox/buffer/tests/BufferTest.cpp (#11398)
  velox/buffer/tests/BufferTest.cpp
  velox/common/base/Exceptions.h
  velox/common/process/tests/ProfilerTest.cpp
  velox/dwio/common/FlatMapHelper.cpp
  velox/expression/EvalCtx.cpp
  velox/functions/lib/KllSketch-inl.h
  velox/functions/sparksql/ArrayInsert.h
  velox/functions/sparksql/MaskFunction.h
  velox/serializers/PrestoSerializer.cpp
  velox/vector/fuzzer/examples/ArrayGeneratorExample.cpp
Due: none

[native] Allow new Velox GCS changes
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Add custom comparator to IPAddressType (#11347)
  velox/functions/prestosql/GreatestLeast.h
  velox/functions/prestosql/registration/ComparisonFunctionsRegistration.cpp
  velox/functions/prestosql/registration/GeneralFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ComparisonsTest.cpp
  velox/functions/prestosql/tests/GreatestLeastTest.cpp
  velox/functions/prestosql/types/IPAddressType.cpp
  velox/functions/prestosql/types/IPAddressType.h
  velox/functions/prestosql/types/tests/IPAddressTypeTest.cpp
Due: none

Fix localexchange propertie when spill is enabled
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLocalProperties.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
Due: none

Fix HiveTypeSerializer.unregisteredOpaque (#11401)
  velox/type/Type.h
  velox/type/fbhive/tests/HiveTypeParserTests.cpp
  velox/type/fbhive/tests/HiveTypeSerializerTests.cpp
Due: none

[native] Refactor PrestoToVeloxConnector for modularity
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/HivePrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TpchPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/TpchPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxSplitTest.cpp
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
