Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

fix(iceberg): skip foreign-dialect views in REST catalog to prevent Invalid view JSON crash
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestForeignDialectView.java
Due: none

feat: dynamic filter transport (coordinator↔worker) and scheduler wiring
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/execution/RemoteTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterPusher.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/split/CloseableSplitSourceProvider.java
  presto-main-base/src/main/java/com/facebook/presto/split/SplitManager.java
  presto-main-base/src/main/java/com/facebook/presto/split/SplitSourceProvider.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestThriftTaskIntegration.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterPushRequest.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterResponse.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/test/java/com/facebook/presto/server/TestThriftServerInfoIntegration.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterResponse.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkTaskManager.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
Due: none

test(native): Add Iceberg default value tests for DATE, TIMESTAMP columns
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3DefaultColumnValues.java
Due: none

refactor: rename DynamicFilterStats to DynamicFilterServiceStats across multiple files
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
Due: none

feat(native): Add E2E tests for UNKNOWN type support in Velox functions
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/functions/tests/data/ApproxMostFrequent.json
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeUnknownType.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/TestArrayExceptFunction.java
Due: run_native_specific_jobs

fix: ensure final fetch handling and polling stop correctly in DynamicFilterFetcher
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
Due: none

Fix Iceberg MV base-table query rewrite
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
Due: none

feat(plugin-iceberg): Add Geometry type read, Iceberg table builder test base, and test for Java
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/BingTile.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/BingTileType.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/GeometryType.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergImportedTableTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryArrayRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryMapRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryRowRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryTypeDataRead.java
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/data/ba8627bf-2372-4214-8139-a9f9a060cb7a.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00000-c49db315-eb31-4bea-ba05-c412f4335be3.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00001-dbb65b30-f273-49ec-b2bd-d2cdee19bffb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/data/5b304339-4edb-46b6-94d7-550709a2fd24.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00000-551efd3b-464b-439e-9dc2-474b3ccd7dad.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00001-febe3338-3400-440f-8b1f-17819bad0f4c.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/data/2b0e2cf7-2841-47f7-b06d-92d0b65d9475.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00000-25b0f2cb-1e44-4338-8923-0039a9303a0b.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00001-78839821-f2ea-4665-af34-d499a2e60aeb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/data/751fc69d-0efa-4677-b7fd-ebf6dd68ef71.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00000-b730a4cc-aa33-4a72-8c31-53093b6c76e5.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00001-85543aaa-0fc7-4651-baed-71e22c7c8672.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/snap.avro
  presto-tests/pom.xml
  presto-verifier/pom.xml
Due: run_linux_tests=false

Update presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

Upgrade hudi-presto-bundle to 1.1.0
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
  presto-hudi/pom.xml
Due: none

Add Hudi 1.x backward compatibility tests and fix Hudi 1.1.0 integration
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/TestHudiIntegration.java
  presto-hive/src/test/resources/hudi-testing-data-1x.zip
Due: none

feat(native): Expose hash_probe_finish_early_on_empty_build session property
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNativeHashProbeFinishEarlyOnEmptyBuild.java
Due: run_native_specific_jobs, run_linux_tests=false

chore(ci): Advance velox
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedExchange.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedExchange.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/ShutdownOrderTest.cpp
Due: run_native_specific_jobs

fix(native): handle DeleteNode in NativePlanChecker WriterNodeReplacer
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
Due: none

feat: Add support for ALTER COLUMN SET NOT NULL and DROP NOT NULL operations in Iceberg
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-native-execution/presto_cpp/main/common/Exception.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergAlterColumnNotNull.java
Due: run_native_specific_jobs, run_linux_tests=false

Move logic into InsertTableHandl
  CLAUDE.md
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

feat(plugin-iceberg): Add geometry type read, iceberg table builder test base, and test for Java (#28002)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/BingTile.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/BingTileType.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/GeometryType.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergImportedTableTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryArrayRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryMapRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryRowRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryTypeDataRead.java
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/data/ba8627bf-2372-4214-8139-a9f9a060cb7a.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00000-c49db315-eb31-4bea-ba05-c412f4335be3.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00001-dbb65b30-f273-49ec-b2bd-d2cdee19bffb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/data/5b304339-4edb-46b6-94d7-550709a2fd24.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00000-551efd3b-464b-439e-9dc2-474b3ccd7dad.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00001-febe3338-3400-440f-8b1f-17819bad0f4c.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/data/2b0e2cf7-2841-47f7-b06d-92d0b65d9475.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00000-25b0f2cb-1e44-4338-8923-0039a9303a0b.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00001-78839821-f2ea-4665-af34-d499a2e60aeb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/data/751fc69d-0efa-4677-b7fd-ebf6dd68ef71.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00000-b730a4cc-aa33-4a72-8c31-53093b6c76e5.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00001-85543aaa-0fc7-4651-baed-71e22c7c8672.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/snap.avro
  presto-tests/pom.xml
  presto-verifier/pom.xml
Due: run_linux_tests=false

fix(native-pos): Fix memory reservation leak in materialized output buffer (#28379)
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.cpp
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeReclaimTest.cpp
Due: run_native_specific_jobs

ci(native): Add container tests for sidecar
  .github/workflows/prestocpp-linux-container-tests.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarDisabledInfrastructure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarEnabledInfrastructure.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

chore(ci): Advance velox (#28382)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedExchange.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedExchange.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/ShutdownOrderTest.cpp
Due: run_native_specific_jobs

fix(native-pos): Fix memory reservation leak in materialized output buffer (#28379) (#28379)
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.cpp
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeReclaimTest.cpp
Due: run_native_specific_jobs

Add adbc.rst to /clients/
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/adbc.rst
Due: run_linux_tests=false

CI fix
  pom.xml
Due: none

feat(native-pos): Make MaterializedOutputBuffer.isBlocked/backpressure-test aware of finished state (#28384)
  presto-native-execution/presto_cpp/main/operators/MaterializedOutput.cpp
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeTest.cpp
Due: run_native_specific_jobs

test(native): Enable sidecar in arrow flight native e2e tests and split into jdbc/non-jdbc test profiles
  .github/workflows/arrow-flight-tests.yml
  presto-flight-shim/pom.xml
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestArrowFederationNativeQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/NativeArrowFederationConnectorUtils.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesCassandra.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMixedConnectors.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMongo.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesRedis.java
Due: none

test(native): Enable sidecar in arrow flight native e2e tests and split into jdbc/non-jdbc test profiles (#28076)
  .github/workflows/arrow-flight-tests.yml
  presto-flight-shim/pom.xml
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestArrowFederationNativeQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/NativeArrowFederationConnectorUtils.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesCassandra.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMixedConnectors.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMongo.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesRedis.java
Due: none

Add e2e tests for datetime scalar functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeDateTimeScalarFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDateTimeScalarFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDateTimeScalarFunctions.java
Due: none

fix(docs): Remove duplicate C++ Sketch Functions documentation
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
Due: run_linux_tests=false

feat(function): Add deterministic_random for uniform sampling
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
  presto-sql-helpers/presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/SimpleSamplingPercent.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestSqlInvokedFunctions.java
Due: run_linux_tests=false

fix(docs): Remove duplicate C++ Sketch Functions documentation (#28385)
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
Due: run_linux_tests=false

fix(analyzer): Resolve MV-only properties in SHOW CREATE MATERIALIZED VIEW
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
