Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

feat: Add support to apply Velox GFlags as configs
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

address review comments
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Due: run_native_specific_jobs

Fix Web UI SQL Client does not display boolean column values
  presto-ui/src/components/QueryResults.jsx
Due: none

Update Velox aggregation memory estimation
  .gitmodules
Due: none

add docs and improve code
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

add tests
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
Due: run_native_specific_jobs

feat: Publish portable multi-arch presto-native images.
  .github/workflows/presto-release-publish.yml
  presto-native-execution/docker-compose.yml
Due: run_native_specific_jobs

feat(ci): Make image publish namespace and GHCR auth overridable
  .github/workflows/presto-release-publish.yml
Due: none

ci: reuse registry login composite action
  .github/actions/registry-login/action.yml
  .github/workflows/presto-release-publish.yml
Due: none

ci: compute native dependency SHA before matrix builds
  .github/workflows/presto-release-publish.yml
Due: none

ci: checkout repo before local registry login action
  .github/workflows/presto-release-publish.yml
Due: none

ci: checkout workflow actions before registry login
  .github/workflows/presto-release-publish.yml
Due: none

ci: avoid template expansion in native image tags
  .github/workflows/presto-release-publish.yml
Due: none

docs: use prestodb images and note arm64 march flags in installation guide
  presto-docs/src/main/sphinx/presto_cpp/installation.rst
Due: run_linux_tests=false

ci: avoid implying the repo owns the GitHub-hosted arm64 runner
  .github/workflows/presto-release-publish.yml
Due: none

ci: match commit_sha output casing between job and consumers
  .github/workflows/presto-release-publish.yml
Due: none

fix: resolve #19055 — Pluggable Secret Management Logic in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/security/SecretsManager.java
Due: none

fix: resolve #28114 — Equality filtering on Iceberg array columns fails with `Unsupported range type: ARRAY<INTEGER>` in Presto C++
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

fix: resolve #28114 — Equality filtering on Iceberg array columns fails with `Unsupported range type: ARRAY<INTEGER>` in Presto C++
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeId.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeContext.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeSinkHandle.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeSinkInstanceHandle.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeSourceHandle.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-spi/src/main/java/com/facebook/presto/spi/exchange/ExchangeManagerFactory.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/faulttolerant/TaskDescriptor.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/faulttolerant/NodeRequirements.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/faulttolerant/TaskDescriptorStorage.java
Due: none

fix: resolve #19149 — Task and query retry in Presto
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/faulttolerant/TaskDescriptorStorageConfig.java
Due: none

fix: resolve #27585 — [NATIVE] TPC-DS SF100: native CPU results disagree with DuckDB reference (Q67, Q70, Q71, Q75, Q83)
  velox-testing/common/testing/integration_tests/tpcds_result_compare.py
Due: none

address copilot review comments
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
Due: run_native_specific_jobs

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/dwrf/reader/FooterParseValidation.h
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/dwrf/reader/ReaderBase.cpp
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/common/compression/Compression.cpp
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/common/CacheInputStream.cpp
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/dwrf/reader/SelectiveMapColumnReader.cpp
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/dwio/common/SelectiveMapColumnReader.cpp
Due: none

fix: resolve #27954 — velox reader orc file errors
  velox/connectors/hive/SplitReader.cpp
Due: none

Fix flaky ConcurrentModificationException / access-control race in Presto-on-Spark tests (#28099)
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: none

Report native cache and query memory separately in NodeStatus
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
