Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Query System Tables + Wait for Schema Agreement + Access Metadata
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

Attempt to aggressive session reconnection
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

Another attempt to fix this
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

Attempt to move sleep out of each loop
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

metadata refresh overhead
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

docker changes
  presto-product-tests/conf/docker/common/standard.yml
  presto-product-tests/conf/docker/singlenode-cassandra/docker-compose.yml
Due: none

fix the docker-compose scripts to ensure C* network is available
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
  presto-product-tests/conf/docker/singlenode-cassandra/docker-compose.yml
Due: none

other test fixture attempts
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

lazy initialization of inetaddress
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
Due: none

enhance metadata schema
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

Add LOCAL_QUORUM to TestCassandraConnector
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
Due: none

See if LOCAL_QUORUM consistency will fix it
  presto-cassandra/src/main/resources/reference.conf
Due: none

revert
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
Due: none

Add mTLS tests
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimBase.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/NativeArrowFederationConnectorUtils.java
Due: none

chore(native): Remove unused variable in VeloxToPrestoExprConverter (#27018)
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
Due: run_native_specific_jobs

Docs update, other fix attempt
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

misc: Remove unused includes
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
Due: run_native_specific_jobs

other fix attempt
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
Due: none

fix(native): Fix Velox to Presto IN expression conversion
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

feat(connector): Upgrade AWS Glue to AWS SDK v2 and Migrate to MetricPublisher (#26670)
  presto-hive-common/pom.xml
  presto-hive-common/src/main/java/com/facebook/presto/hive/aws/metrics/AwsSdkClientStats.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueCatalogApiStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueMetastoreStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueInputConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueToPrestoConverter.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueHiveMetastoreConfig.java
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueInputConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueToPrestoConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestingMetastoreObjects.java
Due: none

misc: Remove unused includes (#27026)
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
Due: run_native_specific_jobs

fix(plugin-iceberg): Disable metadata deletion on varbinary columns
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

feat(plugin-iceberg): Support partitioned writer
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergNodePartitioningProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitionFieldHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/partitioning/IcebergPartitioningHandle.java
Due: none

Upgrade to Cassandra Java Driver 4.x
  pom.xml
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/BackoffRetryPolicy.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClusteringPredicatesExtractor.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraErrorCode.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSinkProvider.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraRecordCursor.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraRecordSetProvider.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraTokenSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningCluster.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/RetryPolicyType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/HostAddressFactory.java
  presto-cassandra/src/test/java/com/datastax/driver/core/RowUtil.java
  presto-cassandra/src/test/java/com/datastax/driver/core/TestHost.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestCassandraClusteringPredicatesExtractor.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestHostAddressFactory.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

Test improvements
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
Due: none

[native] FusionNext - Infrastructure testing
  presto-main-base/src/main/java/com/facebook/presto/server/NodeResourceStatus.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarDisabledInfrastructure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarEnabledInfrastructure.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

code fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
Due: run_native_specific_jobs

resolved ci failures
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: none

code fix
  .github/workflows/prestocpp-linux-container-tests.yml
Due: none

code fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarDisabledInfrastructure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarEnabledInfrastructure.java
Due: run_native_specific_jobs

Final
  .github/workflows/prestocpp-linux-container-tests.yml
Due: none

code fix
  .github/workflows/prestocpp-linux-container-tests.yml
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

code fix
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

resolved conflicts
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
Due: run_native_specific_jobs

Refactored based on Dong Wang's review comments
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreCacheSpec.java
Due: none

fix(native): Account for searched form of CASE during expression conversion
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

Test failure fixes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraTokenSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/Murmur3PartitionerTokenRing.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraTokenSplitManager.java
Due: none

Fix "Runtime Invalid (reserved) user type name date"
  presto-cassandra/src/main/java/com/TimestampCodec.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/IntToLocalDateCodec.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
Due: none
