Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Re-enable disabled test cases for iceberg.
  .gitmodules
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestCreateTable.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestMetadata.java
Due: run_native_specific_jobs

[presto-native-execution] Expose spill_io_stats_key_prefix as a session property (#27694)
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
Due: run_native_specific_jobs

[Presto] Add batch mode support and streaming mode to RPC plan
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RpcFunctionOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRpcFunctionOptimizer.java
Due: none

chore(deps): Bump ts-jest from 29.4.6 to 29.4.9 in /presto-ui/src (#27660)
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

misc(native-pos): Extract AbstractNativeProcess from NativeExecutionProcess (#27696)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/AbstractNativeProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Due: none

misc(native): Target Java 8 for presto-on-spark compatibility (#27697)
  presto-built-in-worker-function-tools/pom.xml
Due: none

fix: Take 'finishingTime' and 'planningTime' out of 'executionTime' (#27691) (#27691)
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateTimer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
Due: none

fix: error tagging from internal error to user error
  presto-common/src/main/java/com/facebook/presto/common/DataTypeMismatchException.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/AllOrNoneValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Domain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/EquatableValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/util/Failures.java
Due: none

perf(optimizer): Clean up prefilter distinct limit (#27678)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PrefilterForLimitingAggregation.java
Due: none

test case fix
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

fix(native): Fix BIND expression loss for captured lambdas in NativeExpressionOptimizer
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

Address review comments
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

refactor(testing): Refactor testcases for native-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

test(native): Add AbstractTestQueries to native-tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs

test class check
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

Address review comments
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

fix compilation issue
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

fix: Integer overflow in range filter boundary conversion (#27600)
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

feat(plugin-iceberg): Add changes for passing iceberg V3 initialDefaultValue while read (#27659)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDefaultValuePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

chore(deps): Bump css-loader from 7.1.2 to 7.1.4 in /presto-ui/src fix rebased conflicts
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

working test case
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

test case update
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

refactor(native): Clean up the saturate cast of count metric (#27676)
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Due: run_native_specific_jobs

test case updated
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

feat(optimizer): Add session properties for RPC streaming mode and batch dispatch size (#27700)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RpcFunctionOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRpcFunctionOptimizer.java
Due: none

chore(deps): Bump css-loader from 7.1.2 to 7.1.4 in /presto-ui/src (#27667)
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

test: Add end to end tests for quantile digest functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
Due: none

fix: Change error tagging from internal error to user error (#27686)
  presto-common/src/main/java/com/facebook/presto/common/DataTypeMismatchException.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/AllOrNoneValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Domain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/EquatableValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/util/Failures.java
Due: none

feat(planner): Support scalar functions in MV query rewriting (#27549) (#27549)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewRewriteQueryShapeValidator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewRewriteQueryShapeValidator.java
Due: none

feat(optimizer): Add per-column IN/NOT IN predicates for ROW constructor IN/NOT IN
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteRowConstructorInToDisjunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/OptimizeRowInPredicate.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteRowConstructorInToDisjunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestOptimizeRowInPredicate.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

chore(ci): Cleanup permission settings
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/owasp-dependency-check.yml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
