Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

modernizer for presto-router
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/spec/SelectorRuleSpec.java
Due: none

feat: Add indexed priority queue for auto writer thread scaling (#11584)
  velox/common/base/IndexedPriorityQueue.h
  velox/common/base/tests/CMakeLists.txt
  velox/common/base/tests/IndexedPriorityQueueTest.cpp
  velox/common/caching/SsdFile.h
Due: none

Apply suggestions from code review
  presto-main/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-main/src/main/java/com/facebook/presto/server/FunctionServer.java
Due: none

Fix CVE-2022-34917 about kafka-client dependency
  pom.xml
  presto-kafka/pom.xml
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedKafka.java
  presto-product-tests/pom.xml
Due: none

refractor the pom
  presto-cassandra/pom.xml
Due: none

fix: Add include cstdint explicitly (#11594)
  velox/exec/Trace.h
  velox/exec/TraceConfig.h
Due: none

Update README.md
  README.md
Due: none

snakeyaml mend scan cve fixes
  presto-benchto-benchmarks/pom.xml
  presto-delta/pom.xml
  presto-native-execution/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-product-tests/pom.xml
Due: run_native_specific_jobs

Revert "snakeyaml mend scan cve fixes root pom"
  pom.xml
Due: none

Revert "snakeyaml mend scan cve fixes"
  presto-benchto-benchmarks/pom.xml
  presto-delta/pom.xml
  presto-native-execution/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-product-tests/pom.xml
Due: run_native_specific_jobs

Update TPCH documentation to include schemas, table names, row counts
  presto-docs/src/main/sphinx/connector/tpch.rst
Due: run_linux_tests=false

Phase 1. Implementation for RFC-0005: Scalar function stats propagation.
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/ScalarStatsAnnotationProcessor.java
  presto-main/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ParametricScalar.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ScalarHeader.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/annotations/ScalarFromAnnotationsParser.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/util/MoreMath.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsAnnotationProcessor.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestStatsAnnotationScalarFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/ScalarFunctionConstantStats.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/ScalarPropagateSourceStats.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/ScalarStatsHeader.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/Signature.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StatsPropagationBehavior.java
Due: run_linux_tests=false

Removed constants inside enums, will be replaced by more cleaner way in subsequent PRs.
  presto-main/src/main/java/com/facebook/presto/cost/ScalarStatsAnnotationProcessor.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsAnnotationProcessor.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StatsPropagationBehavior.java
Due: none

Update presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

Addressed comments by Anant
  presto-main/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
Due: none

Upgrade the H2db version to 2.2.220 and update the expected query syntax
  pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Due: none

dependency-scope for presto-lark-sheets
  presto-lark-sheets/pom.xml
Due: none

modernizer for presto-lark-sheets
  presto-lark-sheets/src/main/java/com/facebook/presto/lark/sheets/LarkSheetsMetadata.java
  presto-lark-sheets/src/test/java/com/facebook/presto/lark/sheets/TestLarkSheetsPlugin.java
Due: none

modernizer for redis-hbo-provider
  redis-hbo-provider/src/main/java/com/facebook/presto/statistic/RedisPlanStatisticsProvider.java
Due: none

dependency scope for presto-native-sidecar-plugin
  presto-native-sidecar-plugin/pom.xml
Due: none

checkstyle for presto-native-execution
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCtasQueriesParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeHiveExternalTableTpchQueriesParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpcdsQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesParquetUsingJSON.java
Due: run_native_specific_jobs

generate-service-descriptor for presto-native-sidecar-plugin
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NoOpPlugin.java
Due: none

modernizer for presto-native-execution
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

dependency-scope for presto-native-execution
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

Wrap iceberg table/view not exist exception as `TableNotFoundException`
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
Due: none

Merge additional headers to the client request.
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/ClientRequestFilterManager.java
  presto-main/src/main/java/com/facebook/presto/ClientRequestFilterModule.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/TestClientRequestFilterPlugin.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/ClientRequestFilter.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: none

fix: Fix TopNRowNumber documentation about spilling (#11569)
  velox/docs/develop/operators.rst
Due: none

feat(function): Add Spark locate function (#8863)
  velox/docs/functions/spark/string.rst
  velox/functions/lib/string/StringImpl.h
  velox/functions/lib/string/tests/StringImplTest.cpp
  velox/functions/prestosql/StringFunctions.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/String.h
  velox/functions/sparksql/tests/StringTest.cpp
Due: none

Add partition attributes to sort node
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantSortColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifySortWithConstantInput.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/LimitPushDown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddPartitionToSortRule.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestSortWithinPartitionPlans.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/SortNode.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSortWithPartitionQueries.java
Due: none

[native] Add config for cpp cache default behavior
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
