Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix duplicate load access control in server
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
Due: none

Enable case-senstive identifer support for Prometheus connector
  presto-docs/src/main/sphinx/connector/prometheus.rst
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusClient.java
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusConnectorConfig.java
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusMetadata.java
  presto-prometheus/src/test/java/com/facebook/presto/plugin/prometheus/TestPrometheusConnectorConfig.java
  presto-prometheus/src/test/java/com/facebook/presto/plugin/prometheus/TestPrometheusIntegrationMixedCase.java
  presto-prometheus/src/test/java/com/facebook/presto/plugin/prometheus/TestPrometheusRetrieveUpValueIntegrationTests.java
Due: run_linux_tests=false

Fix up conditional inclusion of Spark2/3 modules
  pom.xml
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
Due: none

[native] Advance velox
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
Due: run_native_specific_jobs

Fix test errors
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverAuth.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedKafka.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedZookeeper.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/TestUtils.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingPrestoServerModule.java
  presto-main-base/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/test/java/com/facebook/presto/TestClientRequestFilterPlugin.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithThrift.java
Due: none

Wrap presto http request for multiple read body
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
Due: none

Pass authenticator body to authenticate method
  presto-main-base/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
  presto-main/src/test/java/com/facebook/presto/TestClientRequestFilterPlugin.java
  presto-main/src/test/java/com/facebook/presto/server/MockHttpServletRequest.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestCustomPrestoAuthenticator.java
  presto-spi/src/main/java/com/facebook/presto/spi/ClientRequestFilter.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/PrestoAuthenticator.java
Due: none

Change to testing presto server to use real http server module and random port
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverAuth.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedKafka.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedZookeeper.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/TestUtils.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithThrift.java
Due: none

Testing changes to allow running authenticator and client request filter and custom system access control
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingPrestoServerModule.java
  presto-main-base/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Wrap http servlet request to read body multiple times
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
  presto-main/src/test/java/com/facebook/presto/server/MockHttpServletRequest.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestCustomPrestoAuthenticator.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/PrestoAuthenticator.java
Due: none

Client request filter overwrite headers
  presto-main-base/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
  presto-main/src/test/java/com/facebook/presto/TestClientRequestFilterPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/ClientRequestFilter.java
Due: none

Specify system access control for testing presto server
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingPrestoServerModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Use authenticator and client request filter in testing
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Changes to testing server to use real http module
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithThrift.java
Due: none

Back out "refactor: Prepare SpillWriter to be used for serialized page" (#14749)
  velox/exec/SpillFile.cpp
  velox/exec/SpillFile.h
Due: none

Add warning for Non-Deterministic CTE's
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Query.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/With.java
Due: none

Make POS count failed task info and perform dedup on them
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
Due: none

[native] Advance velox
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
Due: run_native_specific_jobs

[Native]Fix vm options for all ExternalWorkerQueryRunners
  presto-native-execution/README.md
Due: run_native_specific_jobs

[Native]Fix typo in NativeSidecarPluginQueryRunner configuration
  presto-native-execution/README.md
Due: run_native_specific_jobs

Enable case-senstive identifer support for Cassandra connector
  .github/workflows/tests.yml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

Fix the sql to create web_site in AbstractTestNativeTpcdsQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsQueries.java
Due: run_native_specific_jobs

refactor: Remove backward compatible code (#14764)
  velox/connectors/Connector.h
Due: none

refactor: Consolidate register-serde APIs for Hive connector (#14753)
  velox/connectors/Connector.cpp
  velox/connectors/Connector.h
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnector.h
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSource.cpp
  velox/connectors/hive/tests/HiveConnectorSerDeTest.cpp
  velox/core/PlanNode.cpp
  velox/exec/TableWriter.cpp
  velox/exec/tests/OperatorTraceTest.cpp
  velox/exec/tests/PlanNodeSerdeTest.cpp
  velox/exec/tests/TableWriterTest.cpp
  velox/exec/tests/utils/TableWriterTestBase.cpp
  velox/experimental/cudf/tests/TableWriteTest.cpp
  velox/tool/trace/TraceReplayRunner.cpp
  velox/tool/trace/tests/AggregationReplayerTest.cpp
  velox/tool/trace/tests/FilterProjectReplayerTest.cpp
  velox/tool/trace/tests/HashJoinReplayerTest.cpp
  velox/tool/trace/tests/IndexLookupJoinReplayerTest.cpp
  velox/tool/trace/tests/PartitionedOutputReplayerTest.cpp
  velox/tool/trace/tests/TableScanReplayerTest.cpp
  velox/tool/trace/tests/TraceFileToolTest.cpp
  velox/tool/trace/tests/UnnestReplayerTest.cpp
Due: none

Upgrade objenesis version to 3.4
  presto-bigquery/pom.xml
  presto-hive/pom.xml
Due: none

Update 0.294 release notes about executable jars
  presto-docs/src/main/sphinx/release/release-0.294.rst
Due: run_linux_tests=false

Update presto-docs/src/main/sphinx/release/release-0.294.rst
  presto-docs/src/main/sphinx/release/release-0.294.rst
Due: run_linux_tests=false

Upgrade mongo server version
  presto-mongodb/pom.xml
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/SyncMemoryBackend.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (iceberg-tests)
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none
