Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[native] Switch to HEAD method for exchange get size call
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Due: run_native_specific_jobs

Don't synchronize on stats update in ThriftHiveMetastore
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
Due: none

[native] Advance Velox and remove abfs namespace
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

[native] Update README (#24056)
  presto-native-execution/README.md
Due: run_native_specific_jobs

[native] Deprecate the arbitration timeout name
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

Upgrade Druid version to resolve CVEs
  pom.xml
  presto-druid/pom.xml
  presto-druid/src/main/java/com/facebook/presto/druid/segment/V9SegmentIndexSource.java
Due: none

Add configuration properties section in tpcds connector
  presto-docs/src/main/sphinx/connector/tpcds.rst
Due: run_linux_tests=false

[native] Disable Parsing Decimal as Double (#24065)
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

[native] Implement Graceful Shutdown in Native worker
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGracefulShutdown.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: run_native_specific_jobs

[native] Update protocol json files in gitignore
  presto-native-execution/presto_cpp/presto_protocol/.gitignore
Due: run_native_specific_jobs

add session properties for prefixsort (#24043)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs, run_linux_tests=false

[native] Allow incoming Velox abfs namespace change
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Fix typo in `alter table` document
  presto-docs/src/main/sphinx/sql/alter-table.rst
Due: run_linux_tests=false

Refactor qualifyObjectName method to FunctionAndTypeResolver
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/FunctionAndTypeResolver.java
  presto-main/src/main/java/com/facebook/presto/execution/AlterFunctionTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateFunctionTask.java
  presto-main/src/main/java/com/facebook/presto/execution/DropFunctionTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestFunctionAndTypeManager.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReorderJoins.java
Due: none

Add configuration properties section in tpch connector
  presto-docs/src/main/sphinx/connector/tpch.rst
Due: run_linux_tests=false

Drop getPreferredShuffleLayout methods from SPI
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushTableWriteThroughUnion.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ScaledWriterRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Enable scaled-writers by default
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Do not fail if symlink already exist
  pom.xml
Due: none

Add lookup function API to StandardFunctionResolution
  presto-main/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestFunctionResolution.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
Due: none

Add set properties support for iceberg
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: run_linux_tests=false

Update TPCH documentation to include schemas, table names, row counts
  presto-docs/src/main/sphinx/connector/tpch.rst
Due: run_linux_tests=false

Tighten checks for "bins" elements in width_bucket(x, bins).
  presto-docs/src/main/sphinx/functions/math.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: run_linux_tests=false

[native] Add config for cpp cache default behavior
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

Refactor and create new method in MetadataUtil
  presto-main/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateSchemaTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main/src/main/java/com/facebook/presto/execution/RenameTableTask.java
  presto-main/src/main/java/com/facebook/presto/execution/ResetSessionTask.java
  presto-main/src/main/java/com/facebook/presto/execution/SetSessionTask.java
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
Due: none

Add functions to encode/decode Google polylines
  presto-main/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
Due: none

Documentation modified for password-authenticator.rst
  presto-docs/src/main/sphinx/develop/password-authenticator.rst
Due: run_linux_tests=false

Wrap iceberg table/view not exist exception as `TableNotFoundException`
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
Due: none

[native] Fix unused variable error (#24117)
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

[native] Disable plan validation failure for timestamp with timezone and ipaddress types for native execution.
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestCheckUnsupportedPrestissimoTypes.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

Update pull request template to refer to CONTRIBUTING
  pull_request_template.md
Due: none

Drop experimental.table-writer-merge-operator-enabled config
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

Fix flaky test in memory connector caused by scaled writer
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryWorkerCrash.java
Due: none

[native] Enable ipaddress checksum test.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Due: run_native_specific_jobs

[native] Advance Velox and apply TaskState changes
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs
