Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

fix: Throw on white space in percent encoded values in url_decode (#11749)
  velox/functions/prestosql/URLFunctions.h
  velox/functions/prestosql/tests/URLFunctionsTest.cpp
Due: none

Add ipprefix cast operators for ipaddr [2/n] (#11481)
  velox/docs/functions/presto/conversion.rst
  velox/functions/prestosql/tests/IPAddressCastTest.cpp
  velox/functions/prestosql/tests/IPPrefixCastTest.cpp
  velox/functions/prestosql/types/IPAddressType.cpp
  velox/functions/prestosql/types/IPPrefixType.cpp
  velox/functions/prestosql/types/IPPrefixType.h
Due: none

[native] Add presto.default-namespace Prestissimo config property
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs, run_linux_tests=false

Add utility functions to resolve intermediate type in generic aggregate functions
  presto-client/src/main/java/com/facebook/presto/client/FixJsonDataUtils.java
  presto-common/src/main/java/com/facebook/presto/common/type/ParameterKind.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeSignature.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeSignatureUtils.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestTypeSignatureUtils.java
  presto-main/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/annotations/OperatorValidator.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
Due: none

[native] Add additional function metadata to function signatures endpoint
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/json/JsonBasedUdfFunctionMetadata.java
  presto-native-execution/presto_cpp/main/types/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/types/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/types/tests/data/ArrayFrequency.json
  presto-native-execution/presto_cpp/main/types/tests/data/Combinations.json
  presto-native-execution/presto_cpp/main/types/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/types/tests/data/ElementAt.json
  presto-native-execution/presto_cpp/main/types/tests/data/Greatest.json
  presto-native-execution/presto_cpp/main/types/tests/data/Lead.json
  presto-native-execution/presto_cpp/main/types/tests/data/Ntile.json
  presto-native-execution/presto_cpp/main/types/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/types/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/types/tests/data/TransformKeys.json
  presto-native-execution/presto_cpp/main/types/tests/data/Variance.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Add a new module presto-function-namespace-managers-common
  pom.xml
  presto-function-namespace-managers-common/pom.xml
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/AbstractSqlInvokedFunctionNamespaceManager.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/InvalidFunctionHandleException.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/ServingCatalog.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/SqlInvokedFunctionNamespaceManagerConfig.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/UuidFunctionNamespaceTransactionHandle.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/NoopSqlFunctionExecutionModule.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/NoopSqlFunctionExecutor.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/NoopSqlFunctionExecutorsModule.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/SqlFunctionExecutionModule.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/SqlFunctionExecutors.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/execution/SqlFunctionLanguageConfig.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/testing/InMemoryFunctionNamespaceManager.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/testing/SqlInvokedFunctionTestUtils.java
  presto-function-namespace-managers-common/src/test/java/com/facebook/presto/functionNamespace/TestSqlInvokedFunctionNamespaceManager.java
  presto-function-namespace-managers-common/src/test/java/com/facebook/presto/functionNamespace/TestSqlInvokedFunctionNamespaceManagerConfig.java
  presto-function-namespace-managers-common/src/test/java/com/facebook/presto/functionNamespace/execution/TestSqlFunctionLanguageConfig.java
  presto-function-namespace-managers/pom.xml
  presto-grpc-api/pom.xml
  presto-jdbc/pom.xml
  presto-main/pom.xml
  presto-spark-base/pom.xml
Due: none

[native] Integrate SPI with sidecar and add e2e native function validation tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionDefinitionProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManagerFactory.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/functionNamespace/TestNativeSidecarPluginFunctionNamespaceManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/nativechecker/TestPlanCheckerProvider.java
Due: run_native_specific_jobs

Add OpenAPI documentation for /v1/functions
  presto-openapi/src/main/resources/function_signatures.yaml
  presto-openapi/src/main/resources/schemas.yaml
Due: none

Use jitpack for custom version of tempto-kafka
  pom.xml
  presto-product-tests/pom.xml
Due: none

build(cmake): Clean up various issues (#11751)
  CMake/ResolveDependency.cmake
  CMake/resolve_dependency_modules/folly/CMakeLists.txt
  CMakeLists.txt
  scripts/setup-helper-functions.sh
  velox/benchmarks/CMakeLists.txt
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/tpch/CMakeLists.txt
  velox/benchmarks/unstable/CMakeLists.txt
  velox/common/base/benchmarks/CMakeLists.txt
  velox/common/hyperloglog/benchmarks/CMakeLists.txt
  velox/connectors/hive/benchmarks/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/dwio/common/tests/CMakeLists.txt
  velox/dwio/dwrf/CMakeLists.txt
  velox/dwio/dwrf/common/CMakeLists.txt
  velox/dwio/dwrf/proto/CMakeLists.txt
  velox/dwio/dwrf/test/CMakeLists.txt
  velox/dwio/dwrf/test/utils/CMakeLists.txt
  velox/dwio/dwrf/utils/CMakeLists.txt
  velox/dwio/parquet/tests/CMakeLists.txt
  velox/dwio/parquet/tests/reader/CMakeLists.txt
  velox/exec/benchmarks/CMakeLists.txt
  velox/exec/prefixsort/benchmarks/CMakeLists.txt
  velox/exec/tests/CMakeLists.txt
  velox/experimental/wave/exec/tests/CMakeLists.txt
  velox/experimental/wave/vector/tests/CMakeLists.txt
  velox/expression/benchmarks/CMakeLists.txt
  velox/functions/lib/benchmarks/CMakeLists.txt
  velox/functions/prestosql/aggregates/benchmarks/CMakeLists.txt
  velox/functions/prestosql/benchmarks/CMakeLists.txt
  velox/functions/sparksql/benchmarks/CMakeLists.txt
  velox/row/benchmarks/CMakeLists.txt
  velox/runner/tests/CMakeLists.txt
  velox/serializers/benchmarks/CMakeLists.txt
  velox/substrait/tests/CMakeLists.txt
  velox/tool/trace/tests/CMakeLists.txt
  velox/type/tests/CMakeLists.txt
  velox/vector/benchmarks/CMakeLists.txt
Due: none

test(nimble selective reader): Add small read size tests for selective reader complex types (#11767)
  velox/dwio/common/tests/utils/E2EFilterTestBase.cpp
  velox/dwio/common/tests/utils/E2EFilterTestBase.h
Due: none

fix: Make TopNRowNumber reclaimable when loading lazy (#11764)
  velox/exec/Operator.h
  velox/exec/TopNRowNumber.cpp
  velox/exec/TopNRowNumber.h
Due: none

Removed ignoredUnusedDeclaredDependency tag for lucene
  presto-pinot-toolkit/pom.xml
Due: none

Fix compilation issue
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

refactor(nimble selective reader): Extract common deduplicated reader helper class (#11766)
  velox/dwio/common/SelectiveRepeatedColumnReader.h
Due: none

[native] Change SSD Cache Executor to use CPUThreadPool
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Fix initialization order of kSpecialforms (#11770)
  velox/expression/fuzzer/ExpressionFuzzer.cpp
Due: none

Fix compilation issue (#24213)
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Enhance pbkdf2 password hashing
  presto-docs/src/main/sphinx/security/password-file.rst
  presto-password-authenticators/src/main/java/com/facebook/presto/password/file/EncryptionUtil.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/file/TestEncryptionUtil.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/file/TestPasswordStore.java
Due: run_linux_tests=false

feat: Add priority based memory reclaim framework (#11598)
  velox/common/memory/MemoryArbitrator.cpp
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/tests/ArbitrationParticipantTest.cpp
  velox/common/memory/tests/MemoryArbitratorTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/core/QueryCtx.h
  velox/dwio/common/SortingWriter.h
  velox/dwio/dwrf/writer/Writer.h
  velox/exec/HashJoinBridge.h
  velox/exec/MemoryReclaimer.cpp
  velox/exec/MemoryReclaimer.h
  velox/exec/Operator.h
  velox/exec/TableWriter.h
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/ExchangeClientTest.cpp
  velox/exec/tests/MemoryReclaimerTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
  velox/exec/tests/utils/Cursor.cpp
  velox/runner/LocalRunner.cpp
Due: none

[native] Advance Velox and cmake fix
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
Due: run_native_specific_jobs

address pr review
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Due: run_native_specific_jobs

fix: Fix flaky TaskPauseTest.resumeFuture test (#11773)
  velox/exec/tests/TaskTest.cpp
Due: none

[native] Replace fixed test worker port with ephemeral ports
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/security/internal-communication.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs, run_linux_tests=false

Add an API to set the creation directory API in TaskManager
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

[native] Advance Velox and cmake fix (#24214)
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
Due: run_native_specific_jobs

Add namespace manager to retrieve REST function signatures.
  presto-function-namespace-managers/pom.xml
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/AbstractSqlInvokedFunctionNamespaceManager.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/ForRestServer.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/FunctionNamespaceManagerPlugin.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/JsonBasedUdfFunctionMetadata.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/UdfFunctionSignatureMap.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/json/JsonFileBasedFunctionDefinitionProvider.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/json/JsonFileBasedFunctionNamespaceManager.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedCommunicationModule.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionApis.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionNamespaceManager.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionNamespaceManagerConfig.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionNamespaceManagerFactory.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionNamespaceManagerModule.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/TestRestBasedFunctionNamespaceManager.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-openapi/src/main/resources/rest_function_server.yaml
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionImplementationType.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/RestFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/RoutineCharacteristics.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Due: run_native_specific_jobs

Ignore mvnvm.properties
  .gitignore
Due: none

Update README.md
  README.md
Due: none

Add a native types manager
  presto-common/src/main/java/com/facebook/presto/common/type/ExactTypeSignature.java
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeManager.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestingTypeManager.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestingTypeManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManagerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManagerModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/sessionpropertyproviders/TestNativeSidecarPluginSystemPropertyProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/sessionpropertyproviders/TestNativeSystemSessionPropertyProviderConfig.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/typemanager/TestNativeSidecarPluginTypeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/TypeManagerContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/TypeManagerFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/TypesProvider.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

upgraded to 3.9.0
  pom.xml
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedKafka.java
Due: none

refactor(parquet): Move arrow levelComparison to common (#11711)
  velox/dwio/parquet/CMakeLists.txt
  velox/dwio/parquet/common/BloomFilter.cpp
  velox/dwio/parquet/common/BloomFilter.h
  velox/dwio/parquet/common/CMakeLists.txt
  velox/dwio/parquet/common/LevelComparison.cpp
  velox/dwio/parquet/common/LevelComparison.h
  velox/dwio/parquet/common/LevelConversion.cpp
  velox/dwio/parquet/common/LevelConversion.h
  velox/dwio/parquet/common/LevelConversionUtil.h
  velox/dwio/parquet/common/XxHasher.cpp
  velox/dwio/parquet/reader/PageReader.cpp
  velox/dwio/parquet/reader/PageReader.h
  velox/dwio/parquet/reader/ParquetTypeWithId.cpp
  velox/dwio/parquet/reader/ParquetTypeWithId.h
  velox/dwio/parquet/reader/RepeatedColumnReader.h
  velox/dwio/parquet/reader/StructColumnReader.cpp
  velox/dwio/parquet/reader/StructColumnReader.h
  velox/dwio/parquet/tests/CMakeLists.txt
  velox/dwio/parquet/tests/common/CMakeLists.txt
  velox/dwio/parquet/tests/common/LevelConversionTest.cpp
  velox/dwio/parquet/tests/reader/CMakeLists.txt
  velox/dwio/parquet/writer/arrow/ArrowSchema.cpp
  velox/dwio/parquet/writer/arrow/ArrowSchema.h
  velox/dwio/parquet/writer/arrow/CMakeLists.txt
  velox/dwio/parquet/writer/arrow/ColumnWriter.cpp
  velox/dwio/parquet/writer/arrow/LevelComparison.cpp
  velox/dwio/parquet/writer/arrow/LevelComparison.h
  velox/dwio/parquet/writer/arrow/LevelComparisonInc.h
  velox/dwio/parquet/writer/arrow/LevelConversion.cpp
  velox/dwio/parquet/writer/arrow/tests/CMakeLists.txt
  velox/dwio/parquet/writer/arrow/tests/ColumnReader.cpp
  velox/dwio/parquet/writer/arrow/tests/ColumnReader.h
  velox/dwio/parquet/writer/arrow/tests/ColumnReaderTest.cpp
Due: none

Add config property 'tpcds.use-varchar-type'
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsMetadata.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsRecordSet.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsMetadataStatistics.java
Due: none

[native] Update presto protocol
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/TpcdsConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-cpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTransactionHandle.cpp.inc
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
