Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Fix formatting in /security/ docs
  presto-docs/src/main/sphinx/security/authorization.rst
  presto-docs/src/main/sphinx/security/internal-communication.rst
  presto-docs/src/main/sphinx/security/jce-policy.fragment
  presto-docs/src/main/sphinx/security/ldap.rst
Due: run_linux_tests=false

fix(type): Fix use after free in BaseVector (#13277)
  velox/vector/BaseVector.cpp
Due: none

Fix release note action with unescaped chars
  .github/workflows/release-notes-check.yml
Due: none

Timeout reading delta tables after incremental updates with null values (#24920)
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaExpressionUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/IncrementalUpdateQueriesTest.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestUppercasePartitionColumns.java
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/.00000000000000000001.json.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/00000000000000000001.json
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/00000000000000000002.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/_delta_log/00000000000000000002.json
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180512/city=sh/.part-00004-4d39fa0a-62f7-4045-b2c4-1e860e6379e7.c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180512/city=sh/part-00004-4d39fa0a-62f7-4045-b2c4-1e860e6379e7.c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180520/city=bj/.part-00000-fe79b4e1-aaca-4bef-9a72-00c6def5b90c.c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180520/city=bj/part-00000-fe79b4e1-aaca-4bef-9a72-00c6def5b90c.c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180520/city=hz/.part-00003-6dbf3cc5-0294-49d5-a40f-79c05a093c66.c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180520/city=hz/part-00003-6dbf3cc5-0294-49d5-a40f-79c05a093c66.c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180718/city=hz/.part-00002-f7dbf1cd-7f74-40c2-b097-832286326b3e.c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20180718/city=hz/part-00002-f7dbf1cd-7f74-40c2-b097-832286326b3e.c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20181212/city=sz/.part-00001-b2e29782-7e1e-4819-a241-b5a9b5e910e8.c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=20181212/city=sz/part-00001-b2e29782-7e1e-4819-a241-b5a9b5e910e8.c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/deltatbl-partition-prune-incremental/date=__HIVE_DEFAULT_PARTITION__/city=__HIVE_DEFAULT_PARTITION__/part-00000-8b6b5718-0044-45c5-8ed6-fc1abcdd5bd4.c000.snappy.parquet
Due: none

feat: Add total used bytes to stats reporter (#13267)
  velox/common/base/Counters.cpp
  velox/common/base/Counters.h
  velox/common/base/PeriodicStatsReporter.cpp
  velox/common/base/tests/StatsReporterTest.cpp
Due: none

feat: Add barrier support for unnest operator (#13293)
  velox/core/PlanNode.h
  velox/exec/FilterProject.cpp
  velox/exec/StreamingAggregation.cpp
  velox/exec/StreamingAggregation.h
  velox/exec/Unnest.cpp
  velox/exec/Unnest.h
  velox/exec/tests/FilterProjectTest.cpp
  velox/exec/tests/UnnestTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
Due: none

feat: Add support for leftSemiProject join in nested loop join (#12172)
  velox/core/PlanNode.cpp
  velox/exec/NestedLoopJoinProbe.cpp
  velox/exec/NestedLoopJoinProbe.h
  velox/exec/tests/NestedLoopJoinTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
Due: none

Upgrade airlift, jetty, and guice in root POM
  pom.xml
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-main/pom.xml
  presto-tests/pom.xml
Due: run_linux_tests=false

Update all GH actions to java 17
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/presto-release-prepare.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Due: none

Fix testValidation due to new error message
  presto-password-authenticators/src/test/java/com/facebook/presto/password/ldap/TestLdapConfig.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControlConfig.java
Due: none

Migrate from io.airlift:airline to com.facebook.airlift:airline
  pom.xml
  presto-benchmark-driver/pom.xml
  presto-benchmark-runner/pom.xml
  presto-cli/pom.xml
  presto-spark-launcher/pom.xml
  presto-testing-server-launcher/pom.xml
  presto-verifier/pom.xml
Due: none

Fix URI compliance for Iceberg nested NS tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
Due: none

Add missing runtime dependencies for native tests
  presto-native-sidecar-plugin/pom.xml
  presto-native-tests/pom.xml
Due: none

Fix compilation for presto-testing-mysql with io.airlift.units
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
Due: none

Run tempto with Java 17
  presto-product-tests/conf/docker/common/kerberos.yml
  presto-product-tests/conf/docker/common/standard.yml
  presto-product-tests/conf/docker/files/run-tempto.sh
  presto-product-tests/conf/docker/multinode-tls-kerberos/docker-compose.yml
  presto-product-tests/conf/docker/multinode-tls/docker-compose.yml
  presto-product-tests/conf/docker/singlenode-ldap/docker-compose.yml
Due: none

Force testng provider in surefire plugin
  pom.xml
Due: none

Fix presto-on-spark tests
  presto-spark-base/pom.xml
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
  presto-spark-testing/src/test/resources/docker-compose.yml
Due: none

Fix product tests
  pom.xml
  presto-cli/pom.xml
  presto-client/src/main/java/com/facebook/presto/client/StatementClientV1.java
Due: none

Update documentation for Java 17 support
  CONTRIBUTING.md
  README.md
  presto-docs/src/main/sphinx/admin/spill.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/security/cli.rst
  presto-docs/src/main/sphinx/security/jce-policy.fragment
  presto-docs/src/main/sphinx/security/server.rst
Due: run_linux_tests=false

Fix ambiguous URIs in function server API
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutor.java
Due: none

Update docker image for JDK 17
  docker/Dockerfile
Due: none

Update jvm.config files for java 17
  docker/etc/jvm.config.example
  presto-main/etc/jvm.config
Due: none

Fix TestRangerBasedAccessControlConfig
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControlConfig.java
Due: none

Update PrestoSystemRequirements for Java 17
  presto-main-base/src/main/java/com/facebook/presto/server/PrestoSystemRequirements.java
Due: none

addressed comments on new changes with config based validation + tests
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/plugin.rst
  presto-docs/src/main/sphinx/presto_cpp/plugin/function_plugin.rst
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/JsonSignatureParser.cpp
  presto-native-execution/presto_cpp/main/JsonSignatureParser.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/dynamic_registry/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicFunctionRegistrar.h
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicLibraryLoader.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicLibraryLoader.h
  presto-native-execution/presto_cpp/main/dynamic_registry/README.md
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicArrayFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicVarcharFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/dynamic_function_config.json
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/non_default_registrations/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/non_default_registrations/DynamicNonDefaultFunction.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/DynamicFunctionRegistererTest.cpp
  presto-native-execution/presto_cpp/main/tests/JsonSignatureParserTest.cpp
  presto-native-execution/src/test/resources/dynamic_function_config.json
Due: run_native_specific_jobs, run_linux_tests=false

Add authentication layer to presto router
  presto-router/etc/config.properties
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/PrestoRouter.java
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteClusterInfo.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteInfoFactory.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteQueryInfo.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteState.java
  presto-router/src/main/java/com/facebook/presto/router/security/RouterSecurityModule.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/main/resources/router_ui/src/components/PageTitle.jsx
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestHealthChecks.java
  presto-router/src/test/java/com/facebook/presto/router/TestRouterAuthentication.java
  presto-router/src/test/java/com/facebook/presto/router/TestSelectors.java
  presto-router/src/test/java/com/facebook/presto/router/TestingRouterUtil.java
Due: none

Add docs for router authentication
  presto-docs/src/main/sphinx/router/deployment.rst
  presto-docs/src/main/sphinx/security/password-file.rst
Due: run_linux_tests=false

fix: Casting complex types is only supposed to cast recursively if a child's type will change (#13245)
  velox/expression/CastExpr.cpp
  velox/expression/tests/CMakeLists.txt
  velox/expression/tests/CastExprTest.cpp
Due: none

fix: Add check for overflow in Presto's from_unixtime (#13262)
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

Fix the partial aggregation pushdown for system table for native execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeSystemQueries.java
Due: run_native_specific_jobs

Add request-data-sizes-max-wait-sec to session properties (#24918)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Add support for analyzer cluster in Presto router
  presto-router/etc/router-config.json
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
  presto-router/src/main/java/com/facebook/presto/router/SimplePrestoClient.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/PreOnClusterScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/Scheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerType.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/UserHashScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestHealthChecks.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
  presto-router/src/test/java/com/facebook/presto/router/TestSelectors.java
  presto-router/src/test/java/com/facebook/presto/router/TestingRouterUtil.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
