Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Centralize dependency versions in parent pom.xml
  pom.xml
  presto-cassandra/pom.xml
Due: none

[native] Advance velox.
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

[native] Add query trace session properties to native session
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs

FIx CVE-2021-25646 druid-core version upgrade
  pom.xml
  presto-druid/pom.xml
Due: none

Fix namespace and remove unused code in ParquetReader.cpp (#11223)
  velox/dwio/parquet/reader/ParquetReader.cpp
Due: none

[native] Install all adapter dependencies in dependency dockerfiles
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
Due: run_native_specific_jobs

Working POC for Impulse velox connector (#11244)
  velox/exec/tests/utils/PlanBuilder.h
  velox/vector/BuilderTypeUtils.h
  velox/vector/SimpleVector.h
Due: none

Do not serialize data type if not initialized (#11248)
  velox/exec/QueryDataWriter.cpp
  velox/exec/tests/QueryTraceTest.cpp
Due: none

Fix query replayer crash (#11249)
  velox/tool/trace/PartitionedOutputReplayer.cpp
  velox/tool/trace/PartitionedOutputReplayer.h
  velox/tool/trace/QueryReplayer.cpp
  velox/tool/trace/tests/PartitionedOutputReplayerTest.cpp
Due: none

[iceberg] Add UUID type support
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTypeTranslator.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ColumnReaderFactory.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetTypeUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/BytesUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/UuidFlatBatchReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/ValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/delta/FixedLenByteArrayUuidDeltaValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/plain/FixedLenByteArrayUuidPlainValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/rle/UuidRLEDictionaryValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/cache/MetadataReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/BinaryColumnReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetSchemaConverter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriters.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/UuidValuesWriter.java
  presto-parquet/src/main/resources/freemarker/data/ParquetTypes.tdd
  presto-parquet/src/main/resources/freemarker/templates/ParquetFlatColumnReaderGenerator.tdd
  presto-parquet/src/main/resources/freemarker/templates/ParquetNestedColumnReaderGenerator.tdd
  presto-parquet/src/test/java/com/facebook/presto/parquet/batchreader/decoders/TestParquetUtils.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/batchreader/decoders/TestValuesDecoders.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/BenchmarkUuidColumnReader.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/writer/TestParquetWriter.java
Due: run_linux_tests=false

Rename enabledOptimizedReader -> enableBatchReader
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/AbstractColumnReaderBenchmark.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/BenchmarkLongDecimalColumnReader.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/BenchmarkShortDecimalColumnReader.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/BenchmarkUuidColumnReader.java
Due: none

udpate image
  .circleci/continue_config.yml
Due: none

[native] Add TPC-DS connector
  .circleci/continue_config.yml
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/tpcds/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/tpcds/DSDGenIterator.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/DSDGenIterator.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnector.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnectorSplit.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsGen.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsGen.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/utils/append_info-c.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/utils/append_info-c.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/ConnectorTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/special/TpcdsTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/special/TpcdsTransactionHandle.hpp.inc
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsConnectorQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsConnectorQueries.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsSplitManager.java
Due: run_native_specific_jobs, run_linux_tests=false

Fix overflow behavior for spark decimal sum aggregate function (#11127)
  velox/functions/sparksql/aggregates/DecimalSumAggregate.h
  velox/functions/sparksql/aggregates/SumAggregate.cpp
  velox/functions/sparksql/aggregates/tests/SumAggregationTest.cpp
Due: none

Refactor buildDateTimeFormatter to return velox::Expected (#11246)
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/lib/DateTimeFormatter.h
  velox/functions/lib/tests/DateTimeFormatterTest.cpp
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/types/TimestampWithTimeZoneType.cpp
  velox/functions/sparksql/DateTimeFunctions.h
Due: none

[native] Fix bug logging memory pushback metric
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
Due: run_native_specific_jobs

Fix and optimize read IO pattern for flat map column (#11236)
  velox/common/caching/ScanTracker.cpp
  velox/common/caching/ScanTracker.h
  velox/dwio/common/BufferedInput.h
  velox/dwio/common/CachedBufferedInput.cpp
  velox/dwio/common/CachedBufferedInput.h
  velox/dwio/common/DirectBufferedInput.cpp
  velox/dwio/common/DirectBufferedInput.h
  velox/dwio/dwrf/common/Common.h
  velox/dwio/dwrf/test/CacheInputTest.cpp
Due: none

Add sidecars to NodeManager and add PluginNodeManager
  presto-main/src/main/java/com/facebook/presto/nodeManager/PluginNodeManager.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingNodeManager.java
  presto-main/src/test/java/com/facebook/presto/nodeManager/TestPluginNodeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/NodeManager.java
Due: none

Allow workers to act as coordinator sidecars
  presto-main/src/main/java/com/facebook/presto/connector/ConnectorAwareNodeManager.java
  presto-main/src/main/java/com/facebook/presto/execution/ClusterSizeMonitor.java
  presto-main/src/main/java/com/facebook/presto/nodeManager/PluginNodeManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TestClusterSizeMonitor.java
Due: none

Introduce session properties SPI
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/SessionPropertyMetadata.java
  presto-spi/src/test/java/com/facebook/presto/spi/session/TestSessionPropertyMetadata.java
Due: none

Integrate session property SPI with Presto engine
  pom.xml
  presto-main/src/main/java/com/facebook/presto/metadata/SessionPropertyManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NoOpPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderModule.java
  presto-native-sidecar-plugin/src/main/resources/META-INF/services/com.facebook.presto.spi.CoordinatorPlugin
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/UnimplementedNodeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/UnimplementedTypeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Integrate session property plugin with sidecar
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/ForSidecarInfo.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarCommunicationModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderConfig.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSystemSessionPropertyProviderConfig.java
Due: none

[native] Add e2e native system property provider tests with Presto sidecar
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPluginSystemPropertyProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/UnimplementedNodeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/UnimplementedTypeManager.java
Due: run_native_specific_jobs

Add OpenAPI documentation for /v1/properties/session
  presto-openapi/src/main/resources/schemas.yaml
  presto-openapi/src/main/resources/session_properties.yaml
Due: none

Throw VeloxRuntimeError in Reduce() on violating kMaxArraySize. (#11252)
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/tests/ReduceTest.cpp
Due: none

fix the multi-level subgroup issue
  presto-ui/src/components/ResourceGroupView.jsx
Due: none

Update presto-docs/src/main/sphinx/connector/singlestore.rst
  presto-docs/src/main/sphinx/connector/singlestore.rst
Due: run_linux_tests=false

Add SPI to support plugin for custom plan checkers
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/JsonCodecSimplePlanFragmentSerde.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanCheckerProviderManager.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestIterativePlanFragmenter.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanChecker.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanCheckerProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanCheckerProviderFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/SimplePlanFragmentSerde.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestQueues.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingPlanCheckerProviderPlugin.java
  presto-tests/src/test/java/com/facebook/presto/execution/TriggerFailurePlanChecker.java
  presto-tests/src/test/resources/resource_groups_config_eager_plan_validation.json
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/ThriftQueryRunner.java
Due: run_native_specific_jobs

Add cast functions for char datatype to numeric types
  presto-main/src/main/java/com/facebook/presto/type/CharOperators.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/AbstractTestFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
  presto-main/src/test/java/com/facebook/presto/type/TestCharOperators.java
Due: none

Fix round for float value when input out of long range
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: none

Add property for eager building of plan
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/EagerPlanValidationExecutionMBean.java
  presto-main/src/main/java/com/facebook/presto/execution/ForEagerPlanValidation.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: run_linux_tests=false

Refactor ContainerQueryRunner to use jdbi instead of cli
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

[prestissimo] Fix memory push back latency unit
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
Due: run_native_specific_jobs

Update SingleStore docs
  presto-docs/src/main/sphinx/connector/singlestore.rst
Due: run_linux_tests=false

Add Function Server executable and integrate docker.
  .gitignore
  docker/Dockerfile
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/FunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

fix dockerfile
  docker/Dockerfile
Due: none
