Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix shutdown of velox UCX communicator thread in PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Remove unnecessary cudf header import
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

add coordinator build
  build.yaml
Due: none

feat(CI): add image matrix to CI's build.yaml
  build.yaml
Due: none

Rename cudf-exchange namespace to ucx-exchange in PrestoServer
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Update shutdownServer API
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

revert the old rootFragment fix
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

Move ucx exchange startup message to actual startup and log error if it doesn't
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Install nsight-systems-cli
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Update UCX to 1.20.0
  build.yaml
Due: none

Build for CUDA 12.9 instead of 12.8
  build.yaml
Due: none

Build CUDA 13.0 and UCX 1.19.1 only
  build.yaml
Due: none

amd64 build uses m7a.32xlarge
  build.yaml
Due: none

Update entrypoint.sh with nsys profiling
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

feat(cudf): Install CUDA runtime packages instead of copying libraries
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

feat(cudf): Make CUDA_VERSION a build argument in dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

Install numactl
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

cuda archs 80-real;86-real;90a-real;100f-real;120a-real;120
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Fix cpu execution missing libcuda.so.1
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

No default CUDA_ARCHITECTURES in runtime dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Add sccache S3 support, revert development image
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

/usr/local/lib64/ for velox tools
  presto-native-execution/scripts/setup-centos.sh
Due: run_native_specific_jobs

Use rapids-cmake to configure CUDA architectures
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

Revert "perf: Optimize LIKE '%substring%' rewrite to use STRPOS instead of SPLIT (#27311)"
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
Due: none

Enable Presto NUMA pinning
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

Fix coordinator transport type: fall back to HTTP when consumer fragment runs on coordinator
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestBasePlanFragmenterTransportType.java
Due: none

Update PrestoToVeloxQueryPlan to handle shared_ptr<TransportType>
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Fix TransportType references after velox enum moved to namespace scope
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Simplify plan pattern to avoid alias resolution through GROUP BY
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
Due: none

Add support view support for mongodb
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoViews.java
Due: none

Remove dropView method
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Due: none

Update presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
Due: none

Remove renameView method
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Due: none

Fix ambiguous plan match by using project() instead of anyTree()
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
Due: none

feat: Wire PUFFIN format and DV fields through Prestissimo protocol layer
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Fix scalar subquery guard lowering
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

Fix scalar subquery guard lowering in planner
  presto-expressions/src/main/java/com/facebook/presto/expressions/LogicalRowExpressions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestLogicalRowExpressions.java
Due: none

oracle view support
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleMetadata.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestOracleViews.java
Due: run_linux_tests=false

refactor 01
  presto-oracle/pom.xml
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleConnectorFactory.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleMetadata.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleMetadataFactory.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleMetadataOverrideModule.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestOracleViews.java
Due: none

testcase failure
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestOracleViews.java
Due: none
