Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Integrate materialized view operations with Iceberg transaction context
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

Refactor Iceberg connector to support call distributed procedure
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CallDistributedProcedureSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDistributedProcedureHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

[native] Relevant changes of presto protocol for iceberg
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

Address review comments
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
Due: run_linux_tests=false

Support Iceberg procedure `rewrite_data_files`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: run_linux_tests=false

fix(security): Upgrade pinot to version 1.40 to address CVE-2025-12383(GHSA-7p63-w6x9-6gr7)
  pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotProxyGrpcRequestBuilder.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
Due: none

Address comment: add a new method in ConnectorSplitSource to avoid adding a customized split source
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CallDistributedProcedureSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RewriteDataFilesProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSplitSource.java
Due: none

Add memory-bounded percentile calculation support to runtime metrics
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetric.java
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStats.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeMetric.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
Due: none

client side encryption change
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Handle KMS client creation failure in PrestoS3FileSystem with logging
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Fix TestHiveFileSystemS3 test failures
  presto-hive-hadoop2/conf/files/core-site.xml.s3-template
  presto-hive-hadoop2/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Add mock S3AsyncClient and inject it into PrestoS3FileSystem for testing
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/MockAmazonS3.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: none

Internal Test Failures resolved : PrestoS3SelectClient changes 1.TestHiveFileSystemS3SelectCsvPushdownWithSplits.testQueryPushdownWithSplitSizeForJson[3, 2, 15, 30]
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3SelectClient.java
Due: none

Fix S3 upload failures due to checksum validation on HTTP endpoints
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Migrate Hive S3 integration from AWS SDK v1 to v2
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3AclType.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemMetricCollector.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemStats.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3SelectClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3StorageClass.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectCsvRecordReader.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectJsonRecordReader.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectLineRecordReader.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/MockAmazonS3.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
  presto-iceberg/pom.xml
Due: none

change
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Refactor PrestoS3FileSystem code w.r.t review comments
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3AclType.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Refactor PrestoS3FileSystem and related classes : addressed pr review comments
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemStats.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3StorageClass.java
Due: none

Add S3 Transfer Manager for improved file uploads
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Refactor AWS S3 SDK V2 Upgrade
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemMetricCollector.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3StorageClass.java
Due: none

Set default region to us-east-1 when presto.s3.endpoint is configured
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

[native] Disable TestPrestoNativeAsyncDataCacheCleanupAPI
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Due: run_native_specific_jobs

fix(flakytest): TestDistributedSpilledQueries testQueriesWithSpill (#26254)
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedQueriesIndexed.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledAggregationWithHighMemoryRevokingThreshold.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledAggregationWithLargeBlockSpillingEnabled.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledAggregationWithPreprocessingEnabled.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledTopNQueries.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/TestThriftDistributedQueriesIndexed.java
Due: none

Support JVM tzdata 2025a
  pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestEngineOnlyQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestH2QueryRunner.java
Due: none

code fix
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Upgrade clickhouse-jdbc to version 0.3.2
  presto-clickhouse/pom.xml
Due: none

refactor: Change native pos API to return BaseSerializedPage (#26692)
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Due: run_native_specific_jobs
