Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Refactor QueryList and sub-components into ES6 function components
  presto-ui/src/router/QueryList.jsx
Due: none

misc: Remove duplicate registration for Spark url function (#14279)
  velox/functions/sparksql/registration/RegisterString.cpp
Due: none

fix: Compilation of SIMDJsonExtractor with 3.13.0 simdjson (#14249)
  velox/functions/prestosql/json/SIMDJsonExtractor.cpp
Due: none

feat: Add Spark timestampdiff function (#13535)
  velox/docs/functions/spark/datetime.rst
  velox/functions/lib/DateTimeFormatter.h
  velox/functions/lib/DateTimeUtil.h
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/DateTimeImpl.h
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/registration/RegisterDatetime.cpp
  velox/functions/sparksql/tests/DateTimeFunctionsTest.cpp
Due: none

Add planner support to prevent mixed CPP/Java execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSystemTableFilterRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantExchangeRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
Due: none

feat: Add Spark char_type_write_side_check function (#14161)
  velox/docs/functions/spark/string.rst
  velox/functions/sparksql/CharTypeWriteSideCheck.h
  velox/functions/sparksql/registration/RegisterString.cpp
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/CharTypeWriteSideCheckTest.cpp
Due: none

fix: Remove duplication in top-level CMakeLists.txt (#14263)
  CMakeLists.txt
Due: none

fix: Respect Greek final sigma rule in Spark lower function (#13993)
  velox/functions/lib/UpperLower.h
  velox/functions/lib/string/StringCore.h
  velox/functions/lib/string/StringImpl.h
  velox/functions/lib/string/tests/StringImplTest.cpp
  velox/functions/prestosql/UpperLower.cpp
  velox/functions/sparksql/InitcapFunction.h
  velox/functions/sparksql/registration/RegisterString.cpp
  velox/functions/sparksql/tests/UpperLowerTest.cpp
Due: none

feat(cudf): Support set pool resource percent (#13984)
  velox/experimental/cudf/exec/ToCudf.cpp
  velox/experimental/cudf/exec/ToCudf.h
  velox/experimental/cudf/exec/Utilities.cpp
  velox/experimental/cudf/exec/Utilities.h
Due: none

fix: Add sanity check against corrupted DWRF row index metadata (#14299)
  velox/dwio/dwrf/reader/DwrfData.cpp
Due: none

docs: Extending Velox with cuDF blog post (#14083)
  website/blog/2025-07-11-extending-velox-with-cudf.mdx
  website/blog/authors.yml
  website/static/img/2025-07-11-cudf-driveradapter.png
Due: none

fix(cudf): Properly handle no input scenarios in CudfHashAggregation (#13953)
  velox/experimental/cudf/exec/CudfHashAggregation.cpp
  velox/experimental/cudf/exec/CudfHashAggregation.h
  velox/experimental/cudf/exec/ToCudf.cpp
  velox/experimental/cudf/tests/AggregationTest.cpp
Due: none

fix: Reduce memory usage of constant expression (#14287)
  velox/expression/ConstantExpr.cpp
  velox/expression/ConstantExpr.h
  velox/expression/tests/ExpressionRunnerUnitTest.cpp
  velox/vector/BaseVector.cpp
  velox/vector/BaseVector.h
  velox/vector/tests/VectorTest.cpp
Due: none

feat(cudf): Special handling of VARCHAR literals in expression trees (#13909)
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: none

[native] Fix index join type conversion
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

add Tests
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestOracleConfig.java
Due: none

[native] Add RestFunctionHandle to presto_protocol serialization
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Due: run_native_specific_jobs

refactor: TableEvolutionFuzzer (#14300)
  velox/exec/tests/TableEvolutionFuzzer.cpp
  velox/exec/tests/TableEvolutionFuzzer.h
Due: none

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RemoteFunctionHandleTest.cpp
Due: run_native_specific_jobs

Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

refactor: Avoid dynamic allocation and atomic counter for scalar and unknown types (#14177)
  velox/type/Type.cpp
  velox/type/Type.h
Due: none

docs: Add monthly update for June 2025 (#14301)
  velox/docs/monthly-updates.rst
  velox/docs/monthly-updates/june-2025.rst
Due: none

Address comments
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorColumnHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorFactory.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPageSource.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPlugin.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTransactionHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFHandleResolver.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFTableLayoutHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/AbstractConnectorTableFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ConnectorTableFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgumentSpecification.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Due: none

Add TLS support in mongodb connector
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/SslContextProvider.java
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientModule.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/security/SslContextProvider.java
Due: run_linux_tests=false

docs: Add monthly update for May 2025 (#14302)
  velox/docs/monthly-updates.rst
  velox/docs/monthly-updates/may-2025.rst
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNodePartitioningProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitioningHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
Due: none

Add SQL Support for MERGE INTO In Presto engine #20578 (tests)
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestDeleteAndInsertMergeProcessor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneMergeSourceColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/test/java/com/facebook/presto/spi/connector/classloader/TestClassLoaderSafeWrappers.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (tests)
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (documentation)
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/merge.rst
Due: run_linux_tests=false

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (java doc)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DeleteAndInsertMergeProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeWriterOperator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/MergePage.java
Due: none

Add support for ReactorNettyHttpClient
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClient.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClientConfig.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClient.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClientConfig.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeJoinQueries.java
Due: run_native_specific_jobs

Fix formatting in presto_cpp/properties.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

Add support for retrying on a different cluster
  pom.xml
  presto-client/src/main/java/com/facebook/presto/client/PrestoHeaders.java
  presto-main-base/src/main/java/com/facebook/presto/server/RetryConfig.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/ExecutingQueryResponseProvider.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestRetryConfig.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/RetryUrlValidator.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/LocalExecutingQueryResponseProvider.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/LocalQueryProvider.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
Due: none
