Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Add native row expression optimizer
  pom.xml
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleJsonModule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/ExpressionOptimizerManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/JsonCodecRowExpressionSerde.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/TestExpressionOptimizerManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/OptimizerAssert.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyRowExpressions.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/ForSidecarInfo.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeExpressionOptimizerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeExpressionOptimizerProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeExpressionsCommunicationModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/RowExpressionDeserializer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/session/sql/expressions/RowExpressionSerializer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/session/sql/expressions/TestNativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/session/sql/expressions/TestNativeExpressions.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-openapi/src/main/resources/expressions.yaml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/RowExpressionSerde.java
  presto-spi/src/main/java/com/facebook/presto/spi/sql/planner/ExpressionOptimizerContext.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

[native] Support expression optimization in sidecar
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/RowExpressionConverter.cpp
  presto-native-execution/presto_cpp/main/types/RowExpressionConverter.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionConverterTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/CallAndSpecialFormExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/ConstantExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/RowConstructorExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/VariableExpressionConversion.json
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/session/sql/expressions/TestNativeExpressionOptimizer.java
Due: run_native_specific_jobs

Restore exception handling for IllegalArgumentException during type resolution
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
Due: none

feat(expressions): Evaluate array/map match lambda functions over batches of elements vector (#13100)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/functions/lib/RowsTranslationUtil.h
  velox/functions/lib/tests/RowsTranslationUtilTest.cpp
  velox/functions/prestosql/ArrayAndMapMatch.cpp
  velox/functions/prestosql/tests/ArrayAllMatchTest.cpp
  velox/functions/prestosql/tests/ArrayAnyMatchTest.cpp
  velox/functions/prestosql/tests/ArrayNoneMatchTest.cpp
  velox/functions/prestosql/tests/MapMatchTest.cpp
  velox/functions/prestosql/tests/utils/LambdaParameterizedBaseTest.h
Due: none

build: Use breeze prefetch API instead of PTX (#12871)
  velox/experimental/breeze/breeze/platforms/cuda.cuh
  velox/experimental/breeze/breeze/platforms/hip.hpp
  velox/experimental/breeze/breeze/platforms/metal.h
  velox/experimental/breeze/breeze/platforms/opencl.h
  velox/experimental/breeze/breeze/platforms/openmp.h
  velox/experimental/breeze/breeze/platforms/specialization/cuda-ptx.cuh
  velox/experimental/breeze/breeze/platforms/sycl.hpp
  velox/experimental/wave/CMakeLists.txt
  velox/experimental/wave/common/tests/BreezeCudaTest.cu
  velox/experimental/wave/common/tests/CMakeLists.txt
  velox/experimental/wave/dwio/decode/CMakeLists.txt
  velox/experimental/wave/dwio/decode/GpuDecoder-inl.cuh
Due: none

Excluded org.apache.commons:commons-vfs2 dependency to address CVE-2025-27553
  presto-accumulo/pom.xml
Due: none

Add JVM_OPTS for release-notes.sh
  .github/workflows/presto-release-prepare.yml
  src/release/release-notes.sh
Due: none

Set JDK 17 as default in release action
  .github/workflows/presto-release-prepare.yml
  .github/workflows/presto-release-publish.yml
Due: none

feat: Enable maximum elements for repeat configurable (#13126)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/functions/lib/Repeat.cpp
  velox/functions/lib/tests/RepeatTest.cpp
Due: none

[native] Fix blank HTTP host header in requests
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
Due: run_native_specific_jobs

Revise formatting in iceberg.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

Add less lock hungry AsyncQueue#offerAll
  presto-hive/src/main/java/com/facebook/presto/hive/util/AsyncQueue.java
Due: none

[sidecar] Fix sidecar-coordinator HTTPS communication and handle IPv6 in URL generation
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionDefinitionProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestURIGenerationForSidecarEndpoints.java
Due: none

Use VectorFuzzer for BinarySortableSerializer test (#24954)
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Due: run_native_specific_jobs

feat: Add insertable iteratable spill partition set (#13130)
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/tests/SpillTest.cpp
Due: none

[native] Update Velox
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

Improve addColumnMasks efficiency
  presto-docs/src/main/sphinx/develop/system-access-control.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
Due: run_linux_tests=false

Fetch column masks in bulk
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: none

Remove overriden testcase testCountDistinct
  presto-tests/src/test/java/com/facebook/presto/tests/TestOptimizeMixedDistinctAggregations.java
Due: none

Parameterize aggregation tests to support DWRF
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
Due: none

[native] Add TestAggregations to native-tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/AbstractTestAggregationsNative.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOptimizeMixedDistinctAggregations.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestWindowQueries.java
Due: run_native_specific_jobs

Add system configs to query configs mapping for requestDataSizesMaxWaitSec (#24977)
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

Add accesscontrol info in statement analyzer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
Due: none

Add access control info to access control references in statement analyzer
  presto-main-base/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/accesscontrol/PrestoSparkAccessControlCheckerExecution.java
Due: none

Add null check
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
Due: none

Back out "build: Upgrade FBOS dependencies to 2025.04.07.00" (#13162)
  .github/workflows/benchmark.yml
  CMake/resolve_dependency_modules/README.md
  CMake/resolve_dependency_modules/fastfloat.cmake
  CMake/resolve_dependency_modules/folly/CMakeLists.txt
  CMake/resolve_dependency_modules/folly/folly-gflags-glog.patch
  scripts/setup-centos9.sh
  scripts/setup-macos.sh
  scripts/setup-manylinux.sh
  scripts/setup-ubuntu.sh
Due: none

fix: Replace space with underscore in generated task id from cursor (#13159)
  velox/common/memory/MemoryPool.h
  velox/docs/develop/debugging/tracing.rst
  velox/exec/Cursor.cpp
  velox/exec/Driver.cpp
  velox/exec/tests/OperatorTraceTest.cpp
  velox/exec/tests/ThreadDebugInfoTest.cpp
Due: none

fix: Ensure constant filter results are properly handled in processFilterResults (#13155)
  velox/exec/OperatorUtils.cpp
  velox/exec/tests/OperatorUtilsTest.cpp
Due: none

Refactor transaction manager for Iceberg to support multi-statements transaction
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTransactionManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTransactionMetadata.java
Due: none

Refactor `Connector` SPI to pass autocommit context to connectors
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/FastForwardBranchProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RegisterTableProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RemoveOrphanFiles.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetCurrentSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetTablePropertyProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/UnregisterTableProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-main-base/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

[native] Support between filter for index join
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

feat(json): Add support for unknown in maps and arrays when casting to json (#13154)
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/JsonCastOperator.cpp
Due: none

[native] Add index join node protocol unit test
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Due: run_native_specific_jobs
