Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix rule to do sort merge join
  presto-hive/src/test/java/com/facebook/presto/hive/TestMergeJoinPlanPrestoOnSpark.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/MergeJoinForSortedInputOptimizer.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestIterativePlanFragmenter.java
Due: none

[pythonudf-optimization] Add coordinator validation interface for Python UDF security (#26368)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/FunctionAndTypeResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionNamespaceManager.java
Due: none

Allow OR in MV refresh predicates
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
Due: none

Fix protocol bindings
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol-json-cpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol_arrow_federation.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol_arrow_federation.h
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol_arrow_federation.json
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/presto_protocol_arrow_federation.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/special/ArrowFederationColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/special/ArrowFederationSplit.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/special/ArrowFederationTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/special/ArrowFederationTableLayoutHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_federation/special/ArrowFederationTransactionHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.h
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/special/HiveColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Add missing test for features config, fix analyzer error message
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

fix: Add coordinator validation interface for Python UDF security (#26368)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/FunctionAndTypeResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionNamespaceManager.java
Due: none

feat(functions) : Add support for REST based remote functions
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToVeloxRemoteFunctionExpr.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToVeloxRemoteFunctionExpr.h
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RestFunctionHandleTest.cpp
Due: run_native_specific_jobs

feat(functions) : Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

refactor: Separate HivePrestoToVeloxConnector to standalone file (#26380)
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
  presto-native-execution/presto_cpp/main/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxSplitTest.cpp
Due: run_native_specific_jobs

Add final TVF SQL changes
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Enable case-senstive identifer support for Kafka connector.
  presto-docs/src/main/sphinx/connector/kafka.rst
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaConnectorConfig.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaMetadata.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/KafkaQueryRunner.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaConnectorConfig.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaDistributed.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaIntegrationMixedCase.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/TestUtils.java
  presto-kafka/src/test/resources/tpch/orders_upper.json
Due: run_linux_tests=false

Add test suite for mixed-case support in PostgreSQL
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlCaseSensitiveMapping.java
Due: none

Fix incorrect Iceberg columnHandle type in Prestissimo
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransformType.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Upgrade redis.clients:jedis to 7.0.0
  pom.xml
  presto-redis/src/main/java/com/facebook/presto/redis/RedisRecordCursor.java
Due: none

Add new generic thrift toolkit module for connectors
  CODEOWNERS
  pom.xml
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorCodecManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/ColumnHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/ConnectorSplitThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/DeleteTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/HandleThriftModule.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/InsertTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/OutputTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TableLayoutHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TransactionHandleThriftCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCodecProvider.java
  presto-thrift-connector-toolkit/pom.xml
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/GenericThriftCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecProvider.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecUtils.java
  presto-thrift-spec/pom.xml
  presto-tpcds/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsCodecProvider.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsSplitCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableLayoutHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTransactionHandleCodec.java
Due: run_native_specific_jobs

review comment
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToVeloxRemoteFunctionExpr.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/server/examples/RemoteStrLenHandler.h
Due: run_native_specific_jobs

fix: Do not cache futures as they can be cancelled on timeout (#26367)
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ScaledWriterScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Due: none

fix(docs): Fix iceberg docs
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

Make session property hidden
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

feat(plugin-iceberg): Change iceberg default compression codec to ZSTD (#26399)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
Due: run_linux_tests=false

fix(ui): fix timeline and stage detail
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QuerySplitsView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/Splits.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

fix(ui): remove unnecessary parsing
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
Due: none

Add row level filter check in Metadata Delete Optimizer (#26386)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/MetadataDeleteOptimizer.java
Due: none

build(native): Refactor setup scripts
  presto-native-execution/scripts/setup-adapters.sh
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Due: run_native_specific_jobs

feat: Allow OR in MV refresh predicates (#26410)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
Due: none

Add CudfHiveConnector
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
Due: run_native_specific_jobs

DBG Spill Temp Dir
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spi/src/main/java/com/facebook/presto/spi/api/SpillDirInfo.java
Due: none

feat: TVF Part 6/X Final SQL parsing changes (#26310)
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

[Presto-Reliability] Add observability for query state transitions in Presto
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateTransitionMonitor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateTransitionMonitor.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Due: none

[sv-cosco]feat: Support runtime stats inside shuffle read operator for perf monitoring and release page early (#26417)
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
Due: run_native_specific_jobs

Plan table function invocation with table arguments
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OrderingTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionMatcher.java
Due: none

Address comments
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OrderingTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionMatcher.java
Due: none

Implement single table function source Changes adapted from trino/PR#14566 Author: kasiafi
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ImplementTableFunctionSource.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/SimplePlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionProcessorMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/TestImplementTableFunctionSource.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/Assignments.java
Due: none

Optimize plans involving table functions
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantTableFunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestImplementTableFunctionSource.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveRedundantTableFunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/TableFunctionProcessorBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Due: none

Add table function exclude_columns
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
Due: none

Add table function sequence
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none
