Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[pos][native] Disable native pos tests that have gaps in test setup
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
Due: run_native_specific_jobs

Revert "Remove native Presto-on-Spark"
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkExpressionCompiler.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeArrayFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeBitwiseFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeJoinQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchConnectorQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeWindowQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkSqlFunctions.java
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkService.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkServiceFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpServerClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/ForNativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/IPrestoSparkService.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkNativeTaskRdd.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskProcessor.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
Due: run_native_specific_jobs

[pos][native] Fix unit testing setup for pos native tests
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: run_native_specific_jobs

[pos][native] Reduce testing log bloat to enable better CI failures debugging
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: none

Add tpch connector support in Presto Server (#14099)
  velox/connectors/tpch/TpchConnector.h
Due: none

[native] [presto] Expand connector specific fields (#25474)
  presto-native-execution/presto_cpp/main/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/HiveSplit.json
  presto-native-execution/presto_cpp/main/tests/data/Split.json
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.py
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplitWrapper.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplitWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandleWrapper.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandleWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/SplitWrapper.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorSplit.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTransactionHandle.hpp.inc
Due: run_native_specific_jobs

[Forward-fit] MongoDb TLS changes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientModule.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/security/SslContextProvider.java
Due: run_linux_tests=false

presto for spark3
  pom.xml
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestPrestoSparkExecutionExceptionFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkNativeExecutionShuffleManager.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskRdd.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskSourceRdd.java
Due: none

sapphire profile
  pom.xml
  presto-spark-base/pom.xml
Due: none

test: Test HashSetNaNAware and HashMapNaNAwareTypeTraits (#13196)
  velox/type/FloatingPointUtil.h
  velox/type/tests/FloatingPointUtilTest.cpp
Due: none

[pos][native] Add new PrestoSparkSessionProperties for native execution
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/util/PrestoSparkTestSessionBuilder.java
Due: none

feat: Extend unnest to support left join semantics by producing output for input row which has empty/null unnest value (#14095)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/core/tests/PlanNodeBuilderTest.cpp
  velox/docs/develop/operators.rst
  velox/exec/TraceUtil.cpp
  velox/exec/Unnest.cpp
  velox/exec/Unnest.h
  velox/exec/tests/PlanNodeSerdeTest.cpp
  velox/exec/tests/UnnestTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/parse/QueryPlanner.cpp
  velox/tool/trace/UnnestReplayer.cpp
Due: none

test: Add deeply nested complex type tests (#13901)
  velox/dwio/text/tests/writer/TextWriterTest.cpp
Due: none

Enable case-sensitive matching support for all the Jdbc connectors
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaClient.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-sqlserver/src/main/java/com/facebook/presto/plugin/sqlserver/SqlServerClient.java
Due: run_linux_tests=false

Fixed singlestore varchar type mapping.
  presto-docs/src/main/sphinx/connector/singlestore.rst
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreIntegrationSmokeTest.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreTypeMapping.java
Due: run_linux_tests=false

Add delete support to MongoDB connector
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoPageSource.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Due: run_linux_tests=false

Add authorization support for SHOW COLUMNS and DESCRIBE queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataListing.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSqlStandardAccessControlChecks.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewAccessControl.java
Due: none

Add authorization support for SHOW CREATE TABLE/VIEW queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Refactor: introduce helper method to handle MetastoreContext construction
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
Due: none

[presto] Classify IllegalArgumentException when reading ORC metadata as Corruption
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/ExceptionWrappingMetadataReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/TestExceptionWrappingMetadataReader.java
Due: none

Support native non-equal lookup join planning
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/IndexJoinNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPruneUnreferencedOutputs.java
Due: none

feat: Make metadata filter config optional (resolves #29). (#32)
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadataFilterProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpMetadataFilterConfig.java
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

feat: Implement ST_NumInteriorRing, ST_NumGeometries (#13975)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: none

feat: Implement ST_ConvexHull and ST_Dimension (#13983)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: none

[native] Enable getTaskInfo and deleteTask (#25535)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Due: run_native_specific_jobs

adding doc for some math functions
  presto-docs/src/main/sphinx/functions/math.rst
Due: run_linux_tests=false

[native] Unify DATA_DIR fetch and default
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

feat: Cudf pass Spark TPCH (#13981)
  velox/experimental/cudf/exec/CudfFilterProject.cpp
  velox/experimental/cudf/exec/CudfHashAggregation.cpp
  velox/experimental/cudf/exec/CudfHashAggregation.h
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/exec/ExpressionEvaluator.h
  velox/experimental/cudf/tests/CMakeLists.txt
  velox/experimental/cudf/tests/FilterProjectTest.cpp
  velox/experimental/cudf/tests/sparksql/AggregationTest.cpp
  velox/experimental/cudf/tests/sparksql/CMakeLists.txt
  velox/experimental/cudf/tests/sparksql/Main.cpp
Due: none

check for nulls in array functions l2_squared and cosine_similarity
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: none

[presto] Add runtime stats instrumentation plugin (#25509)
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStats.java
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStatsInstrument.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStats.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStatsInstrument.java
  presto-main-base/src/main/java/com/facebook/presto/runtimestats/RuntimeStatsManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/runtimestats/TestRuntimeStatsManager.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/RuntimeStatsInstrumentFactory.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestRuntimeStatsInstrumentFactory.java
Due: none

feat: Add TokenProvider to ConnectorQueryCtx and include it in the cache key for FileHandle (#13919)
  velox/common/file/FileSystems.h
  velox/common/file/TokenProvider.h
  velox/connectors/Connector.h
  velox/connectors/hive/FileHandle.cpp
  velox/connectors/hive/FileHandle.h
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/iceberg/PositionalDeleteFileReader.cpp
  velox/connectors/hive/iceberg/tests/IcebergSplitReaderBenchmark.cpp
  velox/connectors/hive/storage_adapters/abfs/tests/AbfsFileSystemTest.cpp
  velox/connectors/hive/storage_adapters/s3fs/tests/S3FileSystemRegistrationTest.cpp
  velox/connectors/hive/tests/FileHandleTest.cpp
  velox/experimental/wave/exec/tests/utils/WaveTestSplitReader.cpp
Due: none

feat: Support rename operation in HdfsFileSystem (#13950)
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Due: none
