Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Remove buffered bytes from ParquetFileWriter
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetFileWriter.java
Due: none

fix(security): upgrade plexus-utils version to 4.0.3 to address CVE-2025-67030
  pom.xml
Due: none

Address review comments
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

Address review comments
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

feat(native): Support the execution of calling distributed procedures
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

feat(plugin-delta): Support reading tables with column mapping enabled
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaColumnHandle.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestColumnMapping.java
Due: none

feat(plugin-delta): Support reading variant type in Delta Lake tables
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaVariantType.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestIncrementalUpdateQueries.java
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000001.crc
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000001.json
  presto-delta/src/test/resources/delta_v3/test_variant/part-00000-0ff28d95-1290-4769-b092-9d15791e49aa.c000.snappy.parquet
  presto-docs/src/main/sphinx/connector/deltalake.rst
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-parquet/pom.xml
  presto-parquet/src/main/java/com/facebook/presto/parquet/VariantField.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/cache/MetadataReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/spark/Variant.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/spark/VariantUtil.java
  presto-parquet/src/main/java/org/apache/parquet/io/ColumnIOConverter.java
Due: run_linux_tests=false

test: Add assertion for picoseconds per microsecond in TestTimestamps
  presto-common/src/test/java/com/facebook/presto/common/type/TestTimestamps.java
Due: none

feat: Introduce support for TIMESTAMP type with precision handling and related operators
  presto-common/src/main/java/com/facebook/presto/common/block/BlockEncodingManager.java
  presto-common/src/main/java/com/facebook/presto/common/block/Fixed12Block.java
  presto-common/src/main/java/com/facebook/presto/common/block/Fixed12BlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/Fixed12BlockEncoding.java
  presto-common/src/main/java/com/facebook/presto/common/type/LongTimestamp.java
  presto-common/src/main/java/com/facebook/presto/common/type/LongTimestampType.java
  presto-common/src/main/java/com/facebook/presto/common/type/ShortTimestampType.java
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-common/src/main/java/com/facebook/presto/common/type/TimestampType.java
  presto-common/src/main/java/com/facebook/presto/common/type/Timestamps.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeSignature.java
  presto-common/src/test/java/com/facebook/presto/common/block/TestFixed12Block.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestLongTimestamp.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestTimestamps.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/type/TimestampMicrosecondsOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/TimestampParametricType.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestLongTimestampType.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestTimestampParametricType.java
Due: none

feat: Add TIMESTAMP type to BuiltInTypeAndFunctionNamespaceManager
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
Due: none

fix(security): Upgrade gcs version to 2.2.28
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/GcsConfigurationProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/HiveGcsConfigurationInitializer.java
Due: none

Add per-task metrics for DPP HTTP response sent vs expired-dropped
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
Due: run_native_specific_jobs

Upgrade org.testcontainers:oracle-xe versio to 1.21.3
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/OracleServerTester.java
Due: none

docs: Add release notes for 0.297 (#27484)
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.297.rst
Due: run_linux_tests=false

docs: Fix formatting of code blocks in develop/table-functions.rst (#27502)
  presto-docs/src/main/sphinx/develop/table-functions.rst
Due: run_linux_tests=false

fix(plugin-druid): Add dependency management for at.yawk.lz4:lz4-java to fix Maven Central deployment
  presto-druid/pom.xml
Due: none

fix(ui): Add min-width: 0 to flex-basis-100 for consistency
  presto-ui/src/static/assets/presto.css
Due: none

feat(plugin-iceberg): Add min-input-files, min-file-size-bytes, max-file-size-bytes options to rewrite_data_files procedure (#27515)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/context/IcebergCommonProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/context/IcebergRewriteDataFilesProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/splits/RewriteDataFilesIcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
Due: run_linux_tests=false

fix: ST_Equals should return true for empty geometries
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoRelations.java
Due: run_linux_tests=false

feat: Add in legacy_st_equals session and config property
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoRelations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
Due: run_linux_tests=false

feat: Add pmod (positive modulo) scalar function (#27543) (#27543)
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: none

Add failed() runtime metric to DynamicFilterFetcher
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
Due: none

fix(plugin-native-sidecar): Fix NULL ROW constant handling in native expression optimizer
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

test: Add end-to-end tests for string functions: bit_length, longest_common_prefix, replace_first
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

feat(optimizer): Rewrite bucketed semi-join to join (#27510)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteBucketedSemiJoinToJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteBucketedSemiJoinToJoin.java
Due: run_linux_tests=false

Propagate too-many-failures from DynamicFilterFetcher to fail query
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
Due: none

fix: Remove duplicate checkQueryIntegrity call in CreateMaterializedViewTask (#27567)
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
Due: none

misc: Fix code style issues, copy-paste bug, and UB in presto-native-execution (#27572)
  presto-native-execution/presto_cpp/main/common/Exception.h
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/presto_protocol/core/DataSize.cpp
Due: run_native_specific_jobs

Add end-to-end tests for numeric_histogram aggregate function
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Due: run_native_specific_jobs

fix(ci): Failing tests due to array_sort lambda signature change
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPlanCheckerRouterPlugin.java
  presto-sql-helpers/presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeArraySqlFunctions.java
  presto-sql-helpers/presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeMapSqlFunctions.java
Due: run_native_specific_jobs

fix(plugin-druid): Add version for at.yawk.lz4:lz4-java to fix maven publishing (#27571)
  presto-druid/pom.xml
Due: none

fix(native): Fix worker shutdown sequence (#27566) (#27566)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/ShutdownOrderTest.cpp
Due: run_native_specific_jobs

fix(spi): Fix UnsupportedOperationException for UnresolvedSymbolExpression in lambda canonicalization
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestSubqueries.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/LambdaDefinitionExpression.java
Due: none

Upgrade elasticsearch to v9
  presto-docs/src/main/sphinx/connector/elasticsearch.rst
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchQueryBuilder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ScanQueryPageSource.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/AwsRequestSigner.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticSearchClientUtils.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/ArrayDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/BigintDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/BooleanDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/Decoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/DoubleDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/IdColumnDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/IntegerDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/IpAddressDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/RealDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/RowDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/ScoreColumnDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/SmallintDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/SourceColumnDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/TimestampDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/TinyintDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/VarbinaryDecoder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/decoders/VarcharDecoder.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchServer.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
Due: run_linux_tests=false

Fix build
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchMixedCaseTest.java
Due: none

Cap discrete filter values to prevent ResponseTooLargeException
  presto-native-execution/presto_cpp/main/operators/HashBuildFilterExtractor.cpp
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
