Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Upgrade datasketches-memory versio to 4.1.0
  pom.xml
  presto-pinot/pom.xml
Due: none

Added TLS support for Pinot
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotClusterInfoFetcher.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConnectorFactory.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotModule.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/PinotTlsAuthenticationModule.java
  presto-pinot/pom.xml
Due: none

feat(native): Add catchableByTry field to ErrorCode in native protocol
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

feat(plugin-pinot): Add TLS support for self-signed certificate (#26151)
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotClusterInfoFetcher.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConnectorFactory.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotModule.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/PinotTlsAuthenticationModule.java
  presto-pinot/pom.xml
Due: none

feat(optimizer): Add option to not push down remote project below exchange (#26943)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushProjectionThroughExchange.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushProjectionThroughExchange.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Due: none

refactor: Deprecate the old cleanup aggregation node ctor APIs (#26973)
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Create a runtime metric for worker uptime to be used for restart alerts
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

Fix tvf union
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none

fix(native): Add support for kHyperLogLog type in NativeTypeManager
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-main-base/src/main/java/com/facebook/presto/type/TypeCoercer.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

test
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

feat: Update timezone data to 2025b
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/jdbc-connector-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  pom.xml
  presto-common/src/main/resources/com/facebook/presto/common/type/zone-index.properties
  presto-common/src/test/java/com/facebook/presto/common/type/TestTimeZoneKey.java
Due: none

[Iceberg]Support in-memory hive metastore caching
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

Fix test failure
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingConnectorContext.java
Due: none

docs: Refactor the page explaining how to deploy Presto with Docker
  presto-docs/requirements.txt
  presto-docs/src/main/sphinx/conf.py
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
  presto-docs/src/main/sphinx/installation/deploy-helm.rst
Due: run_linux_tests=false

Add @SqlNullable annotation and update documentation
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
Due: run_linux_tests=false

feat(function): Add array_union_sum aggregation function
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/ArrayUnionSumAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/ArrayUnionSumResult.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/state/ArrayUnionSumState.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/state/ArrayUnionSumStateFactory.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/state/ArrayUnionSumStateSerializer.java
  presto-main-base/src/test/java/com/facebook/presto/operator/aggregation/TestArrayUnionSumResult.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

Fix presto product tests specific environment 1
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAllDatatypesFromHiveConnector.java
Due: none

Fix presto-hive and test-hive-pushdown-filter-queries-basic profile
  presto-hive/src/main/java/com/facebook/presto/hive/util/SerDeUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveUtil.java
Due: none

Fix presto product tests specific environment 2
  presto-product-tests/src/main/java/com/facebook/presto/tests/cassandra/TestInsertIntoCassandraTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/kafka/KafkaSmokeTest.java
Due: none

Add writer timezone to DWRF StripeFooter
  pom.xml
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataWriter.java
Due: none

Fix presto-orc CI tests
  presto-orc/src/test/java/com/facebook/presto/orc/AbstractTestOrcReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Due: none

Fix presto product tests basic environment
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAllDatatypesFromHiveConnector.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestInsertIntoHiveTable.java
Due: none

Fix presto-hive-metastore CI
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectRecordCursor.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestGenericHiveRecordCursorProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3select/TestS3SelectRecordCursor.java
Due: none

Fix presto-hive-function-namespace CI
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/type/DateTimeUtils.java
Due: none

refactor(TestPinotSegmentPageSource): Remove BYTES from unsupported types
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
Due: none

fix(security): Upgrade pinot to version 1.40 to address CVE-2025-12383(GHSA-7p63-w6x9-6gr7) fix(tests): Update metadata count assertions in PinotSegmentPageSource tests
  pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotProxyGrpcRequestBuilder.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
Due: none

fix(security): Override vulnerable lz4-java dependency to address CVE-2025-66566
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Due: none

Bump iceberg to 1.10.0
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergDistributedRest.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

Fix com.facebook.plugin.arrow.TestArrowFlightQueries.testSelectTime
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
Due: none

Fix com.facebook.presto.hive.functions.TestHiveScalarFunctions.genericFunction
  pom.xml
Due: none

Fix TestObjectInputDecoders#testToDate
  presto-hive-function-namespace/src/test/java/com/facebook/presto/hive/functions/type/TestObjectInputDecoders.java
Due: none

Fix TestHivePushdownFilterQueries#testRcAndTextFormats
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursor.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/SerDeUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestSerDeUtils.java
Due: none

Fix TestSerDeUtils#testTimestampWithDifferentStorageZone
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestSerDeUtils.java
Due: none

fix(connector): prevent double TZ encoding for INT96 timestamps
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
Due: none

Web UI: avoid auto-applying LIMIT to non-SELECT statements
  presto-ui/src/components/SQLInput.tsx
Due: none

fix(ui): Remove redundant select detection flag
  presto-ui/src/components/SQLInput.tsx
Due: none

feat(plugin-iceberg): Add session prop for max number of partitions per writer
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: run_linux_tests=false

test: For iceberg upgrade
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergDistributedRest.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
