Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

fix: Parsing of fractions of a second in parse_datetime() (#11723)
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

Revert "Add native plan checker to sidecar plugin"
  presto-main/src/main/java/com/facebook/presto/connector/ConnectorAwareNodeManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanCheckerProviderManager.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestPlanCheckerProviderManager.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerConfig.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerErrorCode.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProviderFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/PlanConversionFailureInfo.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/PlanConversionResponse.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/SimplePlanFragmentSerializer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestPlanCheckerProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanCheckerProviderContext.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestQueues.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingPlanCheckerProviderPlugin.java
Due: none

feat(planbuilder): Enable passing compressionKind via tableWrite (#11724)
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
Due: none

Small doc change for query-data-cache-enabled-default config to include HARD_AFFINITY
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Due: run_linux_tests=false

fix: Throw on negative numbers in url_decode (#11734)
  velox/functions/prestosql/URLFunctions.h
  velox/functions/prestosql/tests/URLFunctionsTest.cpp
Due: none

Create config for setting Native op trace directory config.
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs, run_linux_tests=false

refactor: Change C style casts to C++ style (Part 2) (#11684)
  velox/common/caching/AsyncDataCache.cpp
  velox/common/caching/AsyncDataCache.h
  velox/common/config/Config.cpp
  velox/common/encode/Base64.cpp
  velox/common/hyperloglog/DenseHll.cpp
  velox/common/hyperloglog/SparseHll.cpp
  velox/common/memory/ByteStream.cpp
  velox/common/process/StackTrace.cpp
  velox/dwio/common/Throttler.cpp
Due: none

refactor: Extract the definition of Vector::Options::TimestampPrecision to Utils.h (#11722)
  velox/vector/fuzzer/Utils.h
  velox/vector/fuzzer/VectorFuzzer.h
Due: none

refactor: Use const ref in Filter (#11725)
  velox/dwio/parquet/reader/TimestampColumnReader.h
  velox/type/Filter.cpp
  velox/type/Filter.h
Due: none

Move init of connection properties to constructor
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorTest.cpp
Due: run_native_specific_jobs

misc: Improve ExchangeBenchmark (#11543)
  velox/exec/PlanNodeStats.cpp
  velox/exec/PlanNodeStats.h
  velox/exec/benchmarks/ExchangeBenchmark.cpp
Due: none

refactor: Change C style casts to C++ style (Part 1) (#11680)
  velox/exec/AggregateCompanionAdapter.cpp
  velox/exec/AssignUniqueId.cpp
  velox/exec/NestedLoopJoinProbe.cpp
  velox/exec/OutputBuffer.cpp
  velox/exec/PartitionStreamingWindowBuild.cpp
  velox/exec/SortWindowBuild.cpp
  velox/exec/TableWriter.cpp
  velox/exec/Window.cpp
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/expression/CastExpr.cpp
  velox/expression/fuzzer/ExpressionFuzzer.cpp
  velox/substrait/SubstraitToVeloxExpr.cpp
  velox/substrait/SubstraitToVeloxPlan.cpp
  velox/type/Filter.cpp
  velox/type/tz/TimeZoneMap.cpp
Due: none

Updated lucene-analyzers-common and lucene-queryparser to 8.10.0
  pom.xml
  presto-delta/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-jdbc/pom.xml
  presto-native-execution/pom.xml
  presto-native-sidecar-plugin/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
  presto-verifier/pom.xml
Due: run_native_specific_jobs

[native] Remove const from VeloxPlanValidator.
  presto-native-execution/presto_cpp/main/types/VeloxPlanConversion.cpp
  presto-native-execution/presto_cpp/main/types/VeloxPlanConversion.h
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.cpp
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.h
Due: run_native_specific_jobs

Added review changes
  pom.xml
  presto-delta/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-jdbc/pom.xml
  presto-native-execution/pom.xml
  presto-native-sidecar-plugin/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
  presto-verifier/pom.xml
Due: run_native_specific_jobs

Resolved checkstyle error
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
Due: none

Review comment fixes (renamed tests and corrected comments)
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/Macros.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/auth/Authenticator.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorDataTypeTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/TestFlightServerTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/utils/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/utils/FlightConnectorTestBase.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/utils/FlightConnectorTestBase.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/utils/TestFlightServer.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/utils/TestFlightServer.h
  presto-native-execution/scripts/setup-adapters.sh
Due: run_native_specific_jobs

Revert of commit 4f159c030dc97b7a5d40bbeb450db3a99c2f798b
  presto-pinot-toolkit/pom.xml
Due: none

Add catalog and schema level access checks in USE statement
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestUseTask.java
Due: none

Add an API to set the creation directory API in TaskManager
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

Add javadoc on internal UUID format
  presto-common/src/main/java/com/facebook/presto/common/type/UuidType.java
Due: none

Exclude org.hibernate.validator:hibernate-validator:6.2.0.Final to fix CVEs
  presto-benchto-benchmarks/pom.xml
Due: none

fix: Flaky HashJoinReplayerTest.partialDriverIds (#11742)
  velox/tool/trace/tests/HashJoinReplayerTest.cpp
Due: none

sanitize headers and add finish test
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-tests/src/test/java/com/facebook/presto/server/TestAsyncPageTransportServlet.java
Due: none

Rename forceSingleNode to noExchange
  presto-main/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateAggregationsWithDefaultValues.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateAggregationsWithDefaultValues.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: none

test: A test case to guard against output order of LocalPartiton(kGather) in serial execution mode (#11726)
  velox/exec/tests/LocalPartitionTest.cpp
Due: none

feat: Add key/value support to radix sort in breeze (#11733)
  velox/experimental/breeze/breeze/algorithms/sort.h
  velox/experimental/breeze/breeze/functions/sort.h
  velox/experimental/breeze/breeze/utils/types.h
  velox/experimental/breeze/perftest/algorithms/sort_perftest.cu
  velox/experimental/breeze/perftest/functions/sort_perftest.cu
  velox/experimental/breeze/perftest/queries/device_column.h
  velox/experimental/breeze/perftest/queries/order_by_perftest.cu
  velox/experimental/breeze/test/algorithms/algorithm-kernels.template.h
  velox/experimental/breeze/test/algorithms/algorithm_test.template.h
  velox/experimental/breeze/test/algorithms/kernels.clcpp
  velox/experimental/breeze/test/algorithms/kernels.metal
  velox/experimental/breeze/test/algorithms/sort_unittest.cpp
  velox/experimental/breeze/test/functions/function-kernels.template.h
  velox/experimental/breeze/test/functions/function_test.template.h
  velox/experimental/breeze/test/functions/kernels.clcpp
  velox/experimental/breeze/test/functions/kernels.metal
  velox/experimental/breeze/test/functions/sort_unittest.cpp
  velox/experimental/breeze/test/generate.sh
  velox/experimental/breeze/test/generated/algorithms/algorithm_test-cuda.cuh
  velox/experimental/breeze/test/generated/algorithms/algorithm_test-openmp.h
  velox/experimental/breeze/test/generated/algorithms/kernels-cuda.cuh
  velox/experimental/breeze/test/generated/algorithms/kernels-openmp.h
  velox/experimental/breeze/test/generated/functions/function_test-cuda.cuh
  velox/experimental/breeze/test/generated/functions/function_test-openmp.h
  velox/experimental/breeze/test/generated/functions/kernels-cuda.cuh
  velox/experimental/breeze/test/generated/functions/kernels-openmp.h
  velox/experimental/breeze/test/platforms/cuda_test.cuh
  velox/experimental/breeze/test/platforms/hip_test.hpp
  velox/experimental/breeze/test/type_helpers.h
Due: none

Add support for ALTER VIEW [ IF EXISTS ] RENAME TO statement in Iceberg connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
Due: run_linux_tests=false

Add support for ALTER VIEW [ IF EXISTS ] RENAME TO statement in Memory connector
  presto-docs/src/main/sphinx/connector/memory.rst
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryMetadata.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMetadata.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemorySmoke.java
Due: run_linux_tests=false

refactor: Use KeepAlive instead of Executor* (#11732)
  velox/dwio/common/ExecutorBarrier.cpp
  velox/dwio/common/ExecutorBarrier.h
  velox/dwio/common/ParallelFor.cpp
  velox/dwio/common/ParallelFor.h
  velox/dwio/common/tests/ExecutorBarrierTest.cpp
Due: none

Revert D66724539: refactor: Use KeepAlive instead of Executor*
  velox/dwio/common/ExecutorBarrier.cpp
  velox/dwio/common/ExecutorBarrier.h
  velox/dwio/common/ParallelFor.cpp
  velox/dwio/common/ParallelFor.h
  velox/dwio/common/tests/ExecutorBarrierTest.cpp
Due: none

Make max slice size in ORC slice reader configurable (#24202)
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReaderOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReaderOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BatchStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveReaderContext.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/reader/TestMaxSliceReadSize.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
