Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

docs: Add limitation docs for spatial_partitioning and spatial_partitions
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Due: run_linux_tests=false

refactor(plugin-native-sidecar): Replace OkHttpClient with Airlift HttpClient for consistency
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProviderFactory.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestPlanCheckerProvider.java
Due: none

feat: Add session property aggregation_memory_compaction_reclaim_enabled (#27221)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

misc: [thrift] Migrate cpp.ref_type and drift.recursive_reference in presto thrift (#27248)
  presto-native-execution/presto_cpp/main/thrift/CMakeLists.txt
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs

Use filter in isView
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Due: none

[codemod] Annotate use of non-sealed key type to prevent thrift build failure (#27259)
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs

fix: Fix update error with pushdownsubfields optimization (#27254)
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Due: none

Migrate presto-trunk from VectorSerde::Kind to string API
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Upgarde org.xerial.snappy:snappy-java to 1.1.10.8
  pom.xml
  presto-record-decoder/pom.xml
Due: none

xxx
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

feat: Add CreateVectorIndexReference WriterTarget and SPI methods (#27261)
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

feat: Add syntax support for CREATE VECTOR INDEX (#27027)
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateVectorIndex.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Due: none

feat: Add analysis support for CREATE VECTOR INDEX (#27036)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

code fix
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchFunctions.cpp
Due: run_native_specific_jobs

Upgrade avro to version 1.12.1
  pom.xml
Due: none

Fix bug in LogicalPropertiesImpl
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestLogicalPropertyPropagation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/RuleAssert.java
Due: none

chore(deps): Bump jjwt from 0.11.5 to 0.12.7
  pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
  presto-internal-communication/src/main/java/com/facebook/presto/server/InternalAuthenticationManager.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverAuth.java
  presto-main/src/main/java/com/facebook/presto/server/security/JsonWebTokenAuthenticator.java
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/JweTokenSerializer.java
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/JwtUtil.java
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/OAuth2Service.java
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/ZstdCodec.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestInternalAuthenticationFilter.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestJsonWebTokenAuthenticator.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/BaseOAuth2AuthenticationFilterTest.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestJweTokenSerializer.java
  presto-proxy/src/main/java/com/facebook/presto/proxy/JsonWebTokenHandler.java
Due: none

support create, drop, list view in postgresql
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlMetadata.java
Due: none

feat(plugin-iceberg): Add support for mutating an Iceberg branch (#27147)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergBranchMutations.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableName.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: run_linux_tests=false

Add test for querying iceberg branch
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

misc: Migrate cpp.ref_type and drift.recursive_reference in presto thrift (#27248)
  presto-native-execution/presto_cpp/main/thrift/CMakeLists.txt
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs

feat(config): Add feature config for PushPartialAggregationThroughJoin
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

feat(plugin-iceberg): Support create branch on empty table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergCreateBranch.java
Due: none

test: Fix pushdown subfields for map functions
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/InlineProjections.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: none

Fix test case for plan tree check
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestInlineProjections.java
Due: none

Address comments
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
Due: none

Add metadata instantiation
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
Due: none

refactor(plugin-native-sidecar): Replace OkHttpClient with Airlift HttpClient for consistency (#27258)
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerProviderFactory.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestPlanCheckerProvider.java
Due: none

Fix when multiple build sides in same task
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
Due: none

Fix dynamic filtering with stripped probe columns
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
Due: none

Add support for native distributed dynamic partition pruning
  BROADCAST-DF-PLAN.md
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestDynamicPartitionPruning.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.cpp
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TupleDomainBuilder.cpp
  presto-native-execution/presto_cpp/main/types/TupleDomainBuilder.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeDynamicPartitionPruning.java
Due: run_native_specific_jobs

Fix dynamic filter registration to prevent circular dependencies in multi-join queries
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
Due: none

Add debugging metrics
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
Due: none

Fix cycles
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveUnsupportedDynamicFilters.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRemoveUnsupportedDynamicFilters.java
Due: none

Fix dynamic filter metrics to ensure value type safety for min and max calculations
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
Due: none

Add more extended metrics
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
Due: none

More fixes for bucketed execution
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTaskExecutionFactory.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/JoinDynamicFilter.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestJoinDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestTableScanDynamicFilter.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterResponse.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
Due: none

Fix another hang
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterService.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
