Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

[Iceberg]Fix cleanup files behavior on expiring snapshots
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
Due: none

Fix analyze table whose column name ends with `_<number>`
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlFunctionUtils.java
Due: none

[native] Prestissimo worker metrics documentation
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/README.md
Due: run_native_specific_jobs, run_linux_tests=false

[native] Init UuidParse in TaskManager due to boost UUID non-POD changes
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

[native] Fix docker-compose and add etc config into native worker docker image
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Fix UnaliasSymbolRefrences
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestUnaliasSymbolReferences.java
Due: none

Refactor RowTranslationUtil::toElementRows (#10820)
  velox/functions/lib/RowsTranslationUtil.h
Due: none

Add write IO metrics and print physical written bytes in PlanNodeStats#toString (#10806)
  velox/common/io/IoStatistics.cpp
  velox/common/io/IoStatistics.h
  velox/connectors/Connector.h
  velox/connectors/hive/HiveDataSink.cpp
  velox/dwio/common/FileSink.cpp
  velox/exec/PlanNodeStats.cpp
  velox/exec/TableWriter.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/TableWriteTest.cpp
Due: none

Avoid pushdown of negative position for element_at for array
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Due: none

Block ipaddress type in prestissimo
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/CheckUnsupportedPrestissimoTypes.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestCheckUnsupportedPrestissimoTypes.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

Add CI migration blog post (#10532)
  website/blog/2024-08-23-ci-migration.mdx
  website/static/img/abstract-white-background.jpg
  website/static/img/velox-build-metrics.png
Due: none

Set CRC32 checksum algorithm for S3 multipart upload (#10801)
  velox/connectors/hive/storage_adapters/s3fs/S3FileSystem.cpp
Due: none

Use efficient empty string test
  presto-kafka/src/main/java/com/facebook/presto/kafka/encoder/raw/RawRowEncoder.java
Due: none

Distinguish scheduler runtime stats for scan stage
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
Due: none

Validate all like patterns can only use one character escape strings
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/type/LikeFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestConditions.java
  presto-main/src/test/java/com/facebook/presto/sql/TestLikeFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestLikeQueries.java
Due: none

Prepare function guidelines
  CONTRIBUTING.md
  FUNCTIONS.md
Due: none

[native] Switch to use string based arbitrator configs
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

Make processConfigs function pure virtual (#10827)
  velox/dwio/common/Options.h
Due: none

Add RowsStreamingWindowBuild to avoid OOM in Window operator (#9025)
  velox/exec/AggregateWindow.cpp
  velox/exec/CMakeLists.txt
  velox/exec/PartitionStreamingWindowBuild.cpp
  velox/exec/PartitionStreamingWindowBuild.h
  velox/exec/RowsStreamingWindowBuild.cpp
  velox/exec/RowsStreamingWindowBuild.h
  velox/exec/SortWindowBuild.cpp
  velox/exec/SortWindowBuild.h
  velox/exec/Window.cpp
  velox/exec/Window.h
  velox/exec/WindowBuild.h
  velox/exec/WindowFunction.cpp
  velox/exec/WindowFunction.h
  velox/exec/WindowPartition.cpp
  velox/exec/WindowPartition.h
  velox/exec/tests/PlanBuilderTest.cpp
  velox/exec/tests/PlanNodeToStringTest.cpp
  velox/exec/tests/WindowFunctionRegistryTest.cpp
  velox/exec/tests/WindowTest.cpp
  velox/functions/lib/window/NthValue.cpp
  velox/functions/lib/window/Ntile.cpp
  velox/functions/lib/window/Rank.cpp
  velox/functions/lib/window/RowNumber.cpp
  velox/functions/prestosql/window/CumeDist.cpp
  velox/functions/prestosql/window/FirstLastValue.cpp
  velox/functions/prestosql/window/LeadLag.cpp
Due: none

[native] Fix a typo in LocalPersistentShuffleReader ctor.
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
Due: run_native_specific_jobs

- Add a test case to check the modification of the request header.
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
  presto-main/src/test/java/com/facebook/presto/TestRequestModifierPlugin.java
Due: none

Add strategy for HBO to delay fetch of metadata
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHistoryBasedStatsTracking.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedStatisticsCacheManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CachingPlanCanonicalInfoProvider.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanCanonicalInfoProvider.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanNodeCanonicalInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Extend MongoDB connector support binData
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoSession.java
Due: none

[ForTest]Print default catalog and schema in query runner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesParquetUsingJSON.java
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
