Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

refactor(test): Consolidate native sidecar plugin setup in tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarHiveCatalog.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlanChecker.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarQueriesOnSystemTables.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOptimizeMixedDistinctAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestSqlInvokedFunctions.java
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerRouterPlugin.java
Due: run_native_specific_jobs

Add metrics and better cost based decision
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestDynamicPartitionPruning.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruningPlan.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/JoinDynamicFilter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/AddDynamicFilterRule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/AddDynamicFilterToSemiJoinRule.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestJoinDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestAddDynamicFilterRule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
Due: none

[Iceberg]Accept and maintain autocommit and isolation level on tx start
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
Due: none

Refactor test cases using new transaction test framework
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
Due: none

Resolve rebase conflicts
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteManifestsProcedure.java
Due: none

Address comment: use `AtomicReference<Runnable>` instead of `Optional<Runnable>`
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

Address review comment
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
Due: none

Address review comments
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

[Iceberg]Support single-table multi-statement writes transaction
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergParquetDereferencePushDown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/FastForwardBranchProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetCurrentSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetTablePropertyProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionMetadata.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/iceberg/TestIcebergHiveMetadataListing.java
Due: none

Integrate materialized view operations with Iceberg transaction context
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

Refactor `Connector`: pass autocommit context to connector transactions
  presto-main-base/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

Attempt to fix product test issues on JDK upgrade
  presto-product-tests/conf/docker/files/presto-launcher-wrapper.sh
  presto-product-tests/conf/presto/etc/ldap-jdk-security.properties
Due: none

feat(native): Add cuDF session property provider
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
  presto-native-execution/presto_cpp/main/properties/session/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/CudfSessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/CudfSessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/tests/CudfSessionPropertiesTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/cudf/TestCudfSidecarPlugin.java
Due: run_native_specific_jobs

fix(native): Replace unsafe atol() with folly::to<> in PrestoExchangeSource (#27223)
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
Due: run_native_specific_jobs

refactor: Extract helpers to eliminate duplicated HTTP handler boilerplate in TaskResource (#27224)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Due: run_native_specific_jobs

[presto] Add runtime stats for materialized view usage in legacy path
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
Due: none

Fix HBO tests that use Aggregation
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHistoryBasedStatsTracking.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: none

feat: Support Iceberg's single-table multi-statement writes transaction (#25003)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergParquetDereferencePushDown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/FastForwardBranchProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteManifestsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetCurrentSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetTablePropertyProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionMetadata.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/iceberg/TestIcebergHiveMetadataListing.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

Add support for mutating an Iceberg branch
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergBranchMutations.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableName.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: run_linux_tests=false

Upgrade avro to version 1.12.1
  pom.xml
Due: none

Changes to update artifactid
  pom.xml
  presto-delta/pom.xml
  presto-hive-function-namespace/pom.xml
  presto-hive-metastore/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-native-execution/pom.xml
  presto-orc/pom.xml
  presto-parquet/pom.xml
  presto-product-tests/pom.xml
  presto-rcfile/pom.xml
Due: run_native_specific_jobs

Changes to update maven central maven
  pom.xml
Due: none

[Codemod][ThriftAnnotateAllowUnsafeNonSealedKeyTypeFBSource] fbcode/github/ (#27231)
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs

fix(security): Override vulnerable lz4-java dependency to address CVE-2025-12183
  pom.xml
  presto-druid/pom.xml
  presto-kafka/pom.xml
  presto-pinot-toolkit/pom.xml
Due: none

feat: Update timezone data to 2025b (#26981)
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/jdbc-connector-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  pom.xml
  presto-common/src/main/resources/com/facebook/presto/common/type/zone-index.properties
  presto-common/src/test/java/com/facebook/presto/common/type/TestTimeZoneKey.java
  presto-product-tests/conf/docker/files/presto-launcher-wrapper.sh
  presto-product-tests/conf/presto/etc/ldap-jdk-security.properties
Due: none

test: Add E2E tests for geo functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/GeoSpatialTestUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeGeospatial.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: none

Move TopNRowNumberNode to presto-spi for connector optimizer access (#27232)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MinMaxByToWindowFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushDownDereferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/KeyBasedSampler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanNodeDecorrelator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SimplifyPlanWithEmptyInput.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TopNRowNumberMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestWindowFilterPushDown.java
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/ExecutionFailureInfo.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TopNRowNumberNode.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: run_native_specific_jobs

fix: Increase max-task-update-size for tests (#27220)
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
Due: none

Improve latency by speculatively scanning
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestDynamicPartitionPruning.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/TableScanDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestTableScanDynamicFilter.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/DynamicFilter.java
Due: none

misc: Move TopNRowNumberNode to presto-spi for connector optimizer access (#27232)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MinMaxByToWindowFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushDownDereferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/KeyBasedSampler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanNodeDecorrelator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SimplifyPlanWithEmptyInput.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TopNRowNumberMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestWindowFilterPushDown.java
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/ExecutionFailureInfo.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TopNRowNumberNode.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: run_native_specific_jobs

[presto][verifier] Replace regex-based json_parse safety wrapper with AST-level rewriter (#27202)
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriter.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/VerificationQueryRewriterFactory.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerifierConfig.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestQueryRewriter.java
Due: none

Support predicate stitching in MaterializedViewRewrite
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestDifferentialPlanRewriter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestMaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestPassthroughColumnEquivalences.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestSymbolMapper.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStaleReadBehavior.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_linux_tests=false

Address review feedback
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestMaterializedViewRewrite.java
Due: run_linux_tests=false

Fix pre-existing Hive bug
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
Due: none

Address code review comments
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
Due: none

Warn on stale reads of MVs
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Due: none

Address code review comments
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
Due: none

Fixup validation
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
Due: none

test: Add testing infra for the presto-ui
  presto-ui/bin/check_webui.sh
  presto-ui/src/.gitignore
  presto-ui/src/__tests__/README.md
  presto-ui/src/__tests__/fixtures/clusterFixtures.ts
  presto-ui/src/__tests__/fixtures/index.ts
  presto-ui/src/__tests__/fixtures/infoFixtures.ts
  presto-ui/src/__tests__/fixtures/queryFixtures.js
  presto-ui/src/__tests__/fixtures/stageFixtures.ts
  presto-ui/src/__tests__/mocks/apiMocks.ts
  presto-ui/src/__tests__/mocks/browserMocks.ts
  presto-ui/src/__tests__/mocks/index.ts
  presto-ui/src/__tests__/mocks/jqueryMock.ts
  presto-ui/src/__tests__/utils/setupHelpers.ts
  presto-ui/src/__tests__/utils/testUtils.tsx
  presto-ui/src/babel.config.js
  presto-ui/src/components/PageTitle.test.tsx
  presto-ui/src/d3utils.test.ts
  presto-ui/src/eslint.config.mjs
  presto-ui/src/jest.config.js
  presto-ui/src/package.json
  presto-ui/src/router/QueryList.integration.test.jsx
  presto-ui/src/router/QueryList.jsx
  presto-ui/src/router/QueryList.test.jsx
  presto-ui/src/router/QueryListItem.test.jsx
  presto-ui/src/setupTests.ts
  presto-ui/src/tsconfig.json
  presto-ui/src/utils.test.ts
  presto-ui/src/yarn.lock
Due: none
