Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Upgrade openlineage to mitigate CVE-2026-40984, CVE-2026-40983
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
Due: none

feat(parser): Add FIRST/AFTER clause to ALTER TABLE ADD COLUMN
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestSqlFormatter.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AddColumn.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ColumnPosition.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestDefaultTraversalVisitorAddColumn.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ColumnPosition.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/test/java/com/facebook/presto/spi/connector/TestConnectorMetadataAddColumn.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestDefaultTreeRewriterAddColumn.java
Due: run_linux_tests=false

feat(iceberg): Support FIRST/AFTER in ALTER TABLE ADD COLUMN
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
Due: run_linux_tests=false

feat: Add ALTER TABLE ALTER COLUMN FIRST/AFTER to reorder columns
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/ColumnPositionUtil.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SetColumnPositionTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSetColumnPositionTask.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestSqlFormatter.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/SetColumnPosition.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestDefaultTraversalVisitorSetColumnPosition.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: run_linux_tests=false

feat(native): Default presto_cpp.http_request_size_bytes to false
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs, run_linux_tests=false

test(parser): Add regression test for reserved keyword changes
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestReservedKeywords.java
  presto-parser/src/test/resources/presto-non-reserved-words.txt
  presto-parser/src/test/resources/sql-2016-non-reserved-words.txt
Due: none

Add @SqlNullable annotation to ST_Centroid
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
Due: run_linux_tests=false

Allow field name declaration in row literal
  presto-docs/src/main/sphinx/language/types.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/AggregationAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Row.java
  presto-parser/src/test/java/com/facebook/presto/sql/TestExpressionFormatter.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
Due: run_native_specific_jobs, run_linux_tests=false

feat(plugin-iceberg): Use Presto Hadoop FileSystem for REST catalog metadata reads via PrestoRESTFileIO
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoRESTFileIO.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestPrestoRESTFileIO.java
Due: none

test(parser): Add regression test for reserved keyword changes (#28357)
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestReservedKeywords.java
  presto-parser/src/test/resources/presto-non-reserved-words.txt
  presto-parser/src/test/resources/sql-2016-non-reserved-words.txt
Due: none

feat(planner): Enable segmented aggregation for partial aggregations
  presto-hive/src/test/java/com/facebook/presto/hive/TestSegmentedAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughExchange.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughExchangeOrdering.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSegmentedPartialAggregation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateStreamingAggregations.java
Due: none

chore(planner): Clean up HBO statistics recording
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main-base/src/test/java/com/facebook/presto/cost/TestHistoryBasedPlanStatisticsTracker.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: none

build(docs): Enforce zero warnings policy and refactor sphinx build
  presto-docs/Makefile
  presto-docs/src/main/sphinx/conf.py
Due: run_linux_tests=false

feat(parser): Allow field name declaration in row literal (#28298)
  presto-docs/src/main/sphinx/language/types.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/AggregationAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Row.java
  presto-parser/src/test/java/com/facebook/presto/sql/TestExpressionFormatter.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(docs): Remove redundant labels
  presto-docs/src/main/sphinx/presto_cpp/federation.rst
  presto-docs/src/main/sphinx/router/deployment.rst
Due: run_linux_tests=false

Address review feedback: mixed credentials, negative test, cleanup
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClientModule.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestCredentialPassthrough.java
Due: none

[Codemod][ThriftAnnotateAllowLegacyMissingUrisFBSource] fbcode/github/ (#28361)
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_native.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs, run_linux_tests=false

fix: include dynamic filter variables in PruneUnreferencedOutputs rightInputs
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
Due: none

fix: Report native worker cache and query memory separately in /v1/status (#27783)
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestNodeStatus.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

fix(docs): Remove redundant labels (#28360)
  presto-docs/src/main/sphinx/presto_cpp/federation.rst
  presto-docs/src/main/sphinx/router/deployment.rst
Due: run_linux_tests=false

fix(analyzer): Propagate runtime stats into view analysis sessions
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

fix(native): Remove wrong Host header from announcement and heartbeat requests (#28243)
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
Due: run_native_specific_jobs

docs: Add design for Iceberg row lineage test revamp
  docs/superpowers/specs/2026-08-10-iceberg-row-lineage-test-revamp-design.md
Due: none

docs: Record implementation refinements in row lineage test design
  docs/superpowers/specs/2026-08-10-iceberg-row-lineage-test-revamp-design.md
Due: none

feat: Enhance Iceberg filter pushdown to include desired columns in query execution
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestIcebergRowLineage.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineage.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineageBase.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3RowLineage.java
Due: run_native_specific_jobs

Fix ANALYZE failing with Multiple entries with same key and Unexpected N statistics for M columns when the Hive metastore contains duplicated column statistics for a column
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveAnalyzeCorruptStatistics.java
Due: none

fix(analyzer): Propagate runtime stats into view analysis sessions (#28367)
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

feat: enhance dynamic filter classes with detailed documentation and validation
  presto-main-base/src/main/java/com/facebook/presto/execution/DynamicFilterResult.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DomainRuntimeFilter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/JoinDynamicFilter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/RuntimeFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestJoinDynamicFilter.java
Due: none

build(native): Link CUDA::nvml for cuDF builds and skip it in the lib check
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

feat(native): Expose GPU memory and utilization in NodeStatus
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestNodeStatus.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs, run_linux_tests=false

fix(native): Reset GPU status fields to the sentinel when a probe fails
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

fix(native): Copy the OpenZL patch into the dependency images (#28344)
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
Due: run_native_specific_jobs

Add comment
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
Due: none

feat(native): Expose cuDF live-allocated GPU bytes in /v1/status
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestNodeStatus.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

fix: Ensure split AggregationNode is always pushed below ExchangeNode (#28329)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughExchange.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Due: none

Make context compression configurable
  presto-docs/src/main/sphinx/connector/elasticsearch.rst
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchConfig.java
Due: run_linux_tests=false

Do not exclude mysql driver in native-plugin presto packaging
  presto-server/src/main/provisio/presto.xml
Due: none
