Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Add Support for Iceberg table sort orders
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriterConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSortingFileWriterConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergOutputTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSortingFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergWritableTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortFieldUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestSortFieldUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: run_linux_tests=false

Update pull request template to refer to CONTRIBUTING
  pull_request_template.md
Due: none

[native] Disable plan validation failure for timestamp with timezone and ipaddress types for native execution.
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestCheckUnsupportedPrestissimoTypes.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

fix: Move the thread local parameter from method to member parameter in HdfsReadFile (#11580)
  velox/connectors/hive/storage_adapters/hdfs/HdfsReadFile.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsReadFile.h
Due: none

[native] update CI image
  .circleci/continue_config.yml
Due: none

build(ci): Fix scheduled.yml syntax (#11652)
  .github/workflows/scheduled.yml
Due: none

feat: Add skewed partition balancer (#11635)
  velox/common/base/CMakeLists.txt
  velox/common/base/SkewedPartitionBalancer.cpp
  velox/common/base/SkewedPartitionBalancer.h
  velox/common/base/tests/CMakeLists.txt
  velox/common/base/tests/SkewedPartitionBalancerTest.cpp
Due: none

fix:Support hashing ipaddress (#11640)
  velox/functions/prestosql/aggregates/PrestoHasher.cpp
  velox/functions/prestosql/aggregates/tests/PrestoHasherTest.cpp
  velox/functions/prestosql/types/IPAddressType.h
Due: none

Drop experimental.table-writer-merge-operator-enabled config
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

Add support for pluggable Custom Presto Authenticators
  presto-docs/src/main/sphinx/develop/presto-authenticator.rst
  presto-lark-sheets/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/security/PrestoAuthenticator.java
  presto-main/src/main/java/com/facebook/presto/server/security/PrestoAuthenticatorManager.java
  presto-main/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/security/ServerSecurityModule.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-password-authenticators/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/PrestoAuthenticator.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/PrestoAuthenticatorFactory.java
Due: run_linux_tests=false

Add tests for Custom Presto Authenticators
  presto-main/src/test/java/com/facebook/presto/server/security/TestPrestoAuthenticator.java
Due: none

feat: Specifiy target tracing driver IDs (#11560)
  velox/core/PlanNode.h
  velox/exec/OperatorTraceScan.cpp
  velox/exec/TraceUtil.cpp
  velox/exec/TraceUtil.h
  velox/exec/tests/TraceUtilTest.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/tool/trace/AggregationReplayer.h
  velox/tool/trace/FilterProjectReplayer.h
  velox/tool/trace/HashJoinReplayer.cpp
  velox/tool/trace/HashJoinReplayer.h
  velox/tool/trace/OperatorReplayerBase.cpp
  velox/tool/trace/OperatorReplayerBase.h
  velox/tool/trace/PartitionedOutputReplayer.cpp
  velox/tool/trace/PartitionedOutputReplayer.h
  velox/tool/trace/TableScanReplayer.cpp
  velox/tool/trace/TableScanReplayer.h
  velox/tool/trace/TableWriterReplayer.h
  velox/tool/trace/TraceReplayRunner.cpp
  velox/tool/trace/TraceReplayRunner.h
  velox/tool/trace/tests/AggregationReplayerTest.cpp
  velox/tool/trace/tests/FilterProjectReplayerTest.cpp
  velox/tool/trace/tests/HashJoinReplayerTest.cpp
  velox/tool/trace/tests/PartitionedOutputReplayerTest.cpp
  velox/tool/trace/tests/TableScanReplayerTest.cpp
  velox/tool/trace/tests/TableWriterReplayerTest.cpp
Due: none

feat(ABFS): Add dependency for ABFS Auth support (#11633)
  scripts/setup-adapters.sh
  scripts/velox_env_linux.yml
  scripts/velox_env_mac.yml
Due: none

Fix `USE` statement when schema does not exist
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryPlanDeterminism.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestVerboseOptimizerInfo.java
Due: none

fix(regexp_replace): Move regex preprocessing to functions/lib for Spark reuse and fix backslash handling (#10981)
  velox/docs/functions/presto/regexp.rst
  velox/docs/functions/spark/regexp.rst
  velox/functions/lib/Re2Functions.h
  velox/functions/prestosql/RegexpReplace.h
  velox/functions/prestosql/tests/RegexpReplaceTest.cpp
  velox/functions/sparksql/RegexFunctions.cpp
  velox/functions/sparksql/tests/RegexFunctionsTest.cpp
Due: none

[native] Enable ipaddress checksum test.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Due: run_native_specific_jobs

Restore the original write mode
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Add LinuxMemoryChecker checks/warnings to ensure system-memory-gb < system-mem-limit-gb < actual total memory capacity.
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
Due: run_native_specific_jobs

refactor: Add new callback to log plan fragment from TaskListener (#11459)
  velox/exec/Task.cpp
  velox/exec/Task.h
Due: none

feat: Support API for setting a spill directory callback in task (#11572)
  velox/common/file/FileSystems.cpp
  velox/common/file/FileSystems.h
  velox/common/file/tests/FaultyFile.cpp
  velox/common/file/tests/FaultyFile.h
  velox/common/file/tests/FaultyFileSystem.cpp
  velox/common/file/tests/FaultyFileSystem.h
  velox/common/file/tests/FaultyFileSystemOperations.h
  velox/common/file/tests/FileTest.cpp
  velox/exec/Driver.cpp
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/TaskTest.cpp
Due: none

Fix spring jar security vulnerabilities
  presto-benchto-benchmarks/pom.xml
Due: none

Fixed functional test failures
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

Disable test case for USE statement in spark
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoQueries.java
Due: none

Set splitsize for hadoop InputFormat to Presto max_split_size
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestCustomInputSplits.java
Due: none

feat: Update throttler to support network signal (#11611)
  velox/common/base/Counters.h
  velox/docs/monitoring/metrics.rst
  velox/dwio/common/Throttler.cpp
  velox/dwio/common/Throttler.h
  velox/dwio/common/tests/ThrottlerTest.cpp
Due: none

Fix the nested Array and Row syntax change issue
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Due: none

Fix flaky test in memory connector caused by scaled writer
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryWorkerCrash.java
Due: none

Support nested namespaces in Iceberg's REST Catalog
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/IcebergPrestoModelConverters.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: none

- Introduce a ClientRequestFilterFactory - invokes the factory calls and creates the filters
  presto-main/src/main/java/com/facebook/presto/ClientRequestFilterManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/test/java/com/facebook/presto/TestClientRequestFilterPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
Due: none

- Introduce a ClientRequestFilterFactory
  presto-spi/src/main/java/com/facebook/presto/spi/ClientRequestFilterFactory.java
Due: none

Add property to allow querying in nested namespaces
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/IcebergPrestoModelConverters.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: run_linux_tests=false

Fix decimal cast syntax error
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
Due: none

Fix for cve in swagger-ui
  presto-pinot-toolkit/pom.xml
Due: none

Java 17 Upgrade
  pom.xml
  presto-grpc-api/src/main/proto/GrpcUdfInvoke.proto
  presto-main/etc/jvm.config
Due: none

update to use jitpack and auto-detect jdk profiles
  pom.xml
  presto-kudu/pom.xml
Due: none

Disable KllSketch memory test for strings
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestKllSketchStateSerializer.java
Due: none
