Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add docs
  presto-docs/src/main/sphinx/connector/mysql.rst
Due: run_linux_tests=false

Look up MySQL views in one parameterized statement
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlConfig.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

fix: Persist Presto view owner and security mode in MySQL
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: run_linux_tests=false

fix: Address Copilot review of MySQL views
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: run_linux_tests=false

Update presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
Due: none

Update presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
Due: none

refactor: Address Bryan's review of MySQL views
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

feat(scheduler): Add deterministic bounded cache-affinity placement
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplit.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplit.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DeterministicBoundedAssignment.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicSplitPlacementPolicy.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SplitPlacementPolicy.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/NodeSelector.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDeterministicBoundedAssignment.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSplit.java
Due: none

build(native): Use UCX 1.22.0 in the CentOS dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

fix(native): Redact extra credentials in query trace metadata (#28602)
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.h
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

[DNR] Update dependency image reference in build configuration
  .github/workflows/prestocpp-linux-container-tests.yml
Due: none

fix(plugin-iceberg, native): Honor stored row lineage values in filters and projections
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/splits/RewriteDataFilesIcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineageBase.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3RowLineage.java
Due: run_native_specific_jobs

Cleanup
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnectorFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlPlugin.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

fix(plugin-iceberg, native): Honor stored row lineage values in filters and projections
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineage.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineageBase.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3RowLineage.java
Due: run_native_specific_jobs

Remove TRIM from reserved keyword
  presto-docs/src/main/sphinx/functions/string.rst
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Trim.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/resources/presto-non-reserved-words.txt
Due: run_linux_tests=false

feat(native): Support querying Iceberg changelog table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestPrestoNativeIcebergChangelogQueries.java
Due: run_native_specific_jobs

test(iceberg): address round-2 PR review comments on stack overflow fix
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestLargePartitionStackOverflow.java
Due: none

Upgrade openlineage to mitigate CVE-2026-40984, CVE-2026-40983
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
Due: none

fix(PageBufferClient): ensure clientFinished is called only for the current DELETE future
  presto-main-base/src/main/java/com/facebook/presto/operator/PageBufferClient.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPageBufferClient.java
Due: none

Address review comments: revert release notes and ORC schema evolution test subclass
  presto-docs/src/main/sphinx/release/release-0.299.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestSchemaEvolutionOrc.java
Due: run_native_specific_jobs, run_linux_tests=false

chore(deps): Upgrade openlineage to mitigate CVE-2026-40984, CVE-2026-40983 (#28355)
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
Due: none

refactor: Address review comments
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionPluginManager.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergGeospatialUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergParquetSchemaUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeographyType.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeographyTypeConverter.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: run_linux_tests=false

feat(spi, parser, plugin-iceberg): Support adding nested fields to Iceberg struct columns (#28342)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateTableTask.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ColumnDefinition.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestDefaultTraversalVisitorAddColumn.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestDefaultTreeRewriterAddColumn.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(iceberg): replace in() with balanced equal() tree to fix NPE on null partitions
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverter.java
Due: none

refactor: Use JdbcPlugin wiring for MySQL views
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnectorFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlPlugin.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

Review comments
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3DefaultColumnValues.java
Due: run_native_specific_jobs

Update presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
Due: run_linux_tests=false

feat(plugin-iceberg): Use Presto Hadoop FileSystem for REST catalog metadata reads via PrestoRESTFileIO
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoRESTFileIO.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/PrestoRestCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestManifestFileCache.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestPrestoRESTFileIO.java
Due: run_linux_tests=false

feat(native): Add support for iceberg v3 write-default (#28565)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3DefaultColumnValues.java
Due: run_native_specific_jobs, run_linux_tests=false

feat(native): Support querying Iceberg changelog table (#28567)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestPrestoNativeIcebergChangelogQueries.java
Due: run_native_specific_jobs

feat(plugin-iceberg): Support ALTER COLUMN SET/DROP NOT NULL (#28040)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitionLoader.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergAggregationOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergAlterColumnNotNull.java
Due: run_linux_tests=false

fix: Replicate semi-joins in UPDATE statements
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplicateSemiJoinInDelete.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplicateSemiJoinInDelete.java
Due: none

fix(security): Cover all guarded LDAP characters and interpolate literally
  presto-password-authenticators/src/main/java/com/facebook/presto/password/ldap/LdapAuthenticator.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/ldap/TestLdapAuthenticator.java
Due: none

fix: Hide kafka jaas config in server startup logs
  presto-kafka/src/main/java/com/facebook/presto/kafka/security/KafkaSaslConfig.java
Due: none

feat(plugin-iceberg): Use Presto Hadoop FileSystem for REST catalog metadata reads via PrestoRESTFileIO (#28343)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoRESTFileIO.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/PrestoRestCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestManifestFileCache.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestPrestoRESTFileIO.java
Due: run_linux_tests=false

fix(security): Upgrade lz4-java to 1.11.4 to address CVE-2026-106452 and CVE-2026-106453
  pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
