Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

feat(iceberg): Enable alter tbl-properties to manage old metadata files
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

[Docs]Improve documentation for histograms
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/optimizer/statistics.rst
Due: run_linux_tests=false

[native] Fix incorrect initialization of 'folly::Promise' object
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Add x509 certificates list to identity class
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Due: none

Upgrade com.google.api-client version to 2.8.0
  presto-bigquery/pom.xml
  presto-google-sheets/pom.xml
Due: none

Add feature reordering config fetching for Prism connector
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Bump scala lang library to updated version
  presto-delta/pom.xml
Due: none

Upgrade threetenbp to latest version
  presto-bigquery/pom.xml
Due: none

fix cmake
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/thrift/CMakeLists.txt
  presto-native-execution/presto_cpp/main/thrift/ThriftServer.cpp
  presto-native-execution/presto_cpp/main/thrift/ThriftServer.h
Due: run_native_specific_jobs

Resolve "No suitable driver found" error in DB-based SPM
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerConfig.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
  presto-db-session-property-manager/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerConfig.java
Due: none

Upgrade google-auth-library-oauth2-http version to 1.39.1
  pom.xml
Due: none

Enable case-senstive identifer support for Redis connector
  presto-docs/src/main/sphinx/connector/redis.rst
  presto-redis/src/main/java/com/facebook/presto/redis/RedisConnectorConfig.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisMetadata.java
  presto-redis/src/test/java/com/facebook/presto/redis/RedisQueryRunner.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestMinimalFunctionality.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisConnectorConfig.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisIntegrationMixedCase.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisTestUtils.java
Due: run_linux_tests=false

now-function-and-jmx-fix
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Fix session time zone check
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
Due: run_native_specific_jobs

Add documentation around releases
  CONTRIBUTING.md
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/version-support.rst
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/release-process.rst
Due: run_linux_tests=false

Make addSplit update pending split info immediately.
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
Due: none

Use NodeAssignmentStats::getQueuedSplitsWeightForStage in task-based split scheduling
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
Due: none

Fill certs during begin transaction
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Due: none

Add new ConnectorMetadata.finishDeleteWithOutput() to allow DELETE queries to log outputs (#26134)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Refactor testcases for native-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Add support for setting sessionStartTime in VeloxQueryConfig.
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

Add support for setting sessionStartTime in VeloxQueryConfig.
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

Fix aggregate function builtin special functions
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInSpecialFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestBuiltInNativeFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: run_native_specific_jobs

Add AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeCteExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeIcebergTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

changes
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
Due: none

[pos] Refactor catalog config to be inside NativeExecutionConfigModule
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkServiceFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionCatalogConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionConfigModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/PrestoSparkWorkerProperty.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkConfiguration.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkClientOptions.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkDistribution.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkLauncherCommand.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
Due: run_native_specific_jobs

New CVE
  pom.xml
Due: none

Upgrade org.testcontainers:oracle-xe versio to 1.14.3
  presto-oracle/pom.xml
Due: none

Adding a rewriter for GroupReference
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/GroupInnerJoinsByConnectorRuleSet.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestGroupInnerJoinsByConnectorRuleSet.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Bump h2 database jar to latest version
  pom.xml
Due: none

Add a check for CVEs present in new transitive dependencies
  .github/actions/maven-owasp-scan/action.yml
  .github/workflows/owasp-dependency-check.yml
Due: none

Replace javax.inject imports with jakarta.inject in presto-db-session-property-manager
  presto-db-session-property-manager/pom.xml
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManager.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/RefreshingDbSpecsProvider.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
Due: none

Migrates the Elasticsearch connector's AWS integration from AWS SDK v1 to v2.
  pom.xml
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/AwsRequestSigner.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/client/TestAwsIamAuthentication.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
