Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add OpenAPI documentation for /v1/expressions
  presto-openapi/src/main/resources/expressions.yaml
Due: none

Upgrade Okie to version 3.6.0 (from 1.17.2) and OkHttp jar to version 4.12.0 to address CVE-2023-3635.
  pom.xml
  presto-client/pom.xml
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/okhttp/internal/tls/DistinguishedNameParser.java
  presto-client/src/main/java/okhttp/internal/tls/LegacyHostnameVerifier.java
  presto-jdbc/pom.xml
  presto-native-sidecar-plugin/pom.xml
Due: none

Fix CVE security issues: - Plexus Utils: 1 Critical, 1 High, 1 Medium (fixed) - Helix-Core: 1 Critical (fixed) - Ion-Java: 6 (addressed) - Commons-Net: 1 Medium (reviewed)
  pom.xml
  presto-delta/pom.xml
  presto-druid/pom.xml
  presto-hive-metastore/pom.xml
  presto-pinot-toolkit/pom.xml
Due: none

Move velox ahead and fix tests.
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
Due: run_native_specific_jobs

Put event loop behind a toggle
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcherWithEventLoop.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcherWithEventLoop.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
Due: none

Support TDigestType in Presto to Velox Query Plan
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Due: run_native_specific_jobs

Upgrade asm dependencies
  pom.xml
Due: none

Add test for async data cache API on node
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeApiEndpointUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeSystemQueriesSingleNode.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs, run_linux_tests=false

Upgrade json-smart version to 2.5.2 in response to CVE-2024-57699
  pom.xml
Due: none

Record presto exchange source request duration and num of retries
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

Support multiple event listener plugins
  presto-docs/src/main/sphinx/develop/event-listener.rst
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerConfig.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerModule.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/dispatcher/TestLocalDispatchQuery.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerConfig.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
Due: run_linux_tests=false

Use shaded cassandra-driver-core
  presto-product-tests/pom.xml
Due: none

Added support for Delta TimestampNTZ column type
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
Due: none

Changed delta connector API in documentation
  presto-docs/src/main/sphinx/connector/deltalake.rst
Due: run_linux_tests=false

[native] Differentiate number of drivers and number of splits in stats reporting (Part-1)
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/QueryProgressStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestThriftResourceGroupInfo.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryProgressStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Due: run_native_specific_jobs

Switch mapping of Delta Timestamp type to TIMESTAMP_WITH_TIMEZONE
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaIntegration.java
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/.part-00000-16ab4bfc-37b2-4e87-961c-e9e18a355eeb-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/part-00000-16ab4bfc-37b2-4e87-961c-e9e18a355eeb-c000.snappy.parquet
  presto-delta/src/test/resources/delta_v1/test-typing/.part-00000-4705e2d5-430d-42da-a737-4921ed7fc950-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v1/test-typing/part-00000-4705e2d5-430d-42da-a737-4921ed7fc950-c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/test-typing/.part-00000-994a8669-28a4-4c94-a8bb-a437508996d7-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/test-typing/part-00000-994a8669-28a4-4c94-a8bb-a437508996d7-c000.snappy.parquet
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Due: none

fix test failures
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
Due: none

Enhance S3 Web Identity authentication & security mapping
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: run_linux_tests=false

Fix the lint errors
  presto-ui/src/components/PageTitle.jsx
Due: none

Add separate build/serve command for query_viewer_spa page
  presto-ui/src/components/PageTitle.jsx
  presto-ui/src/package.json
  presto-ui/src/webpack.config.js
Due: none

Remove not working command from README.md
  README.md
Due: none

Enable welcome page for UI path /ui/dev
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
Due: none

Convert DataSize for UI
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

Convert DataSize for cpp worker
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Convert DataSize for APIs
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
Due: none

Convert DataSize for operator
  presto-main/src/main/java/com/facebook/presto/operator/DriverContext.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorContext.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
Due: none

Convert DataSize for presto-spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkTaskManager.java
Due: none

Convert DataSize for tests
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestMemoryRevokingScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryLimit.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/BufferTestUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestArbitraryOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestBroadcastOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestClientBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestPartitionedOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestSpoolingOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/memory/TestHighMemoryTaskKiller.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/operator/TestDriverStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashAggregationOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestScanFilterAndProjectOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/TestOptimizedPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestThriftServerInfoIntegration.java
  presto-main/src/test/java/com/facebook/presto/server/TestThriftTaskIntegration.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestingOutputBuffer.java
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestJoinQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Due: none

Convert DataSize for other files in presto-main
  presto-main/src/main/java/com/facebook/presto/dispatcher/FailedDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/event/SplitMonitor.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/thrift/ThriftTaskService.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanNodeStatsSummarizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
Due: none

Convert DataSize for execution
  presto-main/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/ManagedQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryLimit.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskManager.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ArbitraryOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/BroadcastOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ClientBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/DiscardingOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/LazyOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/OutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PartitionedOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/SpoolingOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/SpoolingOutputBufferFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQuerySchedulerInterface.java
Due: none

Refactor log4j-core and log4j-api dependencies out of root POM
  pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
Due: none

troubleshooting server issues
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteState.java
  presto-router/src/test/java/com/facebook/presto/router/TestingPrestoServerRouter.java
Due: none

Fix the dropdown menu style in WorkerTrhead
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
  presto-ui/src/static/assets/presto.css
Due: none

feat: Register Spark sign function (#12464)
  velox/docs/functions/spark/math.rst
  velox/functions/sparksql/registration/RegisterMath.cpp
Due: none

docs: Fix typos in documentation (#12522)
  velox/docs/develop/scalar-functions.rst
Due: none

Support TDigestType in Velox Functions (#12326)
  velox/core/tests/ConstantTypedExprTest.cpp
  velox/expression/tests/CustomTypeTest.cpp
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.h
  velox/functions/prestosql/registration/TDigestFunctionsRegistration.cpp
  velox/vector/tests/VectorSaverTest.cpp
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
