Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add write mapping
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcRecordCursor.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/ReadMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/StandardReadMappings.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/ColumnMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/ReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/StandardColumnMappings.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/WriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/WriteMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/BooleanReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/BooleanWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/DoubleReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/DoubleWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/LongReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/LongWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/ObjectReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/ObjectWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/SliceReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/SliceWriteFunction.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
Due: none

feat: Support to configure split index lookup output (#13806)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/utils/TestIndexStorageConnector.cpp
  velox/exec/tests/utils/TestIndexStorageConnector.h
Due: none

Add Mutual TLS support to Arrow Flight connector
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
Due: run_native_specific_jobs

[Forward-fit] Redis TLS changes
  pom.xml
  presto-redis/pom.xml
  presto-redis/src/main/java/com/facebook/presto/redis/RedisConnectorConfig.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisJedisManager.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisRecordCursor.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisConnectorConfig.java
Due: none

Fix MethodTooLargeException for queries with high projection counts
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/CursorProcessorCompiler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestCursorProcessorCompiler.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
Due: none

Use PROMPT_ALWAYS_RESPOND=n after package installation
  presto-native-execution/.devcontainer/Dockerfile
Due: run_native_specific_jobs

Changes to support Join Pushdown for JDBC Connectors
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcColumnHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcModule.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSessionProperties.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSplit.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableLayoutHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcFilterToSqlTranslator.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPredicateToSqlTranslator.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcPlanOptimizerProvider.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/JdbcTranslationUtil.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/JoinOperatorTranslators.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/JdbcQueryRunner.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcClient.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcColumnHandle.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilderJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcRecordSet.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcSplit.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcTableHandle.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJoinQueriesWithPushDown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabaseJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcJoinPushdown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
Due: none

Introduce IcebergPartitionField
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitionField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionSpecConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransformType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoIcebergPartitionSpec.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionFields.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionSpecConverter.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
Due: run_native_specific_jobs

Resolve merge conflicts
  presto-redis/pom.xml
  presto-redis/src/main/java/com/facebook/presto/redis/RedisJedisManager.java
Due: none

Add a DB based session property manager
  presto-docs/src/main/sphinx/admin/session-property-managers.rst
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-session-property-managers/pom.xml
  presto-session-property-managers/src/main/java/com/facebook/presto/session/AbstractSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionMatchSpec.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionPropertyConfigurationManagerPlugin.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerModule.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/RefreshingDbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDao.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/util/SessionPropertiesDaoUtil.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/util/Threads.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerModule.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/AbstractTestSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManagerConfig.java
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
Due: run_linux_tests=false

Select query fails in BigQuery
  presto-bigquery/pom.xml
Due: none

fix compilation issues
  presto-redis/src/main/java/com/facebook/presto/redis/RedisJedisManager.java
Due: none

feat: Add QDigest type to Merge Function (#13433)
  velox/functions/prestosql/aggregates/MergeAggregate.cpp
  velox/functions/prestosql/aggregates/MergeQDigestAggregate.h
  velox/functions/prestosql/aggregates/tests/MergeAggregateTest.cpp
Due: none

[native]: Enable Velox cuDF
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/README.md
  presto-native-execution/docker-compose.yml
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/scripts/dockerfiles/README.md
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Always evaluate built-in functions using the presto.default namespace
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
Due: none

Add planner support to prevent mixed CPP/Java execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSystemTableFilterRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantExchangeRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
Due: none

fix(cudf): The companion function changes step behavior (#13691)
  velox/experimental/cudf/exec/CudfHashAggregation.cpp
  velox/experimental/cudf/tests/AggregationTest.cpp
Due: none

Always evaluate built-in functions using the presto.default namespace
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

Add Java session property for max split count to listen to
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
Due: none

fix: Fix tDigest values_at_quantiles function to throw error on null input (#13810)
  velox/functions/prestosql/TDigestFunctions.h
  velox/functions/prestosql/tests/TDigestFunctionsTest.cpp
Due: none

Add native_max_num_splits_listened_to session property (2/2)
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

feat(fuzzer): Add Fuzzer Test for quantile_at_value(QDigest) (#13725)
  velox/common/fuzzer/ConstrainedGenerators.cpp
  velox/common/fuzzer/ConstrainedGenerators.h
  velox/common/fuzzer/tests/ConstrainedGeneratorsTest.cpp
  velox/expression/fuzzer/ArgValuesGenerators.cpp
  velox/expression/fuzzer/ArgValuesGenerators.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/expression/fuzzer/tests/ArgumentTypeFuzzerTest.cpp
  velox/expression/fuzzer/tests/ExpressionFuzzerUnitTest.cpp
Due: none

test: Add Hive intermediate support for Json (#13369)
  velox/exec/fuzzer/CMakeLists.txt
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunnerIntermediateTypeTransforms.cpp
  velox/exec/fuzzer/PrestoQueryRunnerJsonTransform.cpp
  velox/exec/fuzzer/PrestoQueryRunnerJsonTransform.h
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/PrestoQueryRunnerIntermediateTypeTransformTestBase.cpp
  velox/exec/tests/PrestoQueryRunnerIntermediateTypeTransformTestBase.h
  velox/exec/tests/PrestoQueryRunnerJsonTransformTest.cpp
Due: none

Add Avro Configuration Properties to Hive connector docs
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

feat(fuzzer): Add input generator and result verifier for noisy_count (#13783)
  velox/functions/prestosql/fuzzer/AggregationFuzzerTest.cpp
  velox/functions/prestosql/fuzzer/NoisyCountIfResultVerifier.h
  velox/functions/prestosql/fuzzer/NoisyCountInputGenerator.h
  velox/functions/prestosql/fuzzer/NoisyCountResultVerifier.h
Due: none

Add authorization support for SHOW COLUMNS and DESCRIBE queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataListing.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSqlStandardAccessControlChecks.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewAccessControl.java
Due: none

[docs] Document delete-related Iceberg metadata columns
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

[Iceberg] Support deleted and delete_file_path metadata columns
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/EqualityDeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/PositionDeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/RowPredicate.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

[native] Allow non power of two task concurrency for native execution
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
Due: none

Add authorization support for SHOW CREATE TABLE/VIEW queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Use Faiss to compute cosine simarity (#13559)
  .github/workflows/linux-build-base.yml
  velox/functions/prestosql/Arithmetic.h
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/DistanceFunctions.h
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/MathematicalFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ArithmeticTest.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/tests/DistanceFunctionsTest.cpp
Due: none

fix: Mark qdigest_agg accumulator as aligned and not fixed size (#13821)
  velox/functions/prestosql/aggregates/QDigestAggAggregate.cpp
  velox/functions/prestosql/aggregates/tests/QDigestAggTest.cpp
Due: none

misc: Add leaked memory arbitration participants logs to help debugging (#13820)
  velox/common/memory/SharedArbitrator.cpp
Due: none

Remove invalid test check
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
Due: none

[native] Limit macos CI tests to C++ changes
  .github/workflows/prestocpp-macos-build.yml
Due: none

misc: Optimize streaming agg performance (#13812)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/exec/StreamingAggregation.cpp
  velox/exec/StreamingAggregation.h
  velox/exec/tests/StreamingAggregationTest.cpp
  velox/functions/prestosql/aggregates/ArrayAggAggregate.cpp
Due: none

Add output size calculation to BinarySortableSerializer (#25359)
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.cpp
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.h
  presto-native-execution/presto_cpp/main/operators/benchmarks/BinarySortableSerializerBenchmark.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
