Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

fix: Fix presto protocol (#27352)
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Bug fix for TimeZone Local not updating properly
  presto-main-base/src/main/java/com/facebook/presto/execution/SetTimeZoneTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSetTimeZoneTask.java
Due: none

Add similar with/without project variants while pushing partial aggregations through exchange
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchangeRuleSet.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughExchange.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationWithProjectThroughExchange.java
Due: none

Add exchange transport type (HTTP/UCX) to coordinator plan fragments
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/RemoteSourceNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TransportType.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestBasePlanFragmenterTransportType.java
Due: none

[presto] Add MergeSumsToVectorSum optimizer rule (#27335)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MergeSumsToVectorSum.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeSumsToVectorSum.java
Due: none

Add TVF documentation in functions/table
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/table.rst
Due: run_linux_tests=false

WIP: Add min max stats for varchar column and display as low and high values.
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/cost/TestConnectorFilterStatsCalculatorService.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/StringRange.java
Due: none

fix: Extract serde params from additionalTableParameters in CTAS
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

refactor(native): Abstract session property provider
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/main/properties/session/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

[prestissimo][iceberg] Wire positional update files through connector conversion layer
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

docs: Add TVF documentation in functions/table (#27333)
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/table.rst
Due: run_linux_tests=false

Log "Running <query_id>..." in Presto cli in non-interactive mode.
  presto-cli/src/main/java/com/facebook/presto/cli/Query.java
Due: none

Address basic comments
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

Address basic comments
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Due: none

Constructor in tests
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoViews.java
Due: none

Update pom
  presto-mongodb/pom.xml
Due: none

feat: Add syntax support for CREATE VECTOR INDEX (#27307) (#27307)
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateVectorIndex.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Due: none

[presto] Cost-based MV candidate selection for query rewriting (#27222)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SelectLowestCostMVRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSelectLowestCostMVRewrite.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/QueryWithMVRewriteCandidates.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/MVRewriteCandidatesNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/test/java/com/facebook/presto/spi/plan/TestMVRewriteCandidatesNode.java
Due: run_linux_tests=false

refactor(native): Abstract session property provider (#27253)
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/main/properties/session/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

feat(optimizer): Pre-aggregate before GroupId to reduce row multiplication (#27290)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/BenchmarkGroupingSetsPreAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/HashAggregationOperator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PreAggregateBeforeGroupId.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyRowExpressions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPreAggregateBeforeGroupId.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyRowExpressions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

Pre bob
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnector.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnectorFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlPlugin.java
Due: none

fix: Extract serde params from additionalTableParameters in CTAS (#27340)
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

More structural changes
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnector.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnectorFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/MySqlQueryRunner.java
Due: none

fix: Caps the count metric at int64_t's max value
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Due: run_native_specific_jobs

Support incremental refresh of materialized views docs: Add docs for array_max_by (#15940)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMaterializedViewProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergMaterializedViewsHive.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/IncrementalRefreshRule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestIncrementalRefreshRule.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewRefreshType.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/RefreshMaterializedViewNode.java
Due: run_linux_tests=false

[Hive] Support partition spec evolution in partition name parsing
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/PartitionWithStatistics.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestHiveMetastoreUtil.java
Due: none

feat(plugin-native-sidecar): Pass down session properties in NativeExpressionOptimizer
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/ExpressionOptimizationRequest.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
Due: run_native_specific_jobs

[Hive] Support partition spec evolution in partition name parsing
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/PartitionWithStatistics.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestHiveMetastoreUtil.java
Due: none

fix(testing): Support canonical and check type for null expressions (#27111)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/ExpressionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/NullExpressionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: none

fix(testing): Support varbinary literals in row expression verifier (#27107)
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
Due: none

chore(deps): Upgrade zookeeper version from 3.9.4 to 3.9.5 address the CVE-2026-24281 and CVE-2026-24308 (#27319)
  pom.xml
  presto-kafka/pom.xml
Due: none

perf(native): Avoid `LIKE` rewrites for prefix/suffix patterns in native execution
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
Due: none

docs: Add documentation for type mapping for Oracle connector
  presto-docs/src/main/sphinx/connector/oracle.rst
Due: run_linux_tests=false

refactor: Prepare TableFunction SPI for C++
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/tvf/QueryFunctionProvider.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestTableFunctionRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/AbstractConnectorTableFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ConnectorTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescribedTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/GenericTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/OnlyPassThroughReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ScalarArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableFunctionMetadata.java
Due: none

feat: Add read support for row lineage columns in Iceberg
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergColumnHandle.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineage.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergSplit.hpp.inc
Due: run_native_specific_jobs

Upgrade dep.okhttp.version to 5.3.2
  pom.xml
  presto-benchmark-driver/pom.xml
  presto-cli/pom.xml
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestInsecureQueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestQueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestTemporaryFunctions.java
  presto-client/pom.xml
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestHttpTokenPoller.java
  presto-jdbc/pom.xml
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestQueryExecutor.java
  presto-main/pom.xml
  presto-plan-checker-router-plugin/pom.xml
  presto-prometheus/pom.xml
  presto-router/pom.xml
  presto-router/src/test/java/com/facebook/presto/router/TestPredictorManager.java
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-tests/pom.xml
Due: none

chore(deps): Update jackson version to 2.18.6
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/JsonObjectMapperUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestDriver.java
Due: none

docs: Add limitation docs for spatial_partitioning and spatial_partitions
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Due: run_linux_tests=false

Add TVF documentation in develop/table-functions
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/table-functions.rst
  presto-docs/src/main/sphinx/functions/table.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
