Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Fix ambiguous URIs in function server API
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutor.java
Due: none

Fix product tests
  pom.xml
  presto-cli/pom.xml
  presto-client/src/main/java/com/facebook/presto/client/StatementClientV1.java
Due: none

remove unused import
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestOAuth2Config.java
Due: none

Add missing runtime dependencies for native tests
  presto-native-sidecar-plugin/pom.xml
  presto-native-tests/pom.xml
  presto-plan-checker-router-plugin/pom.xml
Due: none

Fix testValidation due to new error message
  presto-password-authenticators/src/test/java/com/facebook/presto/password/ldap/TestLdapConfig.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControlConfig.java
Due: none

Force testng provider in surefire plugin
  pom.xml
Due: none

Fix presto-on-spark tests
  presto-spark-base/pom.xml
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
  presto-spark-testing/src/test/resources/docker-compose.yml
Due: none

Update documentation for Java 17 support
  CONTRIBUTING.md
  README.md
  presto-docs/src/main/sphinx/admin/spill.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/security/cli.rst
  presto-docs/src/main/sphinx/security/jce-policy.fragment
  presto-docs/src/main/sphinx/security/server.rst
Due: run_linux_tests=false

Fix URI compliance for Iceberg nested NS tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
Due: none

revert config file
  presto-main/etc/config.properties
Due: none

fix docs
  presto-docs/src/main/sphinx/security.rst
  presto-docs/src/main/sphinx/security/authorization.rst
  presto-docs/src/main/sphinx/security/oauth2.rst
Due: run_linux_tests=false

Add Support for MetadataDeleteNode in Plan
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
Due: none

[docs] Add doc for optimizer debugging session properties (#25456)
  presto-docs/src/main/sphinx/admin/properties-session.rst
Due: run_linux_tests=false

Update presto-docs/src/main/sphinx/security/oauth2.rst
  presto-docs/src/main/sphinx/security/oauth2.rst
Due: run_linux_tests=false

oauth docs first draft
  presto-docs/src/main/sphinx/security/oauth2.rst
Due: run_linux_tests=false

refactor: Rename variant class to match coding style (#13957)
  velox/connectors/hive/SplitReader.h
  velox/core/Expressions.cpp
  velox/core/Expressions.h
  velox/duckdb/conversion/DuckConversion.cpp
  velox/duckdb/conversion/DuckConversion.h
  velox/duckdb/conversion/DuckParser.cpp
  velox/functions/prestosql/types/fuzzer_utils/TimestampWithTimeZoneInputGenerator.cpp
  velox/functions/prestosql/types/fuzzer_utils/TimestampWithTimeZoneInputGenerator.h
  velox/type/Type.h
  velox/type/Variant.cpp
  velox/type/Variant.h
  velox/type/tests/VariantTest.cpp
  velox/vector/BaseVector.cpp
  velox/vector/BaseVector.h
  velox/vector/VariantToVector.cpp
  velox/vector/VariantToVector.h
  velox/vector/tests/utils/VectorMaker.h
  velox/vector/tests/utils/VectorTestBase.h
Due: none

tmp fix conflict
  presto-plan-checker-router-plugin/pom.xml
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginScheduler.java
Due: none

fix indentation
  presto-docs/src/main/sphinx/security/authorization.rst
Due: run_linux_tests=false

write out identity provider
  presto-docs/src/main/sphinx/security/oauth2.rst
Due: run_linux_tests=false

Add new annotations for scalar function translation
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/OperatorTranslators.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/optimization/function/OperatorTranslators.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatorAnnotationParser.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionTranslator.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlSignature.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SupportedSignatures.java
Due: none

add support for multiple argument types
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatorAnnotationParser.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionTranslator.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlSignature.java
Due: none

Remove legacy task info thrift serde
  presto-main-base/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcherWithEventLoop.java
Due: none

Update presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

cherry pick from presto extension
  pom.xml
  presto-db2fori/pom.xml
  presto-db2fori/src/main/java/com/facebook/presto/plugin/db2fori/Db2foriClient.java
  presto-db2fori/src/main/java/com/facebook/presto/plugin/db2fori/Db2foriClientModule.java
  presto-db2fori/src/main/java/com/facebook/presto/plugin/db2fori/Db2foriPlugin.java
  presto-db2fori/src/test/java/com/facebook/presto/plugin/db2fori/TestDb2foriPlugin.java
  presto-event-listener/pom.xml
  presto-event-listener/src/main/java/io/ahana/eventplugin/FilterConfig.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/PrestoQueryStatsDao.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/QueryEvent.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/QueryEventListener.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/QueryEventListenerFactory.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/QueryEventListenerPlugin.java
  presto-event-listener/src/main/java/io/ahana/eventplugin/WebSocketCollectorChannel.java
  presto-event-listener/src/test/java/QueryEventListenerFactoryTest.java
  presto-event-listener/src/test/java/QueryEventListenerTest.java
  presto-event-listener/src/test/resources/onlyQueryCreatedEvents.properties
  presto-event-listener/src/test/resources/queryCreatedEvents.properties
  presto-snowflake/pom.xml
  presto-snowflake/src/main/java/com/facebook/presto/plugin/snowflake/SnowflakeClient.java
  presto-snowflake/src/main/java/com/facebook/presto/plugin/snowflake/SnowflakeClientModule.java
  presto-snowflake/src/main/java/com/facebook/presto/plugin/snowflake/SnowflakePlugin.java
  presto-snowflake/src/test/java/com/facebook/presto/plugin/snowflake/SnowflakePluginTest.java
  presto-teradata/pom.xml
  presto-teradata/src/main/java/com/facebook/presto/plugin/teradata/TeradataClient.java
  presto-teradata/src/main/java/com/facebook/presto/plugin/teradata/TeradataClientModule.java
  presto-teradata/src/main/java/com/facebook/presto/plugin/teradata/TeradataPlugin.java
  presto-teradata/src/test/java/com/facebook/presto/plugin/teradata/TeradataPluginTest.java
Due: none

refactor: Modernize type/Type.h (#13973)
  velox/type/Type.cpp
  velox/type/Type.h
Due: none

Fix subfield pushdown arg index for fb reshape row
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Due: none

fix(docs): rephrase mTLS setup introduction for clarity
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Due: run_linux_tests=false

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RemoteFunctionTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-spi/src/main/java/com/facebook/presto/spi/function/Signature.java
Due: run_native_specific_jobs

Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  docker/entrypoint.sh
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

review comments
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/CMakeLists.txt
Due: run_native_specific_jobs

feat: Add estimateFlatSize Benchmark (#13971)
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/basic/EstimateFlatSizeBenchmark.cpp
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
