Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

addressed comments on new changes with config based validation + tests
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/plugin.rst
  presto-docs/src/main/sphinx/presto_cpp/plugin/function_plugin.rst
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/JsonSignatureParser.cpp
  presto-native-execution/presto_cpp/main/JsonSignatureParser.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/dynamic_registry/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicFunctionRegistrar.h
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicLibraryLoader.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/DynamicLibraryLoader.h
  presto-native-execution/presto_cpp/main/dynamic_registry/README.md
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicArrayFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/default_registrations/DynamicVarcharFunction.cpp
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/dynamic_function_config.json
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/non_default_registrations/CMakeLists.txt
  presto-native-execution/presto_cpp/main/dynamic_registry/examples/non_default_registrations/DynamicNonDefaultFunction.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/DynamicFunctionRegistererTest.cpp
  presto-native-execution/presto_cpp/main/tests/JsonSignatureParserTest.cpp
  presto-native-execution/src/test/resources/dynamic_function_config.json
Due: run_native_specific_jobs, run_linux_tests=false

Add index join related nodes to plan matcher
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: none

feat: Clean up error reporting for Geometry functions (#13352)
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometrySerde.h
  velox/functions/prestosql/geospatial/GeometryUtils.h
Due: none

feat: Add initial Geometry relationship predicates (#13330)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: none

Fix vulnerability issues in postgresql, commons-compress and snappy-java
  presto-product-tests/pom.xml
  presto-redshift/pom.xml
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-spark-launcher/pom.xml
Due: none

Enable mixed-case support for SQL Server
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-product-tests/bin/run_on_docker.sh
  presto-product-tests/conf/docker/singlenode-sqlserver-mixed-case-on/compose.sh
  presto-product-tests/conf/docker/singlenode-sqlserver-mixed-case-on/docker-compose.yml
  presto-product-tests/conf/presto/etc/environment-specific-catalogs/singlenode-sqlserver-mixed-case-on/sqlserver.properties
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/sqlserver/TestSqlServerMixedCaseSupportOff.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/sqlserver/TestSqlServerMixedCaseSupportOn.java
  presto-sqlserver/src/main/java/com/facebook/presto/plugin/sqlserver/SqlServerClient.java
Due: run_linux_tests=false

build(gpu): Re-enable CUDF and WAVE build in CI (#13334)
  .github/workflows/linux-build-base.yml
Due: none

build(geos): Patch the macOS setup install of geos (#13354)
  scripts/setup-macos.sh
Due: none

Use built-in functions for constant folding in ValuesStatsRule
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/optimization/ClickHouseComputePushdown.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/FilteringPageSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSubfieldExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main-base/src/main/java/com/facebook/presto/cost/StatsCalculatorModule.java
  presto-main-base/src/main/java/com/facebook/presto/cost/ValuesStatsRule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyRowExpressions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/BenchmarkJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestRowExpressionSerde.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestingRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/TestExpressionOptimizerManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/CommonSubExpressionBenchmark.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/PageProcessorBenchmark.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionFormatter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/type/BenchmarkDecimalOperators.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/rule/ParquetDereferencePushDown.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkStatsCalculatorModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/ExpressionOptimizer.java
Due: none

Add support for geometry type in mysql connector
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
Due: run_linux_tests=false

feat: Add Spark luhn_check function (#13066)
  velox/docs/functions/spark/string.rst
  velox/functions/sparksql/LuhnCheckFunction.h
  velox/functions/sparksql/registration/RegisterString.cpp
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/LuhnCheckTest.cpp
Due: none

Written integration test cases for connecting to metastore using Http protocol
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/HmsModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/StaticHiveCluster.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/thrift/ThriftHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/thrift/ThriftHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/TestStaticHiveCluster.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/TestingHiveCluster.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/http/MockHttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/http/TestHttpHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/thrift/MockThriftHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/thrift/TestThriftHiveMetastoreConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveHttpProtocolTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
Due: none

Added validator methods
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/StaticMetastoreConfig.java
Due: none

Fixed checkstyle error
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreConfig.java
Due: none

refactored code
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/HmsModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/TestStaticHiveCluster.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHttpEnabledMetastore.java
Due: none

Added integration test cases to connect with HMS using http mode
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/TestingHiveCluster.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/BaseTestHiveInsertOverwrite.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHttpEnabledMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
  presto-hive/src/test/resources/hive_http_enable/hive-site.xml
Due: none

Added integration test case and connector documentations
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/ThriftHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHttpEnabledMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
Due: run_linux_tests=false

modified code to make it work with HMS running in http mode
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/HmsModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreClientFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHttpEnabledMetastore.java
Due: none

removed unused class
  presto-hive-common/src/main/java/com/facebook/presto/hive/CustomMetastoreAuthConfigUtils.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreConfig.java
Due: none

resolved conflicts
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/http/HttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/hms/thrift/ThriftHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/util/HiveMetastoreUtils.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/TestingHiveCluster.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/hms/http/MockHttpHiveMetastoreClientFactory.java
Due: none

Add changes to populate the datasource metadata details
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcInputInfo.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcOutputMetaData.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveConnectorOutputMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveInputInfo.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWrittenPartitions.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
Due: none

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxExprTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-spi/src/main/java/com/facebook/presto/spi/function/Signature.java
Due: run_native_specific_jobs

fix errors
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

move to prestissimo
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxExprTest.cpp
Due: run_native_specific_jobs

fix: join condition should be not-exists (#13360)
  velox/exec/tests/utils/TpchQueryBuilder.cpp
Due: none

Add ccache to dependency image
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
Due: run_native_specific_jobs

feat: Implement bing_tiles_around without radius (#13296)
  velox/functions/prestosql/BingTileFunctions.h
  velox/functions/prestosql/registration/BingTileFunctionsRegistration.cpp
  velox/functions/prestosql/tests/BingTileFunctionsTest.cpp
  velox/functions/prestosql/types/BingTileType.cpp
  velox/functions/prestosql/types/BingTileType.h
  velox/functions/prestosql/types/tests/BingTileTypeTest.cpp
Due: none

Make sidecar tests run serially
  presto-native-sidecar-plugin/pom.xml
Due: none

Enable native plan checker by default
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerConfig.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestPlanCheckerProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/nativechecker/TestNativePlanCheckerConfig.java
Due: none

Fix native plan checker for CTAS and insert queries
  presto-native-execution/presto_cpp/main/types/VeloxPlanConversion.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlanChecker.java
Due: run_native_specific_jobs

Allow extraProperties to be wired to PrestoNativeQueryRunnerUtils
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

fix: Allow empty file in table scan (#13241)
  velox/connectors/hive/HiveConnectorUtil.cpp
  velox/connectors/hive/SplitReader.cpp
  velox/dwio/common/Options.h
  velox/dwio/dwrf/reader/DwrfReader.cpp
  velox/exec/tests/TableScanTest.cpp
Due: none

Fix second UDF not respecting sub-minute time zone offsets
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
Due: none

feat: Implement bing_tiles_around with radius (#13351)
  velox/functions/prestosql/BingTileFunctions.h
  velox/functions/prestosql/registration/BingTileFunctionsRegistration.cpp
  velox/functions/prestosql/tests/BingTileFunctionsTest.cpp
  velox/functions/prestosql/types/BingTileType.cpp
  velox/functions/prestosql/types/BingTileType.h
  velox/functions/prestosql/types/tests/BingTileTypeTest.cpp
Due: none

Upgrade airlift, jetty, and guice in root POM
  pom.xml
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-main/pom.xml
  presto-tests/pom.xml
Due: run_linux_tests=false

Update all GH actions to java 17
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/presto-release-prepare.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Due: none
