Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

ci: Add CodeRabbit config. (#13)
  .coderabbit.yaml
Due: none

Add tests for presto-plan-checker-router-plugin and CI job
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/test-other-modules.yml
  presto-plan-checker-router-plugin/pom.xml
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerProviderRouterPluginConfig.java
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerRouterPlugin.java
Due: none

[docs] Document config properties required to set up presto-plan-checker-router-plugin
  presto-plan-checker-router-plugin/README.md
Due: none

Add @unidevel as committer for CI
  CODEOWNERS
Due: none

feat(gcs): Support mkdir operation in GcsFileSystem (#13532)
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.cpp
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.h
  velox/connectors/hive/storage_adapters/gcs/tests/GcsFileSystemTest.cpp
Due: none

feat(gcs): Support rename operation (#13490)
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.cpp
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.h
  velox/connectors/hive/storage_adapters/gcs/tests/GcsFileSystemTest.cpp
Due: none

Fix error classification for array with null elements
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
Due: none

fix: Change GH workflows to treat `release-0.293-clp-connector` (instead of `main`) as the default branch. (#10)
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-format-and-header-check.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  .github/workflows/web-ui-checks.yml
Due: none

fix: Lazy reading on column with bucket conversion sometimes failing sanity check (#13699)
  velox/connectors/hive/SplitReader.cpp
  velox/exec/tests/TableScanTest.cpp
Due: none

fix: Fix reading table with non-ascii names (#12606)
  velox/dwio/dwrf/reader/ReaderBase.cpp
  velox/dwio/parquet/reader/ParquetReader.cpp
  velox/dwio/parquet/tests/reader/ParquetTableScanTest.cpp
  velox/exec/tests/TableScanTest.cpp
  velox/functions/lib/string/StringImpl.h
Due: none

[Iceberg] Add support for deleted metadata column
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/RowPredicate.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Add a new router plugin : presto-plan-checker-router-plugin
  pom.xml
  presto-plan-checker-router-plugin/pom.xml
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginConfig.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginModule.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginScheduler.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginSchedulerFactory.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/RouterSchedulerPlugin.java
  presto-plan-checker-router-plugin/src/main/provisio/plugin.xml
  presto-plan-checker-router-plugin/src/main/resources/META-INF/com.facebook.presto.spi.RouterPlugin
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RequestInfo.java
  presto-spi/src/main/java/com/facebook/presto/spi/router/RouterRequestInfo.java
Due: none

build: Remove lzo dependency (#13422)
  CMake/resolve_dependency_modules/README.md
  CMakeLists.txt
  scripts/setup-centos9.sh
  scripts/setup-macos.sh
  scripts/setup-manylinux.sh
  scripts/setup-ubuntu.sh
  scripts/velox_env_linux.yml
  scripts/velox_env_mac.yml
  velox/dwio/dwrf/test/CMakeLists.txt
  velox/dwio/dwrf/writer/CMakeLists.txt
  velox/dwio/parquet/tests/reader/CMakeLists.txt
Due: none

refactor: Code refactor PlanBuilderTest#commitStrategyParameter (#13609)
  velox/exec/tests/PlanBuilderTest.cpp
Due: none

test
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeApiEndpointUtils.java
Due: run_native_specific_jobs

Avoid object creation when call replaceChildren for CteConsumerNode
  presto-spi/src/main/java/com/facebook/presto/spi/plan/CteConsumerNode.java
Due: none

Fall back to original plan if index join rewrite fails
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
Due: none

[native] Fix incorrect use of TestNG parameters in native-tests
  presto-native-tests/README.md
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
Due: none

feat: Add Spark unbase64 function (#13185)
  velox/common/encode/Base64.cpp
  velox/common/encode/Base64.h
  velox/common/encode/tests/Base64Test.cpp
  velox/docs/functions/spark/string.rst
  velox/functions/sparksql/String.h
  velox/functions/sparksql/UnBase64Function.h
  velox/functions/sparksql/registration/RegisterString.cpp
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/UnBase64Test.cpp
Due: none

[native] Add TestAggregations to native-tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOptimizeMixedDistinctAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestOptimizeMixedDistinctAggregations.java
Due: run_native_specific_jobs

Changed tests where the toggle useOrcColumnNames is used instead of sending in the boolean property as before. Closes-Issue: #24134
  presto-hive-common/src/test/java/com/facebook/presto/hive/TestHiveCommonClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
Due: none

[native] Fix testRemoveRedundantCastToVarcharInJoinClause
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
Due: run_native_specific_jobs

[native] Fix testScalarSubquery
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeIcebergTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
Due: run_native_specific_jobs

Add TestGeneralQueries to presto-native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

added code for nativeclusterrunnerwithsidecar and testcase
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerNativeQueryRunnerWithSidecar.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerNativeQueryRunnerWithSidecarUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerNativeClusterSidecarInfrastructure.java
  presto-server/src/main/provisio/presto.xml
Due: run_native_specific_jobs

build(macos): DuckDB on Apple Clang17 (#13598)
  CMake/resolve_dependency_modules/duckdb.cmake
  scripts/setup-macos.sh
Due: none

Removed incorrect property that failed test in TestHiveClientConfig
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Due: none

fix: Fix TableWriterArbitrationTest.reclaimFromTableWriter (#13730)
  velox/exec/tests/TableWriterTest.cpp
Due: none

misc(fuzzer): Add min_by/max_by to skip function list in window fuzzer when comparing result with Presto (#13729)
  velox/functions/prestosql/fuzzer/WindowFuzzerTest.cpp
Due: none

misc: Use unsigned integers in set/clearNull (#13103)
  velox/common/base/Nulls.h
Due: none

feat(gcs): Support rmdir operation in GcsFileSystem (#13533)
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.cpp
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.h
  velox/connectors/hive/storage_adapters/gcs/tests/GcsFileSystemTest.cpp
Due: none

docs: Fix typos in memory.rst (#13719)
  velox/docs/develop/memory.rst
Due: none

misc: Remove unused connector reference (#13629)
  velox/benchmarks/CMakeLists.txt
  velox/benchmarks/QueryBenchmarkBase.h
  velox/exec/CMakeLists.txt
Due: none

Add documentation for 24134-add-session-property-orc-use-column-names
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

Revert "Support native non-equal lookup join planning"
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
