Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Support Iceberg procedure `rewrite_data_files`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: run_linux_tests=false

[native] Relevant changes of presto protocol for iceberg
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

feat: Add findOrCreateBatchQueryCtx to query ctx manager (#26619)
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

feat: Impl sort key for LocalShuffleReader (#26620)
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.h
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
Due: run_native_specific_jobs

fix(analyzer): materialized view join filtering (#26630)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

refactor: use getVectorSerdeOptions() from OperatorUtils.h (#26358)
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
Due: run_native_specific_jobs

feat(native): Add exchange.max-buffer-size to system config
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

[presto] ensure txn hasn't detached before attempting to use
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

feat(functions): add REST client for remote function calls
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
Due: run_native_specific_jobs

test(functions): add mock REST server for remote function testing
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.h
Due: run_native_specific_jobs

feat(expr): integrate remote functions into expression evaluation
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RestFunctionHandleTest.cpp
Due: run_native_specific_jobs

feat(functions): implement remote function registration and execution
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.h
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.h
Due: run_native_specific_jobs

test(functions): add C++ unit tests for remote functions
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/RemoteFunctionRestTest.cpp
Due: run_native_specific_jobs

test(e2e): add container-based E2E tests for remote functions
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

build(docker): add remote function support to Docker configuration
  .gitignore
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

test(functions): add example remote function handlers
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteStrLenHandler.h
Due: run_native_specific_jobs

fix(native): Fix OS metrics to report cumulative values for AVG type
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
Due: run_native_specific_jobs

fix(native): Ensure txn hasn't been detached before attempting to use for http client
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Upgrade org.codehaus.mojo:extra-enforcer-rules version to 1.11.0
  pom.xml
Due: none

fix(deps): Fix CVE-2025-48924: Replace commons-lang with commons-lang3:3.18.0 (#26248)
  presto-accumulo/pom.xml
  presto-accumulo/src/main/java/com/facebook/presto/accumulo/index/Indexer.java
  presto-accumulo/src/main/java/com/facebook/presto/accumulo/io/AccumuloRecordCursor.java
  presto-accumulo/src/main/java/com/facebook/presto/accumulo/model/Row.java
  presto-pinot-toolkit/pom.xml
Due: none

Add optimizer rules for table functions.
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantTableFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveRedundantTableFunction.java
Due: none

Final analyzer/planner/optimizer changes for tvf except LocalExecutionPlanner and ExcludeColumns optimizer rule.
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Field.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SchedulingOrderVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/TableFunctionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ImplementTableFunctionSource.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteTableFunctionToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/QueryCardinalityUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/SimplePlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionProcessorMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestImplementTableFunctionSource.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/TableFunctionProcessorBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
Due: none

fix testAllMethodsOverridden
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorSplitManager.java
Due: none

Add table function sequence
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none

Rewrite exclude_columns table function into projection
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteExcludeColumnsFunctionToProjection.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/QueryCardinalityUtil.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteExcludeColumnsFunctionToProjection.java
Due: none

Rename ImplementTableFunctionSource to TransformTableFunctionToTableFunctionProcessor
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformTableFunctionToTableFunctionProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestTransformTableFunctionToTableFunctionProcessor.java
Due: none

Add table function exclude_columns
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/AbstractTestNativeFunctions.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
Due: none

refactor(native): Use getVectorSerdeOptions() from OperatorUtils.h (#26358)
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
Due: run_native_specific_jobs

fix: Fix Bearer authentication with Nessie catalog
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/nessie/IcebergNessieCatalogFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-testing-docker/pom.xml
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/KeycloakContainer.java
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/NessieContainer.java
Due: none

Convert d3Utils to typescript, format webpack config
  presto-ui/src/d3utils.ts
  presto-ui/src/webpack.config.js
Due: none

feat(native): Add exchange.max-buffer-size to system config (#26632)
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

fix(native): Ensure txn hasn't been detached before attempting to use… (#26633)
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Add lookup function capability in FunctionResolution
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestFunctionResolution.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
Due: none

Run remote function optimizer after logical connector optimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
Due: none

misc: Enable function resolution to resolve functions with full qualified name (#26640)
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestFunctionResolution.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
Due: none

Upgrade org.hibernate:hibernate-validator version to 8.0.3.Final
  presto-druid/pom.xml
Due: none

fix(native): Differentiate connector CPU and IO pool thread name
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Upgrade com.101tec:zkclient version to 0.11
  presto-kafka/pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
