Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

chore(build): Bump the release version for pos spark modules
  presto-spark-classloader-spark3/pom.xml
Due: none

[native] Relevant changes of presto protocol for distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

Refactor ProcedureRegistry to support distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ProcedureRegistry.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorDistributedProcedureHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorProcedureContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/IProcedureRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/Procedure.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCall.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCreation.java
Due: none

Analyze and plan for call distributed procedure statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/CallDistributedProcedureNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Refactor the connector SPI to expose procedure registry to connectors
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorContextInstance.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorContext.java
Due: none

Support and handle call distributed procedure statement in preparer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryPreparer.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/MetadataUtils.java
  presto-analyzer/src/test/java/com/facebook/presto/sql/analyzer/TestBuiltInQueryPreparer.java
  presto-common/src/main/java/com/facebook/presto/common/resourceGroups/QueryType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AnalyzerOptions.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TestProcedureRegistry.java
Due: none

Refactor Iceberg connector to support call distributed procedure
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CallDistributedProcedureSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDistributedProcedureHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

Support Iceberg procedure `rewrite_data_files`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: run_linux_tests=false

[native] Relevant changes of presto protocol for iceberg
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

feat(native): Add flow control configuration for http2 client (#26489)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
Due: run_native_specific_jobs

feat: Send "ensureConsistentRead" to Metastore API for all SELECT queries (#26474)
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
Due: none

[native] Support the execution of calling distributed procedures
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
Due: run_native_specific_jobs

fix: Rewrite CLP UDFs across full plan tree (#86)
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/optimization/ClpUdfRewriter.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpUdfRewriter.java
Due: none

chore(build): Bump the release version for pos spark modules (#26490)
  presto-spark-classloader-spark3/pom.xml
Due: none

feat(native): Add expression optimization endpoint in sidecar
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

feat(native): Add Velox to Presto expression converter
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/VeloxToPrestoExprTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/CallAndSpecialFormExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/ConstantExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/RowConstructorExpressionConversion.json
  presto-native-execution/presto_cpp/main/types/tests/data/VariableExpressionConversion.json
Due: run_native_specific_jobs

test(native): Add e2e tests for expression optimization endpoint
  presto-main-base/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeExpressionInterpreter.java
Due: run_native_specific_jobs

fix: Add P4HyperLogLog to NativeTypeManager (#26444)
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

fix: Fix flaky test BroadcastTest.endToEndWithMultipleWriteNodes (#26461)
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
Due: run_native_specific_jobs

feat: Add exchange.max-buffer-size to system config (#26488)
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

feat(functions) : Add support for REST based remote functions
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToRestFunctionExpr.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToRestFunctionExpr.h
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RestFunctionHandleTest.cpp
Due: run_native_specific_jobs

Revert "Upgrade logback-core"
  pom.xml
Due: none

Upgrade logback-core
  pom.xml
Due: none

feat(functions) : Add e2e test for remote functions
  .gitignore
  Jenkinsfile
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

Add SQL Support for MERGE INTO In Presto #20578 (engine)
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (engine)
  presto-common/src/main/java/com/facebook/presto/common/block/Block.java
  presto-common/src/main/java/com/facebook/presto/common/block/DictionaryBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/LazyBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/RunLengthEncodedBlock.java
  presto-common/src/main/java/com/facebook/presto/common/type/TinyintType.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (engine)
  presto-common/src/main/java/com/facebook/presto/common/Page.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeWriterOperator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/MergePartitioningHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/MergePage.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (engine)
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DeleteAndInsertMergeProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeRowChangeProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeWriterOperator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorMergeSink.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/MergePage.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (engine)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (engine-tests)
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestDeleteAndInsertMergeProcessor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneMergeSourceColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/test/java/com/facebook/presto/spi/connector/classloader/TestClassLoaderSafeWrappers.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (documentation)
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/merge.rst
Due: run_linux_tests=false

Add MaterializedViewScanNode
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViewPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/MetadataResolver.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/MaterializedViewScanNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
Due: none

CI fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

Code review comments
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViewPlanner.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
