Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Enhance presto router UI
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
  presto-router/src/main/resources/router_ui/assets/presto.css
  presto-router/src/main/resources/router_ui/dist/index.js
  presto-router/src/main/resources/router_ui/dist/index.js.LICENSE.txt
  presto-router/src/main/resources/router_ui/index.html
  presto-router/src/main/resources/router_ui/src/components/PageTitle.jsx
  presto-router/src/main/resources/router_ui/src/utils.js
  presto-router/src/main/resources/router_ui/src/yarn.lock
Due: none

feat: Add option to HiveDataSink to always create a file (#12331)
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/tests/HiveDataSinkTest.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.h
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
Due: none

Router config dynamic refresh
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ForClusterManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
Due: none

Remove synchronized access for bytesForTaskSerialization()
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
Due: none

WIP - Mixed case identifier support
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-common/src/main/java/com/facebook/presto/common/CatalogSchemaName.java
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
  presto-common/src/main/java/com/facebook/presto/common/type/BigintEnumType.java
  presto-main/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-main/src/main/java/com/facebook/presto/connector/system/NodeSystemTable.java
  presto-main/src/main/java/com/facebook/presto/connector/system/SystemTableHandle.java
  presto-main/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateSchemaTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main/src/main/java/com/facebook/presto/execution/DropColumnTask.java
  presto-main/src/main/java/com/facebook/presto/execution/DropSchemaTask.java
  presto-main/src/main/java/com/facebook/presto/execution/RenameColumnTask.java
  presto-main/src/main/java/com/facebook/presto/execution/RenameSchemaTask.java
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/CatalogMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main/src/main/java/com/facebook/presto/metadata/QualifiedTablePrefix.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DereferenceExpression.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/QualifiedName.java
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/SchemaTableName.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Lowercase column name in Columnmetadata
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnMetadata.java
Due: none

Add bootstrap icon to the vendor folder
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-ui/src/index.jsx
  presto-ui/src/static/dev/index.html
  presto-ui/src/static/embedded_plan.html
  presto-ui/src/static/index.html
  presto-ui/src/static/plan.html
  presto-ui/src/static/query.html
  presto-ui/src/static/res_groups.html
  presto-ui/src/static/sql_client.html
  presto-ui/src/static/stage.html
  presto-ui/src/static/timeline.html
  presto-ui/src/static/vendor/bootstrap/css/bootstrap-icons.min.css
  presto-ui/src/static/vendor/bootstrap/css/fonts/bootstrap-icons.woff
  presto-ui/src/static/vendor/bootstrap/css/fonts/bootstrap-icons.woff2
  presto-ui/src/static/worker.html
Due: none

fix: Timestamp toMicros should work for all timestamps fitting in bigint (#11774)
  velox/type/Timestamp.h
  velox/type/tests/TimestampTest.cpp
Due: none

feat: Support decimal type for Spark ceil function (#12056)
  velox/docs/functions/spark/decimal.rst
  velox/docs/functions/spark/math.rst
  velox/expression/fuzzer/SparkExpressionFuzzerTest.cpp
  velox/functions/sparksql/CMakeLists.txt
  velox/functions/sparksql/DecimalCeil.cpp
  velox/functions/sparksql/DecimalCeil.h
  velox/functions/sparksql/registration/RegisterMath.cpp
  velox/functions/sparksql/tests/DecimalArithmeticTest.cpp
Due: none

fixed view uuid type parsing
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Due: none

Support specification of node pool type to announcer
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/Announcer.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/AnnouncerTest.cpp
Due: run_native_specific_jobs

Add ConnectorDeleteTableHandle to support DELETEs
  presto-docs/src/main/sphinx/develop/delete-and-update.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduMetadata.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/TableWriteInfo.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/DeleteTableHandle.java
  presto-main/src/main/java/com/facebook/presto/metadata/DeleteTableHandleJacksonModule.java
  presto-main/src/main/java/com/facebook/presto/metadata/HandleJsonModule.java
  presto-main/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorDeleteTableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorHandleResolver.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorPageSinkProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorPageSinkProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: run_linux_tests=false

[Iceberg]Make the max threshold of loaded partitions configurable
  presto-hive-common/src/main/java/com/facebook/presto/hive/LazyLoadedPartitions.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/MetadataUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitionLoader.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/DiscretePredicates.java
  presto-spi/src/main/java/com/facebook/presto/spi/LazyIterable.java
Due: none

[Iceberg]Make partitions loading lazy to avoid unnecessary loading
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/LazyLoadedPartitions.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/MetadataUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitionLoader.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/DiscretePredicates.java
Due: none

[ToBeSquashed]Address ZacBlanco's comments - use `write.data.path` rather than `write_data_path`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTablesHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
Due: run_linux_tests=false

[ToBeSquashed]Address ZacBlanco's comments
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
Due: run_linux_tests=false

[Iceberg]Enable setting separate data write location on table creation
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTablesHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
Due: run_linux_tests=false

[ToBeSquashed]Address imjalpreet's comments
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
Due: none

[ToBeSquashed]Fix document
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

[ToBeSquashed]Fix problems introduced by rebase to latest commit list
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
Due: none

[ToBeSquashed]Address ZacBlanco's comments - Rename `iceberg.catalog.warehouse.datadir` to `iceberg.catalog.hadoop.warehouse.datadir`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
Due: run_linux_tests=false

[Iceberg]Support setting warehouse data directory for Hadoop catalog
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/container/IcebergMinIODataLake.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
Due: run_linux_tests=false

[ToBeSquashed]Address comments
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
Due: run_linux_tests=false

Update the error type for ARRAY_NULL_ELEMENT_MSG to INVALID_FUNCTION_ARGUMENT in order to suppress the error for try(map_keys_by_top_n_values ...) when the value is an array with null.
  presto-common/src/main/java/com/facebook/presto/common/type/TypeUtils.java
  presto-main/src/main/java/com/facebook/presto/type/TypeUtils.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

feat: Add support for registering components dynamically (#11439)
  velox/common/dynamic_registry/CMakeLists.txt
  velox/common/dynamic_registry/DynamicLibraryLoader.cpp
  velox/common/dynamic_registry/DynamicLibraryLoader.h
  velox/common/dynamic_registry/DynamicUdf.h
  velox/common/dynamic_registry/README.md
  velox/common/dynamic_registry/tests/CMakeLists.txt
  velox/common/dynamic_registry/tests/DynamicErrFunction.cpp
  velox/common/dynamic_registry/tests/DynamicFunction.cpp
  velox/common/dynamic_registry/tests/DynamicIntFunctionOverload.cpp
  velox/common/dynamic_registry/tests/DynamicIntFunctionOverwrite.cpp
  velox/common/dynamic_registry/tests/DynamicLinkTest.cpp
  velox/common/dynamic_registry/tests/DynamicVarcharFunctionOverload.cpp
  velox/common/dynamic_registry/tests/DynamicVarcharFunctionOverwrite.cpp
  velox/docs/develop.rst
  velox/docs/develop/dynamic-loading.rst
Due: none

fix(iceberg): Date partition value parse issue (#12126)
  velox/connectors/hive/HiveConnectorUtil.cpp
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/TableHandle.h
  velox/connectors/hive/iceberg/tests/IcebergReadTest.cpp
Due: none

add mysql compatible function bit_length
  presto-docs/src/main/sphinx/functions/string.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
Due: run_linux_tests=false

[Iceberg]Support renaming table on hive file catalog
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

feat(python): Register TPC-H connector (#12318)
  velox/py/CMakeLists.txt
  velox/py/runner/PyConnectors.cpp
  velox/py/runner/PyConnectors.h
  velox/py/runner/PyLocalRunner.cpp
  velox/py/runner/PyLocalRunner.h
  velox/py/runner/runner.cpp
  velox/py/runner/runner.pyi
  velox/py/tests/test_runner.py
Due: none

fix: Fix aggregate result error while use gcc11 compile with O2 optim… (#12176)
  velox/dwio/common/DecoderUtil.h
  velox/dwio/parquet/tests/examples/gcc_data_diff.parquet
  velox/dwio/parquet/tests/reader/ParquetTableScanTest.cpp
Due: none

[Parquet]Close and re-create ValuesWriters after row group flush
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ArrayColumnWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ColumnWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/MapColumnWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriters.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/PrimitiveColumnWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/StructColumnWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/BigintValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/BooleanValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/CharValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/DateValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/DecimalValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/DoubleValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/IntegerValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/PrimitiveValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/RealValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimeValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimestampValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimestampWithTimezoneValueWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/UuidValuesWriter.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/writer/TestParquetWriter.java
Due: none

fix: Fix unused-value issue in velox/dwio/dwrf/test/WriterContextTest.cpp +2
  velox/dwio/dwrf/test/WriterContextTest.cpp
  velox/exec/benchmarks/WindowPrefixSortBenchmark.cpp
Due: none

added documentation for sum-if function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Due: run_linux_tests=false

Add equals method to access control context
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControlContext.java
Due: none

Upgrade io.grpc library to 1.70.0
  pom.xml
  presto-bigquery/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Due: none

Upgrade Jansi dependency to 2.4.1
  pom.xml
  presto-cli/src/main/java/com/facebook/presto/cli/KeyReader.java
Due: none

Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  docker/entrypoint.sh
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

Update test framework
  .gitignore
  docker/Dockerfile
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs
