Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix undefined iceberg* symbols
  presto-native-execution/presto_cpp/main/tool/trace/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

fix(docs): Update link in Hudi documentation to RFC-44 (#27092)
  presto-docs/src/main/sphinx/connector/hudi.rst
Due: run_linux_tests=false

Address review feedback
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRestMaterializedViews.java
Due: none

Add integration and join associativity
  .claude/settings.local.json
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RustCascadeOptimizer.java
  presto-optimizer-rs/README.md
  presto-optimizer-rs/crates/optx-core/src/rule.rs
  presto-optimizer-rs/crates/optx-core/src/search.rs
  presto-optimizer-rs/crates/optx-core/tests/join_ordering.rs
  presto-optimizer-rs/crates/optx-rules/src/enforcer.rs
  presto-optimizer-rs/crates/optx-rules/src/impl_agg.rs
  presto-optimizer-rs/crates/optx-rules/src/impl_join.rs
  presto-optimizer-rs/crates/optx-rules/src/impl_scan.rs
  presto-optimizer-rs/crates/optx-rules/src/join_associativity.rs
  presto-optimizer-rs/crates/optx-rules/src/join_commutativity.rs
  presto-optimizer-rs/crates/optx-rules/src/lib.rs
  presto-optimizer-rs/crates/optx-rules/src/predicate_pushdown.rs
  presto-optimizer-rs/crates/optx-rules/src/projection_pushdown.rs
  presto-optimizer-rs/crates/optx-server/src/join_graph.rs
  presto-optimizer-rs/crates/optx-server/src/main.rs
Due: none

feat: Add Java integration test and fix cycle edge handling
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RustCascadeOptimizer.java
  presto-optimizer-rs/README.md
  presto-optimizer-rs/crates/optx-server/src/join_graph.rs
  presto-optimizer-rs/crates/optx-server/src/main.rs
  presto-tests/src/test/java/com/facebook/presto/tests/TestRustCascadeOptimizer.java
Due: none

chore: Update airlift to 0.266 version
  pom.xml
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

test: Add end to end test for key_sampling_percent
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

feat: Add CUBE limitation in Presto docs
  presto-docs/src/main/sphinx/sql/select.rst
Due: run_linux_tests=false

fix(plugin-cassandra) : Drop stale tables if table creation process fails
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraConnector.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraTransactionHandle.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
Due: none

Enable view querying with Mongo connector
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Due: none

test(native): Add AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

Add support for complex types
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowBatchSource.java
Due: none

feat(cassandra-connector): Adds support for Astra DB (#26762)
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraClientModuleTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

Add session property `try_function_catchable_errors`
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs

Add Iceberg symbols to PrestoToVeloxConnectorTest
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

work on cli
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthentication.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthenticator.java
  presto-docs/src/main/sphinx/security/oauth2.rst
  presto-main/etc/config.properties
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/OAuth2Authenticator.java
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/OAuth2Config.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestDualAuthenticationFilterWithOAuth.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestOAuth2Config.java
Due: run_linux_tests=false

chore(ci): Advance velox (#27095)
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

misc(native): Minor warnings fixes
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h
  presto-native-execution/presto_cpp/main/http/filters/StatsFilter.h
Due: run_native_specific_jobs

[presto] Decouple HttpServer and HttpClient from SystemConfig singleton (#27104)
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/HttpServerWrapper.cpp
Due: run_native_specific_jobs

misc(native): Minor warning fixes (#27102)
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h
  presto-native-execution/presto_cpp/main/http/filters/StatsFilter.h
Due: run_native_specific_jobs

feat: Add CUBE limitation in Presto docs (#27098)
  presto-docs/src/main/sphinx/sql/select.rst
Due: run_linux_tests=false

[presto] Decouple HttpServer and HttpClient from SystemConfig singleton
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/HttpClientOptions.h
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
  presto-native-execution/presto_cpp/main/http/HttpServerStartupOptions.h
  presto-native-execution/presto_cpp/main/http/JwtOptions.h
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/HttpServerWrapper.cpp
Due: run_native_specific_jobs

chore(build): Cleanup disk space in arrow-flight-tests
  .github/workflows/arrow-flight-tests.yml
Due: none

misc(native): Decouple HttpServer and HttpClient from SystemConfig singleton (#27104)
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/HttpClientOptions.h
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
  presto-native-execution/presto_cpp/main/http/HttpServerStartupOptions.h
  presto-native-execution/presto_cpp/main/http/JwtOptions.h
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/HttpServerWrapper.cpp
Due: run_native_specific_jobs

feat(plugin-iceberg): Add DDL statements for CREATE BRANCH (#26898)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergCreateBranch.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateBranchTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/StatsRecordingSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateBranch.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: run_linux_tests=false

chore(build): Cleanup disk space in arrow-flight-tests (#27106)
  .github/workflows/arrow-flight-tests.yml
Due: none

docs(native): Add runtime metrics documentation
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
Due: run_linux_tests=false

docs: Add scale-writers property documentation
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

feat(connector): Add comprehensive JMX metrics for metadata operations (#26875)
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/jmx-metrics.rst
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestMetadataManagerStats.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestStatsRecordingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/ForMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataStatsModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestMetadataStatsModule.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeJmxMetadataMetrics.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestNativeIcebergJmxMetadataMetrics.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestMetadataManager.java
Due: run_native_specific_jobs, run_linux_tests=false

Update metrics.rst
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
Due: run_linux_tests=false

Title overline too short
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
Due: run_linux_tests=false

Add createBranch method implementation in StatsRecordingMetadataManager
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
Due: none
