Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

feat: Add native TextReader (#13741)
  velox/dwio/common/InputStream.h
  velox/dwio/text/TextReader.cpp
  velox/dwio/text/TextReader.h
  velox/dwio/text/reader/CMakeLists.txt
  velox/dwio/text/reader/ReaderBase.cpp
  velox/dwio/text/reader/ReaderBase.h
  velox/dwio/text/reader/TextReaderImpl.cpp
  velox/dwio/text/reader/TextReaderImpl.h
  velox/dwio/text/tests/reader/TextReaderTest.cpp
  velox/dwio/text/tests/reader/examples/custom_delimiters_file
  velox/dwio/text/tests/reader/examples/empty.gz
  velox/dwio/text/tests/reader/examples/more_simple_types
  velox/dwio/text/tests/reader/examples/simple_types
  velox/dwio/text/tests/reader/examples/simple_types_10_bytes_per_row
  velox/dwio/text/tests/reader/examples/simple_types_compressed_file.gz
  velox/dwio/text/tests/reader/examples/simple_types_with_header
Due: none

fix: Ensure json_extract handles invalid json during parsing (part 2) (#13766)
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/JsonFunctions.cpp
  velox/functions/prestosql/json/SIMDJsonExtractor.h
  velox/functions/prestosql/tests/JsonFunctionsTest.cpp
Due: none

Add release notes for 0.293
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.293.rst
Due: run_linux_tests=false

Introduce IcebergPartitionField
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitionField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionSpecConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransformType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoIcebergPartitionSpec.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionFields.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionSpecConverter.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
Due: run_native_specific_jobs

Add dummy class to deploy presto-native-tests module
  presto-native-tests/src/main/java/com/facebook/presto/nativetests/Dummy.java
Due: none

[native] Advance Velox
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
Due: run_native_specific_jobs

fix: Reduce the table scan metrics monitoring cost in some ai use cases (#13773)
  velox/common/base/Counters.cpp
  velox/docs/monitoring/metrics.rst
Due: none

optimize APPROX_DISTINCT operations on constant conditional values (#25262)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ReplaceConditionalApproxDistinct.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/AggregationFunctionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReplaceConditionalApproxDistinct.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestApproxDistinctOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Add support for handling multiple rows in function server
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
Due: none

Add runtime stats metrics for subcomponent in Optimizer
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/sql/Optimizer.java
Due: none

fix: Fix QuantileDigest malformed tree structure (#13772)
  velox/functions/lib/QuantileDigest.h
Due: none

[Iceberg] Fix querying data_sequence_number with equality deletes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

[native] Add header proxygen::HTTP_HEADER_HOST to PrestoExchangeSource
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Due: run_native_specific_jobs

feat: Remove query_id check in TraceReplayerRunner (#13723)
  velox/tool/trace/TraceReplayRunner.cpp
Due: none

Upgrade kafka version to 3.9.1 in response to CVE-2025-27817
  pom.xml
Due: none

Allow different namespaces in builtin function namespace manager
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/annotations/ScalarImplementationHeader.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionNamespace.java
  presto-tests/src/main/java/com/facebook/presto/tests/function/TestFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/function/TestScalarFunctions.java
Due: none

Add dummy class to deploy presto-native-tests module (#25328)
  presto-native-tests/src/main/java/com/facebook/presto/nativetests/Dummy.java
Due: none

Migrate the io.airlift:resolver to com.facebook.airlift.resolver:resolver:1.7
  pom.xml
  presto-cassandra/pom.xml
  presto-function-server/pom.xml
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionPluginManager.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/server/PluginDiscovery.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestPluginManagerConfig.java
  presto-native-execution/pom.xml
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
  presto-spark-testing/pom.xml
Due: run_native_specific_jobs

Add CLP connector
  pom.xml
  presto-clp/pom.xml
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpColumnHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConfig.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnector.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnectorFactory.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpErrorCode.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpExpression.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpFilterToKqlConverter.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpHandleResolver.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadata.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpModule.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizer.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizerProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlugin.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplit.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplitManager.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableLayoutHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTransactionHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMySqlMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpNodeType.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpSchemaTree.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpMySqlSplitProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpSplitProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpMetadata.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpPlanOptimizer.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpQueryBase.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpSplit.java
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/clp.rst
  presto-server/src/main/provisio/presto.xml
Due: run_linux_tests=false

apply review suggestions
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizer.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplit.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplitManager.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableLayoutHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpMySqlSplitProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpSplit.java
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

Add a dummy ClpRecordSetProvider implementation and fix ClpMySqlMetadataProvider and ClpMySqlSplitProvider
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnector.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpModule.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpRecordSetProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMySqlMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpMySqlSplitProvider.java
Due: none

Fixed incorrect configuration options
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConfig.java
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

Fixed several bugs and improved robustness; removed the CLP plan optimizer and unit tests for a future PR
  presto-clp/pom.xml
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpColumnHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConfig.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnector.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpFilterToKqlConverter.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadata.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizer.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizerProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpRecordSetProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplit.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableLayoutHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMySqlMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpSchemaTree.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpMySqlSplitProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpMetadata.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpPlanOptimizer.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpQueryBase.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpSplit.java
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

[native]: Add warning when environment variables are used in build
  presto-native-execution/Makefile
Due: run_native_specific_jobs

Add presto-native-sidecar plugin to Provisio plugin
  presto-server/src/main/provisio/presto.xml
Due: none

fix(noisy_count_if): Fix logic errors in repartition workflows (#13770)
  velox/functions/prestosql/aggregates/NoisyCountIfGaussianAggregate.cpp
Due: none

Add native memory pool reclaimer property (#25325)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Fixed several issues and refactored the test files
  presto-clp/pom.xml
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpColumnHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpExpression.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadata.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplit.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpSchemaTree.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/ClpMetadataDbSetUp.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpMetadata.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpSplit.java
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

refactor: Enhance RowComparator for rank function comparisons (#13264)
  velox/exec/RowContainer.cpp
  velox/exec/RowContainer.h
  velox/exec/TopNRowNumber.cpp
  velox/exec/TopNRowNumber.h
Due: none

[native] changes in ProtocolToThrift files based on IDL change (#25308)
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/special/HostAddress.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/TimeZoneKey.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
Due: run_native_specific_jobs

Add x509 certificate to query integrity check
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/accesscontrol/PrestoSparkAccessControlCheckerExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkTaskExecutorFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Increase readBatchSize when the last batch is empty in TableScan (#13626)
  velox/exec/OperatorUtils.cpp
  velox/exec/TableScan.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/TableScanTest.cpp
Due: none

refactor: Setup scripts Part:2 (#13466)
  .pre-commit-config.yaml
  scripts/docker/docker-command.sh
  scripts/docker/pyvelox.dockerfile
  scripts/info.sh
  scripts/setup-centos9.sh
  scripts/setup-classpath.sh
  scripts/setup-common.sh
  scripts/setup-helper-functions.sh
  scripts/setup-macos.sh
  scripts/setup-manylinux.sh
  scripts/setup-ubuntu.sh
  scripts/setup-versions.sh
  scripts/tests/TestFramework.sh
  scripts/tests/test_LicenseHeader.sh
  velox/experimental/wave/jit/make_headers.sh
Due: none

Bind PlanCheckerRouterPluginScheduler and fix META-INF/services/ file in presto-plan-checker-router-plugin
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginModule.java
  presto-plan-checker-router-plugin/src/main/resources/META-INF/services/com.facebook.presto.spi.RouterPlugin
Due: none

Fix confusing word for task state
  presto-ui/src/components/QueryOverview.jsx
Due: none
