Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Review comments.
  presto-client/src/main/java/com/facebook/presto/client/okhttp3/internal/tls/DistinguishedNameParser.java
  presto-client/src/main/java/com/facebook/presto/client/okhttp3/internal/tls/LegacyHostnameVerifier.java
  presto-common/src/main/java/com/facebook/presto/common/TelemetryConfig.java
  presto-common/src/main/java/com/facebook/presto/common/TracingConfig.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/telemetry/TelemetryModule.java
  presto-main/src/main/java/com/facebook/presto/telemetry/TelemetryResource.java
  presto-main/src/main/java/com/facebook/presto/telemetry/TelemetryTracingImpl.java
  presto-main/src/main/java/com/facebook/presto/telemetry/TracingManager.java
  presto-open-telemetry/src/main/java/com/facebook/presto/opentelemetry/OpenTelemetryTracingImpl.java
  presto-open-telemetry/src/main/java/com/facebook/presto/opentelemetry/TextMapGetterImpl.java
  presto-open-telemetry/src/main/java/com/facebook/presto/opentelemetry/tracing/OpenTelemetryFactoryImpl.java
  presto-open-telemetry/src/main/java/com/facebook/presto/opentelemetry/tracing/ScopedSpan.java
  presto-open-telemetry/src/main/java/com/facebook/presto/opentelemetry/tracing/TracingSpan.java
  presto-open-telemetry/src/main/java/com/facebook/presto/plugin/opentelemetry/OpenTelemetryPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/telemetry/BaseSpan.java
  presto-spi/src/main/java/com/facebook/presto/spi/telemetry/TelemetryFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/telemetry/TelemetryTracing.java
Due: none

Update json_extract to produce canonicalized output
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
Due: none

refactor: add compression codec
  presto-main/src/main/java/com/facebook/presto/CompressionCodec.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PagesSerdeFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/FileFragmentResultCacheConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/FileFragmentResultCacheManager.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/spiller/NodeSpillConfig.java
  presto-main/src/main/java/com/facebook/presto/spiller/TempStorageSingleStreamSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/spiller/TempStorageStandaloneSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/HttpRemoteSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestingPagesSerdeFactory.java
  presto-main/src/test/java/com/facebook/presto/operator/TestFileFragmentResultCacheConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/TestOptimizedPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/spiller/BenchmarkBinaryFileSpiller.java
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestBinaryFileSpiller.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestFileSingleStreamSpiller.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestFileSingleStreamSpillerFactory.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestNodeSpillConfig.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestTempStorageSingleStreamSpiller.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Complete adding operators
  presto-common/src/main/java/com/facebook/presto/common/Page.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBuffer.java
  presto-main/src/main/java/com/facebook/presto/operator/PagesIndex.java
  presto-main/src/main/java/com/facebook/presto/operator/function/RegularTableFunctionPartition.java
  presto-main/src/main/java/com/facebook/presto/operator/function/TableFunctionOperator.java
Due: none

build(cmake): Change FetchContent name of `gtest` to `googletest` as `gtest_SOURCE_DIR` is used internally by googletest (#12430)
  CMake/resolve_dependency_modules/gtest.cmake
  CMakeLists.txt
Due: none

Add overflow detection to IntervalYearMonthOperators
  presto-main/src/main/java/com/facebook/presto/type/IntervalYearMonthOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestIntervalYearMonth.java
Due: none

Consolidate Presto CLI documentation on clients/presto-cli.rst page
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/presto-cli.rst
  presto-docs/src/main/sphinx/connector/kafka-tutorial.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/cli.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
  presto-docs/src/main/sphinx/release/release-0.54.rst
  presto-docs/src/main/sphinx/release/release-0.60.rst
  presto-docs/src/main/sphinx/security/cli.rst
Due: run_linux_tests=false

changes
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteState.java
  presto-router/src/test/java/com/facebook/presto/router/TestHealthChecks.java
Due: none

Add manifest caching to iceberg connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsCachedInputFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsFileIO.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsInputFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCache.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCacheKey.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCachedContent.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestRemoveOrphanFilesProcedureHive.java
Due: run_linux_tests=false

[Iceberg] Enable affinity scheduling on file sections
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonClientConfig.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonSessionProperties.java
  presto-hive-common/src/test/java/com/facebook/presto/hive/TestHiveCommonClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
Due: run_linux_tests=false

Added all files except tests
  presto-main/src/main/java/com/facebook/presto/split/SplitManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorSplitManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorSplitManager.java
Due: none

Remove SchemaFuncitonName and use ConnectorTableFunctionHandle
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/operator/function/LeafTableFunctionOperator.java
  presto-main/src/main/java/com/facebook/presto/split/SplitManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorSplitManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorSplitManager.java
Due: none

build: remove decl+set of unused variable (#12435)
  velox/core/PlanNode.cpp
Due: none

build: fix llvm-19-exposed -Wmissing-template-arg-list-after-template-kw warning (#12433)
  velox/exec/VectorHasher.h
Due: none

build: fix the remaining llvm-19-exposed -Wmissing-template-arg-list-after-template-kw warnings (#12434)
  velox/expression/CastExpr-inl.h
  velox/expression/EvalCtx.h
  velox/functions/lib/aggregates/DecimalAggregate.h
  velox/functions/lib/aggregates/SimpleNumericAggregate.h
  velox/vector/SimpleVector.h
Due: none

Add a native type manager
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeManager.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestingTypeManager.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestingTypeManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManagerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManagerModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/sessionpropertyproviders/TestNativeSystemSessionPropertyProviderConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/TypeManagerContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/TypeManagerFactory.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Add UnknownTypeException and an error code UNKNOWN_TYPE
  presto-main/src/main/java/com/facebook/presto/UnknownTypeException.java
  presto-main/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main/src/test/java/com/facebook/presto/type/TestBuiltInTypeRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: none

Move Java page to Clients menu and fix references
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/java.rst
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/release/release-0.272.rst
  presto-docs/src/main/sphinx/release/release-0.57.rst
  presto-docs/src/main/sphinx/release/release-0.90.rst
Due: run_linux_tests=false

[native] Fix custom type headers in unit tests
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
Due: run_native_specific_jobs

Add documentation for cache configuration properties
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

Disable most tests
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  .github/workflows/web-ui-checks.yml
Due: none

Fix CI test pipeline: presto-hive -P test-hive-parquet
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
Due: none

[native] Add LinuxMemoryChecker check/warning to ensure system-mem-limit-gb is reasonably set
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/tests/LinuxMemoryCheckerTest.cpp
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV1memory.stat
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV2memory.stat
Due: run_native_specific_jobs, run_linux_tests=false

Enable presto-hive test profiles
  .github/workflows/tests.yml
Due: none

[Iceberg]Enable setting separate data write location on table creation
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: run_linux_tests=false

feat: Add Spark from_json function (#11709)
  velox/docs/functions/spark/json.rst
  velox/functions/sparksql/registration/RegisterSpecialForm.cpp
  velox/functions/sparksql/specialforms/CMakeLists.txt
  velox/functions/sparksql/specialforms/FromJson.cpp
  velox/functions/sparksql/specialforms/FromJson.h
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/FromJsonTest.cpp
Due: none

[Iceberg]Support setting warehouse data directory for Hadoop catalog
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTablesHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/container/IcebergMinIODataLake.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
Due: run_linux_tests=false

[Iceberg]Refactor validation for `SHOW CREATE TABLE` for relevant tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: none

Fixed errors
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizerFactory.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizerProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/NativeExpressionUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionOptimizer.java
Due: run_native_specific_jobs

misc(fuzzer): Add stats about verification against reference DB in expression fuzzer (#12383)
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
  velox/expression/tests/ExpressionVerifier.cpp
  velox/expression/tests/ExpressionVerifier.h
Due: none

Refactor log4j-core and log4j-api dependencies out of root POM
  pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
Due: none

fix: Use dequeue to track WindowPartitions in RowStreamingWindowBuild (#11077)
  velox/exec/RowsStreamingWindowBuild.cpp
  velox/exec/RowsStreamingWindowBuild.h
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
