Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[native] Add support for ORC reader and add orc native tests
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesOrcUsingJSON.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesOrcUsingThrift.java
Due: run_native_specific_jobs, run_linux_tests=false

[Iceberg] Session property for target split size
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetTablePropertyProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: run_linux_tests=false

Arrow Flight module - do not bind class to itself (#24540)
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowModule.java
Due: none

[Iceberg]Support renaming table on hive file catalog
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

Update stage navigation to match selected plan event
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

Added data sanitization to queryId and nodeId, along with encodeURIComponent to queryId & nodeId.
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
Due: none

Add forConnectorId method to ConnectorSession
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
Due: none

Add `Join PrestoDB on Slack` link on doc pages
  presto-docs/src/main/sphinx/_templates/partials/toc.html
Due: run_linux_tests=false

Add documentation for file-based metastore
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/file-based-metastore.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
Due: run_linux_tests=false

fix(dependencies): switch from dagre-d3 to dagre-d3-es
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

fixed view uuid type parsing
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Due: none

Fix duplicate TABLE_TYPE listing for view from system.jdbc.tables
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/connector/system/jdbc/TableJdbcTable.java
Due: none

Check if event ID exists before processing and prevent child events
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/static/assets/presto.css
Due: none

Fix GH Actions for doc-only PR
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/tests.yml
Due: none

Make event loop thread number configurable
  presto-main/src/main/java/com/facebook/presto/execution/QueryManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryManagerConfig.java
Due: none

Add support to disable task update size tracking
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
Due: none

Record http client transaction create delay time
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Upgrade log4j-core and log4j-api dependencies
  pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
Due: none

Remove synchronization for updateFinalTaskInfo()
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
Due: none

Fix enhanced_scheduling_property name
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Due: none

Add Exchange before GroupId to improve Partial Aggregation
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/TaskCountEstimator.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/AddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/GroupIdNode.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalAddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ExchangeMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestAddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: none

Fix failing variadic functions when sidecar is enabled
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Due: none

Upgrade org.apache.ratis dependency to address CVE-2020-15250
  pom.xml
  presto-tests/pom.xml
Due: none

Add registerProperty back for fbcode usage (#24653)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Move Java page to Clients menu and fix references
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/java.rst
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/release/release-0.272.rst
  presto-docs/src/main/sphinx/release/release-0.57.rst
  presto-docs/src/main/sphinx/release/release-0.90.rst
Due: run_linux_tests=false

Add native prefix to hive session property
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
Due: none

[native] Include storageParameters in HiveConnectorSplit
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

[Iceberg] rename "target_split_size" to "target_split_size_bytes"
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
Due: run_linux_tests=false

Move Tableau page to Clients menu
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/tableau.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/release/release-0.126.rst
  presto-docs/src/main/sphinx/release/release-0.151.rst
Due: run_linux_tests=false

Upgrade libthrift to 0.14.1 due CVE-2020-13949
  pom.xml
  presto-accumulo/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/Transport.java
  presto-hive/src/main/java/com/facebook/presto/hive/authentication/KerberosHiveMetastoreAuthentication.java
Due: none

Add tracking of analysis time
  presto-main/src/main/java/com/facebook/presto/execution/QueryManagerStats.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Due: none

[native] Fix presto_cpp includes (#24625)
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Improve boostrap log to expose the wrong classLoader (#24533)
  presto-main/src/main/java/com/facebook/presto/sql/gen/Bootstrap.java
Due: none

Revert "Assign event loop to tasks and run methods from a task in the same event loop"
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
Due: none

[Iceberg]Enable setting separate data write location on table creation
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: run_linux_tests=false
