Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Enable case-senstive identifer support for Kafka connector
  presto-docs/src/main/sphinx/connector/kafka.rst
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaConnectorConfig.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaMetadata.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/KafkaQueryRunner.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaConnectorConfig.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaDistributed.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaIntegrationMixedCase.java
Due: run_linux_tests=false

[native] feat: Change storage stats to per call instead per driver
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
Due: run_native_specific_jobs

Free more space for product-tests-specific-environment2
  .github/workflows/product-tests-specific-environment.yml
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (parser)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Merge.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeCase.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeInsert.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeUpdate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
Due: none

Fix iceberg mixed case column names query error
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Fix constant folding for SpecialFormExpression and LambdaDefinitionExpression in sidecar enabled clusters
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

[native] Add TPCDS PrestoToVeloxConnector
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsConnectorQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsConnectorQueries.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsSplitManager.java
Due: run_native_specific_jobs, run_linux_tests=false

[native] Update protocol
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/TpcdsConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-cpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
Due: run_native_specific_jobs

[presissimo]refactor: used estimateFlatSize instead of BaseVector::inMemoryBytes API
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
Due: run_native_specific_jobs

[pos] Refactor catalog config to be inside NativeExecutionConfigModule
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkServiceFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionCatalogConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionConfigModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/PrestoSparkWorkerProperty.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkConfiguration.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkClientOptions.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkDistribution.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkLauncherCommand.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
Due: run_native_specific_jobs

Fix lambda return type coercion
  presto-main-base/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

[presto] Add session properties for small batch size mitigation (#26087)
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

Analysis for table and descriptor arguments.
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgument.java
Due: none

Add scalar function tests to native-tests
  pom.xml
  presto-hive/pom.xml
  presto-i18n-functions/pom.xml
  presto-iceberg/pom.xml
  presto-main-base/pom.xml
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/AbstractTestFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestArraySortFunction.java
  presto-main-tests/pom.xml
  presto-main-tests/src/main/java/com/facebook/presto/tests/operator/scalar/AbstractTestArrayExcept.java
  presto-main-tests/src/main/java/com/facebook/presto/tests/operator/scalar/AbstractTestArraySort.java
  presto-main-tests/src/main/java/com/facebook/presto/tests/operator/scalar/TestFunctions.java
  presto-ml/pom.xml
  presto-native-execution/pom.xml
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/AbstractTestNativeFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/TestArrayExceptFunction.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/TestArraySortFunction.java
  presto-pinot/pom.xml
  presto-teradata-functions/pom.xml
Due: run_native_specific_jobs

Add action and documentation for semantic commits
  .github/workflows/conventional-commit-check.yml
  CONTRIBUTING.md
Due: none

Remove deprecated comments from TableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/TableHandle.java
Due: none

feat: WIP Add probe/build geometries and radius as members of SpatialJoinNode (#25998)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSpatialJoins.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-spi/src/main/java/com/facebook/presto/spi/plan/SpatialJoinNode.java
Due: run_native_specific_jobs

Allow semantic exception during function resolution
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
Due: run_native_specific_jobs

[native] Enable use_velox_geospatial_join flag
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

Add E2E testing for Dynamic Functions.
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/CMakeLists.txt
  presto-native-tests/Makefile
  presto-native-tests/presto_cpp/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
Due: run_native_specific_jobs

Revert "Implement case-insensitive name matching for Druid"
  presto-docs/src/main/sphinx/connector/druid.rst
  presto-druid/pom.xml
  presto-druid/src/main/java/com/facebook/presto/druid/DruidClient.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidConfig.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidErrorCode.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidMetadata.java
  presto-druid/src/test/java/com/facebook/presto/druid/DruidQueryRunner.java
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidConfig.java
Due: run_linux_tests=false

Add support for case-sensitive identifier in druid connector
  presto-docs/src/main/sphinx/connector/druid.rst
  presto-druid/src/main/java/com/facebook/presto/druid/DruidConfig.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidMetadata.java
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidConfig.java
Due: run_linux_tests=false

Fix druid read when column key has null values
  presto-druid/src/main/java/com/facebook/presto/druid/DruidBrokerPageSource.java
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidPageSourceNullHandling.java
Due: none

Refactor ClickHouseClient and remove unused code
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseClient.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseMetadata.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseRecordCursor.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseSplitManager.java
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickHouseDistributedQueries.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled for Oracle connector
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Add quotes to column names for renameColumn and dropColumn in BaseJdbcClient
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

refactor: Move the Hive-specific properties from common to presto-hive
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonClientConfig.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonSessionProperties.java
  presto-hive-common/src/test/java/com/facebook/presto/hive/TestHiveCommonClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfAggregatedPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcAggregatedPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/ParquetTester.java
Due: none

Allow semantic exception during function resolution (#26158)
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
Due: run_native_specific_jobs

Allow semantic exception during function resolution (#26158)
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestBuiltInNativeFunctions.java
Due: run_native_specific_jobs

Fix connector.name in document
  presto-docs/src/main/sphinx/installation/deployment.rst
Due: run_linux_tests=false

[native] Fix incorrect initialization of empty 'folly::Promise' object
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
Due: run_native_specific_jobs

refactor(iceberg): Remove unnecessary column type translation method
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Due: none
