Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

added certs to the commit
  presto-function-server/src/test/resources/certs/ca/ca.crt
  presto-function-server/src/test/resources/certs/coordinator/coordinator-keystore.jks
  presto-function-server/src/test/resources/certs/function-server/function-server-keystore.jks
  presto-function-server/src/test/resources/certs/function-server/invalid-keystore.jks
  presto-function-server/src/test/resources/certs/truststore.jks
  presto-function-server/src/test/resources/certs/worker/worker-combined.pem
  presto-function-server/src/test/resources/certs/worker/worker-keystore.jks
  presto-function-server/src/test/resources/certs/worker/worker.crt
  presto-function-server/src/test/resources/certs/worker/worker.key
Due: none

modified according to sourcery comments
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthOnJavaCluster.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthOnNativeCluster.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthOnOnlyCoordinator.java
Due: none

addressed second set of review comments
  presto-function-server/pom.xml
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionServer.java
  presto-function-server/src/test/java/com/facebook/presto/tests/utils/FnServerAuthTestUtils.java
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthOnNativeCluster.java
Due: none

updated hashmap to use CopyOf
  presto-function-server/src/test/java/com/facebook/presto/server/TestingFunctionServer.java
Due: none

added new https tests related to sni changes
  presto-native-execution/presto_cpp/main/functions/remote/tests/RestRemoteClientTest.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
Due: run_native_specific_jobs

added debug log lines
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

fixed clang format errors
  presto-native-execution/presto_cpp/main/functions/remote/tests/RestRemoteClientTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
Due: run_native_specific_jobs

fixed more clang format errors
  presto-native-execution/presto_cpp/main/functions/remote/tests/RestRemoteClientTest.cpp
Due: run_native_specific_jobs

restructured function-server tests
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-function-server/src/test/java/com/facebook/presto/tests/AbstractTestFnServerAuth.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthOnJavaCluster.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthWithMtlsAndJwtOnJavaCluster.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestFnServerAuthWithMtlsOnlyOnJavaCluster.java
  presto-function-server/src/test/java/com/facebook/presto/tests/utils/FnServerAuthTestUtils.java
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/RestRemoteClientTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsAndJwtOnNativeCluster.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsOnlyOnNativeCluster.java
Due: run_native_specific_jobs, run_linux_tests=false

added code to include host header when not set
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

refined code structure and removed redundant lines
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-function-server/pom.xml
  presto-function-server/src/test/java/com/facebook/presto/tests/AbstractTestFnServerAuth.java
  presto-function-server/src/test/java/com/facebook/presto/tests/utils/FnServerAuthTestUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthOnNativeCluster.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: run_native_specific_jobs, run_linux_tests=false

added support to include SNI in native-worker
  presto-native-execution/presto_cpp/main/functions/remote/tests/RestRemoteClientTest.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerMtlsRemoteFunction.java
Due: run_native_specific_jobs

added sni-host-check as false property
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

fix: Allow ST_LineString duplicate points; update RPCNode for Velox
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Address comments and rebase
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/context/IcebergRewriteDataFilesProcedureContext.java
Due: none

feat(orc): Add opt-in write-side compression verification to the ORC writer (#28266)
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnWriterOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcCompressionVerificationException.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcOutputBuffer.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriterOptions.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcOutputBuffer.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcWriterOptions.java
Due: none

feat(optimizer): Extend rpc_streaming_mode with intent objectives (#28264)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/DefaultRpcExecutionPolicy.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RpcExecutionIntent.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RpcExecutionMode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RpcFunctionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRpcFunctionOptimizer.java
Due: none

added sidecar support to tests
  presto-function-server/src/test/java/com/facebook/presto/tests/utils/FnServerAuthTestUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsAndJwtOnNativeCluster.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsOnlyOnNativeCluster.java
Due: none

feat(native): Enable plan consistency check by default
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Due: run_native_specific_jobs

feat(plugin-iceberg): Add Geometry type read, Iceberg table builder test base, and test for Java
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/BingTile.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/BingTileType.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/type/GeometryType.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergImportedTableTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryArrayRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryMapRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryRowRead.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeometryTypeDataRead.java
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/data/ba8627bf-2372-4214-8139-a9f9a060cb7a.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00000-c49db315-eb31-4bea-ba05-c412f4335be3.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/00001-dbb65b30-f273-49ec-b2bd-d2cdee19bffb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_array/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/data/5b304339-4edb-46b6-94d7-550709a2fd24.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00000-551efd3b-464b-439e-9dc2-474b3ccd7dad.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/00001-febe3338-3400-440f-8b1f-17819bad0f4c.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_data_type_read/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/data/2b0e2cf7-2841-47f7-b06d-92d0b65d9475.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00000-25b0f2cb-1e44-4338-8923-0039a9303a0b.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/00001-78839821-f2ea-4665-af34-d499a2e60aeb.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_map/metadata/snap.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/data/751fc69d-0efa-4677-b7fd-ebf6dd68ef71.parquet
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00000-b730a4cc-aa33-4a72-8c31-53093b6c76e5.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/00001-85543aaa-0fc7-4651-baed-71e22c7c8672.metadata.json
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/new.avro
  presto-iceberg/src/test/resources/iceberg_v3/geometry_row/metadata/snap.avro
  presto-tests/pom.xml
  presto-verifier/pom.xml
Due: run_linux_tests=false

refactored tests to enable sidecar
  presto-function-server/src/test/java/com/facebook/presto/tests/utils/FnServerAuthTestUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsAndJwtOnNativeCluster.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestFnServerAuthWithMtlsOnlyOnNativeCluster.java
Due: none

fix: Cluster throttling error code
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: none

Upgrade hudi-presto-bundle to 1.1.0
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
  presto-hudi/pom.xml
Due: none

fix(tests): Improve task cleanup in TaskManagerTest to prevent flaky tests
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

Fix ANALYZE failing with Multiple entries with same key and Unexpected N statistics for M columns when the Hive metastore contains duplicated column statistics for a column
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveAnalyzeCorruptStatistics.java
Due: none

Change return type of trim functions with char argument to varchar
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
Due: none

feat(planner): Add support for pushing partial aggregations through outer joins
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughJoin.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestPartialAggregationPushdown.java
Due: run_linux_tests=false

Add native E2E test for Iceberg COW partition-level DELETE
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergCopyOnWriteDelete.java
Due: none

Fix doc to be more precise
  presto-docs/src/main/sphinx/admin/properties-session.rst
Due: run_linux_tests=false

feat!: Add scan-only raw input data size statistics (#28222)
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main-base/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main-base/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/planPrinter/TestPlanPrinter.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/tests/data/TaskInfo.json
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/PrestoEventData.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageColumnLineage.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryStatistics.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Due: run_native_specific_jobs

test: Fix flaky test flightshim TestFlightShimTpchPlugin (#28214)
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimPlugins.java
Due: none

fix(server): Make plugin ArtifactResolver initialization lazy (#28269)
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
Due: none

feat(plugin-iceberg)!: Add binpack strategy for rewrite_data_files (#28092)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/context/IcebergRewriteDataFilesProcedureContext.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
Due: run_linux_tests=false

Revert submodule URL
  .gitmodules
Due: none

Serializing failure info from flight shim server to preserve exception and error code.
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimPlugins.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimTpchPlugin.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/common/Exception.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationConnector.h
Due: run_native_specific_jobs

CI fix
  pom.xml
Due: none

test(native): Enable sidecar in arrow flight native e2e tests
  .github/workflows/arrow-flight-tests.yml
  presto-flight-shim/pom.xml
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestArrowFederationNativeQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/NativeArrowFederationConnectorUtils.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesCassandra.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMixedConnectors.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMongo.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesRedis.java
Due: none

chore: Apply backwards compatibility `AllowLegacyMissingUris` annotation to Thrift files (#28132)
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_native.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
