Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

fix doc
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

Expose GPU device memory via NodeStatus for autoscaling
  presto-main-base/src/main/java/com/facebook/presto/server/NodeStatus.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/main/java/com/facebook/presto/server/StatusResource.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Potential fix for pull request finding
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
Due: run_native_specific_jobs

feat(dpp): Add coordinator-mediated DPP planner support gated behind DISABLED default
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DetermineJoinDistributionType.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DetermineSemiJoinDistributionType.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DynamicFilterUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveUnsupportedDynamicFilters.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ReorderJoins.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/DynamicFiltersChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestDetermineJoinDistributionType.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestDetermineSemiJoinDistributionType.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRemoveUnsupportedDynamicFilters.java
Due: none

allow no-parquet and no-spatial
  presto-native-execution/Makefile
  presto-native-execution/README.md
Due: run_native_specific_jobs

move applyGFlags to main
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Address review comment
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

fix: Avoid state pollution in `DynamicFilterStats` from `copyOf`
  presto-main-base/src/main/java/com/facebook/presto/operator/DynamicFilterStats.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
Due: none

fix: preserve RowType.Field#delimited flag across Jackson deserialization
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestRowParametricType.java
Due: none

test: Add Iceberg test coverage for expire snapshots in Nessie catalog
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
Due: none

debug for cache ut
  presto-cache/src/test/java/com/facebook/presto/cache/alluxio/TestAlluxioCachingFileSystem.java
Due: none

move the applyFlags after presto constructor
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
Due: run_native_specific_jobs

perf: Add extra && qualified overloads to RequestBuilder (#28053)
  presto-native-execution/presto_cpp/main/http/HttpClient.h
Due: run_native_specific_jobs

fix(native-spark): Delete native task after completion
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Due: none

perf(optimizer): Randomize outer-join null keys in their native type
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveBucketedRandomizeNullKeyOuterJoin.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/RandomizeNullKeyInOuterJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestRandomizeNullKeyInOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

[iceberg] Add existingDeletionVectors to OSS IcebergInsertTableHandle
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
Due: none

feat: Fix MergeHandle / ConnectorMergeTableHandle deserialization (#28131)
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDeleteTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergInsertTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorMergeTableHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/MergeHandle.cpp.inc
Due: run_native_specific_jobs

fix: preserve case-sensitive Parquet field names
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaPageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/predicate/TestParquetPredicateUtils.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiParquetPageSources.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetTypeUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/cache/MetadataReader.java
  presto-parquet/src/main/java/org/apache/parquet/io/ColumnIOConverter.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestParquetTypeUtils.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/writer/TestParquetWriter.java
Due: none

refactor(parquet): remove unused descriptor lookup
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetTypeUtils.java
Due: none

chore(deps): Update jackson version to 2.18.9
  pom.xml
  presto-common/src/main/java/com/facebook/presto/common/block/Block.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Domain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Range.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/ValueSet.java
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-kafka/pom.xml
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestDriver.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestRowExpressionSerde.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoObjectMapperProvider.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-testng-services/pom.xml
  presto-testng-services/src/main/java/com/facebook/presto/testng/services/JacksonStreamConstraintsListener.java
  presto-testng-services/src/main/resources/META-INF/services/org.testng.ITestNGListener
Due: none

feat: coordinator dynamic filter collection and merge service
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/execution/DynamicFilterResult.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DomainRuntimeFilter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterService.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/JoinDynamicFilter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/RuntimeFilter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/RuntimeFilterDeserializer.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/TableScanDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestJoinDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestRuntimeFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestTableScanDynamicFilter.java
Due: none

fix: resolve row field names by exact case
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RowFieldNameResolver.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestSqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestRowFieldNameResolver.java
Due: none

[Presto] Add MaterializedOutput large-row stats (#28160)
  presto-native-execution/presto_cpp/main/operators/MaterializedOutput.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedOutput.h
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeTest.cpp
Due: run_native_specific_jobs

fix: preserve mixed-case Iceberg row field names
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
Due: none

refactor: clarify Iceberg field delimiting
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
Due: none

docs: note nightly image option and arm64 emulation in installation guide
  presto-docs/src/main/sphinx/presto_cpp/installation.rst
Due: run_linux_tests=false

fix: resolve case-sensitive nested fields consistently
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RowFieldNameResolver.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ReaderUtils.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructBatchStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStructBatchStreamReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetTypeUtils.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestParquetTypeUtils.java
Due: none

Add gzip handling to executeQuery in elasticsearch
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
Due: none

Style
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
Due: none

refactor: simplify row field name resolution
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RowFieldNameResolver.java
Due: none

fix: respect quoting in row field resolution
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RowFieldNameResolver.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestSqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestRowFieldNameResolver.java
Due: none

test: Add E2E tests for geometry_union_agg and convex_hull_agg
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/GeoSpatialTestUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeGeospatial.java
Due: none

fix(plugin-cassandra): Use UTC instant for smoke test data setup
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/SharedCassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
Due: none

fix(security): Upgrade async-http-client to 3.0.11 to address CVE-2026-55688
  presto-druid/pom.xml
Due: none

fix(security): Upgrade Netty to 4.2.16.Final to address CVE-2026-44891
  pom.xml
Due: none

refactor(native): Use velox IcebergTableHandle in protocol
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

fix(native): Support LIKE and regexp on materialized (RPC-result) patterns
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/TypeParserTest.cpp
Due: run_native_specific_jobs

feat(native): Add native_expression_evaluation_v2_enabled session property
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs
