Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

feat: Add initial support for Iceberg format version 3 (#27021)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

perf: Add strpos pre-filter optimization for json_extract_scalar equality predicates (#27244)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteJsonExtractScalarWithStrposFilter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteJsonExtractScalarWithStrposFilter.java
Due: none

fix(security): Upgarde com.fasterxml.jackson.core:jackson-core from 2.15.4 to 2.18.6
  pom.xml
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestDriver.java
Due: none

feat(native): Upgrade the nlohman json dependency to 3.12.0
  presto-native-execution/presto_cpp/external/json/nlohmann/json.hpp
Due: run_native_specific_jobs

Enable listSchemasForViews
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

Compiles
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

Add mysql getViews
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

fix: Increase max-task-update-size for the test (#27220)
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
Due: none

Update TempDirectoryPath and TempFilePath path
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/LinuxMemoryCheckerTest.cpp
  presto-native-execution/presto_cpp/main/tests/RemoteFunctionRegistererTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/tool/trace/tests/BroadcastWriteReplayerTest.cpp
  presto-native-execution/presto_cpp/main/tool/trace/tests/PartitionAndSerializeReplayerTest.cpp
Due: run_native_specific_jobs

misc: Move TopNRowNumberNode to presto-spi for connector optimizer access (#27232)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MinMaxByToWindowFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushDownDereferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/KeyBasedSampler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanNodeDecorrelator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SimplifyPlanWithEmptyInput.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TopNRowNumberMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestWindowFilterPushDown.java
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/ExecutionFailureInfo.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TopNRowNumberNode.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: run_native_specific_jobs

feat: Add session property mark_distinct_spill_enabled
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

feat(Native): Add PrestoToVelox Plan conversion and getSplits() logic for TableFunctions Authored by : Xin Zhang Xin.Zhang2@ibm.com
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionJacksonHandleModule.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-native-execution/pom.xml
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.h
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTvfFunctions.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTvfFunctions.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTVFProviderFactory.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ConnectorTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescribedTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/GenericTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/OnlyPassThroughReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableFunctionMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProviderFactory.java
Due: run_native_specific_jobs

fix: Fix DESCRIBE queries hanging on single-node execution clusters
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchangesForSingleNodeExecution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesForSingleNodeExecutionPlans.java
Due: none

feat(plugin-openlineage-event-listener): Port Trino OpenLineage event listener plugin to Presto
  pom.xml
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/FormatInterpolator.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerConfig.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerFactory.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerPlugin.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageHttpTransportConfig.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageJobContext.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageJobInterpolatedValues.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineagePrestoFacet.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageTransport.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageTransportConfig.java
  presto-openlineage-event-listener/src/main/resources/META-INF/services/com.facebook.presto.spi.Plugin
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/OpenLineageMemoryTransport.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/PrestoEventData.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListener.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListenerConfig.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListenerPlugin.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageHttpTransportConfig.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageTransportConfig.java
  presto-server/src/main/provisio/presto.xml
Due: none

docs: Add OpenLineage event listener documentation
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/openlineage-event-listener.rst
Due: run_linux_tests=false

feat(optimizer): Simplify COALESCE over equi-join keys based on join type
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyCoalesceOverJoinKeys.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyCoalesceOverJoinKeys.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

test: Extend Iceberg schema evolution tests to cover PARQUET format
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

fix(docs): remove unsupported Iceberg ANALYZE columns example
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

Upgrade org.ow2.asm to 9.9.1
  pom.xml
Due: none

upgrade air compressor dependency to latest version
  pom.xml
Due: none

Fix checkstyle and other minor improvements
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/ExcludeColumns.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/RemoteAnn.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/Sequence.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TestingTableFunctions.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/ReturnTypeSpecification.h
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescribedTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/GenericTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/OnlyPassThroughReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProviderFactory.java
Due: run_native_specific_jobs

misc(native): Clean up SystemConnector: fix fragile statics, macro hygiene, const-correctness, and switch safety
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/SystemSplit.h
Due: run_native_specific_jobs

Add support for Azure Blob Storage and ADLS Gen2 in Hive connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnectorFactory.java
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystemS3.java
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive/src/main/java/com/facebook/presto/hive/HdfsConfigurationInitializer.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/azure/AzureConfigurationInitializer.java
  presto-hive/src/main/java/com/facebook/presto/hive/azure/HiveAzureConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/azure/HiveAzureConfigurationInitializer.java
  presto-hive/src/main/java/com/facebook/presto/hive/azure/HiveAzureModule.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/azure/TestHiveAzureConfig.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/nessie/IcebergNessieCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: run_linux_tests=false

Upgrade com.fasterxml.jackson version to 2.21.0
  pom.xml
  presto-tpch/src/main/java/com/facebook/presto/tpch/statistics/TableStatisticsDataRepository.java
Due: none

Add new generic thrift toolkit module for connectors
  CODEOWNERS
  pom.xml
  presto-thrift-connector-toolkit/pom.xml
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/GenericThriftCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecProvider.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecUtils.java
  presto-thrift-connector-toolkit/src/test/java/com/facebook/presto/thrift/codec/TestGenericThriftCodec.java
  presto-thrift-connector-toolkit/src/test/java/com/facebook/presto/thrift/codec/TestThriftCodecProvider.java
  presto-tpcds/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsCodecProvider.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsSplitCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableLayoutHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTransactionHandleCodec.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithThrift.java
Due: none

Add HTTP support for resource manager internal communication
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/overview/concepts.rst
  presto-internal-communication/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-internal-communication/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/resourceGroups/ResourceGroupRuntimeInfo.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ClusterMemoryManagerService.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ClusterQueryTrackerService.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/NoOpHttpResourceManagerClient.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerClusterStateProvider.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerException.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/thrift/ResourceManagerClient.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/thrift/ResourceManagerServer.java
  presto-main-base/src/main/java/com/facebook/presto/util/RetryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryTrackerHighTaskCountKill.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestingClusterQueryTrackerService.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestingResourceManagerClient.java
  presto-main/etc/config.properties
  presto-main/src/main/java/com/facebook/presto/resourcemanager/HttpResourceManagerClient.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerClusterStatusSender.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerResourceGroupService.java
  presto-main/src/main/java/com/facebook/presto/server/CatalogServerModule.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerHeartbeatResource.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerModule.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerResource.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/WorkerModule.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerResourceGroupService.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRetryFunctionality.java
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: run_native_specific_jobs, run_linux_tests=false

chore(deps): Bump aircompressor from 0.27 to 2.0.3 (#27152)
  pom.xml
Due: none

refactor: Move RebindSafeMBeanServer to presto-common
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraConnectorFactory.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/RebindSafeMBeanServer.java
  presto-common/pom.xml
  presto-common/src/main/java/com/facebook/presto/common/util/RebindSafeMBeanServer.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/RebindSafeMBeanServer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-jmx/pom.xml
  presto-jmx/src/main/java/com/facebook/presto/connector/jmx/JmxConnectorFactory.java
  presto-jmx/src/main/java/com/facebook/presto/connector/jmx/util/RebindSafeMBeanServer.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConnectorFactory.java
  presto-thrift-connector/pom.xml
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorFactory.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/util/RebindSafeMBeanServer.java
Due: none

chore(ci): Advance velox and fix arrow 18
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/CMake/arrow/arrow-flight.patch
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/RemoteFunctionRegistererTest.cpp
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/setup-adapters.sh
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-sql-helpers/presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeSimpleSamplingPercent.java
  presto-sql-helpers/presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeSqlInvokedFunctionsPlugin.java
Due: run_native_specific_jobs

relax issue creation and add the rebase request type
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/rebase.yml
  .github/ISSUE_TEMPLATE/usage-question.md
Due: none

add velox branch option to rebase for automatic advancing
  .github/ISSUE_TEMPLATE/rebase.yml
Due: none

add template for build image trigger
  .github/ISSUE_TEMPLATE/build-image.yml
Due: none

Copy cuda libraries independently of the machine arch
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

cudf exchange presto setup
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Include /usr/local/cuda/compat/libnvidia-ptxjitcompiler.so
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs
