Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

feat: Add TEXTFILE custom serde parameters support (#27167)
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

chore: Update airlift to 0.227 version (#27070)
  pom.xml
Due: none

Fix lint issues in presto_cpp types/ directory
  presto-native-execution/presto_cpp/main/types/PrestoTaskId.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.h
  presto-native-execution/presto_cpp/main/types/tests/TestUtils.cpp
  presto-native-execution/presto_cpp/main/types/tests/TestUtils.h
Due: run_native_specific_jobs

misc(native): Fix lint issues in presto_cpp types/ directory (#27194)
  presto-native-execution/presto_cpp/main/types/PrestoTaskId.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.h
  presto-native-execution/presto_cpp/main/types/tests/TestUtils.cpp
  presto-native-execution/presto_cpp/main/types/tests/TestUtils.h
Due: run_native_specific_jobs

Add Lance connector docs and upgrade lance-core to 3.0.0-rc.1 to fix CVEs
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/lance.rst
  presto-lance/pom.xml
Due: run_linux_tests=false

Update lance-core to 2.0.1 and exclude lance-namespace-apache-client to fix CVEs
  presto-lance/pom.xml
Due: none

Add support for SELECT alias references in HAVING clause
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Due: none

feat(native): Implement Sketch Theta aggregate and scalar functions
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchAggregate.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchFunctions.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchRegistration.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/ThetaSketchAggregationTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/functions/TestThetaSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

revert: Add metastore cache invalidation in iceberg
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
Due: none

fix(planner): Set the size estimate for a ConstantExpression/Literal (#27188)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
Due: none

feat(planner): Improve TextRenderer to show input totals (#27189)
  presto-docs/src/main/sphinx/sql/explain-analyze.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/OperatorInputStats.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanNodeStatsSummarizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
Due: run_linux_tests=false

feat(server): Add ability to disable the UI (#26682)
  presto-main-base/src/main/java/com/facebook/presto/server/ServerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestServerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/resources/nowebapp/index.html
Due: none

feat(native): Add cuDF plan node validation
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

refactor(native): Abstract sidecar functionality for cuDF support
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/functions/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/functions/tests/data/ArrayFrequency.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Combinations.json
  presto-native-execution/presto_cpp/main/functions/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/ElementAt.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Greatest.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Lead.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Mod.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Ntile.json
  presto-native-execution/presto_cpp/main/functions/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/functions/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/TransformKeys.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Variance.json
  presto-native-execution/presto_cpp/main/sidecar/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/function/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/function/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/FunctionMetadata.h
  presto-native-execution/presto_cpp/main/sidecar/function/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/function/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/sidecar/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionProperties.h
  presto-native-execution/presto_cpp/main/sidecar/properties/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/properties/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

feat(native): Add cuDF function metadata provider
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/sidecar/function/BaseFunctionMetadataProvider.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/BaseFunctionMetadataProvider.h
  presto-native-execution/presto_cpp/main/sidecar/function/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/function/CudfFunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/CudfFunctionMetadata.h
  presto-native-execution/presto_cpp/main/sidecar/function/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/FunctionMetadata.h
  presto-native-execution/presto_cpp/main/sidecar/function/NativeFunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/NativeFunctionMetadata.h
  presto-native-execution/presto_cpp/main/sidecar/function/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/function/tests/CudfFunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/sidecar/function/tests/FunctionMetadataTestUtils.h
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/ArrayFrequency.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Combinations.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/CudfCardinality.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/CudfSum.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/ElementAt.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Greatest.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Lead.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Mod.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Ntile.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/TransformKeys.json
  presto-native-execution/presto_cpp/main/sidecar/function/tests/data/Variance.json
Due: run_native_specific_jobs

feat(native): Add cuDF session property provider
  presto-native-execution/presto_cpp/main/sidecar/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/properties/CudfSessionProperties.cpp
  presto-native-execution/presto_cpp/main/sidecar/properties/CudfSessionProperties.h
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionProperties.h
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/sidecar/properties/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/main/sidecar/properties/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/sidecar/properties/tests/CudfSessionPropertiesTest.cpp
Due: run_native_specific_jobs

feat: Support cuDF session property and function validation with sidecar
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Add support for native distributed dynamic partition pruning
  BROADCAST-DF-PLAN.md
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestDynamicPartitionPruning.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterFetcher.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.cpp
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TupleDomainBuilder.cpp
  presto-native-execution/presto_cpp/main/types/TupleDomainBuilder.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeDynamicPartitionPruning.java
Due: run_native_specific_jobs

Add null check to UtilizedColumnAnalyzer
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/UtilizedColumnsAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Due: none

refactor(native): Abstract session property provider
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/main/properties/session/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

test(native): Add e2e tests for cuDF sidecar validation
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/etc_sidecar/config.properties
  presto-native-execution/etc_sidecar/node.properties
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/cudf/TestCudfSidecarPlugin.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/cudf/TestCudfTpchQueries.java
Due: run_native_specific_jobs

Update submodule
  .gitmodules
Due: none

fix(native): Replace lambda body with optimized expression in NativeExpressionOptimizer
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionOptimizer.java
Due: none

feat(iceberg): Add initial support for Iceberg format version 3
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

upgrade air compressor dependency to latest version
  pom.xml
Due: none

Upgarde org.xerial.snappy:snappy-java to 1.1.10.8
  pom.xml
Due: none

Use size-based tuple domains, fix bugs in C++ code
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestDynamicPartitionPruning.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/JoinDynamicFilter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestDynamicFilterService.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestJoinDynamicFilter.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestTableScanDynamicFilter.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.cpp
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.h
Due: run_native_specific_jobs

feat(optimizer): Add PushdownThroughUnnest optimizer rule
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushdownThroughUnnest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushdownThroughUnnest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
Due: none

feat(native): Implement Sketch Theta aggregate and scalar functions (#25685)
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchAggregate.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchFunctions.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchRegistration.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/ThetaSketchAggregationTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/functions/TestThetaSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

refactor: Update TempDirectoryPath and TempFilePath path (#27201)
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/LinuxMemoryCheckerTest.cpp
  presto-native-execution/presto_cpp/main/tests/RemoteFunctionRegistererTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/tool/trace/tests/BroadcastWriteReplayerTest.cpp
  presto-native-execution/presto_cpp/main/tool/trace/tests/PartitionAndSerializeReplayerTest.cpp
Due: run_native_specific_jobs

Fixes for formatting and fix a compilation error
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/operators/DynamicFilterSource.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/TupleDomainBuilder.cpp
Due: run_native_specific_jobs

Enable view querying with Mongo connector
  presto-mongodb/pom.xml
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoViews.java
Due: none

fix: Fix isNativeExecutionEnabled to be based on session property (#27123)
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
Due: none

Remove views from smoke test
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Due: none

Remove commented out exclusions from pom
  presto-mongodb/pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
