Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

docs(hive): add direct refs to Hive Security sections as suggested changes
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

Upgrade mongo sever version
  presto-mongodb/pom.xml
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/SyncMemoryBackend.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (parser)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Merge.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeCase.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeInsert.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeUpdate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Add quotes to column names for renameColumn and dropColumn in BaseJdbcClient
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled for Oracle connector
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

test: Add support for SELECT DISTNCT to DuckLogicalOperator.h (#14453)
  velox/parse/DuckLogicalOperator.h
Due: none

fix: Respect output buffer size in merge with spill and improvements (#14445)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/docs/monitoring/stats.rst
  velox/exec/Merge.cpp
  velox/exec/Merge.h
  velox/exec/tests/MergeTest.cpp
  velox/exec/tests/MergerTest.cpp
  velox/exec/tests/MultiFragmentTest.cpp
Due: none

Mixedcase support for cassandra
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
Due: none

fix: clear the serializer buffers from stream arena to avoid excessive buffering in partition output to avoid query OOM (#14438)
  velox/common/memory/StreamArena.h
  velox/vector/VectorStream.h
  velox/vector/tests/CMakeLists.txt
  velox/vector/tests/VectorStreamGroupTest.cpp
  velox/vector/tests/VectorTest.cpp
Due: none

support mix case for bigquery
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryClient.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryConfig.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryMetadata.java
Due: none

Upgrade Iceberg version to 1.6.1
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergDistributedRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: none

Added `iceberg.engine.hive.lock-enabled` configuration
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/RecordingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastoreClient.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreStats.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/UnimplementedHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/InMemoryHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveTableOperationsConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestHiveTableOperationsConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHiveLockDisabled.java
Due: none

Update ConfigReader.cpp
  presto-native-execution/presto_cpp/main/common/ConfigReader.cpp
Due: run_native_specific_jobs

Arrow Flight connector mTLS support
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueriesMtls.java
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConfigTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorMTlsTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/README.md
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_tls_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.key
Due: run_native_specific_jobs, run_linux_tests=false

Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToVeloxRemoteFunctionExpr.h
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/VeloxRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/VeloxRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/rest/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RestFunctionHandleTest.cpp
Due: run_native_specific_jobs

[native] Fix CentOS adapter install in dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

Test diff train export
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
Due: none

Add experimental planner support for sort merge join
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SortMergeJoinOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
Due: none

[pos][native] Disable test failing due to test setup
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestExpressionCompiler.java
Due: run_native_specific_jobs

[pos native] Add pos native tests to Github CI
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Due: none

[pos][native] Move pos native unit tests to presto-spark-base
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-hive/pom.xml
  presto-native-execution/pom.xml
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkExpressionCompiler.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeAggregations.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeArrayFunctionQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeBitwiseFunctionQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeJoinQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchConnectorQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeWindowQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkSqlFunctions.java
Due: run_native_specific_jobs

fix: Del redundant-static-def in velox/dwio/parquet/common/BloomFilter.cpp (#14442)
  velox/dwio/parquet/common/BloomFilter.cpp
  velox/dwio/parquet/writer/arrow/tests/BloomFilter.cpp
Due: none

docs: add IntelliJ JDK 17 workaround to README
  README.md
Due: none

[pos][native] Make presto-spark-base independent of presto-hive test-jar
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkExpressionCompiler.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeAggregations.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeArrayFunctionQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeBitwiseFunctionQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeJoinQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchConnectorQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeWindowQueries.java
Due: none

[pos][native] Remove dependence on airlift.drift
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/operator/HttpAndThriftRpcShuffleClientProvider.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/operator/HttpRpcShuffleClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/operator/HttpShuffleClientProvider.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/operator/ThriftRpcShuffleClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/operator/ThriftShuffleClientProvider.java
Due: none

refactor(wave): Replace macros that cause name collisions with functions (#14430)
  velox/experimental/wave/exec/Instruction.cpp
  velox/experimental/wave/exec/Wave.h
  velox/experimental/wave/exec/WaveDriver.cpp
Due: none

refactor(wave): Reuse code between the nimble reader unit tests and fuzzer (#14431)
  velox/experimental/wave/dwio/nimble/fuzzer/NimbleReaderFuzzer.cpp
  velox/experimental/wave/dwio/nimble/tests/NimbleReaderTest.cpp
  velox/experimental/wave/dwio/nimble/tests/NimbleReaderTestUtil.cpp
  velox/experimental/wave/dwio/nimble/tests/NimbleReaderTestUtil.h
Due: none

Update Configs.h
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

fix: Fix unused-local-typedef issue in velox/dwio/dwrf/test/ColumnWriterTest.cpp +1 (#14460)
  velox/dwio/dwrf/test/ColumnWriterTest.cpp
Due: none

use has_value instead of hasValue
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

[native] Enable Parquet and Spatial by default
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/CMakeLists.txt
  presto-native-execution/README.md
Due: run_native_specific_jobs

Update doc about sort order transforms in connector/iceberg.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

feat(expr): Support non-ANSI Spark semantics for cast failures in complex types (#14451)
  velox/expression/CastExpr.h
  velox/expression/CastHooks.h
  velox/expression/PrestoCastHooks.h
  velox/functions/sparksql/specialforms/SparkCastHooks.h
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Due: none

[native] Refactor arrow flight build in adapters script
  presto-native-execution/scripts/setup-adapters.sh
Due: run_native_specific_jobs

Fix formatting in admin/properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

feat: Implement geometry_as_geojson, geometry_from_geojson (#14252)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometryUtils.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: none
