Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add release notes for 0.300
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.300.rst
Due: run_linux_tests=false

Apply batched suggestions from code review
  presto-docs/src/main/sphinx/release/release-0.300.rst
Due: run_linux_tests=false

chore(deps): Upgrade jetty from 12.0.38 to 12.1.11
  pom.xml
Due: none

docs: Expand ADBC driver client documentation
  presto-docs/src/main/sphinx/clients/adbc.rst
Due: run_linux_tests=false

feat: Implement kll_sketch_quantile and kll_sketch_rank functions
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestKllSketchFunctions.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchAggregate.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchFunctions.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchRegistration.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchTypeTraits.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/KllSketchTest.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/KllSketchType.cpp
  presto-native-execution/presto_cpp/main/types/KllSketchType.h
  presto-native-execution/presto_cpp/main/types/KllSketchTypeRegistration.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestKllSketchFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestKllSketchFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestKllSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(plugin-openlineage-event-listener): Fix NoClassDefFoundError when emitting query statistics (#28463)
  pom.xml
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListenerPluginIsolation.java
Due: none

fix(iceberg): check getDomainPredicate and remainingPredicate in rewrite_data_files pushdown guard
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

test(plugin-openlineage-event-listener): Add query-based tests for emitted OpenLineage events
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerFactory.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/OpenLineageListenerQueryRunner.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventsFromQueries.java
Due: none

Address review comments: update error messages, simplify QualifiedName construction, add access control and non-struct parent tests, fix docs
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/release/release-0.299.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateTableTask.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestDefaultTreeRewriterAddColumn.java
Due: run_linux_tests=false

For test
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTypeTranslator.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
Due: none

fix(native): Preserve null semantics for NaN range filters
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

feat(function): Gate AT TIME ZONE on legacy_timestamp_with_timezone (#28562)
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-docs/src/main/sphinx/functions/datetime.rst
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/DesugarAtTimeZoneRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestAtTimeZone.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(hive): clarify the S3 bulk write after review
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: none

feat(analyzer): Warn on window functions without PARTITION BY
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: run_linux_tests=false

fix(parser): Format a table version expression nested inside a query (#28540)
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

feat: Implement sketch_kll_quantile && sketch_kll_rank functions (#27257)
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestKllSketchFunctions.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchAggregate.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchFunctions.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchRegistration.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchTypeTraits.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/KllSketchTest.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/KllSketchType.cpp
  presto-native-execution/presto_cpp/main/types/KllSketchType.h
  presto-native-execution/presto_cpp/main/types/KllSketchTypeRegistration.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestKllSketchFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestKllSketchFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestKllSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

Read an old snapshot with the schema it was written with
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableVersion.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/MetadataUtils.java
Due: run_linux_tests=false

Name the three ways of asking for a table's columns apart
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/MetadataUtils.java
Due: none

chore(deps): Upgrade jetty from 12.0.38 to 12.1.11 (#28589)
  pom.xml
Due: none

Enable column mapping
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.hpp.inc
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeDeltaColumnMapping.java
Due: run_native_specific_jobs

Trivial comment additions
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
Due: none

Fix delta tests
  presto-delta/src/test/java/com/facebook/presto/delta/DeltaQueryRunner.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaScanOptimizations.java
  presto-main/etc/catalog/delta.properties
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

feat(delta): Plumb delta.columnMapping.mode end-to-end (Java + presto_cpp)
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaClient.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplit.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTable.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaSplit.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaTableHandle.java
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.hpp.inc
Due: run_native_specific_jobs

Refactor delta impl
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaScanOptimizations.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestIncrementalUpdateQueries.java
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.cpp.inc
Due: run_native_specific_jobs

Handle Delta split URIs without authorities
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Fix errors after deps upgrade
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Fix build errors after rebase
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Fix Delta nested reads
  presto-delta/src/main/java/com/facebook/presto/delta/rule/DeltaParquetDereferencePushDown.java
Due: none

Preserve Delta column mapping for native execution
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaClient.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaColumn.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaColumnHandle.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
  presto-delta/src/main/java/com/facebook/presto/delta/rule/DeltaParquetDereferencePushDown.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaColumnHandle.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaTypeUtils.java
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.hpp.inc
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeDeltaIntegration.java
Due: run_native_specific_jobs

feat(delta): Wire up Delta split reader factory registration
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
Due: run_native_specific_jobs

Add native Delta Lake regression tests
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaIntegration.java
  presto-delta/src/test/resources/delta_v1/empty-string-partition/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v1/empty-string-partition/data/part-00000-empty-string.c000.snappy.parquet
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeDeltaIntegration.java
Due: run_native_specific_jobs

feat(native): Add support for iceberg v3 write-default
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3DefaultColumnValues.java
Due: run_native_specific_jobs, run_linux_tests=false

feat(build): Update review-presto-pr skill for native code changes
  .claude/skills/review-presto-pr/SKILL.md
Due: none

docs: Expand ADBC driver client documentation (#28590)
  presto-docs/src/main/sphinx/clients/adbc.rst
Due: run_linux_tests=false

Fix ArrowFlightConnector handling of timestamp with time zone data types
  presto-flight-shim/pom.xml
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowFederationNativeQueriesCassandra.java
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorDataTypeTest.cpp
Due: run_native_specific_jobs

feat(delta): implement log-derived table statistics
  presto-delta/pom.xml
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaClient.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConfig.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaFileEntry.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaFileStatistics.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaJsonFileStatistics.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSessionProperties.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaStatisticsProvider.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTableStatisticsProvider.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
