Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Fix materialized view error message
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DDLDefinitionExecution.java
Due: none

Allow DELETE queries to run on Presto on Spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
Due: none

Specify system access control for testing presto server (#25972)
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingPrestoServerModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Add action and documentation for semantic commits
  .github/workflows/conventional-commit-check.yml
  CONTRIBUTING.md
Due: none

Make SplitRunner threads daemon threads
  presto-main-base/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
Due: none

Enable check query integrity permission check for DDL and explain queries
  presto-main-base/src/main/java/com/facebook/presto/execution/DDLDefinitionExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SessionDefinitionExecution.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/DenyQueryIntegrityCheckSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestCheckAccessPermissionsForQueryTypes.java
Due: none

refactor(iceberg): Remove unnecessary column type translation method
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Due: none

[sv] Fix file based json udf tests
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleJsonQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
Due: run_native_specific_jobs

Disable UpperCase conversion when case-sensitve flag is enabled
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Add quotes to column names for renameColumn and dropColumn in BaseJdbcClient
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled for Oracle connector
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Add $snapshot_id as hidden column in iceberg table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Presto protocol changes for $snapshot_id in IcebergSplit
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Use batch call to get partition information from the metastore
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPartitionManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiTableHandle.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiBackgroundSplitLoader.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestHudiPartitionManager.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestingExtendedHiveMetastore.java
Due: none

Fix spilling docs
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/admin/spill.rst
Due: run_linux_tests=false

Fix resource groups docs
  presto-docs/src/main/sphinx/admin/resource-groups.rst
Due: run_linux_tests=false

Enable TLS support for Druid Connector
  presto-docs/src/main/sphinx/connector/druid.rst
  presto-druid/src/main/java/com/facebook/presto/druid/DruidConfig.java
  presto-druid/src/main/java/com/facebook/presto/druid/authentication/DruidAuthenticationModule.java
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidConfig.java
Due: run_linux_tests=false

Enable case-sensitive configuration flag for arrow co-author : agrawalreetika
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowFlightConfig.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowModule.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationMixedCase.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowProducer.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingH2DatabaseSetup.java
Due: none

Upgrade mockito-core to latest version
  presto-bigquery/pom.xml
Due: none

Bump grpc to 1.75.0 to resolve CVE-2025-55163
  pom.xml
Due: none

Upgrade it.unimi.dsi:fastutil to 8.5.16
  pom.xml
Due: none

Add function type coercion
  presto-main-base/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/type/TypeCoercer.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestSignatureBinder.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

Upgrade io.dropwizard.metrics:metrics-core versio to 4.2.37
  presto-cache/pom.xml
Due: none

Upgrade org.jgrapht:jgrapht-core versio to 1.5.2
  pom.xml
Due: none

Support insert data into iceberg table.
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
Due: run_native_specific_jobs

Auto detect velox iceberg insertion feature.
  presto-native-execution/Makefile
Due: run_native_specific_jobs

Upgrade it.unimi.dsi:fastutil to 8.5.15
  pom.xml
Due: none

Enable case-senstive identifer support for Kafka connector
  presto-docs/src/main/sphinx/connector/kafka.rst
  presto-kafka/pom.xml
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaConnectorConfig.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaMetadata.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/KafkaQueryRunner.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaConnectorConfig.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaDistributed.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaIntegrationMixedCase.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/TestUtils.java
Due: run_linux_tests=false

[Iceberg]Test register table fail on nessie
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RegisterTableProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
Due: none

fix(iceberg): Correct fallback logic for column matching in ORC files
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Upgrade org.jetbrains:annotations version 26.0.2
  pom.xml
  presto-accumulo/pom.xml
  presto-elasticsearch/pom.xml
  presto-hana/pom.xml
  presto-mysql/pom.xml
  presto-postgresql/pom.xml
  presto-singlestore/pom.xml
Due: none

[pos] Do not load function namespace managers on native executors
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
Due: none

[native] feat: Change storage stats to per call instead per driver (#26160)
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
Due: run_native_specific_jobs

chore(ci): Add action and documentation for semantic commits (#26122)
  .github/workflows/conventional-commit-check.yml
  CONTRIBUTING.md
Due: none

Add release notes for 0.295
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.295.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
