Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

feat(plugin-delta): Add support for reading non logically annotated Variant data
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaVariantType.java
  presto-delta/src/test/resources/delta_v3/non_annotated_variant/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v3/non_annotated_variant/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/non_annotated_variant/_delta_log/00000000000000000001.crc
  presto-delta/src/test/resources/delta_v3/non_annotated_variant/_delta_log/00000000000000000001.json
  presto-delta/src/test/resources/delta_v3/non_annotated_variant/part-00000-a4830b6a-0779-4d06-bdc1-476b3282c897.c000.snappy.parquet
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/TestParquetPageSourceFactory.java
Due: none

fix(native): Macos test native worker crash due to mmap allocator (#28538)
  presto-native-execution/etc/config.properties
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

fix(native): row lineage filter handling
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineage.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineageBase.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/AbstractTestIcebergRowLineage.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergV3RowLineage.java
Due: run_native_specific_jobs

fix(native): Remove `h2cEnabled` (#28526)
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
Due: run_native_specific_jobs

fix: Persist Presto view owner and security mode in MySQL
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: run_linux_tests=false

fix(native): Enforce NOT NULL column constraints for table writes (#28450)
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

test(plugin-iceberg): Run the statistics file cache test on the Hive catalog (#28536)
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
Due: none

fix(iceberg): fix stack overflow on large partitioned tables with pushdown enabled
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverterStackOverflow.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestLargePartitionStackOverflow.java
Due: none

fix(native-pos): Add a storage descriptor field to BroadcastFileInfo (#28492)
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/BroadcastFileInfo.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestBroadcastFileInfo.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/task/TestReadBroadcastDescriptor.java
Due: run_native_specific_jobs

fix(native-pos): Gate the BroadcastFileInfo storage descriptor on a session property (#28493)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

fix(native): Ensure jmx route splits to coordinator only on native clusters
  presto-jmx/src/main/java/com/facebook/presto/connector/jmx/JmxConnectorFactory.java
  presto-jmx/src/main/java/com/facebook/presto/connector/jmx/JmxSplitManager.java
  presto-jmx/src/test/java/com/facebook/presto/connector/jmx/TestJmxSplitManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
Due: none

fix(testing): replace MinIO with Adobe S3Mock for S3-compatible test containers
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/BaseTestHiveInsertOverwrite.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveQueriesWithCatalogName.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveS3DataLake.java
  presto-hive/src/test/resources/hive_s3_insert_overwrite/hadoop-core-site.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/container/IcebergS3DataLake.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieRestCatalogDistributedQueries.java
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/S3MockContainer.java
Due: none

Use the layout's predicate when computing Iceberg table statistics
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

refactor: unify nested ADD COLUMN into AddColumnTask via QualifiedName, preserve identifier casing in error messages, fix DefaultTreeRewriter identity check, add regression tests
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddFieldTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateTableTask.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AddField.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ColumnDefinition.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestDefaultTraversalVisitorAddColumn.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestDefaultTreeRewriterAddColumn.java
Due: run_native_specific_jobs

Restore interrupt flag in InterruptedException catch blocks
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/BaseArrowFlightClientHandler.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/ParquetQuickStatsBuilder.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/QuickStatsProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiBackgroundSplitLoader.java
  presto-main-base/src/main/java/com/facebook/presto/operator/ExplainAnalyzeOperator.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JoniRegexpFunctions.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Due: none

docs: add Monitoring Prestissimo with OpenTelemetry guide
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/prestissimo-otel-monitoring.rst
Due: run_linux_tests=false

fix(security): Upgrade mongodb driver to 5.12.0 to address CVE-2026-88033, CVE-2026-18710 (#28537)
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/pom.xml
Due: run_linux_tests=false

feat(plugin-iceberg): Support ALTER COLUMN SET/DROP NOT NULL
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/iceberg/TestIcebergAlterColumnNotNull.java
Due: run_linux_tests=false

fix: Allow casting representable values to DECIMAL(38, 38)
  presto-common/src/main/java/com/facebook/presto/common/type/UnscaledDecimal128Arithmetic.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestUnscaledDecimal128Arithmetic.java
  presto-main-base/src/main/java/com/facebook/presto/type/DecimalCasts.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestDecimalCasts.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestDecimalToDecimalCasts.java
Due: none

fix(planner) : Stop pushing scalar or multi grouping set aggregations below join
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushAggregationThroughOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

feat(native): Add E2E tests for UNKNOWN type support in Velox functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeUnknownType.java
Due: none

feat(connector): Add support for Redshift views
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-redshift/pom.xml
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClientModule.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftConfig.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftConnectorFactory.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftMetadata.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftMetadataFactory.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftPlugin.java
  presto-redshift/src/test/java/com/facebook/presto/plugin/redshift/TestRedshiftClient.java
  presto-redshift/src/test/java/com/facebook/presto/plugin/redshift/TestRedshiftConfig.java
Due: run_linux_tests=false

perf(optimizer): Reuse writer bucket partitioning through aggregation (#28546)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PreferredProperties.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchanges.java
Due: none

Avoid reading delete manifests for Iceberg statistics
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RuntimeStatsMetricsReporter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Due: none

test(native): Cover coordinator-only JMX split routing on native clusters
  presto-jmx/src/test/java/com/facebook/presto/connector/jmx/TestJmxSplitManager.java
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeJmxQueries.java
Due: none

refactor(testing): address S3Mock review comments
  PR_DESCRIPTION_S3MOCK.md
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/BaseTestHiveInsertOverwrite.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveQueriesWithCatalogName.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveS3DataLake.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/container/IcebergS3DataLake.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogOnS3DistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieRestCatalogDistributedQueries.java
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/S3MockContainer.java
Due: none

test(native): Declare airlift discovery dep in presto-native-tests
  presto-native-tests/pom.xml
Due: none

fix(native): Isolate memory sampling from pushback (#28531)
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/tests/PeriodicMemoryCheckerTest.cpp
Due: run_native_specific_jobs

fix(ExchangeSource): Make atEnd_ atomic
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
Due: run_native_specific_jobs

[presto] fix(BroadcastFileReader): Serialize reads against close()
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
Due: run_native_specific_jobs

fix(native-pos): Attach the native crash banner to startup failures (#28522)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/AbstractNativeProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/MetadataSidecarProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestAbstractNativeProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestMetadataSidecarProcess.java
Due: none

test: Raise embedded Cassandra driver timeout to 30s (#28556)
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
Due: none

feat(plugin-iceberg): Support V3 deletion-vector row-level DML (#28182)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CommitTaskData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDeleteTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestCommitTaskData.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergBranchMutations.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDeletionVectorCommit.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3DeletionVectorRoundTrip.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeIcebergGoldenQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGoldenQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGoldenQueriesParquetUsingThrift.java
Due: run_native_specific_jobs, run_linux_tests=false

feat: Implement kll_sketch_quantile and kll_sketch_rank functions
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestKllSketchFunctions.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchAggregate.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchFunctions.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchRegistration.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchTypeTraits.h
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/kll_sketch/tests/KllSketchTest.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/KllSketchType.cpp
  presto-native-execution/presto_cpp/main/types/KllSketchType.h
  presto-native-execution/presto_cpp/main/types/KllSketchTypeRegistration.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestKllSketchFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestKllSketchFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestKllSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

code fix
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/kll_sketch/KllSketchAggregate.cpp
Due: run_native_specific_jobs

fix(native): Bound the shutdown task drain (#28555)
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

fix(security): Cover all guarded LDAP characters and interpolate literally
  presto-password-authenticators/src/main/java/com/facebook/presto/password/ldap/LdapAuthenticator.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/ldap/TestLdapAuthenticator.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
