Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

fix: Add sanity checks to PrestoBatchVectorSerializer::serialize (#12754)
  velox/serializers/PrestoBatchVectorSerializer.cpp
  velox/serializers/PrestoBatchVectorSerializer.h
  velox/serializers/tests/PrestoSerializerTest.cpp
Due: none

fix: Ensure proper lifetime of stats in DirectCoalescedLoad (#12756)
  velox/dwio/common/CachedBufferedInput.cpp
  velox/dwio/common/DirectBufferedInput.cpp
  velox/dwio/common/DirectBufferedInput.h
  velox/dwio/dwrf/test/DirectBufferedInputTest.cpp
  velox/dwio/dwrf/test/TestReadFile.h
Due: none

feat: Custom fuzzer input generator for phone number inputs (#12724)
  velox/common/fuzzer/ConstrainedGenerators.cpp
  velox/common/fuzzer/ConstrainedGenerators.h
  velox/expression/fuzzer/ArgValuesGenerators.cpp
  velox/expression/fuzzer/ArgValuesGenerators.h
Due: none

Add new memory arbitration failure error code name
  presto-native-execution/presto_cpp/main/common/Exception.h
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: run_native_specific_jobs

[native] Throw velox_unsupported error when try_cast of varchar is not supported.
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

added null check to avoid duplicate nulls
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayDistinctFunction.java
Due: none

added test case for array_distinct bigint null check
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

[Iceberg]Refactor validation for `SHOW CREATE TABLE` for relevant tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Due: none

feat(s3): Add log location configuration (#12534)
  velox/connectors/hive/storage_adapters/s3fs/RegisterS3FileSystem.cpp
  velox/connectors/hive/storage_adapters/s3fs/S3Config.h
  velox/connectors/hive/storage_adapters/s3fs/S3FileSystem.cpp
  velox/connectors/hive/storage_adapters/s3fs/S3FileSystem.h
  velox/connectors/hive/storage_adapters/s3fs/tests/S3FileSystemTest.cpp
  velox/docs/configs.rst
Due: none

misc: Add fine-grained stats for index connector stats tracking (#12759)
  velox/common/base/Counters.cpp
  velox/common/base/Counters.h
  velox/common/base/RuntimeMetrics.cpp
  velox/common/base/tests/RuntimeMetricsTest.cpp
  velox/docs/monitoring/metrics.rst
  velox/docs/monitoring/stats.rst
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/TableScan.cpp
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/utils/TestIndexStorageConnector.cpp
Due: none

Move Presto on Spark page to Administration and refine details
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/spark.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/spark.rst
Due: run_linux_tests=false

MV refresh protocol mapping
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Due: run_native_specific_jobs

[native] Fix RowExpressionTest.castToVarchar
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
Due: run_native_specific_jobs

feat: Refactor TaskTraceReader (#12669)
  velox/exec/TaskTraceReader.cpp
  velox/exec/TaskTraceReader.h
  velox/exec/TraceUtil.cpp
  velox/exec/TraceUtil.h
  velox/exec/tests/OperatorTraceTest.cpp
  velox/tool/trace/OperatorReplayerBase.cpp
  velox/tool/trace/TraceReplayRunner.cpp
  velox/tool/trace/TraceReplayRunner.h
  velox/tool/trace/tests/TableScanReplayerTest.cpp
Due: none

Remove unused private from velox/common/base/tests/PointersTest.cpp +6
  velox/common/base/tests/PointersTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/exec/fuzzer/CacheFuzzer.cpp
  velox/experimental/wave/dwio/FormatData.h
  velox/experimental/wave/exec/TableScan.h
Due: none

Support ExchangeNode within DeleteNode
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/TableWriteInfo.java
Due: none

Refactor compressionEnabled to compressionCodec in PagesSerdeFactory
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/admin/spill.rst
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/CompressionCodec.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/AirliftCompressorAdapter.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/AirliftDecompressorAdapter.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PagesSerdeFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/FileFragmentResultCacheConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/FileFragmentResultCacheManager.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/spiller/NodeSpillConfig.java
  presto-main/src/main/java/com/facebook/presto/spiller/TempStorageSingleStreamSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/spiller/TempStorageStandaloneSpillerFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/HttpRemoteSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestPagesSerde.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestingPagesSerdeFactory.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryPools.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestFileFragmentResultCacheConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestMergeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/TestOptimizedPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/spiller/BenchmarkBinaryFileSpiller.java
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestBinaryFileSpiller.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestFileSingleStreamSpiller.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestFileSingleStreamSpillerFactory.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestNodeSpillConfig.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestSpillCipherPagesSerde.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestTempStorageSingleStreamSpiller.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs, run_linux_tests=false

Support data skipping for Hudi connector
  pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
  presto-hudi/pom.xml
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiFileSkippingManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSourceProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPartitionManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPredicates.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/AbstractHudiDistributedQueryTestBase.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestHudiPartitionManager.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestHudiSkipping.java
  presto-hudi/src/test/resources/hudi-skipping-schema-data.zip
Due: none

[native] Map kUnsupportedInputUncatchable to not supported error code.
  presto-native-execution/presto_cpp/main/common/Exception.h
Due: run_native_specific_jobs

Add ConnectorMetadata.commitPageSinkAsync hook for ConnectorDeleteTableHandle (#24783)
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

misc: Avoid data copy for duplicate result and simplify the impementation (#12765)
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.h
Due: none

Add union optimization
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/DefaultASTRewriter.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/UnionOptimizationRewrite.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

MV refresh protocol mapping (#24780)
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Due: run_native_specific_jobs

Fix MV mapping
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Due: run_native_specific_jobs

presto router - metrics based custom scheduler plugin - review
  presto-router-custom-scheduler/pom.xml
  presto-router-custom-scheduler/src/main/java/com/facebook/presto/router/scheduler/MetricsBasedScheduler.java
  presto-router-custom-scheduler/src/test/java/com/ibm/presto/scheduler/TestCustomScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/spec/SelectorRuleSpec.java
Due: none

Add various compressionCodec in PagesSerdeFactory
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/CompressionCodec.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/GzipCompressor.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/GzipDecompressor.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PagesSerdeFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ZlibCompressor.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ZlibDecompressor.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestPagesSerde.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestFileSingleStreamSpiller.java
  presto-spi/src/main/java/com/facebook/presto/spi/page/PagesSerde.java
Due: run_linux_tests=false

Apply suggestions from code review
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/admin/spill.rst
Due: run_linux_tests=false

[native] Differentiate number of drivers and number of splits in stats reporting
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/QueryProgressStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestThriftResourceGroupInfo.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryProgressStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/planPrinter/TestPlanPrinter.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-router/src/main/resources/router_ui/src/components/QueryList.jsx
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryOverview.jsx
Due: run_native_specific_jobs

code fix
  presto-ui/src/components/QueryList.jsx
Due: none

misc: Fix a comment for kUnsupportedInputUncatchable error code (#12768)
  velox/common/base/VeloxException.h
Due: none

Followup multiple eventlistener plugin changes (Fix tests).
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitScheduling.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingEventListenerManager.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/ThriftQueryRunner.java
Due: run_native_specific_jobs

cpp file
  presto-native-execution/presto_cpp/main/thrift/experimental/gen-cpp/Common_types.cpp
  presto-native-execution/presto_cpp/main/thrift/experimental/gen-cpp/Common_types.h
  presto-native-execution/presto_cpp/main/thrift/experimental/gen-cpp/TaskStatus_types.cpp
  presto-native-execution/presto_cpp/main/thrift/experimental/gen-cpp/TaskStatus_types.h
Due: run_native_specific_jobs
