Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

feat(native) : Add support to run the native query runner with native containers
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerBackedProcess.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-tests/pom.xml
  presto-plan-checker-router-plugin/pom.xml
Due: run_native_specific_jobs

fix(native-pos): Let native subprocess pick its own HTTP port to avoid bind races (#28125) (#28125)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/AbstractNativeProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/MetadataSidecarProcess.java
Due: run_native_specific_jobs

Revert "feat(parser): Add support for ANSI SQL syntax in trim function (#28190)"
  presto-docs/src/main/sphinx/functions/string.rst
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/AggregationAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Trim.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_linux_tests=false

test(native): Add E2E tests for Iceberg equality deletes
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestIcebergEqualityDeletesNative.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

feat(native-pos): Add MaterializedOutputBuffer backpressure counters (#28331)
  presto-native-execution/presto_cpp/main/operators/MaterializedOutput.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.h
  presto-native-execution/presto_cpp/main/operators/tests/MaterializedExchangeTest.cpp
Due: run_native_specific_jobs

revert(parser): Remove support for ANSI SQL syntax in trim function (#28334)
  presto-docs/src/main/sphinx/functions/string.rst
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/AggregationAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Trim.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_linux_tests=false

feat(native-pos): Enable RPC function planning on Presto-on-Spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Due: none

fix(native): remove wrong Host header from announcement and heartbeat manager
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
Due: run_native_specific_jobs

refactor(docs): Refactor Hive Security Configuration page structure
  presto-docs/src/main/sphinx/connector/hive-security.rst
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

fix: Bound the number of splits assigned to one PoS partition (#28326) (#28326)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkSourceDistributionSplitAssigner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestPrestoSparkSourceDistributionSplitAssigner.java
Due: run_linux_tests=false

feat(native-pos): Enable RPC function planning on Presto-on-Spark (#28336)
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Due: none

feat: Add ability to start native worker using containers (#28288)
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerBackedProcess.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-tests/pom.xml
  presto-plan-checker-router-plugin/pom.xml
Due: run_native_specific_jobs

fix(native): Do not dereference null handles in error messages (#28341)
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Add support for ADD COLUMN for nested struct fields
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/catalogserver/RemoteMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddFieldTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AddField.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

fix(native): copy the openzl patch into the dependency images
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
Due: run_native_specific_jobs

refactor(docs): Refactor Hive Security Configuration page structure (#28339)
  presto-docs/src/main/sphinx/connector/hive-security.rst
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

feat(native): Expose TopNRowNumber partial abandon thresholds (#28314)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

feat: Add xxhash128 Presto scalar function (#28289) (#28289)
  pom.xml
  presto-docs/src/main/sphinx/functions/binary.rst
  presto-docs/src/main/sphinx/release/release-0.298.rst
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/VarbinaryFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestVarbinaryFunctions.java
Due: run_linux_tests=false

fix(native): Do not dereference null handles in error messages (#28341) (#28341)
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/arrow_federation/ArrowFederationPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

feat(native-pos): Add zero-copy collect path to shuffle writer (#27981)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Due: run_native_specific_jobs

feat(khyperloglog): Add khyperloglog_agg_java_compat alias
  presto-docs/src/main/sphinx/functions/khyperloglog.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogWithLimitAggregationFunction.java
Due: run_linux_tests=false

feat: Merge-handle deser fix + existing-DV protocol/bridge (#28131) (#28131)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergInsertTableHandle.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDeleteTableHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDeleteTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergInsertTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorMergeTableHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/MergeHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/tests/MergeHandleTest.cpp
Due: run_native_specific_jobs

refactor: Fix checkstyle warnings
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDynamicTableFunctions.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/ConnectorTableMetadata.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/ForWorkerInfo.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/HttpClientHolder.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/JsonBasedTableFunctionMetadata.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/ManualNativeTableFunctionHandleJsonHandler.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeConnectorTableFunction.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeDescriptor.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTVFProvider.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTVFProviderFactory.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTVFProviderModule.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionAnalysis.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionHandle.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionSplit.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeWorkerCommunicationModule.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/ServingCatalog.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/TvfPlugin.java
Due: none

fix(docs): Add C++ Table functions documentation
  presto-docs/src/main/sphinx/presto_cpp/table-functions.rst
Due: run_linux_tests=false

feat(native) : Add dynamic native TVF tests
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tvf/core/TableFunctionProcessorNode.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionPartition.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/ExcludeColumns.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunction.h
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunctionResult.h
  presto-native-execution/presto_cpp/main/tvf/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-tests/presto_cpp/tests/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctions.cpp
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctions.h
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctionsPlugin.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDynamicTableFunctions.java
  presto-native-tvf/pom.xml
  presto-native-tvf/src/checkstyle/presto-checks.xml
Due: run_native_specific_jobs

feat(native) : Add Exclude Columns Tests
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNativeExcludeColumnsFunction.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNativeSequenceFunction.java
Due: none

refactor: Address review comments
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/table-functions.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionPartition.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionPartition.h
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunction.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunction.h
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunctionResult.h
  presto-native-tvf/pom.xml
Due: run_native_specific_jobs, run_linux_tests=false

feat(native-pos): Add zero-copy collect path to shuffle writer (#27981) (#27981)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.cpp
  presto-native-execution/presto_cpp/main/operators/MaterializedOutputBuffer.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Due: run_native_specific_jobs

fix: honor user-credential-name/password-credential-name in Oracle connector
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClientModule.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestCredentialPassthrough.java
Due: none

feat: Support hive type coercion from double to varchar
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveTypeCoercion.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/DoubleColumnReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
Due: none

feat(plugin-iceberg): DELETE, UPDATE and MERGE commands retry after iceberg commit conflict
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommitFailures.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergCommitFailures.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConcurrentUpdates.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
Due: run_linux_tests=false

fix: use CREATE TABLE instead of SELECT FROM dual in credential passthrough test
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestCredentialPassthrough.java
Due: none

fix(optimizer): Avoid NPE when a partitioning column is not a UNION output (#28345)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesUnionPreferredPartitioning.java
Due: none
