Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

add documentation for new table scan session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
Due: run_linux_tests=false

Add table scan session properties to native workers
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

Add catalog and schema level access checks in USE statement
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestUseTask.java
Due: none

feat: Adds shuffle compression support (#11914)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/docs/monitoring/stats.rst
  velox/exec/Exchange.cpp
  velox/exec/Exchange.h
  velox/exec/Merge.cpp
  velox/exec/Merge.h
  velox/exec/MergeSource.cpp
  velox/exec/Operator.h
  velox/exec/OutputBufferManager.h
  velox/exec/PartitionedOutput.cpp
  velox/exec/PartitionedOutput.h
  velox/exec/tests/MultiFragmentTest.cpp
  velox/serializers/RowSerializer.h
  velox/vector/VectorStream.h
  velox/vector/tests/VectorTest.cpp
Due: none

[native] Refactor Duration::toString and DataSize::toString to use fmt::format
  presto-native-execution/presto_cpp/presto_protocol/core/DataSize.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/Duration.cpp
Due: run_native_specific_jobs

[native] Regenerate Presto protocol
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Add ip_prefix function [4/n] (#11514)
  velox/docs/functions/presto/ipaddress.rst
  velox/functions/prestosql/IPAddressFunctions.h
  velox/functions/prestosql/tests/IPAddressFunctionsTest.cpp
Due: none

feat: Test restart in cache fuzzer (#11866)
  velox/docs/develop/testing/cache-fuzzer.rst
  velox/exec/fuzzer/CacheFuzzer.cpp
Due: none

Refactored PrestoAuthenticatorManager
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
  presto-main/src/main/java/com/facebook/presto/server/security/IscustomAuthenticatorRequested.java
  presto-main/src/main/java/com/facebook/presto/server/security/ServerSecurityModule.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestPrestoAuthenticator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
Due: none

fix: Casting Varchar to Timestamp should handle offsets that are not recognized time zones (#11849)
  velox/expression/PrestoCastHooks.cpp
  velox/expression/tests/CastExprTest.cpp
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
  velox/functions/prestosql/tests/TimestampWithTimeZoneCastTest.cpp
  velox/functions/prestosql/types/TimestampWithTimeZoneType.cpp
  velox/type/TimestampConversion.cpp
  velox/type/TimestampConversion.h
  velox/type/tests/TimestampConversionTest.cpp
Due: none

Fix failing equality delete tests
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Fix TestIcebergSystemTables
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Due: none

Fix TestSetTablePropertyProcedure
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetTablePropertyProcedure.java
Due: none

Fix TestIcebergSystemTablesNessie
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
Due: none

Fix IDTB#testUpdateWithPredicate
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

fix: Fix macos build failure (#11921)
  velox/exec/tests/MultiFragmentTest.cpp
Due: none

fix(fuzzer): Fix sanitize(type) in FuzzerUtil for IPPREFIX type (#11846)
  velox/exec/fuzzer/FuzzerUtil.cpp
  velox/expression/fuzzer/ArgumentTypeFuzzer.cpp
  velox/expression/fuzzer/CMakeLists.txt
  velox/expression/fuzzer/ExpressionFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
Due: none

fix(fuzzer): Skip check of verified iterations in WindowFuzzer when verification is not enabled (#11918)
  velox/exec/fuzzer/WindowFuzzer.cpp
Due: none

Add support for row filtering https://github.com/trinodb/trino/commit/7efb49ca76782ef83b347b8d51ea422057bca1e0
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
  presto-main/src/test/java/com/facebook/presto/sql/query/TestRowFilter.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewExpression.java
Due: none

Add support for column masking, https://github.com/trinodb/trino/commit/7e0d88e6906cb91387d707f8daf9dc46095ad0bf
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: none

Disallow multiple masks on a given column, trino https://github.com/trinodb/trino/commit/bdd1cb5dbc66e938de4802145ee75f5cfb1e4bb1
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
Due: none

Add SPI to customize expression optimization
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/sql/planner/ExpressionOptimizerContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/sql/planner/ExpressionOptimizerFactory.java
Due: none

Use ExpressionOptimizerProvider
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcPlanOptimizerProvider.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
  presto-main/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/ConnectorRowExpressionService.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorContext.java
  presto-main/src/test/java/com/facebook/presto/cost/AbstractTestComparisonStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/AbstractTestFilterStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestConnectorFilterStatsCalculatorService.java
  presto-main/src/test/java/com/facebook/presto/cost/TestJoinStatsRule.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/sql/InMemoryExpressionOptimizerProvider.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReorderWindows.java
Due: none

Deprecate regex property for tracing
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Due: run_native_specific_jobs, run_linux_tests=false

assign event loop to tasks and run methods from a task in the same event loop
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Due: none

[Iceberg]Fix flaky caused by rename view test
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
Due: none

Refactor authentication to use RequestHeaders interface
  presto-lark-sheets/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestPrestoAuthenticator.java
  presto-password-authenticators/pom.xml
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/security/HttpServletRequestHeaders.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ReadOnlyHttpServletRequest.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/RequestHeaders.java
Due: none

Improved exception handling
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
Due: none

[native] Fix unsafe row exchange source with compression support
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

fix: Fix 0 reclaimable bytes handling in priority reclaiming (#11925)
  velox/common/memory/MemoryArbitrator.cpp
  velox/exec/tests/MemoryReclaimerTest.cpp
Due: none

Add Support for Iceberg table sort orders
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriterConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSortingFileWriterConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergOutputTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSortingFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergWritableTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortFieldUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestSortFieldUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
