Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Refactor the connector SPI to expose procedure registry to connectors
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorContextInstance.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorContext.java
Due: none

Analyze and plan for call distributed procedure statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/CallDistributedProcedureNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Support and handle call distributed procedure statement in preparer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryPreparer.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/MetadataUtils.java
  presto-analyzer/src/test/java/com/facebook/presto/sql/analyzer/TestBuiltInQueryPreparer.java
  presto-common/src/main/java/com/facebook/presto/common/resourceGroups/QueryType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AnalyzerOptions.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TestProcedureRegistry.java
Due: none

[native] Relevant changes of presto protocol for distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

Address comments
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/BaseProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
Due: none

chore(ci): Advance Velox (#26387)
  .github/workflows/prestocpp-macos-build.yml
Due: none

Fix compiling failure caused by commit conflict
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Call.java
Due: none

Back out "[presto][diff_train] feat: Add exchange.max-buffer-size to system config (#26488)"
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

feat(reader): Extend session property to control row size tracking for metalake (#26271)
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

Add JSON to WriterTarget
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
  presto-spi/src/test/java/com/facebook/presto/spi/plan/TestTableWriterNode.java
Due: none

fix(native): Revert PR 26488 (#26508)
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

Upgrade Pinot version to 1.3.0 & move off of presto-pinot-driver
  pom.xml
  presto-elasticsearch/pom.xml
  presto-main-base/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot/pom.xml
Due: none

fix(native): Generation of thrift protocol (#26419)
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
  presto-native-execution/scripts/setup-centos.sh
Due: run_native_specific_jobs

fix(ci): Add cancellation logic where missing (#26327)
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/owasp-dependency-check.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Due: none

feat(plugin-oracle): Implemented getTableStatistics for oracle connector (#26120)
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

feat(functions) : Add support for REST based remote functions
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToRestFunctionExpr.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoToRestFunctionExpr.h
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RestFunctionHandleTest.cpp
Due: run_native_specific_jobs

feat(functions) : Add e2e test for remote functions
  .gitignore
  Jenkinsfile
  docker/Dockerfile
  presto-native-execution/.dockerignore
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

CI fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

Update singlestore.rst
  presto-docs/src/main/sphinx/connector/singlestore.rst
Due: run_linux_tests=false

fix: Disable always active spark2 profile
  pom.xml
Due: none

chore: Upgrade org.scala-lang:scala-library versio to 2.13.17 (#26400)
  pom.xml
  presto-delta/pom.xml
  presto-kafka/pom.xml
  presto-product-tests/pom.xml
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
  presto-spark-classloader-spark3/pom.xml
  presto-spark-launcher/pom.xml
Due: none

Add 'deps' to conventional commit check patterns
  .github/workflows/conventional-commit-check.yml
Due: none

feat(plugin-pinot): Upgrade Pinot version to 1.3.0 & move off of presto-pinot-driver (#25785)
  pom.xml
  presto-elasticsearch/pom.xml
  presto-main-base/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot/pom.xml
Due: none

Fix eslint errors, auto fixed whats possible and manually otherwise
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/PageTitle.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryHeader.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryResults.jsx
  presto-ui/src/components/QuerySplitsView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/QueryViewer.jsx
  presto-ui/src/components/ResourceGroupView.jsx
  presto-ui/src/components/SQLClient.jsx
  presto-ui/src/components/SQLInput.jsx
  presto-ui/src/components/SessionProps.jsx
  presto-ui/src/components/Splits.jsx
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/components/StaticQueryHeader.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
  presto-ui/src/d3utils.js
  presto-ui/src/embedded_plan.jsx
  presto-ui/src/eslint.config.mjs
  presto-ui/src/index.jsx
  presto-ui/src/lazy.jsx
  presto-ui/src/package.json
  presto-ui/src/plan.jsx
  presto-ui/src/query.jsx
  presto-ui/src/query_viewer.jsx
  presto-ui/src/res_groups.jsx
  presto-ui/src/router/ClusterHUD.jsx
  presto-ui/src/router/PageTitle.jsx
  presto-ui/src/router/QueryList.jsx
  presto-ui/src/router/index.jsx
  presto-ui/src/sql_client.jsx
  presto-ui/src/stage.jsx
  presto-ui/src/timeline.jsx
  presto-ui/src/utils.js
  presto-ui/src/worker.jsx
Due: none

Add lint check to webui CI flow
  presto-ui/bin/check_webui.sh
Due: none

Format json/html, but do not lint just yet
  presto-ui/src/.prettierignore
  presto-ui/src/.prettierrc.json
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/eslint.config.mjs
  presto-ui/src/package.json
  presto-ui/src/templates/query_viewer.html
  presto-ui/src/webpack.config.js
Due: none

Move prettier to the bottom so it can override things properly, format eslint config
  presto-ui/src/eslint.config.mjs
  presto-ui/src/package.json
Due: none

Push html/json to follow up
  presto-ui/src/package.json
Due: none

fix(ci): License check on yml files
  presto-native-execution/scripts/license-header.py
Due: run_native_specific_jobs

chore(ci): Add 'deps' to conventional commit check patterns (#26519)
  .github/workflows/conventional-commit-check.yml
Due: none

fix(ci): License check on yml files (#26511)
  presto-native-execution/scripts/license-header.py
Due: run_native_specific_jobs

Sort the function metadata by the function kind and parameter types
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
Due: run_native_specific_jobs

fix(security): Migrate the io.airlift:resolver to com.facebook.airlift.resolver:resolver:1.7
  pom.xml
  presto-function-server/pom.xml
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionPluginManager.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/server/PluginDiscovery.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestPluginManagerConfig.java
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
Due: none

Refactor PrestoS3FileSystem code w.r.t review comments
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3AclType.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Upgrade com.github.luben:zstd-jni versio to 1.5.7-6
  pom.xml
Due: none

chore(ci): Add 'optimizer' scope to conventional commit check (#26503)
  .github/workflows/conventional-commit-check.yml
Due: none

Bump net.jodah:failsafe to 2.4.4
  pom.xml
Due: none
