Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Convert all jquery usage to native JS
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryHeader.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/ResourceGroupView.jsx
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/components/StaticQueryHeader.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
  presto-ui/src/router/ClusterHUD.jsx
  presto-ui/src/router/QueryList.jsx
Due: none

[Codemod][ThriftAnnotationsFBSource] fbcode/github/ (#26423)
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
Due: run_native_specific_jobs

misc: Advance Velox
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

Fix ApplyConnectorOptimization when having multiple optimizer with different supported connectors
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestConnectorOptimization.java
Due: none

Add get connector ID for connector session
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
Due: none

refactor: Convert router components from class to ES6 function components (#25666)
  presto-ui/src/router/ClusterHUD.jsx
  presto-ui/src/router/PageTitle.jsx
  presto-ui/src/router/QueryList.jsx
Due: none

refactor: ToHiveTableHandle to static utility function (#26430)
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
Due: run_native_specific_jobs

fix: Handle restricted output columns in Arrow Page Source
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowColumnHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPageSource.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPageSourceProvider.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowTableHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowColumnHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueriesWithTVF.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowTableHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowTableLayoutHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/PrimitiveToPrestoTypeMappings.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowConnector.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowMetadata.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowModule.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingQueryArrowTableHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/tvf/QueryFunctionProvider.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowFlightRequest.java
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/presto_protocol_arrow_flight.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/presto_protocol_arrow_flight.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
Due: run_native_specific_jobs, run_linux_tests=false

fix(native-pos): Enable shuffle stats (#26409)
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStats.java
Due: none

fix: Fix ApplyConnectorOptimization when having optimizers supporting multiple connectors (#26429)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestConnectorOptimization.java
Due: none

misc: Add get connector ID for connector session (#26431)
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
Due: none

Analyze and plan for call distributed procedure statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/CallDistributedProcedureNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Refactor the connector SPI to expose procedure registry to connectors
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorContextInstance.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorContext.java
Due: none

Refactor ProcedureRegistry to support distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ProcedureRegistry.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorDistributedProcedureHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorProcedureContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/IProcedureRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/Procedure.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCall.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCreation.java
Due: none

Support and handle call distributed procedure statement in preparer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryPreparer.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/MetadataUtils.java
  presto-analyzer/src/test/java/com/facebook/presto/sql/analyzer/TestBuiltInQueryPreparer.java
  presto-common/src/main/java/com/facebook/presto/common/resourceGroups/QueryType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AnalyzerOptions.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TestProcedureRegistry.java
Due: none

[native] Relevant changes of presto protocol for distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

[sv-cosoc]fix: Always report max remaning bytes for shuffle exchange source. (#26432)
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
Due: run_native_specific_jobs

refactor(native): Decouple Iceberg from HivePrestoToVeloxConnector
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
Due: run_native_specific_jobs

Allow InPredicate in MV refresh where clause (#26424)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
Due: none

Fix inconsistent case handling in UPDATE SET column resolution
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
Due: none

chore(ci): Advance Velox (#26385)
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

refactor(native): Decouple Iceberg from HivePrestoToVeloxConnector (#26420)
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/HivePrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
Due: run_native_specific_jobs

feat(native-pos): Add velox runtime metrics support for shuffle read
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Due: run_native_specific_jobs

feat(native-pos): Add velox runtime metrics support for shuffle read (#26437)
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Due: run_native_specific_jobs

feat(native-pos): Add metrics API for shuffle writer
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
Due: run_native_specific_jobs

feat: Allow InPredicate in MV refresh where clause (#26424)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
Due: none

Add support for ``engine.hive.lock-enabled`` property when creating iceberg tables
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
Due: run_linux_tests=false

Override createFeaturesConfig in AbstractTestAggregationsNative.java to not use optimize_hash_generation in native tests.
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/TestThriftLogicalPlanner.java
Due: none

feat(plugin-iceberg): Add support for ``engine.hive.lock-enabled`` property when creating iceberg tables (#26234)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
Due: run_linux_tests=false

Fix incorrect Iceberg columnHandle type in Prestissimo
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransformType.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Fix failure of FunctionMetadataTest.mod on MacOS
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
Due: run_native_specific_jobs

Fix code formatting
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
Due: run_native_specific_jobs

feat(native-pos): Add metrics API for shuffle writer (#26438)
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
Due: run_native_specific_jobs

feat(pos): Add spark driver temp storage handle propagation
  presto-main-base/src/main/java/com/facebook/presto/spiller/LocalTempStorage.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkTaskDescriptor.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkStaticQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spi/src/main/java/com/facebook/presto/spi/storage/TempStorage.java
  presto-spi/src/main/java/com/facebook/presto/spi/storage/TempStorageHandle.java
Due: none
