Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Convert DataSize for other files in presto-main
  presto-main/src/main/java/com/facebook/presto/dispatcher/FailedDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/event/SplitMonitor.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/thrift/ThriftTaskService.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanNodeStatsSummarizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
Due: none

Convert DataSize for cpp worker
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

Convert DataSize for tests
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestMemoryRevokingScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryLimit.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/BufferTestUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestArbitraryOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestBroadcastOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestClientBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestPartitionedOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestSpoolingOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/memory/TestHighMemoryTaskKiller.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/operator/TestDriverStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashAggregationOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestScanFilterAndProjectOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/TestOptimizedPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestThriftServerInfoIntegration.java
  presto-main/src/test/java/com/facebook/presto/server/TestThriftTaskIntegration.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestingOutputBuffer.java
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestJoinQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Due: none

Convert DataSize for operator
  presto-main/src/main/java/com/facebook/presto/operator/DriverContext.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorContext.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
Due: none

Convert DataSize for presto-spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkTaskManager.java
Due: none

Convert DataSize for APIs
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
Due: none

Convert DataSize for UI
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

Convert DataSize for execution
  presto-main/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/ManagedQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryLimit.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskManager.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ArbitraryOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/BroadcastOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ClientBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/DiscardingOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/LazyOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/OutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PartitionedOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/SpoolingOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/SpoolingOutputBufferFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQuerySchedulerInterface.java
Due: none

Remove logic for weighted scheduling in ClusterManager
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
Due: none

feat: Add field access resolving hook (#12530)
  velox/parse/Expressions.cpp
  velox/parse/Expressions.h
Due: none

Add support for Unknown Type in Set Union (#12559)
  velox/functions/prestosql/aggregates/SetAggregates.cpp
  velox/functions/prestosql/aggregates/tests/SetUnionTest.cpp
Due: none

Upgrade netty version to 4.1.118.Final to resolve CVE-2025-25193
  pom.xml
Due: none

Revert API change for QueryStats
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
Due: none

feat: BingTile cast to/from Bigint (#12505)
  velox/functions/prestosql/tests/BingTileCastTest.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/types/BingTileRegistration.cpp
  velox/functions/prestosql/types/BingTileRegistration.h
  velox/functions/prestosql/types/BingTileType.h
  velox/functions/prestosql/types/tests/BingTileTypeTest.cpp
Due: none

Revert related tests
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestJoinQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Due: none

Revert UI change
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

Revert presto-spark-base change
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkTaskManager.java
Due: none

Switch mapping of Delta Timestamp type to TIMESTAMP_WITH_TIMEZONE
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaIntegration.java
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/.part-00000-16ab4bfc-37b2-4e87-961c-e9e18a355eeb-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v1/snapshot-data3/test-typing1/part-00000-16ab4bfc-37b2-4e87-961c-e9e18a355eeb-c000.snappy.parquet
  presto-delta/src/test/resources/delta_v1/test-typing/.part-00000-4705e2d5-430d-42da-a737-4921ed7fc950-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v1/test-typing/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v1/test-typing/part-00000-4705e2d5-430d-42da-a737-4921ed7fc950-c000.snappy.parquet
  presto-delta/src/test/resources/delta_v3/test-typing/.part-00000-994a8669-28a4-4c94-a8bb-a437508996d7-c000.snappy.parquet.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/.00000000000000000000.crc.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/.00000000000000000000.json.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v3/test-typing/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/test-typing/part-00000-994a8669-28a4-4c94-a8bb-a437508996d7-c000.snappy.parquet
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Due: none

Support HDFS and S3 path as warehouse directory for Hive file metastore
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
Due: run_linux_tests=false

[native] Differentiate number of drivers and number of splits in stats reporting (Part-1)
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/QueryProgressStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/MockManagedQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestThriftResourceGroupInfo.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryProgressStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Due: run_native_specific_jobs

ui changes
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-router/src/main/resources/router_ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryOverview.jsx
Due: run_native_specific_jobs

Changes to enable tls in hms
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableTrustStore.java
Due: none

Changes to enable tls in hms
  presto-hive/src/test/resources/hive_ssl_enable/hive-site.xml
Due: none

hive-metastore changes
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/authentication/HiveMetastoreAuthentication.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/authentication/NoHiveMetastoreAuthentication.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreContext.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveCluster.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/StaticHiveCluster.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/Transport.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestStaticHiveCluster.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestingHiveCluster.java
  presto-hive/src/main/java/com/facebook/presto/hive/authentication/KerberosHiveMetastoreAuthentication.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveTableConstraints.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/TestInMemoryCachingHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/statistics/TestParquetQuickStatsBuilder.java
  presto-hive/src/test/java/com/facebook/presto/hive/statistics/TestQuickStatsProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: none

Changes to enable tls in hms
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
Due: none

bucket name changes
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableKeystore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableTrustStore.java
Due: none

code refactor
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
Due: none

[native] remove native prefix for native connector session property
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

bucket name changes
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableKeystore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
Due: none

documentation changes
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

fix: Fix error type of arbitration failure (#12507)
  velox/common/base/VeloxException.h
  velox/common/base/tests/StatsReporterTest.cpp
  velox/common/memory/MemoryArbitrator.cpp
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/SharedArbitrator.cpp
  velox/common/memory/SharedArbitrator.h
  velox/common/memory/tests/ArbitrationParticipantTest.cpp
  velox/common/memory/tests/MemoryArbitratorTest.cpp
  velox/common/memory/tests/MemoryCapExceededTest.cpp
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
  velox/dwio/dwrf/test/WriterFlushTest.cpp
  velox/exec/tests/WindowTest.cpp
Due: none

Fix CVE security issues: - Plexus Utils: 1 Critical - Helix-Core: 1 Critical - Ion-Java: 3 High
  pom.xml
  presto-pinot-toolkit/pom.xml
Due: none

Moved the utility method from utils to MetadatUtils
  presto-common/src/main/java/com/facebook/presto/common/Utils.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/MetadataUtils.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueToPrestoConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
Due: none

Review comments
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotColumnMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnMetadata.java
Due: none

Upgrade elasticsearch dependency to 7.17.27
  pom.xml
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticSearchClientUtils.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
Due: none

Add dynamic catalog loading
  presto-docs/src/main/sphinx/rest.rst
  presto-docs/src/main/sphinx/rest/catalog.rst
  presto-main/src/main/java/com/facebook/presto/metadata/StaticCatalogStore.java
  presto-main/src/main/java/com/facebook/presto/server/CatalogResource.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/test/java/com/facebook/presto/server/TestCatalogResource.java
Due: run_linux_tests=false

Support multiple event listener plugins
  presto-docs/src/main/sphinx/develop/event-listener.rst
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerConfig.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerModule.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/dispatcher/TestLocalDispatchQuery.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerConfig.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
Due: run_linux_tests=false

Revert DataSize change for public-facing API (#24682)
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestJoinQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/StageDetail.jsx
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
