Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites profile in product tests
  .github/workflows/product-tests-specific-environment.yml
  presto-product-tests/conf/docker/singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites/compose.sh
  presto-product-tests/conf/docker/singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites/docker-compose.yml
  presto-product-tests/conf/hadoop/singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites/core-site.xml
  presto-product-tests/conf/hadoop/singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites/hdfs-site.xml
  presto-product-tests/conf/presto/etc/environment-specific-catalogs/singlenode-kerberos-hdfs-impersonation-with-wire-encryption-cipher-suites/hive.properties
Due: none

[presto] Add enum type flag to Prestissimo worker config (#25989)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/TypeParserTest.cpp
Due: run_native_specific_jobs

Split Provisio plugin packaging into plugins and native-plugins directory
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-product-tests/conf/docker/common/compose-commons.sh
  presto-server/src/main/provisio/presto.xml
Due: run_linux_tests=false

Allow duplicate function signatures when matching with generic candidates
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

Add plan support for using uniqueness of row_id
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveBucketedTablesWithRowId.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/LocalProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPreferredProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLocalProperties.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableLayout.java
  presto-spi/src/main/java/com/facebook/presto/spi/UniqueProperty.java
Due: none

feat: Implement geometry_to_dissolved_bing_tiles (#14251)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometryUtils.cpp
  velox/functions/prestosql/geospatial/GeometryUtils.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: none

cannot drop table?
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

[native] Add parameterized varchar type in the list of supported types in NativeTypeManager
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
Due: none

remove duplicate class
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

update import
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

revert to rand number if it works
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

test session
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

refactor: Use constants for special form names (#14734)
  velox/connectors/hive/HiveConnectorUtil.cpp
  velox/dwio/common/MetadataFilter.cpp
  velox/expression/ExprCompiler.cpp
  velox/expression/ExprConstants.h
  velox/expression/RegisterSpecialForm.cpp
  velox/expression/RegisterSpecialForm.h
  velox/expression/RowConstructor.cpp
  velox/expression/RowConstructor.h
  velox/expression/SwitchExpr.cpp
  velox/functions/CoverageUtil.cpp
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/SimpleComparisonMatcher.cpp
  velox/functions/prestosql/registration/GeneralFunctionsRegistration.cpp
  velox/functions/sparksql/registration/RegisterSpecialForm.cpp
Due: none

[native] Add runtime stats taskCreationTime
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

information_schema was missing
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: none

[Iceberg]Support single-table multi-statement writes transaction
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergParquetDereferencePushDown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/FastForwardBranchProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetCurrentSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetTablePropertyProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionMetadata.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/iceberg/TestIcebergHiveMetadataListing.java
Due: none

[Iceberg]Accept and maintain autocommit and isolation level on tx start
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
Due: none

Refactor `Connector`: pass autocommit context to connector transactions
  presto-main-base/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

feat: Apply IndexLookupJoinBuilder to indexlookupjoin test (#14823)
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.cpp
Due: none

[ToBeSquashed]Refactor test cases using new transaction test framework
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
Due: none

support specify region
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: run_linux_tests=false

Add array function tests to native-tests
  pom.xml
  presto-hive/pom.xml
  presto-i18n-functions/pom.xml
  presto-iceberg/pom.xml
  presto-main-base/pom.xml
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/AbstractTestFunctions.java
  presto-main-tests/pom.xml
  presto-main-tests/src/main/java/com/facebook/presto/tests/operator/scalar/AbstractTestArraySort.java
  presto-main-tests/src/main/java/com/facebook/presto/tests/operator/scalar/TestFunctions.java
  presto-ml/pom.xml
  presto-native-execution/pom.xml
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestNativeFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestArraySortFunction.java
  presto-pinot/pom.xml
  presto-teradata-functions/pom.xml
Due: run_native_specific_jobs

fix: Unused JSON field in `TableWriteNode::create` (#14815)
  velox/core/PlanNode.cpp
Due: none

Add ThriftFilterPushdown for native execution
  presto-benchmark-runner/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-thrift-connector/pom.xml
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnector.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorFactory.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorOptimizerProvider.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftFilterPushdown.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftMetadata.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftModule.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftTableLayoutHandle.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftWarningCode.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/TestThriftLogicalPlanner.java
Due: none

Enable more feature on published images
  .github/workflows/presto-release-publish.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
  presto-native-execution/scripts/setup-adapters.sh
Due: run_native_specific_jobs

Bump up org.apache.yetus:audience-annotations version to 0.15.1
  presto-kudu/pom.xml
Due: none

refactor: Remove unnecessary dependencies from velox_cursor lib (#14828)
  velox/exec/CMakeLists.txt
Due: none

Additional properties for Arrow column handles
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowColumnHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowColumnHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowTableLayoutHandle.java
Due: none

Upgrade org.reflections version
  presto-pinot-toolkit/pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
