Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

fix: rename nimble config key and update test comments
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

misc: Rename config key to `nimble.stats.enable_vectorized` for consistent naming
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Fix checkstyle and other minor improvements
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/ExcludeColumns.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/RemoteAnn.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/Sequence.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TestingTableFunctions.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/ReturnTypeSpecification.h
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/GenericTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/OnlyPassThroughReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProviderFactory.java
Due: run_native_specific_jobs

[presto] Show stage completion state in query plan (#27388)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Due: none

chore(ci): Advance velox
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
Due: run_native_specific_jobs

feat: [presto][iceberg] Add Iceberg V3 deletion vector write path with DV page sink and compaction procedure (#27395)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CommitTaskData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletionVectorPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDeleteFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

feat: [prestissimo][iceberg] Wire PUFFIN file format through C++ protocol and connector layer (#27394)
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

feat:[prestissimo][iceberg] Reformat FileContent enum to multi-line for extensibility (#27391)
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

feat: [presto][iceberg] Add nanosecond timestamp (TIMESTAMP_NANO) type support for Iceberg V3 (#27396)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

feat:[presto][iceberg] Wire dataSequenceNumber through protocol layer for equality delete conflict resolution (#27392)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

feat: [presto][iceberg] Add PUFFIN file format support for deletion vector discovery (#27393)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FileFormat.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

feat: [presto] Upgrade Iceberg library from 1.10.0 to 1.10.1 (#27399)
  pom.xml
Due: none

feat: [presto][iceberg] Add DWRF file format support for Iceberg read and write paths
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FileFormat.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

feat: [presto][iceberg] Add Variant type support for Iceberg V3 (#27397)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/VariantBinaryCodec.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/function/VariantFunctions.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestVariantBinaryCodec.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestVariantFunctions.java
Due: none

[presto][iceberg] Add commit_table_data CAS support for atomic Iceberg metadata commits
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveTableOperationsConfig.java
Due: none

Add support for adding Iceberg V3 default column values
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergColumnHandle.hpp.inc
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ColumnDefinition.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_native_specific_jobs, run_linux_tests=false

misc: Various Code quality improvements in presto_cpp/main/types/ (#27405)
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
  presto-native-execution/presto_cpp/main/types/PrestoTaskId.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
Due: run_native_specific_jobs

test: add e2e testing for google polyline encode and decode velox functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestGooglePolylineFunctions.java
Due: none

docs: Improve documentation for deploying custom plugins
  presto-docs/src/main/sphinx/connector/googlesheets.rst
  presto-docs/src/main/sphinx/develop/spi-overview.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-custom-plugins.rst
Due: run_linux_tests=false

docs: address PR review feedback by simplifying spi-overview
  presto-docs/src/main/sphinx/develop/spi-overview.rst
Due: run_linux_tests=false

misc: Various Code quality improvements in presto_cpp/main/types/ (#27405) (#27405)
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
  presto-native-execution/presto_cpp/main/types/PrestoTaskId.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
Due: run_native_specific_jobs

docs: adjust heading underline length to match text
  presto-docs/src/main/sphinx/installation/deploy-custom-plugins.rst
Due: run_linux_tests=false

plan-dump-dir feature
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

feat: add encoding_read_factors DDL property for Nimble tables
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
Due: run_native_specific_jobs

Feat: [presto][iceberg] Enable V3 row-level operations: DELETE, UPDATE, and MERGE INTO with deletion vectors
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

refactor: Add JSON serializations to RowType (#27386)
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
Due: none

[presto][diff_train] Fix OSS Spark modules to produce Java 8 bytecode after airbase 109 upgrade
  presto-spark-classloader-interface/pom.xml
  presto-spark-launcher/pom.xml
Due: none

add unit tests, cleanup
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

misc: Add alpha prefix for extractNimbleSerdeParameters
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Remove redundant method calls in MaterializedViewQueryOptimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
Due: none

feat(): Adding 'finishingTime' to QueryStatistics.
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/PrestoEventData.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryStatistics.java
Due: none

misc: Add alpha prefix for extractNimbleSerdeParameters (#27413)
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs
