Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Add $snapshot_sequence_number as hidden column in iceberg table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SnapshotsTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: run_linux_tests=false

[Codemod][ThriftAnnotateAllowLegacyMissingUrisFBSource] fbcode/github/ (#26799)
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_native.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs, run_linux_tests=false

Final analyzer/planner/optimizer changes for tvf except LocalExecutionPlanner and ExcludeColumns optimizer rule.
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Field.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SchedulingOrderVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/TableFunctionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ImplementTableFunctionSource.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteTableFunctionToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/QueryCardinalityUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/SimplePlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TableFunctionProcessorMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestImplementTableFunctionSource.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/TableFunctionProcessorBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
Due: none

Add optimizer rules for table functions.
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantTableFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveRedundantTableFunction.java
Due: none

Add table function exclude_columns
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionRegistry.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/operator/scalar/AbstractTestNativeFunctions.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
Due: none

Add table function sequence
  presto-main-base/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/SystemConnectorModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestExcludeColumnsFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none

Rewrite exclude_columns table function into projection
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteExcludeColumnsFunctionToProjection.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/QueryCardinalityUtil.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTableFunctionInvocation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteExcludeColumnsFunctionToProjection.java
Due: none

Rename ImplementTableFunctionSource to TransformTableFunctionToTableFunctionProcessor
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformTableFunctionToTableFunctionProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionProcessorNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestTransformTableFunctionToTableFunctionProcessor.java
Due: none

fix testAllMethodsOverridden
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorSplitManager.java
Due: none

Address some review comments
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/operator/RegularTableFunctionPartition.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableFunctionProcessorSourceColumns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteExcludeColumnsFunctionToProjection.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformTableFunctionProcessorToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformTableFunctionToTableFunctionProcessor.java
Due: none

update PlanOptimizers
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantTableFunctionProcessor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveRedundantTableFunctionProcessor.java
Due: none

Address comments
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/operator/PagesIndex.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TableFunctionOperator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableFunctionDataProcessor.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableFunctionProcessorState.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableFunctionSplitProcessor.java
Due: none

Add Iceberg metadata table $metadata_log_entries
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/MetadataLogTable.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Due: run_linux_tests=false

misc(native): update namespaces for remote functions and tests
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteStrLenHandler.h
Due: run_native_specific_jobs

Upgrade airbase version to 108
  pom.xml
Due: none

feat(testing): Add nondeterministic verifier retry (#26696)
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerification.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierConfig.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/AbstractVerificationTest.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerifierConfig.java
Due: none

feat(client): Add serialized response format option to Presto client (#26654)
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkDriverOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestClientOptions.java
  presto-client/pom.xml
  presto-client/src/main/java/com/facebook/presto/client/BinaryDataDeserializer.java
  presto-client/src/main/java/com/facebook/presto/client/ClientSession.java
  presto-client/src/main/java/com/facebook/presto/client/ClientTypeManager.java
  presto-client/src/main/java/com/facebook/presto/client/QueryParameters.java
  presto-client/src/main/java/com/facebook/presto/client/StatementClientV1.java
  presto-client/src/test/java/com/facebook/presto/client/TestBinaryDataDeserializer.java
  presto-client/src/test/java/com/facebook/presto/client/TestClientTypeManager.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoConnection.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestFinalQueryInfo.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestPrestoClient.java
Due: none

refactor(native): implement singleton-based registration for REST remote functions and improve test coverage
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/PrestoRestFunctionRegistrationTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

fix(ui): Restrict img-src wildcard in CSP (#26790)
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
Due: none

Refactored based on review comments
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-hadoop2/pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3AclType.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ClientFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystemStats.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/MockAmazonS3.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/MockAmazonS3Async.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: run_linux_tests=false

fix(native): Fix executor name in PrestoExchangeSource
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
Due: run_native_specific_jobs

fix(native): Fix comment for kExchangeImmediateBufferTransfer
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

feat: Add materialized cte support for single node execution (#26794)
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDistributedCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSingleNodeCteExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/CTEMaterializationTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeCteExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquetDistributed.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquetSingleNode.java
Due: run_native_specific_jobs

chore(deps): Upgrade airbase version to 108 (#26807)
  pom.xml
Due: none

fix(native): Fix comment for kExchangeImmediateBufferTransfer (#26810)
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

feat(native): Add support for custom execution point in Rest functions (#26636)
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.cpp
  presto-native-execution/presto_cpp/main/functions/remote/PrestoRestFunctionRegistration.h
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.cpp
  presto-native-execution/presto_cpp/main/functions/remote/RestRemoteFunction.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/tests/PrestoRestFunctionRegistrationTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.cpp
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/RestFunctionRegistry.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/tests/server/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

Remove unnecessary format wrapping
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkAdaptiveQueryExecution.java
Due: none

feat(native): Add Native TVF functions test
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionJacksonHandleModule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestTableFunctionRegistry.java
  presto-native-execution/pom.xml
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/functions/Sequence.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TableFunctionsRegistration.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TestingTableFunctions.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TestingTableFunctions.h
  presto-native-execution/presto_cpp/main/tvf/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.h
  presto-native-execution/presto_cpp/main/tvf/tests/SequenceTest.cpp
  presto-native-execution/presto_cpp/main/tvf/tests/TableFunctionsInvocationTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTvfFunctions.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTvfFunctions.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTVFProvider.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionAnalysis.java
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescribedTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/GenericTableReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/OnlyPassThroughReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/tvf/TVFProviderContext.java
Due: run_native_specific_jobs

feat(plugin-iceberg): Add Iceberg metadata table $metadata_log_entries (#24302)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/MetadataLogTable.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Due: run_linux_tests=false

Add support for skip_header_line_count and skip_footer_line_count in hive
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/RecordFileWriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/TextCSVHeaderWriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: run_linux_tests=false
