Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix local presto server start on latest master
  presto-main/etc/config.properties
Due: none

Add new ConnectorMetadata.finishDeleteWithOutput() to allow DELETE queries to log outputs (#26134)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

[native] Add native_use_velox_geospatial_join session property
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Rewrite Geometry to Varchar type for verifier temp tables (#26140)
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriter.java
Due: none

[native] Enable sql invoked function tests
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestSqlInvokedFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestEngineOnlyQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestSqlInvokedFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSqlInvokedFunctions.java
Due: none

Fix constant folding for SpecialFormExpression and LambdaDefinitionExpression in sidecar enabled clusters
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

Add more task scheduling runtime stats
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SchedulerStatsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
Due: none

fix: Add generalized array_frequency array support to any element type (#26040)
  presto-native-execution/presto_cpp/main/types/tests/data/ArrayFrequency.json
Due: run_native_specific_jobs

Upgrade org.jetbrains:annotations version 26.0.2
  pom.xml
  presto-accumulo/pom.xml
  presto-elasticsearch/pom.xml
  presto-hana/pom.xml
  presto-mysql/pom.xml
  presto-postgresql/pom.xml
  presto-singlestore/pom.xml
Due: none

Add TLS support for druid connector
  presto-docs/src/main/sphinx/connector/druid.rst
  presto-druid/src/main/java/com/facebook/presto/druid/DruidBrokerPageSource.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidClient.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidConfig.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidConnectorFactory.java
  presto-druid/src/main/java/com/facebook/presto/druid/DruidPlugin.java
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidConfig.java
Due: run_linux_tests=false

Implement getTableStatistics
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Upgrade mockito core to latest version
  presto-bigquery/pom.xml
Due: none

Changes to generate jks file programatically to enable ssl/tls in hms
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStoreKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore-truststore.jks
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore.jks
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/SslKeystoreManager.java
Due: none

Add TLS support in mongodb connector
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/SslContextProvider.java
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientModule.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-plugin-toolkit/pom.xml
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/SslContextProvider.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/MongoSslTestCertificateManager.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestSslContextProvider.java
Due: run_linux_tests=false

Upgrade mockito-core to latest version
  presto-bigquery/pom.xml
Due: none

Fix array_sort() for signature mismatch
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArraySortComparatorFunction.java
Due: none

Added TLS support for Pinot
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotClusterInfoFetcher.java
  presto-pinot/pom.xml
Due: none

Support config catalog type for IcebergExternalWorkerQueryRunner
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-native-execution/README.md
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

[presto][native] Init system used memory cache at the beginning of PeriodicMemoryChecker callback
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/tests/PeriodicMemoryCheckerTest.cpp
Due: run_native_specific_jobs

Revert "Add presto-sql-helpers directory for inlined SQL invoked function plugins with plugin loading rules"
  pom.xml
  presto-native-sql-invoked-functions-plugin/pom.xml
  presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeArraySqlFunctions.java
  presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeMapSqlFunctions.java
  presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeSimpleSamplingPercent.java
  presto-native-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/NativeSqlInvokedFunctionsPlugin.java
  presto-sql-helpers/README.md
  presto-sql-invoked-functions-plugin/pom.xml
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/ArrayIntersectFunction.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/ArraySqlFunctions.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/MapNormalizeFunction.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/MapSqlFunctions.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/SimpleSamplingPercent.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/SqlInvokedFunctionsPlugin.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/StringSqlFunctions.java
Due: none

[native] Cleanup tests
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOptimizeMixedDistinctAggregations.java
Due: none

Fix lambda return type coercion
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/LambdaArgumentCountMismatchException.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

[native] Add cuDF system and session properties
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

comment fix
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoThriftServiceHandler.cpp
  presto-native-execution/presto_cpp/main/PrestoThriftServiceHandler.h
  presto-native-execution/presto_cpp/main/thrift/ThriftServer.cpp
  presto-native-execution/presto_cpp/main/thrift/ThriftServer.h
Due: run_native_specific_jobs

[Codemod][Drop "_ref" from thrift field accessor] ThriftRemoveRefSuffix_github_presto-trunk_presto-native-execution (#25892)
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
Due: run_native_specific_jobs
