Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Test concurrent map
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeApiEndpointUtils.java
Due: run_native_specific_jobs

[Iceberg]: Disable collection of new stats for native execution
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
Due: run_native_specific_jobs

[native] Fix prestissimo dependency install
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

[native]: Cancel in progress CI runs for the same PR
  .github/workflows/prestocpp-format-and-header-check.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  .github/workflows/prestocpp-macos-build.yml
Due: none

feat: Add coordinator implementation of CLP connector. (#15)
  pom.xml
  presto-clp/pom.xml
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpColumnHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConfig.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnector.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnectorFactory.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpErrorCode.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpHandleResolver.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadata.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpModule.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlugin.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpRecordSetProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplit.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpSplitManager.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTableLayoutHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpTransactionHandle.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpMySqlMetadataProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpSchemaTree.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/metadata/ClpSchemaTreeNodeType.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpMySqlSplitProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/ClpSplitProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/ClpMetadataDbSetUp.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpMetadata.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/TestClpSplit.java
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/clp.rst
  presto-server/src/main/provisio/presto.xml
Due: run_linux_tests=false

xxx
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-native-execution/etc/config.properties
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestIterativePlanFragmenter.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

aaa
  presto-main-base/src/main/java/com/facebook/presto/cost/ScalarStatsCalculator.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/Coercer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/DesugarAtTimeZoneRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LiteralEncoder.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ParameterRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/TranslationMap.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlFunctionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/cost/AbstractTestComparisonStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestExpressionDomainTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestTransformCorrelatedScalarSubquery.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Cast.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestEnums.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTupleDomainFilterUtils.java
Due: none

feat: Use shared_ptr for Operator::spillStats_ (#13832)
  velox/exec/HashAggregation.cpp
  velox/exec/HashBuild.cpp
  velox/exec/HashProbe.cpp
  velox/exec/Merge.cpp
  velox/exec/Operator.cpp
  velox/exec/Operator.h
  velox/exec/OrderBy.cpp
  velox/exec/RowNumber.cpp
  velox/exec/TableWriter.cpp
  velox/exec/TopNRowNumber.cpp
  velox/exec/Window.cpp
Due: none

[native] Use both CPU and number of queued drivers in worker overload pushback
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs, run_linux_tests=false

[native] Fix testScalarSubquery
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeIcebergTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
Due: run_native_specific_jobs

[native] Fix testRemoveRedundantCastToVarcharInJoinClause
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
Due: run_native_specific_jobs

Add tests from AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_linux_tests=false

[native] Fix result mismatch testRows
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
Due: none

fix(fuzzer): add distinct mask to fuzzer verifier (#13811)
  velox/functions/prestosql/fuzzer/NoisyCountIfInputGenerator.h
  velox/functions/prestosql/fuzzer/NoisyCountIfResultVerifier.h
Due: none

Optimise SymlinkTextInputFormat Reader
  presto-hive/src/main/java/com/facebook/presto/hive/CachingDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/DirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Due: none

Add Unit Tests and Product Tests for Symlink Tables
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestBackgroundHiveSplitLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestStoragePartitionLoader.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/SymlinkTestUtils.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSymlinkTableListCaching.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSymlinkTables.java
Due: none

Add presto-router to Provisio plugin
  presto-plan-checker-router-plugin/pom.xml
  presto-router-example-plugin-scheduler/pom.xml
  presto-router-example-plugin-scheduler/src/main/provisio/plugin.xml
  presto-router/pom.xml
  presto-router/src/main/provisio/plugin.xml
Due: none

feat(noisy_count): Add support for BIGINT noise_scale in noisy_count_gaussian(col, noise_scale) (#13652)
  velox/functions/prestosql/aggregates/NoisyCountGaussianAggregate.cpp
Due: none

Make rowid optional in DELETE query plan (#25284)
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/UpdateNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/type/TimestampOperators.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/tests/DeleteTest.cpp
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/DeleteNode.java
Due: run_native_specific_jobs

feat(noisy_count): Implement noisy_count_gaussian(col, noise_scale, random_seed) (#13653)
  velox/docs/functions/presto/aggregate.rst
  velox/functions/prestosql/aggregates/NoisyCountGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/tests/NoisyCountGaussianAggregationTest.cpp
Due: none

[Prestissimo] Support insert data into iceberg table. Co-authored-by ping.liu.ping@gmail.com
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
Due: run_native_specific_jobs

Revert changes to StreamPropertyDerivations and PropertyDerivations
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
Due: none

Add fetch_size for oracle getTables to improve the performance
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-oracle/pom.xml
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Add fetch_size for oracle getTables to improve the performance
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Add orai18n dependency in oracle
  presto-oracle/pom.xml
Due: none

Added ssl configs for oracle
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClientModule.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleConfig.java
Due: none

Enhance ShowColumns
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/TestHudiIntegration.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-main-base/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaPageSourceProvider.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/jdbc/ColumnJdbcTable.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveMixedCaseSupport.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreIntegrationSmokeTest.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestIntegrationSmokeTest.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Add planner support to prevent mixed CPP/Java execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSystemTableFilterRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantExchangeRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionUtils.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPreventCppFunctionPushdownToSystemTables.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

[native] Allow non power of two task concurrency for native execution
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
Due: none

PartitionAndSerialize Operator: Allocate keyOutputBuffer with pre-determined size
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Due: run_native_specific_jobs

feat: Add Async SpillMerger in LocalMerge (#13634)
  velox/exec/Merge.cpp
  velox/exec/Merge.h
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/tests/MergeTest.cpp
  velox/exec/tests/MergerTest.cpp
  velox/exec/tests/MultiFragmentTest.cpp
Due: none

[native] Advance velox
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
Due: none

Increase TDigest Generator Size for Fuzzer (#13460)
  velox/common/fuzzer/ConstrainedGenerators.cpp
Due: none

Enable subfield pushdown for map_subset function
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
Due: none

Upgrade airlift, jetty, and guice in root POM
  pom.xml
  presto-main/pom.xml
  presto-tests/pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
