Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Set both S3AsyncClient and S3Client when creating S3EncryptionClient
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
Due: none

Modify S3 Select Pushdown implementation to align with AWS SDK v2 changes
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3SelectClient.java
Due: none

feat(native-pos): Add shuffle read splits postprocessing hook in task executor (#26816)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/shuffle/PrestoSparkShuffleInfoTranslator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Due: none

Add session property to control function namespace managers to list functions
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/AbstractSqlInvokedFunctionNamespaceManager.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/HiveFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestFunctionAndTypeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionNamespaceManager.java
Due: none

Update test
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
Due: run_native_specific_jobs

[native] Add dependency on Apache DataSketches CPP for Sketch Theta functions
  NOTICES
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Due: run_native_specific_jobs

[native] Implement Sketch Theta aggregate and scalar functions
  NOTICES
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchAggregate.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchFunctions.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/ThetaSketchAggregationTest.cpp
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/functions/TestThetaSketchFunctions.java
Due: run_native_specific_jobs, run_linux_tests=false

Update S3 configuration parameters and add KMS dependency
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
Due: run_linux_tests=false

Refactor DeltaQueryRunner and add native support
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  pom.xml
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/DeltaQueryRunner.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestUppercasePartitionColumns.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

misc: Add feature to control function namespace managers to list functions (#26817)
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/AbstractSqlInvokedFunctionNamespaceManager.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/HiveFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestFunctionAndTypeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionNamespaceManager.java
Due: none

Add counters to track http client connection reuse rate
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Back out NativeExecutionTypeRewrite
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestEnumsWithNativeRewrite.java
Due: run_linux_tests=false

Add HTTP support for resource manager internal communication
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/overview/concepts.rst
  presto-main-base/src/main/java/com/facebook/presto/execution/resourceGroups/ResourceGroupRuntimeInfo.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ClusterMemoryManagerService.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ClusterQueryTrackerService.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/HttpResourceManagerClient.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/NoOpHttpResourceManagerClient.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerClusterStateProvider.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerException.java
  presto-main-base/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryTrackerHighTaskCountKill.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStateProvider.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/resourcemanager/TestingClusterQueryTrackerService.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ImplHttpResourceManagerClient.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerClusterStatusSender.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerResourceGroupService.java
  presto-main/src/main/java/com/facebook/presto/server/CatalogServerModule.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerHeartbeatResource.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerModule.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerResource.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/WorkerModule.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestImplHttpResourceManagerClient.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerResourceGroupService.java
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: run_native_specific_jobs, run_linux_tests=false

Add new generic thrift toolkit module for connectors
  CODEOWNERS
  pom.xml
  presto-thrift-connector-toolkit/pom.xml
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/GenericThriftCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecProvider.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecUtils.java
  presto-tpcds/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsCodecProvider.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsSplitCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableLayoutHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTransactionHandleCodec.java
Due: none

Add validation for schema names in Pinot
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotMetadata.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotMetadata.java
Due: none

feat(plugin-delta): Upgrade io.delta.delta-kernel libraries to 3.3.2
  presto-delta/pom.xml
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaExpressionUtils.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
Due: none

Adding initial files, rough WIP
  pom.xml
  presto-flight-shim/etc/flightshim.properties
  presto-flight-shim/etc/log.properties
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimConfig.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimRequest.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServerExecutionMBean.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ForFlightShimServer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimBase.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimRequest.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimSingleStore.java
  presto-flight-shim/src/test/resources/certs/ca.crt
  presto-flight-shim/src/test/resources/certs/client.crt
  presto-flight-shim/src/test/resources/certs/client.key
  presto-flight-shim/src/test/resources/certs/invalid_cert.crt
  presto-flight-shim/src/test/resources/certs/server.crt
  presto-flight-shim/src/test/resources/certs/server.key
  presto-flight-shim/src/test/resources/split_additional_predicate.json
  presto-flight-shim/src/test/resources/split_tuple_domain.json
Due: none

Add necessary changes to Bryan's commit
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
Due: none

xxx
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

feat(native): Add counter to track http client connection reuse
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

feat(native): Integrate with velox plan consistency check (#26819)
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

revert: Back out NativeExecutionTypeRewrite (#26823)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestEnumsWithNativeRewrite.java
Due: run_linux_tests=false

Address Sourcery comments
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
Due: run_linux_tests=false

Address code review feedback
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Due: none

Add support for configurable freshness thresholds for materialized views
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MaterializedViewPropertyManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewRefreshType.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStaleReadBehavior.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStalenessConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStatus.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: run_linux_tests=false

Use shorter MV property names now that MV properties are distinct from view and table properties
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
Due: run_linux_tests=false

fix(plugin-pinot): Add validation for schema names in Pinot (#26725)
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotMetadata.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotMetadata.java
Due: none

Support predicate stitching in MaterializedViewRewrite
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestDifferentialPlanRewriter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestMaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestPassthroughColumnEquivalences.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestSymbolMapper.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStaleReadBehavior.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_linux_tests=false

fix(planner): Fix NOT_EQUAL selectivity for variables with NDV 1
  presto-main-base/src/main/java/com/facebook/presto/cost/ComparisonStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/cost/AbstractTestFilterStatsCalculator.java
Due: none

fix(planner): Fix selectivity over estimation for IN predicates
  presto-main-base/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main-base/src/test/java/com/facebook/presto/cost/AbstractTestFilterStatsCalculator.java
Due: none

Add support for pruneWhenEmpty
  presto-native-execution/presto_cpp/main/tvf/core/TableFunctionProcessorNode.cpp
  presto-native-execution/presto_cpp/main/tvf/core/TableFunctionProcessorNode.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionPartition.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionPartition.h
  presto-native-execution/presto_cpp/main/tvf/exec/TablePartitionBuild.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TablePartitionBuild.h
  presto-native-execution/presto_cpp/main/tvf/spi/ScalarArgument.h
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-tvf/src/main/java/com/facebook/presto/tvf/NativeTableFunctionAnalysis.java
Due: run_native_specific_jobs

chore: fix executable name pattern
  .gitignore
Due: none

Added java-17 jdk and precommit checks
  presto-native-execution/.devcontainer/Dockerfile
Due: run_native_specific_jobs

Added presto native c++ dev container
  presto-native-execution/.devcontainer/Dockerfile
  presto-native-execution/.devcontainer/devcontainer.json
Due: run_native_specific_jobs

Use PROMPT_ALWAYS_RESPOND=n after package installation
  presto-native-execution/.devcontainer/Dockerfile
Due: run_native_specific_jobs
