Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

[native] Fix set catalog session access denied issue
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: run_native_specific_jobs

Add alias collect_list for array_agg
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/arrayagg/CollectListAggregationFunction.java
  presto-main-base/src/test/java/com/facebook/presto/operator/aggregation/arrayagg/TestCollectListAggregationFunction.java
Due: run_linux_tests=false

[native] Add evb violation counter for exchange io and http server io threadpool
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

Add support for ReactorNettyHttpClient
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClient.java
Due: none

feat: Support hdfs rmdir function in HdfsFileSystem (#14132)
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Due: none

fix(gcs): Optional config hive.gcs.endpoint is accessed when not set (#14104)
  velox/connectors/hive/storage_adapters/gcs/GcsUtil.h
  velox/connectors/hive/storage_adapters/gcs/RegisterGcsFileSystem.cpp
  velox/connectors/hive/storage_adapters/gcs/tests/GcsEmulator.h
  velox/connectors/hive/storage_adapters/gcs/tests/GcsFileSystemTest.cpp
Due: none

feat: Support hdfs remove function in HdfsFileSystem (#13948)
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Due: none

Add Type Mapping in Oracle Connector documentation Co-authored-by: Sayari Mukherjee <sayarimukherjee2000@gmail.com>
  presto-docs/src/main/sphinx/connector/oracle.rst
Due: run_linux_tests=false

Oracle connector: Add missing BLOB type with Read mapping Co-authored-by: Sayari Mukherjee <sayarimukherjee2000@gmail.com>
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DeleteAndInsertMergeProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeWriterOperator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/MergePage.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Due: none

fix: Add TypeCoercer.cpp to cmake (#14142)
  velox/type/CMakeLists.txt
  velox/type/tests/CMakeLists.txt
Due: none

Add Textfile Reader & Writer
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

refactor: Move impl from Expressions.h to .cpp (#14144)
  velox/core/Expressions.cpp
  velox/core/Expressions.h
Due: none

Supports batched serialized size calculation for BinarySortableSerializer
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.cpp
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.h
  presto-native-execution/presto_cpp/main/operators/benchmarks/BinarySortableSerializerBenchmark.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Due: run_native_specific_jobs

presto on spark3.4.1
  pom.xml
  presto-spark-base/pom.xml
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestPrestoSparkExecutionExceptionFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkNativeTaskRdd.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskRdd.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskSourceRdd.java
  presto-spark-launcher/pom.xml
Due: none

refactor: More efficient envelope deserialization (#14140)
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometrySerde.cpp
  velox/functions/prestosql/geospatial/GeometrySerde.h
Due: none

[native] Cleanup TestPrestoSparkNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Due: run_native_specific_jobs

expose local partition buffer size config
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/tests/BaseVeloxQueryConfigTest.cpp
Due: run_native_specific_jobs

Address review comments for parse_duration fix
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
Due: none

[native] Fix docker dependency image build
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
Due: run_native_specific_jobs

[native] Add PRESTO_ENABLE_SPATIAL option
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/CMakeLists.txt
  presto-native-execution/README.md
Due: run_native_specific_jobs

refactor: rename the args in computePenalty (#25567)
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/NumericHistogram.java
Due: none

fix: Update the velox submodule's URL and commit to the latest from y-scope/velox:presto-0.293-clp-connector. (#44)
  .gitmodules
Due: none

[native] Fix Meta internal build by making getBaseDataPath() public
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

fix: Expose functions for lambda signatures (#14148)
  velox/parse/TypeResolver.cpp
  velox/parse/TypeResolver.h
Due: none

feat(wave): Support Nimble nullable encoding in Wave (#14111)
  velox/experimental/wave/dwio/ColumnReader.h
  velox/experimental/wave/dwio/ReadStream.cpp
  velox/experimental/wave/dwio/nimble/NimbleFileFormat.cpp
  velox/experimental/wave/dwio/nimble/NimbleFileFormat.h
  velox/experimental/wave/dwio/nimble/NimbleFormatData.cpp
  velox/experimental/wave/dwio/nimble/tests/NimbleReaderTest.cpp
Due: none

feat(wave): Support Nimble trivial decoding in Wave (#14092)
  velox/experimental/wave/dwio/ColumnReader.h
  velox/experimental/wave/dwio/FormatData.cpp
  velox/experimental/wave/dwio/nimble/NimbleFileFormat.cpp
  velox/experimental/wave/dwio/nimble/NimbleFileFormat.h
  velox/experimental/wave/dwio/nimble/NimbleFormatData.cpp
  velox/experimental/wave/dwio/nimble/NimbleFormatData.h
  velox/experimental/wave/dwio/nimble/tests/NimbleReaderTest.cpp
  velox/experimental/wave/exec/Wave.cpp
Due: none

Refactor JdbcMetadata to take in TableLocationProvider
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/DefaultTableLocationProvider.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcModule.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/TableLocationProvider.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
Due: none

Add thrift support for TableWriteInfo via union
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorCodecManager.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorThriftCodecManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTargetUnion.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/TableWriteInfo.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/AnalyzeTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DeleteTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/InsertTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/OutputTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/AbstractTypedThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/DeleteTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/HandleThriftModule.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/InsertTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/OutputTableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TableHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TableLayoutHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TableWriteInfoCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/ThriftCodecUtils.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TransactionHandleThriftCodec.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/TableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCodecProvider.java
  presto-thrift-spec/pom.xml
Due: none

[native] Advance Velox
  .github/workflows/prestocpp-macos-build.yml
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Fix unexpected error and diagram style for query detail page
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/ResourceGroupView.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/router/ClusterHUD.jsx
Due: none

Implement basic spatial join support using a nested loop joi
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Due: run_native_specific_jobs

Use tpcds and its query runner to test thrift communication
  presto-tpcds/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsSplit.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsTableHandle.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsTableLayoutHandle.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsTransactionHandle.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/ThriftCodecUtils.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsCodecProvider.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsSplitCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTableLayoutHandleCodec.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsTransactionHandleCodec.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TpcdsQueryRunner.java
Due: none

Update singlestore.rst
  presto-docs/src/main/sphinx/connector/singlestore.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
