Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[Codemod][Drop "_ref" from thrift field accessor] ThriftRemoveRefSuffix_github_presto-trunk_presto-native-execution [A] [B] [B] (#26770)
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
Due: run_native_specific_jobs

[Codemod][Drop "_ref" from thrift field accessor] ThriftRemoveRefSuffix_github_presto-trunk_presto-native-execution [B] [B] [B] (#26769)
  presto-native-execution/presto_cpp/main/thrift/tests/ThriftIOTest.cpp
Due: run_native_specific_jobs

Add support for skip_header_line_count and skip_footer_line_count in hive
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/RecordFileWriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/TextCSVHeaderWriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: run_linux_tests=false

Add MergeMaxByAggregations and MergeMinByAggregations optimizer to combine multiple max_by with same second argument, controlled by session parameter
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MergeMaxByAggregations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MergeMinByAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/DereferenceMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/RowConstructorMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeMaxByAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeMinByAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

fix(native): Fix protocol generation
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

[Presto-Reliability] Add observability for query state transitions in Presto (#26418)
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateTransitionMonitor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateTransitionMonitor.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Due: none

fix(docs): Khyperloglog uniqueness_distribution default behavior
  presto-docs/src/main/sphinx/functions/khyperloglog.rst
Due: run_linux_tests=false

Update presto-docs/src/main/sphinx/functions/khyperloglog.rst
  presto-docs/src/main/sphinx/functions/khyperloglog.rst
Due: run_linux_tests=false

Add support for materialized views with Hive catalog
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergMaterializedViewsHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergMaterializedViewsRest.java
Due: none

fix(native): Fix protocol generation (#26956)
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

Support incremental refresh of materialized views
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/IncrementalRefreshRule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestIncrementalRefreshRule.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/RefreshMaterializedViewNode.java
Due: none

feat(native): Add support for NativeFunctionHandle parsing
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/NativeFunctionHandleTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionHandle.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManagerFactory.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: run_native_specific_jobs

feat(native): Add local merge spilling session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

chore(native): Revert castDateToVarchar parameter and add cast based on storageFormat (#26955)
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeCteExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
Due: run_native_specific_jobs

feat(build): Support local maven configs (#26954)
  .gitignore
  README.md
Due: none

feat(plugin-hive): Add support for skip_header_line_count and skip_footer_line_count table properties (#26446)
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/RecordFileWriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/TextCSVHeaderWriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Due: run_linux_tests=false

refactor(testing): Refactor testcases for native-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

test(native): Add AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

draft(optimizer): Disable parent preference in AddLocalExchanges when it limits parallelism in single-node execution mode
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestEliminateSorts.java
Due: none

Add python in RoutineCharacteristics
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/json/JsonFileBasedFunctionNamespaceManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/RoutineCharacteristics.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (iceberg)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (iceberg)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578 (iceberg-tests)
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

resolved conflicts
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
Due: run_native_specific_jobs

Final
  .github/workflows/prestocpp-linux-container-tests.yml
Due: none

code fix
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

[native] FusionNext - Infrastructure testing
  presto-main-base/src/main/java/com/facebook/presto/server/NodeResourceStatus.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarDisabledInfrastructure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarEnabledInfrastructure.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

code fix
  .github/workflows/prestocpp-linux-container-tests.yml
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

code fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
Due: run_native_specific_jobs

code fix
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarDisabledInfrastructure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerSidecarEnabledInfrastructure.java
Due: run_native_specific_jobs

resolved ci failures
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: none

feat(plugin-iceberg): Add support for MERGE INTO (#25470)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

Add cpu,memory parameters to queries table
  presto-main-base/src/main/java/com/facebook/presto/connector/system/QuerySystemTable.java
Due: none

checkstyle fixes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestHostAddressFactory.java
Due: none

other set of compilation fixes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestHostAddressFactory.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/cassandra/DataTypesTableDefinition.java
Due: none

feat(plugin-cassandra): Upgrade to Cassandra Java Driver 4.x
  pom.xml
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/BackoffRetryPolicy.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClusteringPredicatesExtractor.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSinkProvider.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraRecordCursor.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraTokenSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/RetryPolicyType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/HostAddressFactory.java
  presto-cassandra/src/main/resources/reference.conf
  presto-product-tests/pom.xml
Due: none

Compilation failure fixes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/BackoffRetryPolicy.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraRecordCursor.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraRecordSetProvider.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningCluster.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/HostAddressFactory.java
  presto-cassandra/src/test/java/com/datastax/driver/core/RowUtil.java
  presto-cassandra/src/test/java/com/datastax/driver/core/TestHost.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestCassandraClusteringPredicatesExtractor.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestHostAddressFactory.java
Due: none

Fix checkstyle items
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestHostAddressFactory.java
Due: none
