Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Copy cuda libraries independently of the machine arch
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

relax issue creation and add the rebase request type
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/rebase.yml
  .github/ISSUE_TEMPLATE/usage-question.md
Due: none

cudf exchange presto setup
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

fix ucx communicator startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Include /usr/local/cuda/compat/libnvidia-ptxjitcompiler.so
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

fix ucx server startup integration
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

guard ucx server startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

cudf-exchange Presto hooks
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

Remove unnecessary cudf header import
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Minor from review
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Fix shutdown of velox UCX communicator thread in PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

feat(CI): add image matrix to CI's build.yaml
  build.yaml
Due: none

revert the old rootFragment fix
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

Update shutdownServer API
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Due: run_native_specific_jobs

Build for CUDA 12.9 instead of 12.8
  build.yaml
Due: none

Update entrypoint.sh with nsys profiling
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

feat(cudf): Make CUDA_VERSION a build argument in dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

Install nsight-systems-cli
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

add coordinator build
  build.yaml
Due: none

feat(cudf): Install CUDA runtime packages instead of copying libraries
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Use rapids-cmake to configure CUDA architectures
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

Install numactl
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Add sccache S3 support, revert development image
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

No default CUDA_ARCHITECTURES in runtime dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Fix cpu execution missing libcuda.so.1
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

cuda archs 80-real;86-real;90a-real;100f-real;120a-real;120
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Add exchange transport type (HTTP/UCX) to coordinator plan fragments
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/RemoteSourceNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TransportType.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestBasePlanFragmenterTransportType.java
Due: none

Parse exchange transport type on Prestissimo C++ side
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/data/PlanFragmentWithRemoteSource.json
  presto-native-execution/presto_cpp/presto_protocol/tests/data/RemoteSourceNodeHttp.json
  presto-native-execution/presto_cpp/presto_protocol/tests/data/RemoteSourceNodeUcx.json
Due: run_native_specific_jobs

Replace root-fragment with transport type in PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Update velox submodule to main (1a2f63fd)
  .gitmodules
Due: none

Upgarde commons-io:commons-io to 2.21.0
  pom.xml
Due: none

test: Add end to end test for key_sampling_percent
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

test: Add end to end test for key_sampling_percent (#27025)
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

docs: Remove redundant table of contents (#27235)
  presto-docs/src/main/sphinx/admin/spill.rst
  presto-docs/src/main/sphinx/cache/local.rst
  presto-docs/src/main/sphinx/cache/service.rst
  presto-docs/src/main/sphinx/ecosystem/list.rst
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
  presto-docs/src/main/sphinx/router/deployment.rst
  presto-docs/src/main/sphinx/router/scheduler.rst
Due: run_linux_tests=false

docs: Fix formatting in router/scheduler.rst (#27303)
  presto-docs/src/main/sphinx/router/scheduler.rst
Due: run_linux_tests=false

fix[docs]: Fix merge command docs
  presto-docs/src/main/sphinx/sql/merge.rst
Due: run_linux_tests=false

fix(ci): Skip OWASP dep check for doc-only changes (#27305)
  .github/workflows/owasp-dependency-check.yml
Due: none

fix(docs): Fix configuration properties docs
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
