Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Disable TestSelectiveOrcReader.testLongDirectVarintScale for Date
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Due: none

build(macos): Fix error numExternalMapped needs override (#13540)
  velox/common/base/tests/StatsReporterTest.cpp
Due: none

Add support for mTLS authentication in Arrow Flight client
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowErrorCode.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowFlightConfig.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/BaseArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/resources/mtls/ca.crt
  presto-base-arrow-flight/src/test/resources/mtls/client.crt
  presto-base-arrow-flight/src/test/resources/mtls/client.key
  presto-base-arrow-flight/src/test/resources/mtls/invalid_cert.crt
  presto-base-arrow-flight/src/test/resources/mtls/server.crt
  presto-base-arrow-flight/src/test/resources/mtls/server.key
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Due: run_linux_tests=false

Fix flaky test of table registration in Nessie
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
Due: none

Add runtime stats for normalizeIdentifier
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
Due: none

Mark deprecate for case-insensitive-name-matching
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcWarningCode.java
Due: none

Mixed case support product tests for hive and mysql connectors
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  presto-product-tests/bin/run_on_docker.sh
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/compose.sh
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/docker-compose.yml
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/mysql-init/init.sql
  presto-product-tests/conf/docker/singlenode-mysql/mysql-init/init.sql
  presto-product-tests/conf/presto/etc/environment-specific-catalogs/singlenode-mysql-mixed-case-on/mysql.properties
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveMixedCaseSupport.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOff.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOn.java
Due: none

Enable mixed-case support for mysql
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationMixedCaseTest.java
Due: run_linux_tests=false

Enable case-sensitive matching support for all the Jdbc connectors
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaClient.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-sqlserver/src/main/java/com/facebook/presto/plugin/sqlserver/SqlServerClient.java
Due: none

feat: Add IndexLookupJoin Tracing (#13530)
  velox/exec/TraceUtil.cpp
  velox/exec/tests/OperatorTraceTest.cpp
Due: none

Add support for handling multiple rows in function server
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
Due: none

Add e2e test for remote functions
  .gitignore
  docker/Dockerfile
  docker/entrypoint.sh
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerWithFunctionServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoContainerRemoteFunction.java
Due: run_native_specific_jobs

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/Remote.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestRemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/client/tests/RemoteFunctionRestTest.cpp
  presto-native-execution/presto_cpp/main/functions/remote/utils/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/utils/ContentTypes.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/RemoteFunctionRestHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/RemoteFunctionRestService.cpp
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/RemoteFunctionRestService.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/examples/RemoteDoubleDivHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/examples/RemoteFibonacciHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/examples/RemoteInverseCdfHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/examples/RemoteRemoveCharHandler.h
  presto-native-execution/presto_cpp/main/functions/remote/utils/rest/examples/RemoteStrLenHandler.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RemoteFunctionTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-spi/src/main/java/com/facebook/presto/spi/function/Signature.java
Due: run_native_specific_jobs

Add support for REST based remote functions.
  presto-native-execution/presto_cpp/main/functions/remote/client/RemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestClient.h
Due: run_native_specific_jobs

Review comment
  presto-native-execution/.dockerignore
  presto-native-execution/presto_cpp/main/functions/remote/client/RemoteClient.h
  presto-native-execution/presto_cpp/main/functions/remote/client/RestClient.cpp
  presto-native-execution/presto_cpp/main/functions/remote/client/RestClient.h
Due: run_native_specific_jobs

[doc] Remove duplicate 'async-cache-persistence-interval' property
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

Upgrade airlift, jetty, and guice in root POM
  pom.xml
  presto-main/pom.xml
  presto-tests/pom.xml
Due: none

Update all GH actions to java 17
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/presto-release-prepare.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Due: none

Migrate from io.airlift:airline to com.facebook.airlift:airline
  pom.xml
  presto-benchmark-driver/pom.xml
  presto-benchmark-runner/pom.xml
  presto-cli/pom.xml
  presto-spark-launcher/pom.xml
  presto-testing-server-launcher/pom.xml
  presto-verifier/pom.xml
Due: none

Fix presto-on-spark tests
  presto-spark-base/pom.xml
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
  presto-spark-testing/src/test/resources/docker-compose.yml
Due: none

Fix testValidation due to new error message
  presto-password-authenticators/src/test/java/com/facebook/presto/password/ldap/TestLdapConfig.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControlConfig.java
Due: none

Add missing runtime dependencies for native tests
  presto-native-sidecar-plugin/pom.xml
  presto-native-tests/pom.xml
Due: none

Run tempto with Java 17
  presto-product-tests/conf/docker/common/kerberos.yml
  presto-product-tests/conf/docker/common/standard.yml
  presto-product-tests/conf/docker/files/run-tempto.sh
  presto-product-tests/conf/docker/multinode-tls-kerberos/docker-compose.yml
  presto-product-tests/conf/docker/multinode-tls/docker-compose.yml
  presto-product-tests/conf/docker/singlenode-ldap/docker-compose.yml
Due: none

Fix URI compliance for Iceberg nested NS tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
Due: none

Force testng provider in surefire plugin
  pom.xml
Due: none

Fix compilation for presto-testing-mysql with io.airlift.units
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
Due: none

Fix ambiguous URIs in function server API
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutor.java
Due: none

Fix TestRangerBasedAccessControlConfig
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControlConfig.java
Due: none

Update PrestoSystemRequirements for Java 17
  presto-main-base/src/main/java/com/facebook/presto/server/PrestoSystemRequirements.java
Due: none

Update documentation for Java 17 support
  CONTRIBUTING.md
  README.md
  presto-docs/src/main/sphinx/admin/spill.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-docs/src/main/sphinx/security/cli.rst
  presto-docs/src/main/sphinx/security/jce-policy.fragment
  presto-docs/src/main/sphinx/security/server.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
