Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Use range overlap percent
  presto-main-base/src/main/java/com/facebook/presto/cost/ComparisonStatsCalculator.java
  presto-main-base/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main-base/src/main/java/com/facebook/presto/cost/StatsNormalizer.java
Due: none

Add support for custom connector-provided serialization codecs
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaTableHandle.java
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplit.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/index/IndexHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/AbstractTypedJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ColumnHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DeleteTableHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/InsertTableHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/OutputTableHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/PartitioningHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SplitJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableLayoutHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TransactionHandleJacksonModule.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/catalogserver/TestCatalogServerResponse.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestAbstractTypedJacksonModule.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestInformationSchemaTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestSystemTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestingHandleJsonModule.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestRowExpressionSerde.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestBatchTaskUpdateRequest.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCodecProvider.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithCharColumnsAsChar.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TpcdsQueryRunner.java
Due: run_linux_tests=false

build(ci): Fix build report (#14762)
  scripts/ci/bm-report/report.qmd
Due: none

[pos][native] Unit testing fixes
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionModule.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Due: run_native_specific_jobs

[pos][native] Add presto-on-spark native tests step to Github CI on PRs
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Due: none

[pos][native] Disable failing presto-on-spark native tests
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestExpressionCompiler.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeArrayFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchConnectorQueries.java
Due: run_native_specific_jobs

Fix Backward compatibility issue for using older Presto JDBC drivers
  presto-cli/src/main/java/com/facebook/presto/cli/Query.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoResultSet.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoStatement.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-common/src/main/java/com/facebook/presto/spark/PrestoSparkQueryStatusInfo.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/QueryAnalysis.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
Due: none

feat: Add MakeRowFromMap Utility Class (#14671)
  velox/expression/EvalCtx.h
  velox/functions/lib/MakeRowFromMap.h
  velox/functions/lib/tests/CMakeLists.txt
  velox/functions/lib/tests/MakeRowFromMapTest.cpp
Due: none

Bump up iceberg version to 1.8.1
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
Due: none

Enhance lineage capture to include column-level details
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-common/src/main/java/com/facebook/presto/common/ColumnDetail.java
  presto-common/src/main/java/com/facebook/presto/common/SourceColumn.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestOutputColumnTypes.java
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/execution/Output.java
  presto-main-base/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestOutput.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestingWriterTarget.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/OutputColumn.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/OutputColumnMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryOutputMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Plan table function invocation and add tests
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionHandle.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteTableFunctionToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorColumnHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorFactory.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPageSource.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPlugin.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTransactionHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFHandleResolver.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFPartitioningHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFTableLayoutHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Due: none

docs: Fix install prefix to use $USER instead of $USERNAME for better compatibility (#14798)
  README.md
Due: none

refactor: Remove unused variable in coalesceIo() function (#14780)
  velox/common/base/CoalesceIo.h
Due: none

fix: Add `ARRAY<ARRAY<VARCHAR>>` support to `array_frequency`
  presto-native-execution/presto_cpp/main/types/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/ArrayFrequency.json
Due: run_native_specific_jobs

feat: Add Iceberg truncate function (#14774)
  velox/docs/functions/iceberg/functions.rst
  velox/functions/iceberg/CMakeLists.txt
  velox/functions/iceberg/Register.cpp
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/Truncate.h
  velox/functions/iceberg/tests/BucketFunctionTest.cpp
  velox/functions/iceberg/tests/CMakeLists.txt
  velox/functions/iceberg/tests/TruncateTest.cpp
Due: none

feat: Add counter for nimble and dwrf writer (#14841)
  velox/connectors/hive/HiveDataSink.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
Due: none

feat: Support Spark ArraySort with lambda function (#10138)
  velox/docs/functions/spark/array.rst
  velox/functions/lib/ArraySort.cpp
  velox/functions/lib/ArraySort.h
  velox/functions/lib/CMakeLists.txt
  velox/functions/lib/SimpleComparisonMatcher.cpp
  velox/functions/lib/SimpleComparisonMatcher.h
  velox/functions/prestosql/ArraySort.cpp
  velox/functions/prestosql/ArraySort.h
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/SimpleComparisonMatcher.cpp
  velox/functions/prestosql/SimpleComparisonMatcher.h
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/tests/SimpleComparisonMatcherTest.cpp
  velox/functions/sparksql/ArraySort.cpp
  velox/functions/sparksql/ArraySort.h
  velox/functions/sparksql/SimpleComparisonMatcher.h
  velox/functions/sparksql/registration/RegisterArray.cpp
  velox/functions/sparksql/tests/ArraySortTest.cpp
  velox/functions/sparksql/tests/ArraySortTestData.h
  velox/functions/sparksql/tests/SortArrayTest.cpp
Due: none

[IDS] Add enable IDS CAT propagation to session properties (#26029)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Add ability to schedule splits based on Task load, not Node load.
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeSchedulerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
Due: run_linux_tests=false

fix(parquet): Write options incorrectly use session config (#14676)
  velox/dwio/parquet/tests/writer/ParquetWriterTest.cpp
  velox/dwio/parquet/writer/Writer.cpp
Due: none

fix(cuDF): Compilation failure (#14799)
  velox/experimental/cudf/connectors/parquet/ParquetDataSink.cpp
Due: none

refactor: Remove remaining calls to registerConnectorFactory (#14848)
  velox/exec/tests/VeloxIn10MinDemo.cpp
Due: none

fix typo
  presto-spark-launcher/pom.xml
Due: none

build: Fix QuantileDigest build error due to incorrect allocator type (#14843)
  velox/common/memory/HashStringAllocator.h
  velox/functions/lib/QuantileDigest.h
Due: none

feat(connector): Add mTLS support for Arrow Flight
  .github/workflows/arrow-flight-tests.yml
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueriesMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-base-arrow-flight/src/test/resources/certs/ca.crt
  presto-base-arrow-flight/src/test/resources/certs/client.crt
  presto-base-arrow-flight/src/test/resources/certs/client.key
  presto-base-arrow-flight/src/test/resources/certs/invalid_cert.crt
  presto-base-arrow-flight/src/test/resources/certs/server.crt
  presto-base-arrow-flight/src/test/resources/certs/server.key
  presto-base-arrow-flight/src/test/resources/server.crt
  presto-base-arrow-flight/src/test/resources/server.key
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConfigTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorMTlsTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorTlsTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/README.md
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_tls_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.key
Due: run_native_specific_jobs, run_linux_tests=false

Add E2E testing for Dynamic Functions.
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/CMakeLists.txt
  presto-native-tests/Makefile
  presto-native-tests/presto_cpp/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestCustomFunctions.java
Due: run_native_specific_jobs

[sapphire-velox]fix: Fix to handle multiple TaskSource have the same source node (#26031)
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

refactor(buffer): Add verbose version of AlignedBuffer::allocate (#14825)
  velox/buffer/Buffer.h
  velox/buffer/tests/BufferTest.cpp
Due: none

[native] Assign createFinishTimeMs at point of task completion in prestoTask
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

[sapphire-velox]fix: Fix to handle multiple TaskSource have the same source node (#26031)
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Due: run_native_specific_jobs

feat: Add filter support for index join which can't be converted into join conditions (#14837)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/core/tests/PlanNodeTest.cpp
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/TraceUtil.cpp
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/PlanBuilderTest.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.h
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/python/plan_builder/PyPlanBuilder.cpp
  velox/tool/trace/IndexLookupJoinReplayer.cpp
  velox/tool/trace/tests/IndexLookupJoinReplayerTest.cpp
Due: none

[ToBeSquashed]Address review comment
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
Due: none

[Native]Remove redundant loops and unnecessary task launches
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
