Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

readme updates
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/ReopeningSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

FIX #1: Handle Empty Column Arrays in QueryBuilder
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
Due: none

FIX #2: Remove DATE Type Mapping Hack
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
Due: none

FIX #3: Update Test Code to Driver 4.x Classes
  presto-product-tests/src/main/java/com/facebook/presto/tests/cassandra/DataTypesTableDefinition.java
Due: none

Fix Test Implementation
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraWriteMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: none

7 more failures fixes
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraWriteMetadata.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
Due: none

Update hive-apache version
  pom.xml
Due: none

Add tests for Materialized Views on C++ workers
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRestMaterializedViews.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergMaterializedViews.java
Due: run_native_specific_jobs

Fix dependency management issue
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

Update to fix type coercion issues
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
Due: none

Revert earlier type coercion fix, try another way
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Address sourcery feedback
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRestMaterializedViews.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergMaterializedViews.java
Due: run_native_specific_jobs

Fixes for C++
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: none

Address review feedback
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergMaterializedViewsRest.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergMaterializedViews.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: run_native_specific_jobs

Address review feedback
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRestMaterializedViews.java
Due: none

chore(deps): upgrade Apache Arrow to 18.3.0 and protobuf-java to 4.30.2
  pom.xml
Due: none

feat: Add native_pushdown_integer_upcasts_to_source session properties
  .gitmodules
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-main-base/src/main/java/com/facebook/presto/sql/Optimizer.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

Code clean up for TestOracleDistriburedQueries
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/TestOracleDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Due: none

Add 2000ms delay
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
Due: none

Add docs for moved functions
  presto-docs/src/main/sphinx/functions/array.rst
  presto-docs/src/main/sphinx/functions/map.rst
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
  presto-docs/src/main/sphinx/functions/string.rst
Due: run_linux_tests=false

review comments
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
Due: run_linux_tests=false

Address comments
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
Due: run_linux_tests=false

build: Remove implicit bundling sql invoked function plugins from default Presto server Provisio build
  presto-server/src/main/provisio/presto.xml
Due: none

Address review comments
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/array.rst
  presto-docs/src/main/sphinx/functions/map.rst
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
  presto-docs/src/main/sphinx/functions/string.rst
Due: run_linux_tests=false

refactor(testing): Refactor testcases for native-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

test(native): Add AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

docs: Add dev container repo to readme
  README.md
Due: none

Add FlightShim module for connector federation. This includes an Apache Arrow Flight server that can load Presto Java connectors, and provide a record batch stream from the given connector split.
  .github/workflows/arrow-flight-tests.yml
  pom.xml
  presto-flight-shim/etc/flightshim.properties
  presto-flight-shim/etc/log.properties
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimConfig.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimRequest.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServerExecutionMBean.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ForFlightShimServer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimPlugins.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestArrowBatchSource.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimMySqlPlugin.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimPostgresPlugin.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimRequest.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimSingleStorePlugin.java
  presto-flight-shim/src/test/resources/certs/ca.crt
  presto-flight-shim/src/test/resources/certs/client.crt
  presto-flight-shim/src/test/resources/certs/client.key
  presto-flight-shim/src/test/resources/certs/server.crt
  presto-flight-shim/src/test/resources/certs/server.key
  presto-flight-shim/src/test/resources/split_additional_predicate.json
  presto-flight-shim/src/test/resources/split_tuple_domain.json
Due: none

feat: Add index_enabled session property for cluster index filtering
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
Due: none

fix(native): Fix TRY expression handling in NativeExpressionOptimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionOptimizer.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
Due: run_native_specific_jobs

build!: Remove implicit bundling of sql invoked function plugins from default Presto server Provisio build (#26926)
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/array.rst
  presto-docs/src/main/sphinx/functions/map.rst
  presto-docs/src/main/sphinx/functions/plugin-loaded-functions.rst
  presto-docs/src/main/sphinx/functions/string.rst
  presto-server/src/main/provisio/presto.xml
Due: run_linux_tests=false

fix(planner): Fix size estimate used in TextRenderer (#27080)
  presto-main-base/src/main/java/com/facebook/presto/cost/PlanNodeStatsEstimate.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/sanity/TestPlanPrinterSmoke.java
Due: none

Fix when multiple build sides in same task
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestDynamicFilterFetcher.java
Due: none

Upgrade com.fasterxml.jackson version to 2.21.0
  pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
