Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

docs: Fix return type for ST_CoordDim
  presto-docs/src/main/sphinx/functions/geospatial.rst
Due: run_linux_tests=false

feat: Extend shuffle read interface to support read a batch of blocks (#26377)
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
Due: run_native_specific_jobs

add indexjoin IN logic
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestNativeIndexJoinLogicalPlanner.java
Due: none

Update native dependency image to latest
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Due: none

Update the rest of the dependencies images for consistency. Remove CMAKE from presto-native-tests.
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

[DO NOT LAND] [pos]feat: Enforce per task storage broadcast join memory limit (#26372)
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/operators/tests/PlanBuilder.h
  presto-native-execution/presto_cpp/main/operators/tests/PlanNodeBuilderTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

ci: Fix the issue where macos build gets stuck
  .github/workflows/prestocpp-macos-build.yml
Due: none

Materialized views with multi-table partition aliged stitching. Iceberg integration.
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanClonerWithVariableMapping.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPlanClonerWithVariableMapping.java
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryMetadata.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViews.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMetadata.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MaterializedViewScan.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestMaterializedViewScan.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStatus.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/MaterializedViewScanNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
Due: none

Test image
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

[sv-cosco]refactor: Rename local persistent shuffle to local shuffle
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.h
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

ci: Fix the issue where macos build gets stuck (#26388)
  .github/workflows/prestocpp-macos-build.yml
Due: none

feat: Add support for LZ4 and ZSTD compression codecs
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveCompressionCodec.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/ConfigurationUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/FileFormat.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriter.java
Due: run_linux_tests=false

fix: Add session property back native_max_partial_aggregation_memory (#26389)
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
Due: none

refactor: Rename local persistent shuffle to local shuffle (#26395)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.h
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Add TLS support in mongodb connector
  presto-cassandra/pom.xml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/SslContextProvider.java
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientModule.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoTlsConfiguration.java
  presto-plugin-toolkit/pom.xml
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/SslContextProvider.java
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/SslKeystoreManager.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSslContextProvider.java
Due: run_linux_tests=false

[native] Relevant changes of presto protocol for iceberg
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

[native] Relevant changes of presto protocol for distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

Analyze and plan for call distributed procedure statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/CallDistributedProcedureNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Refactor the connector SPI to expose procedure registry to connectors
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorContextInstance.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorContext.java
Due: none

Support and handle call distributed procedure statement in preparer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryPreparer.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/MetadataUtils.java
  presto-analyzer/src/test/java/com/facebook/presto/sql/analyzer/TestBuiltInQueryPreparer.java
  presto-common/src/main/java/com/facebook/presto/common/resourceGroups/QueryType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AnalyzerOptions.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TestProcedureRegistry.java
Due: none

Support Iceberg procedure `rewrite_data_files`
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Due: run_linux_tests=false

Refactor ProcedureRegistry to support distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ProcedureRegistry.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorDistributedProcedureHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorProcedureContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/IProcedureRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/Procedure.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCall.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCreation.java
Due: none

Refactor Iceberg connector to support call distributed procedure
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CallDistributedProcedureSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDistributedProcedureHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none

[native] Support the execution of calling distributed procedures
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
Due: run_native_specific_jobs

feat: Add support for LZ4 and ZSTD compression codecs (#26346)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveCompressionCodec.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/ConfigurationUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/FileFormat.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriter.java
Due: run_linux_tests=false

feat(function): Add Student's t distribution functions (t_cdf and inverse_t_cdf) (#26363)
  presto-docs/src/main/sphinx/functions/math.rst
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: run_linux_tests=false

fix(native): Set default function namespace prefix for cuDF (#26256)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

fix(security): Upgrade netty to 4.1.128.Final to address CVE-2025-59419
  pom.xml
Due: none

Upgrade org.apache.thrift:libthrift versio to 0.22.0
  pom.xml
  presto-delta/pom.xml
  presto-iceberg/pom.xml
  presto-parquet/pom.xml
  presto-pinot-toolkit/pom.xml
Due: none

chore(iceberg): Reduce logging in REST servlet
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
Due: none

Fix typo in connector description in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Upgrade org.scala-lang:scala-library versio to 2.13.17
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
  presto-spark-classloader-spark3/pom.xml
  presto-spark-launcher/pom.xml
Due: none

Add support for DATE and TIMESTAMP types in OracleClient
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Update presto native dependency image to 0.296-20251021214746-7eb2686
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

fix(security): Upgrade netty to 4.1.128.Final to address CVE-2025-59419 (#26349)
  pom.xml
Due: none

chore(plugin-iceberg): Reduce logging in REST servlet (#26393)
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
Due: none
