Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[native] Switch to use new config base class from Velox
  presto-native-execution/presto_cpp/main/common/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
Due: run_native_specific_jobs

array_intersect operand swapping (#10624)
  velox/functions/prestosql/ArrayIntersectExcept.cpp
  velox/functions/prestosql/tests/ArrayIntersectTest.cpp
Due: none

Make concat function throw when there are less than 2 arguments (#10625)
  velox/expression/FunctionSignature.h
  velox/expression/tests/ExprCompilerTest.cpp
  velox/functions/prestosql/StringFunctions.cpp
  velox/functions/prestosql/tests/StringFunctionsTest.cpp
Due: none

Simplify the memory pool arbitration process management (#10705)
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryArbitrator.cpp
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/SharedArbitrator.cpp
  velox/common/memory/SharedArbitrator.h
  velox/common/memory/tests/MemoryArbitratorTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
Due: none

Add release notes for 0.288.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.288.1.rst
  presto-docs/src/main/sphinx/release/release-0.288.rst
Due: run_linux_tests=false

Fix like matching with newlines and no wildcard
  presto-docs/src/main/sphinx/functions/comparison.rst
  presto-main/src/main/java/com/facebook/presto/type/LikeFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/TestLikeFunctions.java
Due: run_linux_tests=false

[native] Enhance CSV Parsing in ContainerQueryRunner to Use MaterializedResult
  .gitignore
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

Apply suggestions from code review
  presto-docs/src/main/sphinx/release/release-0.288.1.rst
  presto-docs/src/main/sphinx/release/release-0.288.rst
Due: run_linux_tests=false

Add python venv to setup-macos.sh and Makefile (#10668)
  .gitignore
  Makefile
  scripts/setup-macos.sh
Due: none

[native] Add metrics for memory pushback mechanism
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

Fix issue with identifying column nullability
  presto-main/src/main/java/com/facebook/presto/connector/system/jdbc/ColumnJdbcTable.java
  presto-product-tests/src/main/resources/com/facebook/presto/tests/jdbc/get_nation_columns.result
Due: none

Document the behavior of Spark string functions for invalid UTF-8 input (#10682)
  velox/docs/functions/spark/string.rst
Due: none

Fix formatting in admin/verifier.rst
  presto-docs/src/main/sphinx/admin/verifier.rst
Due: run_linux_tests=false

Fix check CI (#10718)
  .github/workflows/preliminary_checks.yml
Due: none

Refactor Base64 class to match coding style (#10371)
  velox/common/encode/Base64.cpp
  velox/common/encode/Base64.h
  velox/common/encode/tests/Base64Test.cpp
Due: none

Fix NaN comparison in ApproxPercentile (#10710)
  velox/functions/prestosql/aggregates/ApproxPercentileAggregate.cpp
  velox/functions/prestosql/aggregates/tests/ApproxPercentileTest.cpp
Due: none

Fix warnings caused by -Wunused-but-set-variable (#9855)
  velox/exec/RowContainer.h
Due: none

Changes to compile with Clang15 (#10363)
  CMakeLists.txt
  README.md
  scripts/setup-centos9.sh
  scripts/setup-ubuntu.sh
Due: none

Add unit tests for TypeSignatureUtils
  presto-common/src/main/java/com/facebook/presto/common/type/TypeSignatureUtils.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestTypeSignatureUtils.java
Due: none

[native] Add isSidecarEnabled config flag to query runner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Fix arrow export of row vectors (#10703)
  velox/vector/arrow/Bridge.cpp
  velox/vector/arrow/tests/ArrowBridgeArrayTest.cpp
Due: none

Support regex delimiter and limit argument for Spark split function (#10248)
  velox/docs/functions/spark/string.rst
  velox/functions/lib/CMakeLists.txt
  velox/functions/lib/Utf8Utils.cpp
  velox/functions/lib/Utf8Utils.h
  velox/functions/lib/tests/CMakeLists.txt
  velox/functions/lib/tests/Utf8Test.cpp
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/FromUtf8.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/sparksql/CMakeLists.txt
  velox/functions/sparksql/MaskFunction.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/Split.h
  velox/functions/sparksql/SplitFunctions.cpp
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/SplitFunctionsTest.cpp
  velox/functions/sparksql/tests/SplitTest.cpp
Due: none

Add mode Spark aggregate function (#10462)
  velox/docs/functions/spark/aggregate.rst
  velox/functions/sparksql/aggregates/CMakeLists.txt
  velox/functions/sparksql/aggregates/ModeAggregate.cpp
  velox/functions/sparksql/aggregates/Register.cpp
  velox/functions/sparksql/aggregates/tests/CMakeLists.txt
  velox/functions/sparksql/aggregates/tests/ModeAggregateTest.cpp
  velox/functions/sparksql/fuzzer/SparkAggregationFuzzerTest.cpp
Due: none

Fix null-handling of IN with constant in-list (#10661)
  velox/functions/prestosql/InPredicate.cpp
  velox/functions/prestosql/InPredicate.h
  velox/functions/prestosql/tests/InPredicateTest.cpp
Due: none

Fix HyperLogLog type registration in registerApproxDistinctAggregates (#10664)
  velox/functions/prestosql/aggregates/ApproxDistinctAggregate.cpp
Due: none

Fix checkstyle issue in TestTypeSignatureUtils
  presto-common/src/test/java/com/facebook/presto/common/type/TestTypeSignatureUtils.java
Due: none

Made the changes to run PrestoServer java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/prestissimo/NativeFunctionNamespaceManager.java
  presto-main/etc/config.properties
  presto-main/etc/function-namespace/native.properties
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
Due: none

Add e2e tests for native sidecar execution
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeSidecar.java
Due: run_native_specific_jobs

Add missing GTest namespace to targets (#10725)
  velox/common/config/tests/CMakeLists.txt
Due: none

Add slice Spark function (#9620)
  velox/docs/functions/spark/array.rst
  velox/functions/lib/CMakeLists.txt
  velox/functions/lib/Slice.cpp
  velox/functions/lib/Slice.h
  velox/functions/lib/tests/SliceTestBase.h
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/tests/SliceTest.cpp
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/SliceTest.cpp
Due: none
