Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix default function name prefix
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

fix: Check MV base table permission when stitching disabled (#26580)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViews.java
Due: none

fix: Fix Bearer authentication with Nessie catalog
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/nessie/IcebergNessieCatalogFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-testing-docker/pom.xml
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/KeycloakContainer.java
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/NessieContainer.java
Due: none

Add definer and invoker rights access control to materialized views
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SessionPropertyManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/catalogserver/TestCatalogServerResponse.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
  presto-memory/pom.xml
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMaterializedViewAccessControl.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViewPlanner.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViews.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateMaterializedView.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateView.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewSecurity.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

Address sourcery feedback, fix dependency issue
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-memory/pom.xml
Due: none

Fix checkstyle
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
Due: none

Fix tests
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
Due: none

Add documentation, fix bug
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/sql/create-materialized-view.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMaterializedViewAccessControl.java
Due: run_linux_tests=false

Address review feedback
  presto-docs/src/main/sphinx/sql/create-materialized-view.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
Due: run_linux_tests=false

Update tests to show that consistency check no longer takes effect
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViews.java
Due: none

feat: Add findOrCreateBatchQueryCtx to query ctx manager (#26619)
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs

feat(native): Add Velox to Presto expression converter
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
Due: run_native_specific_jobs

fix: Native pos task update bug with duplicate id
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Due: none

feat(native): Add expression optimization endpoint in sidecar
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
Due: run_native_specific_jobs

test(native): Add e2e tests for expression optimization endpoint
  presto-main-base/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeExpressionInterpreter.java
Due: run_native_specific_jobs

docs(native): Document v1/expressions endpoint
  presto-docs/src/main/sphinx/presto_cpp/sidecar.rst
  presto-openapi/src/main/resources/expressions.yaml
Due: run_linux_tests=false

feat(optimizer): Add WindowFilterPushdown rule changes for rank queries
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TopNRowNumberNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestWindowFilterPushDown.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWindowQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

refactor: Http client should not own task id (#26592)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Due: none

feat(analyzer): Add invoker and definer rights access control to materialized views (#26521)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/sql/create-materialized-view.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SessionPropertyManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/catalogserver/TestCatalogServerResponse.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMaterializedViewRewrite.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMaterializedViewAccessControl.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViewPlanner.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMemoryMaterializedViews.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateMaterializedView.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateView.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewSecurity.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs, run_linux_tests=false

Refactor ProcedureRegistry to support distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ProcedureRegistry.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorDistributedProcedureHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorProcedureContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/IProcedureRegistry.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/Procedure.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCall.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCreation.java
Due: none

Support and handle call distributed procedure statement in preparer
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryPreparer.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/MetadataUtils.java
  presto-analyzer/src/test/java/com/facebook/presto/sql/analyzer/TestBuiltInQueryPreparer.java
  presto-common/src/main/java/com/facebook/presto/common/resourceGroups/QueryType.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestCreateMaterializedViewTask.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AnalyzerOptions.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TestProcedureRegistry.java
Due: none

Refactor the connector SPI to expose procedure registry to connectors
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorContextInstance.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorContext.java
Due: none

Analyze and plan for call distributed procedure statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CallTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/CallDistributedProcedureNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Due: none

Use a dedicated spi method in Connector for distributed procedure
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-main-base/src/main/java/com/facebook/presto/connector/ConnectorManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

Maintain compatibility with custom connector-provided serialization
  presto-main-base/src/main/java/com/facebook/presto/metadata/DistributedProcedureHandleJacksonModule.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestExecuteProcedureHandle.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestAbstractTypedJacksonModule.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCodecProvider.java
Due: none

Resolve conflicts in auto-generated c++ protocol
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
Due: run_native_specific_jobs

[native] Relevant changes of presto protocol for distributed procedure
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/ExecutionWriterTarget.java
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/CallDistributedProcedureNode.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDistributedProcedureHandle.hpp.inc
Due: run_native_specific_jobs

Address comments
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/BaseProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestProcedureCreation.java
Due: none

Fix compiling failure caused by commit conflict
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Call.java
Due: none

feat(plugin-iceberg): Add support for Iceberg materialized views
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergWritableTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViews.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergInsertTableHandle.hpp.inc
Due: run_native_specific_jobs, run_linux_tests=false

Refactor Iceberg connector to support call distributed procedure
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CallDistributedProcedureSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDistributedProcedureHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergProcedureContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: none
