Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Remove transfer capacity logic in MockSharedArbitratorTest (#11045)
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
Due: none

Fix AggregateSpillBenchmarkBase not set HashBitRange (#11037)
  velox/exec/GroupingSet.cpp
  velox/exec/tests/AggregateSpillBenchmarkBase.cpp
Due: none

Extend filesystem APIs (#10504)
  velox/common/file/File.cpp
  velox/common/file/File.h
  velox/common/file/FileSystems.cpp
  velox/common/file/FileSystems.h
  velox/common/file/tests/FaultyFile.cpp
  velox/common/file/tests/FaultyFile.h
  velox/common/file/tests/FileTest.cpp
Due: none

Avoid the deadlock when failed to create root memory pool (#11042)
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
Due: none

Lucene core excluded from presto-pinot pom file
  presto-pinot/pom.xml
Due: none

Fix internal build of velox_expression_fuzzer_test (#11044)
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
Due: none

Add presto-server to maven-checks
  .github/workflows/maven-checks.yml
Due: none

Refactor TimestampConversion to return velox::Expected (#10997)
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/MakeTimestamp.cpp
  velox/type/TimestampConversion.cpp
  velox/type/TimestampConversion.h
  velox/type/tests/TimestampConversionTest.cpp
Due: none

Allow pushdown of dynamic filters through HashAggregation (#10988)
  velox/exec/HashAggregation.cpp
  velox/exec/Operator.h
  velox/exec/tests/HashJoinTest.cpp
Due: none

Fix case to map optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteCaseToMap.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

- Modify the constructor call for the Identity class to pass extra credentials
  presto-main/src/main/java/com/facebook/presto/connector/system/SystemConnectorSessionUtil.java
Due: none

[native] Remove dependencies of old arbitrator config
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

Ongoing clean up of DateTimeStampFunctionsTest.cpp (#11047)
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

Ongoing clean up of DateTimeStampFunctionsTest.cpp (#11050)
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

Add config property 'tpcds.toggle-char-to-varchar'
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsMetadata.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsRecordSet.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsMetadataStatistics.java
Due: none

initial commit for ip_prefix_subnets
  presto-docs/src/main/sphinx/functions/ip.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/IpPrefixFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestIpPrefixFunctions.java
Due: run_linux_tests=false

Upgrade FBOS dependencies to 2024.09.16.00 (#11018)
  CMake/resolve_dependency_modules/README.md
  CMake/resolve_dependency_modules/fast_float.cmake
  CMake/resolve_dependency_modules/folly/CMakeLists.txt
  CMake/resolve_dependency_modules/folly/folly-gflags-glog.patch
  scripts/setup-centos9.sh
  scripts/setup-macos.sh
  scripts/setup-ubuntu.sh
Due: none

CMake: Only set the variable if it has not been defined (#11040)
  CMake/ResolveDependency.cmake
Due: none

Disable streaming aggregations.
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Register dwrf reader/writer factories.
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Fix EffectivePredicateExtractor
  presto-main/src/main/java/com/facebook/presto/sql/planner/EffectivePredicateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Fix fmt V11 build errors (#10904)
  velox/benchmarks/basic/LikeTpchBenchmark.cpp
  velox/common/base/Exceptions.h
  velox/common/base/Fs.cpp
  velox/common/base/RuntimeMetrics.h
  velox/common/base/SpillStats.h
  velox/common/base/Status.h
  velox/common/caching/AsyncDataCache.h
  velox/common/compression/Compression.h
  velox/common/memory/MemoryAllocator.h
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/MemoryPool.h
  velox/connectors/fuzzer/FuzzerConnectorSplit.h
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/HiveDataSource.cpp
  velox/connectors/tpch/TpchConnectorSplit.h
  velox/core/PlanFragment.h
  velox/core/PlanNode.h
  velox/dwio/catalog/fbhive/FileUtils.cpp
  velox/dwio/common/Options.h
  velox/dwio/dwrf/common/FileMetadata.h
  velox/dwio/parquet/thrift/ParquetThriftTypes.h
  velox/exec/Driver.h
  velox/exec/HashBuild.h
  velox/exec/HashTable.h
  velox/exec/Operator.h
  velox/exec/ProbeOperatorState.h
  velox/exec/Spill.h
  velox/exec/Spiller.h
  velox/exec/Task.h
  velox/exec/tests/TableScanTest.cpp
  velox/exec/tests/utils/QueryAssertions.cpp
  velox/functions/lib/DateTimeFormatter.h
  velox/functions/lib/Re2Functions.h
  velox/substrait/SubstraitToVeloxExpr.h
  velox/type/Timestamp.h
  velox/type/fbhive/HiveTypeParser.cpp
  velox/type/fbhive/HiveTypeParser.h
  velox/vector/VectorSaver.cpp
Due: none

Change unicode escaping in JSON (#10887)
  velox/functions/lib/RegistrationHelpers.h
  velox/functions/lib/Utf8Utils.h
  velox/functions/prestosql/json/CMakeLists.txt
  velox/functions/prestosql/json/JsonStringUtil.cpp
  velox/functions/prestosql/json/JsonStringUtil.h
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/JsonType.cpp
Due: none

- pass extra-credentials to system connector
  presto-main/src/main/java/com/facebook/presto/connector/system/SystemConnectorSessionUtil.java
Due: none

Fix date_diff() bug across time zone boundaries (#11053)
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Due: none

Update sqlserver docker image version
  presto-product-tests/conf/docker/singlenode-sqlserver/docker-compose.yml
Due: none

[Iceberg] Collect superset of supported statistics
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveStatisticsUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/StatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
Due: none

Use semantic asserts
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveNativeLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitScheduling.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestJsonHiveHandles.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
Due: none

Fix formatting in functions/json.rst
  presto-docs/src/main/sphinx/functions/json.rst
Due: run_linux_tests=false

Remove test-jar dependency
  presto-tests/pom.xml
Due: none

Delete unused code
  presto-main/src/test/java/com/facebook/presto/execution/executor/Histogram.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SimulationController.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SimulationSplit.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SimulationTask.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SplitGenerators.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SplitSpecification.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/TaskExecutorSimulator.java
Due: none

Add support for drop branch for Iceberg Table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

Add DROP BRANCH sql support
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-main/src/main/java/com/facebook/presto/execution/DropBranchTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DropBranch.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: run_linux_tests=false
