Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[native] fix: Fail the query if the aggregation stats node fails the sanity check
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

misc: Remove legacy code in table writer plan node. (#14660)
  velox/core/PlanNode.h
Due: none

Enable case-sensitive-name-matching feature for clickhouse connector
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseClient.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseConfig.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseMetadata.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseMetadataFactory.java
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickHouseConfig.java
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickhouseIntegrationMixedCase.java
  presto-docs/src/main/sphinx/connector/clickhouse.rst
Due: run_linux_tests=false

Enable clickhouse integration tests in CI
  .github/workflows/tests.yml
  presto-clickhouse/pom.xml
Due: none

Fixes existing failing tests in clickhouse
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickHouseDistributedQueries.java
Due: none

Add plan support for using uniqueness of row_id
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/LocalProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPreferredProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLocalProperties.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableLayout.java
  presto-spi/src/main/java/com/facebook/presto/spi/UniqueProperty.java
Due: none

[native] Advance velox
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.h
Due: run_native_specific_jobs

fix: Remove spammy log message from TableScan (#14661)
  velox/exec/TableScan.cpp
Due: none

fix: Include pushed down filter in TpchTableHandle::toString()
  velox/connectors/tpch/TpchConnector.cpp
Due: none

Enable case-senstive identifer support for Mongodb connector
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoConnector.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/MongoQueryRunner.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoDbIntegrationMixedCaseTest.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoDistributedQueries.java
Due: run_linux_tests=false

enhance csp security with form-action directive and stricter img-src
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
Due: none

Enable copy button feature explicitly
  presto-docs/src/main/sphinx/conf.py
Due: run_linux_tests=false

Fix minor documentation issues
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

feat: Add enum_key Presto function (#14482)
  velox/core/SimpleFunctionMetadata.h
  velox/docs/functions.rst
  velox/docs/functions/presto/enum.rst
  velox/expression/fuzzer/ArgumentTypeFuzzer.cpp
  velox/expression/fuzzer/ArgumentTypeFuzzer.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/EnumFunctions.h
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/EnumFunctionsRegistration.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.h
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/tests/EnumFunctionsTest.cpp
  velox/functions/prestosql/types/BigintEnumType.cpp
  velox/functions/prestosql/types/BigintEnumType.h
  velox/type/SimpleFunctionApi.h
Due: none

support specify region
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: none

Enable case-senstive identifer support for Cassandra connector
  .github/workflows/tests.yml
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraPageSink.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/CassandraCqlUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Due: run_linux_tests=false

Refactor `Connector`: pass autocommit context to connector transactions
  presto-main-base/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java
Due: none

[Iceberg]Accept and maintain autocommit and isolation level on tx start
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
Due: none

[Iceberg]Support single-table multi-statement writes transaction
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergParquetDereferencePushDown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/ExpireSnapshotsProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/FastForwardBranchProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetCurrentSnapshotProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/SetTablePropertyProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionMetadata.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/iceberg/TestIcebergHiveMetadataListing.java
Due: none

[ToBeSquashed]Refactor test cases using new transaction test framework
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
Due: none

Fixed singlestore varchar type mapping.
  presto-docs/src/main/sphinx/connector/singlestore.rst
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreIntegrationSmokeTest.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreTypeMapping.java
Due: run_linux_tests=false

feat: Add tracing for exchange (#14613)
  velox/exec/Exchange.cpp
  velox/exec/Exchange.h
  velox/exec/Operator.cpp
  velox/exec/TraceUtil.cpp
  velox/exec/TraceUtil.h
  velox/tool/trace/OperatorReplayerBase.cpp
  velox/tool/trace/OperatorReplayerBase.h
  velox/tool/trace/TraceReplayRunner.h
Due: none

Add a DB based session property manager
  README.md
  pom.xml
  presto-docs/src/main/sphinx/admin/session-property-managers.rst
  presto-function-namespace-managers/pom.xml
  presto-main/etc/session-property-config.json
  presto-main/etc/session-property-config.properties
  presto-session-property-managers/pom.xml
  presto-session-property-managers/src/main/java/com/facebook/presto/session/AbstractSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionMatchSpec.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionPropertyConfigurationManagerPlugin.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerModule.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/RefreshingDbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDao.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerModule.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/AbstractTestSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerMariadb.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerMysql.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManagerConfig.java
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
Due: run_linux_tests=false

Split presto-session-property-managers module
  CODEOWNERS
  pom.xml
  presto-db-session-property-manager/pom.xml
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyConfigurationManagerPlugin.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManager.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerConfig.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerFactory.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerModule.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/DbSpecsProvider.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/RefreshingDbSpecsProvider.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/SessionPropertiesDao.java
  presto-db-session-property-manager/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
  presto-db-session-property-manager/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManager.java
  presto-db-session-property-manager/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerConfig.java
  presto-db-session-property-manager/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerMariadb.java
  presto-db-session-property-manager/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerMysql.java
  presto-docs/src/main/sphinx/admin/session-property-managers.rst
  presto-file-session-property-manager/pom.xml
  presto-file-session-property-manager/src/main/java/com/facebook/presto/session/file/FileSessionPropertyConfigurationManagerPlugin.java
  presto-file-session-property-manager/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManager.java
  presto-file-session-property-manager/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerConfig.java
  presto-file-session-property-manager/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerFactory.java
  presto-file-session-property-manager/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerModule.java
  presto-file-session-property-manager/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManager.java
  presto-file-session-property-manager/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManagerConfig.java
  presto-main/etc/session-property-config.json
  presto-main/etc/session-property-config.properties
  presto-server/src/main/provisio/presto.xml
  presto-session-property-managers-common/pom.xml
  presto-session-property-managers-common/src/main/java/com/facebook/presto/session/AbstractSessionPropertyManager.java
  presto-session-property-managers-common/src/main/java/com/facebook/presto/session/SessionMatchSpec.java
  presto-session-property-managers-common/src/test/java/com/facebook/presto/session/AbstractTestSessionPropertyManager.java
  presto-session-property-managers/pom.xml
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionMatchSpec.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionPropertyConfigurationManagerPlugin.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManagerConfig.java
  presto-spark-package/pom.xml
  presto-spark-package/src/main/assembly/presto.xml
  presto-spark-testing/pom.xml
  presto-test-coverage/pom.xml
Due: run_linux_tests=false

Upgrade Pinot version to 1.3.0 & move off of presto-pinot-driver
  pom.xml
  presto-elasticsearch/pom.xml
  presto-main-base/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotUtils.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot/pom.xml
Due: none

Add array_sort(array, function) support for key-based sorting
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArraySortByKeyFunction.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestArraySortByKeyFunction.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPluginWithoutLoadingFunctionalities.java
Due: none

Addressing Review Comments
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArraySortByKeyFunction.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestArraySortByKeyFunction.java
Due: none

Enable and fix all Cassandra connector tests in CI
  .github/workflows/tests.yml
  presto-cassandra/pom.xml
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntergrationMixedCase.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/util/TestCassandraCqlUtils.java
Due: none

now() test cases
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNowScalarFunction.java
Due: none

fix: Deserialized TDigest NaN checks (#25907)
  presto-main-base/src/main/java/com/facebook/presto/tdigest/TDigest.java
  presto-main-base/src/test/java/com/facebook/presto/tdigest/TestTDigest.java
Due: none

Upgrade org.reflections version
  presto-pinot-toolkit/pom.xml
Due: none

FIX REVIEW
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: none

[Native]Fix typo in PrestoServer.h and IcebergOutputTableHandle.hpp.inc
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergOutputTableHandle.hpp.inc
Due: run_native_specific_jobs

[Native]Remove redundant parentheses in PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs
