Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

[presto] Allow CTAS and INSERT from materialized views (#27227)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

refactor(native): Abstract session property provider
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/Utils.h
  presto-native-execution/presto_cpp/main/properties/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionPropertiesProvider.h
  presto-native-execution/presto_cpp/main/properties/session/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

Add Iceberg branch and tags support related tests in Prestissimo
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTagsAndBranches.java
Due: run_native_specific_jobs, run_linux_tests=false

feat(optimizer): Add SimplifyAggregationsOverConstant iterative rule
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyAggregationsOverConstant.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyAggregationsOverConstant.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

refactor: HivePartitionManager.parsePartition to instance method and remove timeZone argument (#27284)
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/statistics/TestMetastoreHiveStatisticsProvider.java
Due: none

arrow-flight-checks
  .github/workflows/arrow-flight-tests.yml
Due: none

Fix test to avoid DELETE (NYE on C++ clusters)
  .mvn/maven.config
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
Due: none

feat(optimizer): Add SimplifyAggregationsOverConstant iterative rule (#27246)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyAggregationsOverConstant.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyAggregationsOverConstant.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

feat(analyzer): Allow CTAS and INSERT from materialized views (#27227)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Due: none

Migrate presto-trunk from VectorSerde::Kind to string API
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Fix libcuda.so.1 missing in ldconfig
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

fix(ci): Skip arrowflight CI for doc-only changes (#27285)
  .github/workflows/arrow-flight-tests.yml
Due: none

chore(ci): Advance velox & Migrate presto-trunk from VectorSerde::Kind to string API (#27262)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Due: run_native_specific_jobs

Add support for SELECT alias references in HAVING clause
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Due: none

Add documentation for new property
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

Support predicate stitching in MaterializedViewRewrite
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestDifferentialPlanRewriter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestMaterializedViewRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestPassthroughColumnEquivalences.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestSymbolMapper.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewDefinition.java
  presto-spi/src/main/java/com/facebook/presto/spi/MaterializedViewStaleReadBehavior.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_linux_tests=false

Address code review comments
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
Due: none

Fix pre-existing Hive bug
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
Due: none

Address review feedback
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/TestMaterializedViewRewrite.java
Due: run_linux_tests=false

Address code review comments
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
Due: none

Warn on stale reads of MVs
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/MaterializedViewRewrite.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Due: none

Fixup validation
  .mvn/maven.config
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/PassthroughColumnEquivalences.java
Due: none

test: Add Iceberg branch and tags support related tests in Prestissimo (#27272)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTagsAndBranches.java
Due: run_native_specific_jobs, run_linux_tests=false

fix: ST_Equals should return true for empty geometries
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoRelations.java
Due: run_linux_tests=false

feat: Add in legacy_st_equals session and config property
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoRelations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
Due: run_linux_tests=false

chore(deps): Bump jetty from 12.0.29 to 12.0.32
  pom.xml
Due: none

Code review feedback
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/materializedview/DifferentialPlanRewriter.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergMaterializedViews.java
Due: run_native_specific_jobs

migratebucketprocedurefile updates
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/MigrateTableBucketProcedure.java
Due: none

chore(deps): Upgrade avro to version 1.12.1 (#27153)
  pom.xml
Due: none

feat(plugin-openlineage-event-listener): Add OpenLineage event listener plugin (#27249)
  pom.xml
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/openlineage-event-listener.rst
  presto-openlineage-event-listener/pom.xml
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/FormatInterpolator.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListener.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerConfig.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerFactory.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageEventListenerPlugin.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageHttpTransportConfig.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageJobContext.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageJobInterpolatedValues.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineagePrestoFacet.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageTransport.java
  presto-openlineage-event-listener/src/main/java/com/facebook/presto/plugin/openlineage/OpenLineageTransportConfig.java
  presto-openlineage-event-listener/src/main/resources/META-INF/services/com.facebook.presto.spi.Plugin
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/OpenLineageMemoryTransport.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/PrestoEventData.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListener.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListenerConfig.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageEventListenerPlugin.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageHttpTransportConfig.java
  presto-openlineage-event-listener/src/test/java/com/facebook/presto/plugin/openlineage/TestOpenLineageTransportConfig.java
  presto-server/src/main/provisio/presto.xml
Due: run_linux_tests=false

Add dynamic filter push to workers (Phase 2: worker-side filtering)
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/execution/RemoteTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/DynamicFilterPusher.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/DynamicFilterPushRequest.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeDynamicPartitionPruning.java
Due: run_native_specific_jobs

Add native_dynamic_filter_pushdown_enabled session property
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

[prestissimo] Add aggregation and hash join spill file create configs
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoToVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

feat(planner): Add feature config for PushPartialAggregationThroughJoin (#27269)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: run_linux_tests=false

Fix bug in LogicalPropertiesImpl
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestLogicalPropertyPropagation.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/RuleAssert.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
