Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

test(delta): add unit tests for log-derived table statistics
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaConfig.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaFileEntry.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaJsonFileStatistics.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaTableStatisticsProvider.java
Due: none

Add e2e tests for datetime scalar functions
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeDateTimeScalarFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDateTimeScalarFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDateTimeScalarFunctions.java
Due: none

misc: Make kll_sketch configurable via PRESTO_ENABLE_KLL_SKETCH macro
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

fix(iceberg): Address review comments on Iceberg V3 unknown-type support
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/UnknownFieldTypes.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestUnknownColumnRead.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-parquet/src/main/java/org/apache/parquet/io/ColumnIOConverter.java
Due: none

misc: Make kll_sketch configurable via PRESTO_ENABLE_KLL_SKETCH macro (#28601)
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

fix(native): Add KLL sketch build targets
  presto-native-execution/presto_cpp/main/types/KllSketchType.h
Due: run_native_specific_jobs

fix(analyzer, plugin-iceberg): Read a time travel query with the schema recorded on its snapshot (#28503)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableVersion.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/MetadataUtils.java
Due: run_linux_tests=false

feat(build): Update review-presto-pr skill for native code changes (#27962)
  .claude/skills/review-presto-pr/SKILL.md
Due: none

feat(plugin-iceberg): Support v3 geography type write and read
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/SphericalGeographyType.java
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/SphericalGeographyUtils.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FilesTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergGeospatialUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergParquetFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergParquetSchemaUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/Partition.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeographyType.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestGeographyTypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergGeospatialUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergParquetSchemaUtil.java
  presto-main-base/src/main/java/com/facebook/presto/geospatial/SphericalGeoFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: run_linux_tests=false

fix(connector): Fix issues in presto-kafka connector
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaConsumerManager.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaMetadata.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaRecordSet.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaSplit.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaSplitManager.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/PlainTextKafkaConsumerManager.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/SaslKafkaConsumerManager.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/server/KafkaClusterMetadataHelper.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaSplitGenerationWithOutOfOrderMessages.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaSplitOffsets.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaTimestampFilter.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/TestKafkaTimestampFilterWithOutOfOrderMessages.java
Due: none

Bump react-data-table-component to 8.11.0
  presto-ui/src/components/DataTableTheme.ts
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.tsx
  presto-ui/src/components/QueryResults.jsx
  presto-ui/src/components/SQLClient.tsx
  presto-ui/src/components/SessionProps.jsx
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

filter date mongo Use master version of file
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoSession.java
Due: none

Fixes https://github.com/prestodb/presto/issues/28582
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/Scope.java
  presto-docs/src/main/sphinx/functions/comparison.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/BetweenCodeGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/BytecodeGeneratorContext.java
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/RowExpressionCompiler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

chore(ci): Advance velox (#28607)
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

feat(native): Add session properties to control when a partial aggregation is abandoned
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

fix(plugin-iceberg): Keep files with unrecorded lineage metrics in split pruning
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/splits/RewriteDataFilesIcebergSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRowLineage.java
Due: none

chore: Update the dependency image
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

perf(plugin-iceberg): Answer an unfiltered COUNT(*) in aggregate pushdown from the snapshot summary
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergAggregationOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergAggregatePushDown.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

perf(plugin-iceberg): Answer row-count-only table statistics from the snapshot summary
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergRowCountStatistics.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Due: none

Address review comments: simplify single-part QualifiedName in parser tests, add access control precision test, add ORC schema evolution test
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestSchemaEvolutionOrc.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_native_specific_jobs

Upgrade iceberg to 1.11.0
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
Due: none

Address review comment
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/GroupInnerJoinsByConnectorRuleSet.java
Due: none

feat: Extend AWS S3 security mappings to location prefixes
  pom.xml
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/aws/security/AWSSecurityMapping.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/aws/security/AWSSecurityMappings.java
  presto-hive-common/src/test/java/com/facebook/presto/hive/aws/security/TestAWSSecurityMappings.java
  presto-hive-common/src/test/resources/com.facebook.presto.hive.aws.security/aws-security-mapping-lakeformation-with-s3prefix.json
  presto-hive-common/src/test/resources/com.facebook.presto.hive.aws.security/aws-security-mapping-s3-prefix-empty.json
  presto-hive-common/src/test/resources/com.facebook.presto.hive.aws.security/aws-security-mapping-s3-prefix-no-catch-all.json
  presto-hive-common/src/test/resources/com.facebook.presto.hive.aws.security/aws-security-mapping-s3-prefix-table-scoped.json
  presto-hive-common/src/test/resources/com.facebook.presto.hive.aws.security/aws-security-mapping-s3-prefix-valid.json
  presto-hive/src/main/java/com/facebook/presto/hive/s3/security/AWSS3SecurityMappingConfigurationProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/security/TestAWSS3SecurityMapping.java
  presto-hive/src/test/resources/com/facebook/presto/hive/s3/security/aws-security-mapping-s3-prefix.json
Due: run_linux_tests=false

feat(function): Gate AT TIME ZONE on legacy_timestamp_with_timezone (#28562) (#28562)
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-docs/src/main/sphinx/functions/datetime.rst
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/DesugarAtTimeZoneRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestAtTimeZone.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(security): Bump react-data-table-component to 8.11.0 (#28584)
  presto-ui/src/components/DataTableTheme.ts
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryOverview.tsx
  presto-ui/src/components/QueryResults.jsx
  presto-ui/src/components/SQLClient.tsx
  presto-ui/src/components/SessionProps.jsx
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

chore(ci): Advance velox (#28585)
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Due: none

fix(plugin-iceberg): Allow rewrite_data_files with partition column filters when pushdown_filter_enabled=true (#28579)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestRewriteDataFilesProcedure.java
Due: run_native_specific_jobs

Using HandleJsonModule typed modules for json deser
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimJdbcPlugins.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimPlugins.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimRequest.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimTpchPlugin.java
  presto-flight-shim/src/test/resources/split_additional_predicate.json
  presto-flight-shim/src/test/resources/split_tuple_domain.json
Due: none

feat(function): Use session zone for TIMESTAMP WITH TIME ZONE (#28617)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/type/DateTimeOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/TimestampWithTimeZoneOperators.java
  presto-main-base/src/main/java/com/facebook/presto/util/DateTimeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/util/DateTimeZoneIndex.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

perf(native-pos): Narrow the executor classpath from a manifest
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/admin/spark.rst
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManagerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestPluginManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestPluginManagerUtil.java
  presto-spark-launcher/pom.xml
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/ExecutorClasspathManifest.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/LauncherUtils.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
  presto-spark-launcher/src/test/java/com/facebook/presto/spark/launcher/TestExecutorClasspathManifest.java
Due: run_linux_tests=false

feat(function): Use session zone for TIMESTAMP WITH TIME ZONE (#28617) (#28617)
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/type/DateTimeOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/TimestampWithTimeZoneOperators.java
  presto-main-base/src/main/java/com/facebook/presto/util/DateTimeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/util/DateTimeZoneIndex.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

[presto-spark] Keep the coordinator-only TaskInfo when the task-info cap drops the rest
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryExecution.java
Due: none

perf(native-pos): Zstd-compress the native task update request
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Due: run_linux_tests=false

chore(deps): Upgrade iceberg to 1.11.0 (#28606)
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
Due: none

Add support for views in MySql connector
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConfig.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlConnectorFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlPlugin.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/MySqlQueryRunner.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlConfig.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: run_linux_tests=false

Address comments
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
Due: run_linux_tests=false

Address more comments
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadataFactory.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
