Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Wire session start time from Presto to Velox QueryConfig
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
Due: run_native_specific_jobs

now-function-and-jmx-fix
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

code fix
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
Due: run_native_specific_jobs

Upgrade org.jetbrains:annotations version 26.0.2
  pom.xml
  presto-accumulo/pom.xml
  presto-elasticsearch/pom.xml
  presto-hana/pom.xml
  presto-mysql/pom.xml
  presto-postgresql/pom.xml
  presto-singlestore/pom.xml
Due: none

Fix connector.name in document
  presto-docs/src/main/sphinx/installation/deployment.rst
Due: run_linux_tests=false

Add SQL Support for MERGE INTO In Presto #20578 (parser)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Merge.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeCase.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeInsert.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeUpdate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
Due: none

Upgrade org.testcontainers:oracle-xe versio to 1.21.3
  presto-oracle/pom.xml
Due: none

Upgrade zookeeper to 3.9.4 to address CVE-2025-58457
  pom.xml
Due: none

Upgrade javax.servlet:javax.servlet-api versio to 4.0.1
  presto-spark-base/pom.xml
Due: none

code fix
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

Refactor: Move dynamic_registry and FunctionMetadata to functions
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.h
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/DynamicFunctionRegistrar.h
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/README.md
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/examples/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/examples/DynamicFunction.cpp
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/examples/DynamicNonDefaultFunction.cpp
  presto-native-execution/presto_cpp/main/functions/dynamic_registry/examples/DynamicVarcharFunction.cpp
  presto-native-execution/presto_cpp/main/functions/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/functions/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/functions/tests/data/ArrayFrequency.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Combinations.json
  presto-native-execution/presto_cpp/main/functions/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/ElementAt.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Greatest.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Lead.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Mod.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Ntile.json
  presto-native-execution/presto_cpp/main/functions/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/functions/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/TransformKeys.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Variance.json
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

Changes to generate jks file programatically to enable ssl/tls in hms
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStoreKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore-truststore.jks
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore.jks
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/SslKeystoreManager.java
Due: none

Remove deprecated comments from TableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/TableHandle.java
Due: none

Add x509 certificates list to identity class (#26128)
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Due: none

Fix subheading formatting in develop/functions.rst
  presto-docs/src/main/sphinx/develop/functions.rst
Due: run_linux_tests=false

Added Presto Java dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Make SplitRunner threads daemon threads
  presto-main-base/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
Due: none

Handle restricted output columns in Arrow Page Source
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPageSource.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowSplit.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueriesWithTVF.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowSplit.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/PrimitiveToPrestoTypeMappings.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/QueryArrowTableHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowConnector.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightPlugin.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowMetadata.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowModule.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowSplitManager.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/tvf/QueryFunctionProvider.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowFlightRequest.java
Due: none

Fix shutdown of cudf-exchange server thread.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Disable UpperCase conversion when case-sensitve flag is enabled
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Add quotes to column names for renameColumn and dropColumn in BaseJdbcClient
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
Due: none

Disable UpperCase conversion when case-sensitve flag is enabled for Oracle connector
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
Due: none

Fix Backward compatibility issue for using older Presto JDBC drivers
  presto-cli/src/main/java/com/facebook/presto/cli/Query.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoResultSet.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoStatement.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Merge.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-common/src/main/java/com/facebook/presto/spark/PrestoSparkQueryStatusInfo.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/QueryAnalysis.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
Due: none

Upgrade threetenbp to latest version
  presto-bigquery/pom.xml
Due: none

Fix redis-hbo-provider docs
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
Due: run_linux_tests=false

Add offset
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Support config catalog type for IcebergExternalWorkerQueryRunner
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-native-execution/README.md
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Fix resource groups docs
  presto-docs/src/main/sphinx/admin/resource-groups.rst
Due: run_linux_tests=false
