Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[Iceberg]Prefer `AppendFiles` over `RowDelta` in insert-only statement
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Due: none

Set only once
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
Due: none

[native] Support between filter for index join
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

[native] Add index join node protocol unit test
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Due: run_native_specific_jobs

Add info in statement analyzer constructor
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
Due: none

Only set info once
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
Due: none

Fix linking issue in macOS when remote is enabled
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
Due: run_native_specific_jobs

Update test case
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClientModule.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/OracleClientModuleTest.java
Due: none

Fix ARRAYS_OVERLAP function bug
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArraysOverlapFunction.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

Add a DB based session property manager
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-session-property-managers/pom.xml
  presto-session-property-managers/src/main/java/com/facebook/presto/session/AbstractSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionMatchSpec.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/SessionPropertyConfigurationManagerPlugin.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSessionPropertyManagerModule.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/DbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/RefreshingDbSpecsProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDao.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/SessionPropertiesDaoProvider.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/util/SessionPropertiesDaoUtil.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/db/util/Threads.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManager.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerConfig.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerFactory.java
  presto-session-property-managers/src/main/java/com/facebook/presto/session/file/FileSessionPropertyManagerModule.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/AbstractTestSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/db/TestDbSessionPropertyManagerConfig.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManager.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/file/TestFileSessionPropertyManagerConfig.java
Due: none

[native] Track CPU & Memory overload in native worker.
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs, run_linux_tests=false

Add request-data-sizes-max-wait-sec to session properties (#24918)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Improve failure message for QualifiedObjectName not 3 parts
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
Due: none

Allow connector optimizer to apply to IndexSourceNode
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/IndexSourceNode.java
Due: none

Add NativeExecutionTypeRewrite
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: run_linux_tests=false

refactor(fuzzer): Extract QueryRunnerToSqlPlanNodeVisitor to separate files (#13045)
  velox/exec/fuzzer/CMakeLists.txt
  velox/exec/fuzzer/DuckQueryRunner.cpp
  velox/exec/fuzzer/DuckQueryRunnerToSqlPlanNodeVisitor.cpp
  velox/exec/fuzzer/DuckQueryRunnerToSqlPlanNodeVisitor.h
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunner.h
  velox/exec/fuzzer/PrestoQueryRunnerToSqlPlanNodeVisitor.cpp
  velox/exec/fuzzer/PrestoQueryRunnerToSqlPlanNodeVisitor.h
  velox/exec/fuzzer/PrestoSql.cpp
  velox/exec/fuzzer/PrestoSql.h
  velox/exec/fuzzer/ReferenceQueryRunner.cpp
  velox/exec/fuzzer/ReferenceQueryRunner.h
  velox/functions/sparksql/fuzzer/CMakeLists.txt
  velox/functions/sparksql/fuzzer/SparkQueryRunner.cpp
  velox/functions/sparksql/fuzzer/SparkQueryRunnerToSqlPlanNodeVisitor.cpp
  velox/functions/sparksql/fuzzer/SparkQueryRunnerToSqlPlanNodeVisitor.h
Due: none

Disallow multiple masks on a given column
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
Due: none

Improve addColumnMasks efficiency
  presto-docs/src/main/sphinx/develop/system-access-control.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
Due: run_linux_tests=false

Fetch column masks in bulk
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: none

Allow returning multiple filters and masks
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: none

Add support for column masking
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestAccessControlFiltersMasks.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: none

Add support for row filtering
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestRowFilter.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewExpression.java
Due: none

fix: Load lazy input before order by operation (#13151)
  velox/exec/Operator.cpp
  velox/exec/Operator.h
  velox/exec/OrderBy.cpp
  velox/exec/tests/OrderByTest.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
Due: none

[presto-expressions] bytecode to 8 + modernizer
  presto-expressions/pom.xml
  presto-expressions/src/main/java/com/facebook/presto/expressions/DynamicFilters.java
Due: none

[presto-thrift-api] bytecode to 8 + modernizer
  presto-thrift-api/pom.xml
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftBlock.java
Due: none

[presto-tpch] bytecode to 8 + modernizer
  presto-tpch/pom.xml
  presto-tpch/src/main/java/com/facebook/presto/tpch/statistics/StatisticsEstimator.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/statistics/TableStatisticsDataRepository.java
  presto-tpch/src/test/java/com/facebook/presto/tpch/TestTpchMetadata.java
Due: none

[presto-common] Swap javax for jakarta and set build target to 8
  presto-common/pom.xml
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestSortedRangeSet.java
Due: none

[presto-spi] bytecode to 8
  presto-spi/pom.xml
Due: none

[presto-matching] bytecode to 8
  presto-matching/pom.xml
Due: none

Upgrade airlift, jetty, and guice in root POM
  pom.xml
Due: none

presto server notice from javax to jakarta
  presto-server/NOTICE
Due: none

[presto-parser] bytecode to 8 + jakarta
  presto-parser/pom.xml
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/SqlParser.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/QualifiedName.java
Due: none

[thrift-testing-server] jakarta + modernizer
  presto-thrift-testing-server/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/statistics/TableStatisticsDataRepository.java
Due: none

[presto-bytecode] bytecode to 8 + modernizer fixes
  presto-bytecode/pom.xml
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/ClassDefinition.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/ClassGenerator.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/ClassInfo.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/MethodDefinition.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/expression/BytecodeExpression.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/expression/BytecodeExpressions.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/expression/InvokeDynamicBytecodeExpression.java
  presto-bytecode/src/main/java/com/facebook/presto/bytecode/instruction/InvokeInstruction.java
Due: none

jakarta fixes for presto-proxy and presto-router
  presto-proxy/src/main/java/com/facebook/presto/proxy/ProxyResource.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RequestInfo.java
Due: none
