Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Restore exception handling for IllegalArgumentException during type resolution
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
Due: none

Apply filters and masks for tables referenced by views
  presto-main-base/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestRowFilter.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewAccessControl.java
Due: none

Apply filters and masks for view object
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestColumnMask.java
  presto-main-base/src/test/java/com/facebook/presto/sql/query/TestRowFilter.java
Due: none

test: Add support for TimestampWithTimeZone in Expression Fuzzer (#12805)
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/expression/fuzzer/ExpressionFuzzer.cpp
  velox/expression/fuzzer/ExpressionFuzzer.h
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
  velox/expression/tests/ExpressionVerifier.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
Due: none

Add new API 'getBytes' to com.facebook.presto.common.block.Block
  presto-common/src/main/java/com/facebook/presto/common/block/AbstractSingleArrayBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/AbstractSingleRowBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/AbstractVariableWidthBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/Block.java
  presto-common/src/main/java/com/facebook/presto/common/block/DictionaryBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/LazyBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/RunLengthEncodedBlock.java
  presto-common/src/test/java/com/facebook/presto/common/block/TestVariableWidthBlockBuilder.java
Due: none

Revert "Change array_top_n to return null on bad n"
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/sql/TestArraySqlFunctions.java
Due: none

[sidecar] Fix array_sort lambda function failure when sidecar is enabled and add e2e lambda function tests
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticException.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SignatureMatchingException.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

fix(docs): Build errors (#13291)
  velox/docs/configs.rst
  velox/docs/functions/presto/binary.rst
  velox/docs/functions/presto/conversion.rst
  velox/docs/functions/spark/coverage.rst
  velox/docs/monitoring/metrics.rst
Due: none

[native] Add Builder classes for custom PlanNodes
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.h
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.h
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/tests/PlanNodeBuilderTest.cpp
Due: run_native_specific_jobs

Make the necessary changes to setup clusters
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/PlanCheckerProviderManager.java
  presto-main/etc/catalog/blackhole.properties
  presto-main/etc/catalog/delta.properties
  presto-main/etc/catalog/druid.properties
  presto-main/etc/catalog/example.properties
  presto-main/etc/catalog/hana.properties
  presto-main/etc/catalog/hive.properties
  presto-main/etc/catalog/hudi.properties
  presto-main/etc/catalog/iceberg.properties
  presto-main/etc/catalog/jmx.properties
  presto-main/etc/catalog/localfile.properties
  presto-main/etc/catalog/memory.properties
  presto-main/etc/catalog/mysql.properties
  presto-main/etc/catalog/pinot.properties
  presto-main/etc/catalog/postgresql.properties
  presto-main/etc/catalog/prometheus.properties
  presto-main/etc/catalog/singlestore.properties
  presto-main/etc/catalog/sqlserver.properties
  presto-main/etc/catalog/tpcds.properties
  presto-main/etc/config.properties
  presto-main/etc/function-namespace/hive.properties
  presto-main/etc/function-namespace/native.properties
  presto-main/etc/plan-checker-providers/native.properties
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunnerUtils.java
  presto-tests/src/test/java/com/facebook/presto/tests/tpch/TpchQueryRunner.java
Due: none

Add support for analyzer cluster in Presto router
  presto-router/etc/router-config.json
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
  presto-router/src/main/java/com/facebook/presto/router/SimplePrestoClient.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RequestInfo.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/PreCheckClusterScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/Scheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerType.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/UserHashScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestHealthChecks.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
  presto-router/src/test/java/com/facebook/presto/router/TestSelectors.java
  presto-router/src/test/java/com/facebook/presto/router/TestingRouterUtil.java
Due: none

docs: Velox Primer Part 3 blog post (#13331)
  website/blog/2025-05-12-velox-primer-part-3.mdx
  website/static/img/velox-primer-part3-1.png
Due: none

Add runtime stats for normalizeIdentifier
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
Due: none

Mixed case support product tests for hive and mysql connectors
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  presto-product-tests/bin/run_on_docker.sh
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/compose.sh
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/docker-compose.yml
  presto-product-tests/conf/docker/singlenode-mysql-mixed-case-on/mysql-init/init.sql
  presto-product-tests/conf/docker/singlenode-mysql/mysql-init/init.sql
  presto-product-tests/conf/presto/etc/environment-specific-catalogs/singlenode-mysql-mixed-case-on/mysql.properties
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveMixedCaseSupport.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOff.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOn.java
Due: none

Enable mixed-case support for mysql
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationMixedCaseTest.java
Due: run_linux_tests=false

Mark deprecate for case-insensitive-name-matching
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
Due: none

feat: Add cosine_similarity function for two arrays (#13311)
  velox/docs/functions/presto/math.rst
  velox/functions/prestosql/Arithmetic.h
  velox/functions/prestosql/registration/MathematicalFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ArithmeticTest.cpp
Due: none

Enable case-sensitive matching support for all the Jdbc connectors
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaClient.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-sqlserver/src/main/java/com/facebook/presto/plugin/sqlserver/SqlServerClient.java
Due: none

Add support for SHOW CREATE SCHEMA
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/show-create-schema.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/SchemaProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ShowCreate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: run_linux_tests=false

Fix the partial aggregation pushdown for system table for native execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/Lookup.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeSystemQueries.java
Due: run_native_specific_jobs

Mixed case identifier support
  presto-main-base/src/main/java/com/facebook/presto/execution/RenameColumnTask.java
Due: none

Add support for drop branch for Iceberg Table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

Add DROP BRANCH sql support
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DropBranchTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DropBranch.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: run_linux_tests=false

Add DROP TAG sql support
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DropTagTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DropTag.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: run_linux_tests=false

Add support for drop tag for Iceberg Table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

feat: Implement bing_tile_at function (#13275)
  velox/functions/prestosql/BingTileFunctions.h
  velox/functions/prestosql/registration/BingTileFunctionsRegistration.cpp
  velox/functions/prestosql/tests/BingTileFunctionsTest.cpp
  velox/functions/prestosql/types/BingTileType.cpp
  velox/functions/prestosql/types/BingTileType.h
  velox/functions/prestosql/types/tests/BingTileTypeTest.cpp
Due: none

Change iceberg PrestoIcebergPartitionSpec for better implemeting following work in velox
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFieldWrapper.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionSpecConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransformType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoIcebergPartitionSpec.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionFields.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestPartitionSpecConverter.java
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

refactor: Prepare SpillWriter to be used for serialized page (#13327)
  velox/exec/SpillFile.cpp
  velox/exec/SpillFile.h
Due: none

Fix filter source variable not found bug in left join to semi join optimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/LeftJoinNullFilterToSemiJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Avoid object creation when call replaceChildren for CteConsumerNode
  presto-spi/src/main/java/com/facebook/presto/spi/plan/CteConsumerNode.java
Due: none

build: Update FBOS to v2025.04.28.00 (#13206)
  .github/workflows/benchmark.yml
  CMake/FindXxhash.cmake
  CMake/resolve_dependency_modules/README.md
  CMake/resolve_dependency_modules/fastfloat.cmake
  CMake/resolve_dependency_modules/folly/CMakeLists.txt
  CMake/resolve_dependency_modules/folly/folly-gflags-glog.patch
  CMake/resolve_dependency_modules/folly/folly-no-export.patch
  CMakeLists.txt
  scripts/setup-centos9.sh
  scripts/setup-macos.sh
  scripts/setup-manylinux.sh
  scripts/setup-ubuntu.sh
  velox/benchmarks/basic/ComparisonConjunct.cpp
  velox/benchmarks/basic/DecodedVector.cpp
  velox/benchmarks/basic/FeatureNormalization.cpp
  velox/benchmarks/basic/SimpleArithmetic.cpp
  velox/benchmarks/basic/SimpleCastExpr.cpp
  velox/benchmarks/basic/VectorCompare.cpp
  velox/benchmarks/basic/VectorFuzzer.cpp
  velox/benchmarks/basic/VectorSlice.cpp
  velox/common/base/benchmarks/StringSearchBenchmark.cpp
  velox/connectors/hive/benchmarks/HivePartitionFunctionBenchmark.cpp
  velox/exec/benchmarks/MergeBenchmark.cpp
  velox/functions/lib/benchmarks/ApproxMostFrequentStreamSummaryBenchmark.cpp
  velox/functions/lib/benchmarks/KllSketchBenchmark.cpp
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
