Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

[sapphire-velox]fix: Fix to handle multiple TaskSource have the same source node (#26031)
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Due: run_native_specific_jobs

[native] Add dependency on Apache DataSketches CPP for Sketch Theta functions
  NOTICES
  presto-native-execution/scripts/setup-adapters.sh
Due: run_native_specific_jobs

[native] Assign createFinishTimeMs at point of task completion in prestoTask
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

[native] Implement Sketch Theta aggregate and scalar functions
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  NOTICES
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/functions.rst
  presto-docs/src/main/sphinx/presto_cpp/functions/sketch.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchAggregate.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchFunctions.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/ThetaSketchAggregationTest.cpp
  presto-native-execution/scripts/setup-adapters.sh
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/functions/TestThetaSketchFunctionsNativeVsJava.java
Due: run_native_specific_jobs, run_linux_tests=false

Fix maven error when getting project version
  .github/workflows/presto-release-prepare.yml
Due: none

Enable Clickhouse CI tests along with fixes
  .github/workflows/tests.yml
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickHouseDistributedQueries.java
Due: none

Upgrade org.fusesource.jansi:jansi version to 2.4.2
  pom.xml
  presto-cli/src/main/java/com/facebook/presto/cli/KeyReader.java
Due: none

Add E2E testing for Dynamic Functions.
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/CMakeLists.txt
  presto-native-tests/Makefile
  presto-native-tests/presto_cpp/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestCustomFunctions.java
Due: run_native_specific_jobs

Enable more features for prestissimo image (#25712)
  .github/workflows/presto-release-publish.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
  presto-native-execution/scripts/setup-adapters.sh
Due: run_native_specific_jobs

refactor(expression): Formalize ExpressionRewrite framework (#14658)
  velox/expression/CMakeLists.txt
  velox/expression/ExprCompiler.cpp
  velox/expression/ExprRewriteRegistry.cpp
  velox/expression/ExprRewriteRegistry.h
  velox/expression/VectorFunction.cpp
  velox/expression/VectorFunction.h
  velox/expression/tests/CMakeLists.txt
  velox/expression/tests/ExprRewriteRegistryTest.cpp
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/registration/StringFunctionsRegistration.cpp
  velox/functions/sparksql/registration/RegisterArray.cpp
Due: none

feat: Add type support for TIME (#14836)
  velox/docs/develop/types.rst
  velox/functions/prestosql/types/parser/tests/TypeParserTest.cpp
  velox/type/Type.cpp
  velox/type/Type.h
  velox/type/tests/TypeTest.cpp
Due: none

Bump bigdataoss jars to latest version
  pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/HiveGcsConfigurationInitializer.java
Due: none

Update security docs to include oauth2
  presto-docs/src/main/sphinx/security.rst
  presto-docs/src/main/sphinx/security/authorization.rst
  presto-docs/src/main/sphinx/security/oauth2.rst
Due: run_linux_tests=false

Package memory connector plugin under native-plugin/ using Provisio
  presto-server/src/main/provisio/presto.xml
Due: none

Plan table function invocation and add tests
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionHandle.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteTableFunctionToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorColumnHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorFactory.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPageSource.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPlugin.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTransactionHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFHandleResolver.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFPartitioningHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFTableLayoutHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Due: none

feat: Add enable IDS CAT propagation to session properties
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

feat(cudf): Support enable cudf in task level (#14216)
  velox/experimental/cudf/exec/ToCudf.cpp
  velox/experimental/cudf/exec/ToCudf.h
Due: none

fix(build): Benchmark compilation (#14552)
  .github/workflows/linux-build-base.yml
  velox/functions/sparksql/benchmarks/FunctionBenchmark.cpp
Due: none

refactor: Extract serialization constants to a common file (#14863)
  velox/common/geospatial/GeometryConstants.h
  velox/functions/prestosql/geospatial/GeometrySerde.cpp
  velox/functions/prestosql/geospatial/GeometrySerde.h
Due: none

fix(build): ABFS connector install for macOS (#14852)
  scripts/setup-common.sh
Due: none

feat(readers): Optionally disable row size tracking (#14857)
  velox/connectors/Connector.h
  velox/connectors/hive/SplitReader.cpp
  velox/core/QueryConfig.h
  velox/dwio/common/Options.h
  velox/exec/Operator.cpp
Due: none

feat(readers): Cache row size estimates (#14854)
  velox/dwio/dwrf/reader/DwrfReader.cpp
  velox/dwio/dwrf/reader/DwrfReader.h
  velox/dwio/parquet/reader/ParquetReader.cpp
Due: none

feat(readers): Customize column loader to track average row size (#14855)
  velox/dwio/common/ColumnLoader.h
  velox/dwio/common/SelectiveStructColumnReader.cpp
  velox/dwio/common/SelectiveStructColumnReader.h
  velox/exec/TableScan.cpp
Due: none

[sv] Make broadcast reader/writer buffered for memory/latency efficiency (#26041)
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
Due: run_native_specific_jobs

add docs for enable_ids_cat_propagation
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

feat: Add support for TIME in Simple Function Interface (#14808)
  velox/expression/UdfTypeResolver.h
  velox/expression/tests/SimpleFunctionTest.cpp
  velox/type/CppToType.h
  velox/type/SimpleFunctionApi.h
  velox/type/Type.h
Due: none

[native] Add protocol support for non-index-lookup-join-condition
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Due: run_native_specific_jobs

Enable and fix all Cassandra connector tests in CI
  .github/workflows/tests.yml
  presto-cassandra/pom.xml
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraTokenSplitManager.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

support specify region
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Due: run_linux_tests=false

Add plan support for using uniqueness of row_id
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveBucketedTablesWithRowId.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/LocalProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPreferredProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLocalProperties.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableLayout.java
  presto-spi/src/main/java/com/facebook/presto/spi/UniqueProperty.java
Due: none

[native] Introduce firstTimeReceiveTaskUpdateMs in PrestoTask
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Due: run_native_specific_jobs

Add more task scheduling runtime stats
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SchedulerStatsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
Due: none

Added new presto-thrift-connector-toolkit module
  CODEOWNERS
  pom.xml
  presto-thrift-connector-toolkit/pom.xml
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecProvider.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftCodecUtils.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftDeleteTableHandleCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftInsertTableHandleCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftOutputTableHandleCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftSplitCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftTableHandleCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftTableLayoutHandleCodec.java
  presto-thrift-connector-toolkit/src/main/java/com/facebook/presto/thrift/codec/ThriftTransactionHandleCodec.java
  presto-tpcds/pom.xml
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/thrift/TpcdsCodecProvider.java
Due: none

Upgrade Hudi version in Presto-hudi module to 1.0.2
  presto-hudi/pom.xml
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
Due: none

Add thrift capabilities to jdbc connectors
  presto-base-jdbc/pom.xml
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSplit.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableLayoutHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTransactionHandle.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/MySqlQueryRunner.java
  presto-tpcds/pom.xml
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
