Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Add authorization support for SHOW COLUMNS and DESCRIBE queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataListing.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSqlStandardAccessControlChecks.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ViewAccessControl.java
Due: none

Add authorization support for SHOW CREATE TABLE/VIEW queries
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ReadOnlyAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Refactor: introduce helper method to handle MetastoreContext construction
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
Due: none

TVF LeafTableOperator
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/ExcludeColumns.java
  presto-main-base/src/main/java/com/facebook/presto/operator/table/Sequence.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tvf/core/TableFunctionNode.cpp
  presto-native-execution/presto_cpp/main/tvf/core/TableFunctionNode.h
  presto-native-execution/presto_cpp/main/tvf/exec/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/LeafTableFunctionOperator.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionConnector.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionConnector.h
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionSplit.h
  presto-native-execution/presto_cpp/main/tvf/functions/RemoteAnn.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/Sequence.cpp
  presto-native-execution/presto_cpp/main/tvf/functions/TableFunctionsRegistration.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunction.cpp
  presto-native-execution/presto_cpp/main/tvf/spi/TableFunction.h
  presto-native-execution/presto_cpp/main/tvf/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tvf/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/tvf/tests/PlanNodeSerdeTest.cpp
  presto-native-execution/presto_cpp/main/tvf/tests/SequenceTest.cpp
  presto-native-execution/presto_cpp/main/types/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
  presto-native-tvf/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/Argument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ScalarArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgument.java
Due: run_native_specific_jobs

Upgrade commons-lang3 to 3.18.0 to address CVE-2025-48924
  pom.xml
Due: none

Added parser support for SQL MERGE
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Merge.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeCase.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeInsert.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/MergeUpdate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/merge.rst
Due: run_linux_tests=false

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHandleResolver.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNodePartitioningProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPartitioningHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateBucketFunction.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DeleteAndInsertMergeProcessor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/MergeWriterOperator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/MergePage.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Due: none

Add SQL Support for MERGE INTO In Presto #20578
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Fix unexpected error and diagram style for query detail page
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/ResourceGroupView.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/router/ClusterHUD.jsx
Due: none

[native] Advance Velox
  .github/workflows/prestocpp-macos-build.yml
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

[presto] Add runtime stats instrumentation plugin (#25509)
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStats.java
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStatsInstrument.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStats.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStatsInstrument.java
  presto-main-base/src/main/java/com/facebook/presto/runtimestats/RuntimeStatsManager.java
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/runtimestats/TestRuntimeStatsManager.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/RuntimeStatsInstrumentFactory.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestRuntimeStatsInstrumentFactory.java
Due: none

Add geometry type to the list of supported types in NativeTypeManager
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: none

[native] Fix Meta internal build by making getBaseDataPath() public
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Add new fields to HiveFileContext
  presto-hdfs-core/src/main/java/com/facebook/presto/hive/HdfsContext.java
  presto-hdfs-core/src/main/java/com/facebook/presto/hive/HiveFileContext.java
Due: none

Update config and filter
  presto-main-base/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/server/security/AuthenticationFilter.java
Due: none

Fix inconsistent ordering with offset and limit
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Add support for symlink files in quick stats
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/QuickStatsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/statistics/TestQuickStatsProvider.java
Due: none

[native] Do now allow create function in NativeFunctionNamespaceManager
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
Due: none

[native] Fetch session properties and functions only once from sidecar
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderConfig.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/sessionpropertyproviders/TestNativeSystemSessionPropertyProviderConfig.java
Due: none

refactor: Use size_t/intXX_t instead of int (#14114)
  velox/functions/prestosql/geospatial/GeometrySerde.cpp
  velox/functions/prestosql/geospatial/GeometrySerde.h
  velox/functions/prestosql/geospatial/GeometryUtils.h
Due: none

fix(builds): Biased aggregator script (#14167)
  .github/workflows/scheduled.yml
Due: none

[native] Replace EXPLAIN (TYPE DISTRIBUTED) with EXPLAIN (TYPE VALIDATE) for faster, lightweight analysis
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPlanCheckerRouterPlugin.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerRouterPlugin.java
Due: none

code fix
  presto-native-execution/presto_cpp/main/tests/data/TaskInfo.json
Due: run_native_specific_jobs

code fix
  presto-main-base/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
Due: none

[native] Cleanup TestPrestoSparkNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Due: run_native_specific_jobs

Supports batched serialized size calculation for BinarySortableSerializer
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.cpp
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.h
  presto-native-execution/presto_cpp/main/operators/benchmarks/BinarySortableSerializerBenchmark.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Due: run_native_specific_jobs

Expose plan checker router scheduler plugin counter Mbeans
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPlanCheckerRouterPlugin.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginModule.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginSchedulerFactory.java
Due: none

code refactor
  presto-main-base/src/main/java/com/facebook/presto/execution/BasicStageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main-base/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main-base/src/main/java/com/facebook/presto/server/QueryProgressStats.java
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/tests/data/TaskInfo.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryOverview.jsx
  presto-ui/src/router/QueryList.jsx
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
