Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

misc: Allow to set plan stats output fields (#12677)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/exec/tests/PlanNodeToSummaryStringTest.cpp
Due: none

misc: Improve metrics event logging (#12676)
  velox/common/base/RuntimeMetrics.cpp
  velox/common/base/RuntimeMetrics.h
  velox/common/base/tests/RuntimeMetricsTest.cpp
  velox/common/time/CpuWallTimer.h
Due: none

[Iceberg]Add test cases for transforms not yet supported on some types
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

Fix formatting in presto_cpp/properties.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

[Doc]Supplement the supported types for iceberg partition transforms
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

Move benchmark driver page to Administration and refine installation steps
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/benchmark-driver.rst
  presto-docs/src/main/sphinx/installation.rst
Due: run_linux_tests=false

Specify code block syntax
  presto-docs/README.md
Due: run_linux_tests=false

refactor: Clean up some error messages and file structure (#12657)
  velox/functions/prestosql/GeospatialFunctions.h
  velox/functions/prestosql/tests/GeospatialFunctionsTest.cpp
  velox/functions/prestosql/types/BingTileType.cpp
  velox/functions/prestosql/types/BingTileType.h
  velox/functions/prestosql/types/CMakeLists.txt
  velox/functions/prestosql/types/tests/BingTileTypeTest.cpp
  velox/type/Type.h
Due: none

fix:velox map_top_n_keys - values are unnecessarily orderable (#12655)
  velox/functions/prestosql/MapTopNImpl.h
  velox/functions/prestosql/MapTopNKeys.h
  velox/functions/prestosql/registration/MapFunctionsRegistration.cpp
  velox/functions/prestosql/tests/MapTopNKeysTest.cpp
Due: none

Remove unused private from velox/dwio/common/DirectBufferedInput.h +12 (#12687)
  velox/dwio/common/DirectBufferedInput.h
  velox/dwio/common/SeekableInputStream.cpp
  velox/dwio/common/SeekableInputStream.h
  velox/dwio/dwrf/reader/ColumnReader.cpp
  velox/exec/OperatorTraceReader.cpp
  velox/exec/OperatorTraceReader.h
  velox/exec/OperatorTraceWriter.h
  velox/exec/OutputBufferManager.h
  velox/exec/TaskTraceWriter.cpp
  velox/exec/TaskTraceWriter.h
  velox/serializers/VectorStream.cpp
  velox/serializers/VectorStream.h
Due: none

Remove unused exception parameter from velox/common/memory/SharedArbitrator.cpp (#12688)
  velox/common/memory/SharedArbitrator.cpp
Due: none

[codemod] Remove unused private from github/presto-trunk/presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h +1
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h
Due: run_native_specific_jobs

misc: Throw unsupported error for reduce function limitation (#12650)
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/tests/ReduceTest.cpp
Due: none

Fix duplicate class and dependency problem
  presto-client/pom.xml
  presto-jdbc/pom.xml
Due: none

Add Parse Presto Data Size in Velox (#12423)
  velox/docs/functions/presto/conversion.rst
  velox/functions/prestosql/DataSizeFunctions.h
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/DataSizeFunctionsRegistration.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/tests/ParsePrestoDataSizeTest.cpp
Due: none

Add ConnectorDeleteTableHandle to ConnectorProtocol (#24721)
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergInsertTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/special/IcebergOutputTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDeleteTableHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Due: run_native_specific_jobs

Fix flaky test: TestIcebergHiveStatistics.testStatisticsCachePartialEviction
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Due: none

fix(json): Compute capacity correctly when casting to complex jsons (#12686)
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/JsonCastOperator.cpp
Due: none

Add spill related configs to system configs (#24726)
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Thrift migration for TaskStatus
  pom.xml
  presto-client/src/main/java/com/facebook/presto/client/PrestoHeaders.java
  presto-jdbc/pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/experimental/ExperimentalThriftResponseHandler.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftErrorCauseUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftErrorCodeUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftErrorLocationUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftErrorTypeUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftExecutionFailureInfoUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftHostAddressUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftLifespanUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftTaskStateUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/ThriftTaskStatusUtils.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftErrorCause.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftErrorCode.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftErrorLocation.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftErrorType.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftExecutionFailureInfo.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftHostAddress.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftLifespan.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftTaskState.java
  presto-main/src/main/java/com/facebook/presto/experimental/auto_gen/ThriftTaskStatus.java
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/Common.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/SessionRepresentation.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/Signature.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/Sql.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/TaskStatus.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/TaskUpdateRequest.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/TypeSignature.thrift
  presto-main/src/main/java/com/facebook/presto/experimental/thrift/TypeSignatureReference.thrift
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousThriftTaskStatusFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Due: none

Upgrade elasticsearch dependency to 7.17.27
  pom.xml
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticSearchClientUtils.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
Due: none

feat: Support prefetch in index lookup join (#12611)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/Task.cpp
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/utils/TestIndexStorageConnector.cpp
Due: none

misc(fuzzer): Log input test cases in expression fuzzer (#12689)
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
Due: none

std::vector constructor requires type to be complete (#12640)
  velox/connectors/hive/iceberg/IcebergSplit.h
Due: none

fix: Use memory pool to track raw_vector in selective column readers (#12685)
  velox/common/base/BitUtil.h
  velox/common/memory/MemoryAllocator.cpp
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/dwio/common/SelectiveColumnReader.cpp
  velox/dwio/common/SelectiveRepeatedColumnReader.h
  velox/dwio/common/SelectiveStructColumnReader.h
Due: none

misc: Remove duplicate index lookup runtime stats (#12696)
  velox/docs/monitoring/stats.rst
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/tests/IndexLookupJoinTest.cpp
Due: none

Remove unwanted code
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableTrustStore.java
  presto-hive/src/test/resources/hive_ssl_enable/metastore.jks
  presto-hive/src/test/resources/hive_ssl_enable/truststore.jks
Due: none

Remove unwanted code1
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslEnableTrustStore.java
Due: none

added test cases to cover null conditions
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleSumIfAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestLongSumIfAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealSumIfAggregation.java
Due: none

feat: Allow user to customize the get prefered size for memory efficiency (#12695)
  velox/common/base/tests/StatsReporterTest.cpp
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/dwio/dwrf/test/WriterFlushTest.cpp
Due: none

mysqlupgrade initial changes
  pom.xml
  presto-benchmark-runner/pom.xml
  presto-function-namespace-managers/pom.xml
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-product-tests/pom.xml
  presto-resource-group-managers/pom.xml
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/MysqlDaoProvider.java
  presto-verifier/pom.xml
Due: none

presto router - metrics based custom scheduler plugin - review
  presto-router-custom-scheduler/pom.xml
  presto-router-custom-scheduler/src/main/java/com/facebook/presto/router/scheduler/MetricsBasedScheduler.java
  presto-router-custom-scheduler/src/test/java/com/ibm/presto/scheduler/TestCustomScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/RouterPluginManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
Due: none

Add documentation for Iceberg support in PrestoCPP
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Due: run_linux_tests=false

Avoid using BasicPrincipal from airlift:http-server
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/BasicPrincipal.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkTaskExecutorFactory.java
Due: none
