Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Update metrics.rst
  presto-docs/src/main/sphinx/presto_cpp/metrics.rst
Due: run_linux_tests=false

install_ucx in centos-dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

fix: Add createBranch method implementation in StatsRecordingMetadataManager (#27114)
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
Due: none

Fix RemoveCrossJoinWithConstantInput to use unknown locality
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveCrossJoinWithConstantInput.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveCrossJoinWithConstantInput.java
Due: none

feat: Add session property for dynamic merge join output batching (#27086)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Fix command chaining in centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

Add sql support for CREATE TAG
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SystemTableAwareAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTagTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/security/StatsRecordingSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/util/PrestoDataDefBindingHelper.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateTag.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Due: run_linux_tests=false

Update documentation for scale_writers and redistribute_writes properties
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

Bump lodash-es from 4.17.21 to 4.17.23 in /presto-ui/src
  presto-ui/src/yarn.lock
Due: none

fix: Query rewriter truncate (#27115)
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/JsonParseSafetyWrapper.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestJsonParseSafetyWrapper.java
Due: none

Squashed commit of cudf exchange presto setup
  presto-native-execution/entrypoint.sh
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Add CUDA_VERSION argument to Dockerfile
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

Add CREATE TAG support for Iceberg
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergCreateTag.java
Due: run_linux_tests=false

fix(ci): Fix no space error in arrow flight tests
  .github/workflows/arrow-flight-tests.yml
Due: none

add velox branch option to rebase for automatic advancing
  .github/ISSUE_TEMPLATE/rebase.yml
Due: none

relax issue creation and add the rebase request type
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/rebase.yml
  .github/ISSUE_TEMPLATE/usage-question.md
Due: none

actually call install_ucx when building image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

cudf exchange presto setup
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

add template for build image trigger
  .github/ISSUE_TEMPLATE/build-image.yml
Due: none

Copy cuda libraries independently of the machine arch
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

make CUDA and UCX env variables for the dependency container
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

fix ucx communicator startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

guard ucx server startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Include /usr/local/cuda/compat/libnvidia-ptxjitcompiler.so
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

cudf-exchange Presto hooks
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

revert the old rootFragment fix
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

Remove unnecessary cudf header import
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Fix shutdown of velox UCX communicator thread in PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

fix ucx server startup integration
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Minor from review
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Build for CUDA 12.9 instead of 12.8
  build.yaml
Due: none

Update entrypoint.sh with nsys profiling
  presto-native-execution/entrypoint.sh
Due: run_native_specific_jobs

Install nsight-systems-cli
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

feat(native): when translating OutputNode, properly set rootFragment
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

add coordinator build
  build.yaml
Due: none

feat(CI): add image matrix to CI's build.yaml
  build.yaml
Due: none

feat(cudf): Install CUDA runtime packages instead of copying libraries
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
