Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

fix(native): Enable Velox to Presto lambda expression conversion
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.h
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/expressions/TestNativeExpressionInterpreter.java
Due: run_native_specific_jobs

Fix mismatch for map_keys_by_top_n_values for example block
  presto-docs/src/main/sphinx/functions/map.rst
Due: run_linux_tests=false

refactor(testing): Refactor testcases for native-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

feat(connector): Allow fine-grained enable/disable of hive metastore caches
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/AbstractCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreCacheSpec.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreCacheSpecProvider.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileMetastoreModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueMetastoreModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreModule.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestMetastoreClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/TestInMemoryCachingHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/hive/IcebergHiveFileMetastoreModule.java
Due: none

Adding initial files, rough WIP
  pom.xml
  presto-flight-shim/etc/flightshim.properties
  presto-flight-shim/etc/log.properties
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimConfig.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimRequest.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServer.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimServerExecutionMBean.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ForFlightShimServer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimBase.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/AbstractTestFlightShimQueries.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimMySql.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimPostgres.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimRequest.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimSingleStore.java
  presto-flight-shim/src/test/resources/certs/ca.crt
  presto-flight-shim/src/test/resources/certs/client.crt
  presto-flight-shim/src/test/resources/certs/client.key
  presto-flight-shim/src/test/resources/certs/invalid_cert.crt
  presto-flight-shim/src/test/resources/certs/server.crt
  presto-flight-shim/src/test/resources/certs/server.key
  presto-flight-shim/src/test/resources/split_additional_predicate.json
  presto-flight-shim/src/test/resources/split_tuple_domain.json
Due: none

Pratik's Java fixes
  presto-flight-shim/pom.xml
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/ArrowBatchSource.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimModule.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimPluginManager.java
  presto-flight-shim/src/main/java/com/facebook/presto/flightshim/FlightShimProducer.java
  presto-flight-shim/src/test/java/com/facebook/presto/flightshim/TestFlightShimConfig.java
Due: none

Bump iceberg to 1.10.0
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergDistributedRest.java
  presto-iceberg/src/test/java/org/apache/iceberg/rest/IcebergRestCatalogServlet.java
  presto-native-execution/pom.xml
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

revert the jersey related changes
  pom.xml
  presto-iceberg/pom.xml
  presto-native-execution/pom.xml
Due: run_native_specific_jobs

feat: Add RemoveInsensitiveAggregateDistinct optimizer rule
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/WorkerFunctionUtil.java
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/AbstractSqlInvokedFunctionNamespaceManager.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionDescription.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionImplementation.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionImplementationFactory.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInSpecialFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/AbstractMinMaxAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/AggregationFromAnnotationsParser.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/AggregationHeader.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/ArbitraryAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/BitwiseAndAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/BitwiseOrAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/BooleanAndAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/BooleanOrAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/BuiltInAggregationFunctionImplementation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/ParametricAggregation.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/ReduceAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/arrayagg/SetAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/arrayagg/SetUnionFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveInsensitiveAggregateDistinct.java
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveInsensitiveAggregateDistinct.java
  presto-native-execution/presto_cpp/main/functions/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/functions/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/functions/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/functions/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/functions/tests/data/Variance.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-native-execution/src/test/resources/external_functions.json
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/AggregationFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/AggregationFunctionImplementation.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/AggregationFunctionMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedAggregationFunctionImplementation.java
Due: run_native_specific_jobs

Upgrade trasitive dependency org.apache.logging.log4j:log4j-core to 2.25.3 Upgrade transitive dependency org.apache.logging.log4j:log4j-slf4j-impl to 2.25.3
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Due: none

fix(security): Upgrade netty to 4.1.130.Final to address CVE-2025-67735 (#26862)
  pom.xml
Due: none

Fix documentation after review
  presto-native-execution/.devcontainer/README.md
  presto-native-execution/.devcontainer/install-shared-libs.sh
  presto-native-execution/README.md
Due: run_native_specific_jobs

Added presto native c++ dev container
  presto-native-execution/.devcontainer/Dockerfile
  presto-native-execution/.devcontainer/devcontainer.json
Due: run_native_specific_jobs

Use PROMPT_ALWAYS_RESPOND=n after package installation
  presto-native-execution/.devcontainer/Dockerfile
Due: run_native_specific_jobs

Added Presto c++ devcontainer
  presto-native-execution/.devcontainer/Dockerfile
  presto-native-execution/.devcontainer/README.md
  presto-native-execution/.devcontainer/devcontainer.json
  presto-native-execution/.devcontainer/install-shared-libs.sh
Due: run_native_specific_jobs

Add link to the devcontainer deploy guide from the presto c++ readme
  presto-native-execution/README.md
Due: run_native_specific_jobs

Added java-17 jdk and precommit checks
  presto-native-execution/.devcontainer/Dockerfile
Due: run_native_specific_jobs

Add comprehensive JMX metrics for metadata operations
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/jmx-metrics.rst
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManagerStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestMetadataManagerStats.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestStatsRecordingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/ForMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataStatsModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestMetadataStatsModule.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeJmxMetadataMetrics.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestNativeIcebergJmxMetadataMetrics.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestMetadataManager.java
Due: run_native_specific_jobs, run_linux_tests=false

fix(analyzer): Check `CREATE_VIEW_WITH_SELECT_COLUMNS` permission for definer rights MVs (#26902)
  presto-docs/src/main/sphinx/admin/materialized-views.rst
  presto-docs/src/main/sphinx/sql/create-materialized-view.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-memory/src/test/java/com/facebook/presto/plugin/memory/TestMaterializedViewAccessControl.java
Due: run_linux_tests=false

fix(security): Bump transitive dependency org.apache.logging.log4j:log4j-core to 2.25.3 to fix CVE-2025-68161 (#26906)
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Due: none

refactor(tests): Consolidate distributed queries tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedQueries.java
Due: none

test(native): Add AbstractTestQueries to native-tests
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeCteExecution.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeIcebergTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-tests/presto_cpp/tests/custom_functions/CustomFunctions.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestCustomFunctions.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs, run_linux_tests=false

Enable TestPrestoNativeAsyncDataCacheCleanupAPI
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Due: run_native_specific_jobs

Add $snapshot_sequence_number as hidden column in iceberg table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SnapshotsTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: run_linux_tests=false

feat(native): Add local merge spilling session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

test: Refactor DeltaQueryRunner and add NativeDeltaQueryRunner support (#26815)
  pom.xml
  presto-delta/pom.xml
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/DeltaQueryRunner.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestUppercasePartitionColumns.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

[Codemod][ThriftAnnotateAllowLegacyMissingUrisFBSource] fbcode/github/ (#26901)
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_native.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs, run_linux_tests=false

docs: Refactor the page explaining how to deploy Presto with Docker
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
  presto-docs/src/main/sphinx/installation/deploy-helm.rst
Due: run_linux_tests=false

build: Add Presto native C++ dev container (#25358)
  presto-native-execution/.devcontainer/Dockerfile
  presto-native-execution/.devcontainer/README.md
  presto-native-execution/.devcontainer/devcontainer.json
  presto-native-execution/.devcontainer/install-shared-libs.sh
  presto-native-execution/README.md
Due: run_native_specific_jobs

misc(native): Remove native-execution-enabled from e2e test worker config
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

chore(native): Cleanup expression optimizer API
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.cpp
  presto-native-execution/presto_cpp/main/types/ExpressionOptimizer.h
Due: run_native_specific_jobs

build: Remove implicit bundling sql invoked function plugins from default Presto server Provisio build
  presto-server/src/main/provisio/presto.xml
Due: none

misc(native): Remove native-execution-enabled from e2e test worker config (#26924)
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Add code for function rewrite (#26859)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/expressions/ExpressionOptimizerManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteRowExpressions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteRowExpressions.java
Due: none

Add global tracker for view definitions used in a query
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalysis.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AlterFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DropFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DescribeInputRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DescribeOutputRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/MaterializedViewOptimizationRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/accesscontrol/PrestoSparkAccessControlCheckerExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/QueryAnalysis.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/ViewDefinitionReferences.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

Add a new error code for remote function to be caught by try
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/TryFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Due: none

docs: Fix minor documentation issues (#26866)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/develop/procedures.rst
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Due: run_linux_tests=false
