Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Fix build errors after rebase
  presto-native-execution/presto_cpp/main/functions/remote/client/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Enable column mapping
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.hpp.inc
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeDeltaColumnMapping.java
Due: run_native_specific_jobs

Fix errors after deps upgrade
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Fix delta tests
  presto-delta/src/test/java/com/facebook/presto/delta/DeltaQueryRunner.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaScanOptimizations.java
  presto-main/etc/catalog/delta.properties
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Refactor delta impl
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaScanOptimizations.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestIncrementalUpdateQueries.java
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumn.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaColumnHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.cpp.inc
Due: run_native_specific_jobs

Read an old snapshot with the schema it was written with
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableVersion.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/MetadataUtils.java
Due: run_linux_tests=false

Set snapshotSpecified for FOR VERSION/TIMESTAMP AS OF reads
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableVersion.java
Due: none

Name the three ways of asking for a table's columns apart
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/MetadataUtils.java
Due: none

fix(parser): Format a table version expression nested inside a query
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Use the layout's predicate when computing Iceberg table statistics
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

fix(planner): Stop pushing scalar or multi grouping set aggregations below join (#28489)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushAggregationThroughOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

feat(delta): Wire up Delta split reader factory registration
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
Due: run_native_specific_jobs

feat(delta): Plumb delta.columnMapping.mode end-to-end (Java + presto_cpp)
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaClient.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplit.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTable.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaSplit.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaTableHandle.java
  presto-native-execution/presto_cpp/main/connectors/DeltaPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/presto_protocol_delta.h
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/delta/special/DeltaSplit.hpp.inc
Due: run_native_specific_jobs

feat(native): Support querying Iceberg changelog table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/TestPrestoNativeIcebergChangelogQueries.java
Due: run_native_specific_jobs

fix(plugin-iceberg): Keep the layout's predicate when computing table statistics (#28549)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: none

test(native): Register Java worker session properties on the coordinator
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeJmxQueries.java
Due: none

fix: Address Copilot review of MySQL views
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlMetadata.java
Due: run_linux_tests=false

fix(analyzer): Validate refresh materialized view predicates nested in OR
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Due: none

test(native): GROUP BY on a non-partitioning JMX column to force a shuffle
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeJmxQueries.java
Due: none

fix(iceberg): fix stack overflow on large partitioned tables with pushdown enabled
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverterStackOverflow.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestLargePartitionStackOverflow.java
Due: none

fix(native): Isolate memory sampling from pushback (#28531)
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/tests/PeriodicMemoryCheckerTest.cpp
Due: run_native_specific_jobs

test(native): Drop GROUP BY + agg-funcs on JMX; keep DISTINCT coverage
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeJmxQueries.java
Due: none

fix(analyzer): Validate refresh materialized view predicates nested in OR (#28570)
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/RefreshMaterializedViewPredicateAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Due: none

fix(native): Gather JMX scans into a source-distributed stage
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlans.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeJmxQueries.java
Due: none

fix(ExchangeSource): Make atEnd_ atomic
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
Due: run_native_specific_jobs

[presto] fix(BroadcastFileReader): Serialize reads against close()
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
Due: run_native_specific_jobs

fix(native-pos): Attach the native crash banner to startup failures (#28522)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/AbstractNativeProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/MetadataSidecarProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestAbstractNativeProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestMetadataSidecarProcess.java
Due: none

Address review comment
  presto-main-base/src/main/java/com/facebook/presto/sql/Optimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StatsRecordingPlanOptimizer.java
Due: none

test(iceberg): address PR review comments on stack overflow fix
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestExpressionConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestLargePartitionStackOverflow.java
Due: none

fix(native-pos): Add a storage descriptor field to BroadcastFileInfo (#28492)
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/BroadcastFileInfo.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestBroadcastFileInfo.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/task/TestReadBroadcastDescriptor.java
Due: run_native_specific_jobs

fix(native-pos): Gate the BroadcastFileInfo storage descriptor on a session property (#28493)
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/properties/session/SessionProperties.h
  presto-native-execution/presto_cpp/main/properties/session/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Remove TRIM from reserved keyword
  presto-docs/src/main/sphinx/functions/string.rst
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Trim.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: run_linux_tests=false

Bump react-data-table-componen to 8.11.0
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/package.json
Due: none

fix(native): Isolate memory sampling from pushback (#28531) (#28531)
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/tests/PeriodicMemoryCheckerTest.cpp
Due: run_native_specific_jobs

fix(native-pos): Add a storage descriptor field to BroadcastFileInfo (#28492) (#28492)
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFile.h
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/BroadcastFileInfo.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestBroadcastFileInfo.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/task/TestReadBroadcastDescriptor.java
Due: run_native_specific_jobs

fix(testing): Replace fixed sleep with polling in testConcurrentHistoryBasedStatsCalculator
  redis-hbo-provider/src/test/java/com/facebook/presto/statistic/TestHistoryBasedRedisStatisticsTracking.java
Due: none

fix(iceberg): prevent rewrite_data_files from losing rows when pushdown_filter_enabled=true
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestRewriteDataFilesProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableHandle.java
Due: run_native_specific_jobs
