Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

[Native] Make PrestoServer create and pass connectorCpuExecutor to Connector
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Refactor testcases in presto-tests
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestOrderByQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: none

Introduce module presto-native-tests
  .circleci/continue_config.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/test-other-modules.yml
  pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/README.md
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestDistributedQueriesNoHashGeneration.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestTpchDistributedQueries.java
Due: run_native_specific_jobs

fix: Classification functions should return [] instead null (#11864)
  velox/functions/prestosql/aggregates/ClassificationAggregation.cpp
  velox/functions/prestosql/aggregates/tests/ClassificationAggregationTest.cpp
Due: none

test
  pom.xml
  presto-native-sidecar-plugin/pom.xml
Due: none

fix(fuzzer): Fix toSql methods for NestedLoopJoinNode in Reference Query Runners (#11576)
  velox/exec/fuzzer/DuckQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunner.cpp
Due: none

feat(fuzzer): Support Join Filters in Join Fuzzer (#11473)
  velox/exec/fuzzer/JoinFuzzer.cpp
Due: none

fix(hashjoin): Turn off dynamic filter push downs for null aware right semi porject join (#11781)
  velox/exec/HashProbe.cpp
  velox/exec/tests/HashJoinTest.cpp
Due: none

fix(fuzzer): Add filter parsing to toSql methods for hasJoinNode in ReferenceQueryRunners (#11566)
  velox/exec/fuzzer/DuckQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunner.cpp
Due: none

fix(joins): Strengthen nullptr check for null aware hash joins with filters (#11620)
  velox/exec/HashProbe.cpp
Due: none

Update lucene-analyzers-common and lucene-queryparser to 8.10.0
  pom.xml
  presto-pinot-toolkit/pom.xml
Due: none

Add presto-native-tests module
  .circleci/continue_config.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/test-other-modules.yml
  pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/README.md
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/AbstractTestAggregationsNative.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/AbstractTestQueriesNative.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestDistributedQueriesNoHashGeneration.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestNonIterativeDistributedQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOptimizeMixedDistinctAggregations.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestTpchDistributedQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestWindowQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestEngineOnlyQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestOrderByQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestWindowQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: run_native_specific_jobs

feat(sst) Add new file format (#11847)
  velox/dwio/common/Options.h
Due: none

Add invalid character checking and testing for async page transport servlet
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-tests/src/test/java/com/facebook/presto/server/TestAsyncPageTransportServlet.java
Due: none

feat: Add utility to print summary of a vector (#11859)
  velox/vector/VectorPrinter.cpp
  velox/vector/VectorPrinter.h
  velox/vector/tests/CMakeLists.txt
  velox/vector/tests/VectorPrinterTest.cpp
Due: none

Add histogram statistic documentation
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/optimizer/statistics.rst
  presto-docs/src/main/sphinx/sql/show-stats.rst
Due: run_linux_tests=false

[Iceberg] Collect superset of supported statistics
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveStatisticsUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/StatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
Due: none

[Iceberg] Add histogram statistic support
  presto-common/src/main/java/com/facebook/presto/common/Utils.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Marker.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Range.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-common/src/test/java/com/facebook/presto/common/TestUtils.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestMarker.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestSortedRangeSet.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/statistics/KllHistogram.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/statistics/TestKllHistogram.java
  presto-main/src/main/java/com/facebook/presto/cost/ComparisonStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/ConnectorFilterStatsCalculatorService.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/PlanNodeStatsEstimateMath.java
  presto-main/src/main/java/com/facebook/presto/cost/StatisticRange.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main/src/test/java/com/facebook/presto/cost/TestHistogramCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestPlanNodeStatsEstimateMath.java
  presto-main/src/test/java/com/facebook/presto/cost/TestVariableStatsEstimate.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ApproximateStatsOutputRowCountMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-spi/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/DisjointRangeDomainHistogram.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/HistogramCalculator.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/UniformDistributionHistogram.java
  presto-spi/src/test/java/com/facebook/presto/spi/statistics/TestDisjointRangeDomainHistogram.java
  presto-spi/src/test/java/com/facebook/presto/spi/statistics/TestHistogram.java
  presto-spi/src/test/java/com/facebook/presto/spi/statistics/TestHistogramCalculator.java
  presto-spi/src/test/java/com/facebook/presto/spi/statistics/TestUniformHistogram.java
Due: none

Fix copyPreserveEncodings for LazyVector (#11855)
  velox/vector/LazyVector.h
Due: none

Add session properties for scale writer query configs
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Fixed Functional Test Failures (#24123)
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Due: run_native_specific_jobs

Add an option to not enforce input partition for join build
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Due: none

Migrate query state info resource to re2j regex and add test
  presto-main/src/main/java/com/facebook/presto/server/QueryStateInfoResource.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfoResource.java
Due: none

feat: Support viewfs file system in velox (#11811)
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Due: none

misc: Enable Parquet Writer in Bucketed mode in TableWriterTest (#11852)
  velox/exec/tests/TableWriteTest.cpp
Due: none

Test commit to test setup scripts
  presto-native-execution/scripts/setup-centos.sh
Due: run_native_specific_jobs

[native] Add TPC-DS connector
  .circleci/continue_config.yml
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/tpcds/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/tpcds/DSDGenIterator.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/DSDGenIterator.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnector.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsConnectorSplit.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsGen.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/TpcdsGen.h
  presto-native-execution/presto_cpp/main/connectors/tpcds/utils/append_info-c.cpp
  presto-native-execution/presto_cpp/main/connectors/tpcds/utils/append_info-c.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsConnectorQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsConnectorQueries.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsSplitManager.java
Due: run_native_specific_jobs, run_linux_tests=false

[native] Update presto protocol
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/TpcdsConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-cpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/presto_protocol_tpcds.yml
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/connector/tpcds/special/TpcdsTransactionHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTransactionHandle.cpp.inc
Due: run_native_specific_jobs

Add config property 'tpcds.use-varchar-type'
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsMetadata.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsRecordSet.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsMetadataStatistics.java
Due: none

Test image
  .circleci/continue_config.yml
Due: none

fix: Fix and improve table scan tracing and make to e2e work (#11867)
  velox/exec/OperatorTraceReader.cpp
  velox/exec/OperatorTraceWriter.cpp
  velox/exec/OperatorTraceWriter.h
  velox/exec/Trace.cpp
  velox/exec/Trace.h
  velox/exec/tests/OperatorTraceTest.cpp
  velox/exec/tests/TraceUtilTest.cpp
  velox/tool/trace/TraceReplayRunner.cpp
  velox/tool/trace/TraceReplayRunner.h
  velox/tool/trace/tests/TableScanReplayerTest.cpp
Due: none

[native] Change C-style casts to C++-style
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/VariableReferenceExpressionTest.cpp
Due: run_native_specific_jobs

misc: Add toString() to OutputBuffer stats (#11562)
  velox/common/testutil/CMakeLists.txt
  velox/common/testutil/OutputMatcher.cpp
  velox/common/testutil/OutputMatcher.h
  velox/exec/OutputBuffer.h
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/OutputBufferManagerTest.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
Due: none

Fix the nested array and row syntax issue
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Due: none

refactored CustomPrestoAuthenticator class
  presto-main/src/main/java/com/facebook/presto/server/security/CustomPrestoAuthenticator.java
Due: none

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
