Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Allow HAVING in materialized view query rewrite
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewRewriteQueryShapeValidator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewRewriteQueryShapeValidator.java
Due: none

Address sourcery feedback
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
Due: none

feat(plugin-iceberg): Add zorder to rewrite_data_files (#27561)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/procedure/TableDataRewriteAnalysisContext.java
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPlugin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/function/IcebergZOrderFunctions.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/ZOrderByteUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/function/TestIcebergZOrderFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/ProcedureAnalysisContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
Due: run_linux_tests=false

Upgrade hudi-presto-bundle to 1.1.0
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
  presto-hudi/pom.xml
Due: none

Upgrade hudi test cases
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
Due: none

Fix: Add Iceberg version validation to prevent silent data loss
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FilesTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SnapshotsTable.java
Due: none

fix: Union of TVF leaf operators results in multiple split sources (#26980)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/FragmentTableScanCounter.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none

revert: Add metastore cache invalidation in iceberg (#27200)
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
Due: none

Add end-to-end tests for numeric_histogram aggregate function
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Due: run_native_specific_jobs

feat: Add authorizedPrincipal to AuthorizedIdentity for gateway identity propagation (#27639) (#27639)
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AuthorizedIdentity.java
Due: none

feat(native) : Add Exclude Columns Tests
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNativeExcludeColumnsFunction.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestNativeSequenceFunction.java
Due: none

Fix prunePassThroughColumns test
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.cpp
  presto-native-execution/presto_cpp/main/tvf/exec/TableFunctionOperator.h
Due: run_native_specific_jobs

Fix protocol
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
Due: run_native_specific_jobs

feat(native) : Add dynamic native TVF tests
  presto-native-tests/presto_cpp/tests/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/CMakeLists.txt
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctions.cpp
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctions.h
  presto-native-tests/presto_cpp/tests/custom_tvf_functions/TestingTableFunctionsPlugin.cpp
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDynamicTableFunctions.java
Due: none

perf(optimizer): Remove partition key restriction from ROW IN to disjunction rewrite
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteRowConstructorInToDisjunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteRowConstructorInToDisjunction.java
Due: none

docs(security): Add more details in docs
  presto-docs/src/main/sphinx/connector/hive-security.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

feat(planner): Support scalar functions in MV query rewriting (#27549)
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewRewriteQueryShapeValidator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewRewriteQueryShapeValidator.java
Due: none

docs: Fix phrasing in connector/lance.rst (#27640)
  presto-docs/src/main/sphinx/connector/lance.rst
Due: run_linux_tests=false

docs(security): Add more details in docs (#27681)
  presto-docs/src/main/sphinx/connector/hive-security.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Due: run_linux_tests=false

perf(optimizer): Remove partition key restriction from ROW IN to disjunction rewrite (#27680)
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteRowConstructorInToDisjunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRewriteRowConstructorInToDisjunction.java
Due: none

enable jdbc-fetch-size
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseClient.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseConfig.java
  presto-clickhouse/src/test/java/com/facebook/presto/plugin/clickhouse/TestClickHouseConfig.java
Due: none

Iceberg changes for passing iceberg V3 initialDefaultValue while read
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergDefaultValuePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Due: run_linux_tests=false

feat(native): Upgrade the nlohman json dependency to 3.12.0 (#27161)
  presto-native-execution/presto_cpp/external/json/nlohmann/json.hpp
Due: run_native_specific_jobs

chore(deps): Upgrade styled-components version to 6.4.1 (#27675)
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

feat: Add configurable JDBC fetch size support for SQL server
  presto-sqlserver/src/main/java/com/facebook/presto/plugin/sqlserver/SqlServerClient.java
Due: none

test: Add end to end test for jaccard_index
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/SetDigestTestUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestSetDigestFunctions.java
Due: none

fix: Replace Optional.or with ternary for Java 8 compatibility
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
Due: none

docs(security): Improve authentication docs
  presto-docs/src/main/sphinx/security/ldap.rst
  presto-docs/src/main/sphinx/security/password-file.rst
  presto-docs/src/main/sphinx/security/tls.rst
Due: run_linux_tests=false

fix: Take 'finishingTime' and 'planningTime' out of 'executionTime' (#27691)
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateTimer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
Due: none

feat(analyzer): add indirect column lineage tracking
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-common/src/main/java/com/facebook/presto/common/ColumnLineageEntry.java
  presto-common/src/main/java/com/facebook/presto/common/TransformationSubtype.java
  presto-common/src/main/java/com/facebook/presto/common/TransformationType.java
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestOutput.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestIndirectColumnLineage.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/OutputColumnMetadata.java
Due: none

fix: Replace Optional.or with ternary for Java 8 compatibility (#27693)
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
Due: none

feat(connector): Add caching for Lance connector (#27325)
  presto-docs/src/main/sphinx/connector/lance.rst
  presto-lance/src/main/java/com/facebook/presto/lance/LanceConfig.java
  presto-lance/src/main/java/com/facebook/presto/lance/LanceFragmentPageSource.java
  presto-lance/src/main/java/com/facebook/presto/lance/LanceMetadata.java
  presto-lance/src/main/java/com/facebook/presto/lance/LanceNamespaceHolder.java
  presto-lance/src/main/java/com/facebook/presto/lance/LancePageSourceProvider.java
  presto-lance/src/main/java/com/facebook/presto/lance/LanceSplitManager.java
  presto-lance/src/main/java/com/facebook/presto/lance/LanceTableHandle.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestLanceCachedDataset.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestLanceConfig.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestLanceFragmentPageSource.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestLanceMetadata.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestLanceTableHandle.java
  presto-lance/src/test/java/com/facebook/presto/lance/TestWideTypesTable.java
Due: run_linux_tests=false

docs(native): drop misleading "compiles in the C++ protocol bridge" wording
  presto-native-execution/README.md
Due: run_native_specific_jobs

refactor(native): Clean up the saturate cast of count metric
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Due: run_native_specific_jobs

feat(optimizer): Drop partition keys from DistinctLimit in PrefilterForLimitingAggregation
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PrefilterForLimitingAggregation.java
Due: none

misc(native-pos): Extract AbstractNativeProcess from NativeExecutionProcess (#27696)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/AbstractNativeProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Due: none
