Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

[presto-redshift] dependency
  presto-redshift/pom.xml
Due: none

[presto-rcfile] jakarta + dependency
  presto-rcfile/pom.xml
  presto-rcfile/src/main/java/com/facebook/presto/rcfile/RcFileWriter.java
Due: none

[presto-singlestore] dependency
  presto-singlestore/pom.xml
Due: none

[presto-tests] jakarta + dependency + enforcer
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/H2ConnectionModule.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestQueues.java
  presto-tests/src/test/java/com/facebook/presto/server/TestAsyncPageTransportServlet.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestRestSqlFunctionExecutor.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestServerInfoResource.java
Due: none

[presto-thrift-testing-server] jakarta + dependency + enforcer
  presto-thrift-testing-server/pom.xml
  presto-thrift-testing-server/src/main/java/com/facebook/presto/connector/thrift/server/ThriftTpchService.java
Due: none

[presto-spark-testing] dependency
  presto-spark-testing/pom.xml
Due: none

[presto-testing-server-launcher] enforcer
  presto-testing-server-launcher/pom.xml
Due: none

[presto-verifier] jakarta + dependency + enforcer
  presto-verifier/pom.xml
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ArrayColumnChecksum.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/FloatingPointColumnChecksum.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/MapColumnChecksum.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/SimpleColumnChecksum.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/DeterminismAnalysisDetails.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/DeterminismAnalysisRun.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/QueryFailure.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/QueryInfo.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/VerifierQueryEvent.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/DeterminismAnalyzerConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/QueryConfigurationOverridesConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerificationManager.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcUrlSelector.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/PrestoActionConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/QueryActionsConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/resolver/ClusterSizeFetcher.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/resolver/TooManyOpenPartitionsFailureResolverConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/retry/RetryConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriteConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/source/MySqlSourceQueryConfig.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/source/PrestoQuerySourceQueryConfig.java
Due: none

[redis-hbo-provider] jakarta + dependency + enforcer
  redis-hbo-provider/pom.xml
  redis-hbo-provider/src/main/java/com/facebook/presto/statistic/RedisProviderApiStats.java
Due: none

[presto-thrift-connector] jakarta + dependency
  presto-thrift-connector/pom.xml
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftColumnHandle.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorConfig.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftIndexPageSource.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftSplitManager.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/location/ExtendedSimpleAddressSelectorBinder.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/util/RebindSafeMBeanServer.java
Due: none

[presto-spark-common] jakarta + dependency
  presto-spark-common/pom.xml
  presto-spark-common/src/main/java/com/facebook/presto/spark/PrestoSparkQueryStatusInfo.java
Due: none

[presto-tpcds] dependency
  presto-tpcds/pom.xml
Due: none

[presto-thrift-api] jakarta + dependency
  presto-thrift-api/pom.xml
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftColumnMetadata.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftNullableColumnSet.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftNullableSchemaName.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftNullableTableMetadata.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftNullableToken.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftPageResult.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftSplitBatch.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftTableMetadata.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/connector/PrestoThriftTupleDomain.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftBigint.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftBigintArray.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftBlock.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftBoolean.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftDate.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftDouble.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftHyperLogLog.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftInteger.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftJson.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftTimestamp.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/PrestoThriftVarchar.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/datatypes/SliceData.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/udf/ThriftUdfPage.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/udf/UdfExecutionFailureInfo.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/valuesets/PrestoThriftRangeValueSet.java
  presto-thrift-api/src/main/java/com/facebook/presto/thrift/api/valuesets/PrestoThriftValueSet.java
Due: none

[presto-spark-base] jakarta + dependency
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkDiskPageInput.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkOutputBuffer.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkPageInput.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkRowBatch.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkSerializedPageInput.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionNodeConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/shuffle/PrestoSparkShufflePageInput.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkTaskExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/optimizers/AdaptivePlanOptimizers.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
Due: none

Update all GH actions to java 17
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/presto-release-prepare.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Due: none

[native] Add a test group for async data cache e2e tests.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Due: run_native_specific_jobs

Only run oss test for cpp e2e for now to unblock Java migration
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Due: run_native_specific_jobs

feat(aggregate): Support type DECIMAL for function map_union_sum (#12921)
  velox/functions/prestosql/aggregates/MapUnionSumAggregate.cpp
  velox/functions/prestosql/aggregates/tests/MapUnionSumTest.cpp
Due: none

fix: ExpressionFuzzer never selects function signatures that return a type variable (#12933)
  velox/expression/fuzzer/ExpressionFuzzer.cpp
  velox/expression/fuzzer/ExpressionFuzzer.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
Due: none

Fix error when describing a nonexistent table
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
Due: none

[native] Add greoup name for writer tests and profile for specific tests.
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
Due: run_native_specific_jobs

[native] Add group name for writer tests and mvn profile for specific tests.
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
Due: run_native_specific_jobs

doc on hive csv limitations
  presto-docs/src/main/sphinx/connector/hive.rst
Due: run_linux_tests=false

[native] test modification.
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
Due: run_native_specific_jobs

Reintroduced json_extract to generate canonicalized output.
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonPath.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/BenchmarkJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestRowOperators.java
Due: none

Fix CQS signal. Id] 83559169 -- readability-redundant-string-init in fbcode/velox/functions/lib (#12940)
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Due: none

Fix ARRAYS_OVERLAP function bug
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArraysOverlapFunction.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

Replace rowNotDistinctFromRow & positionNotDistinctFromPosition
  presto-main-base/src/main/java/com/facebook/presto/operator/TableFunctionOperator.java
Due: none

Fix requiredColumns issue
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/SimplePlanRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
Due: none

Update presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Due: run_linux_tests=false

start using fbthrift
  pom.xml
  presto-common/pom.xml
  presto-common/src/main/java/com/facebook/presto/common/experimental/ThriftSerializationRegistry.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-common/src/test/java/com/facebook/presto/common/serde/TestBlock.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/TypeInfoRegister.java
  presto-hive/src/test/java/com/facebook/presto/hive/serde/TestConnectorOutputTableHandle.java
  presto-parser/pom.xml
  presto-tpch/src/test/java/com/facebook/presto/tpch/serde/TestTpchColumnHandle.java
  presto-tpch/src/test/java/com/facebook/presto/tpch/serde/TestTpchColumnHandleTupleDomain.java
Due: none

[native] Add tests for UUID type
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

Add task splits counter
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Due: run_native_specific_jobs

Add second test in testIdentityFunction
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Due: none
