Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Update test version for presto-hadoop-apache2
  pom.xml
  presto-cache/pom.xml
  presto-delta/pom.xml
  presto-druid/pom.xml
  presto-hdfs-core/pom.xml
  presto-hive-common/pom.xml
  presto-hive-function-namespace/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive-metastore/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-kudu/pom.xml
  presto-orc/pom.xml
  presto-parquet/pom.xml
  presto-rcfile/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
Due: none

Add org.xerial.snappy:snappy-java in presto-rcfile
  presto-rcfile/pom.xml
Due: none

fix: Change pushback global arbitration to be based on promised capacity (#13231)
  velox/common/memory/SharedArbitrator.cpp
  velox/common/memory/SharedArbitrator.h
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
Due: none

[Iceberg]Explicitly close the transactions opened manually in tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Due: none

Modify temporary storage location in hdfs where user hive has access
  presto-product-tests/src/main/resources/sql-tests/testcases/csv_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/csv_table_with_custom_parameters.sql
  presto-product-tests/src/main/resources/tempto-configuration.yaml
Due: none

Fix TestAllDatatypesFromHiveConnector
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAllDatatypesFromHiveConnector.java
Due: none

Fix statistics tests for Hadoop 3 and Hive 3
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestExternalHiveTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveBasicTableStatistics.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveTableStatistics.java
Due: none

Add config option to skip system schemas in JDBC connectors
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClientModule.java
Due: run_linux_tests=false

[native] Allow empty file in table scan
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

Add cosine_similarity function for two arrays
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Due: none

build: Downgrade geos to 3.10.2 (#13133)
  CMake/resolve_dependency_modules/README.md
  CMake/resolve_dependency_modules/geos.cmake
  CMake/resolve_dependency_modules/geos/geos-build.patch
  CMake/resolve_dependency_modules/geos/geos-cmakelists.patch
  CMakeLists.txt
  scripts/setup-centos9.sh
  scripts/setup-macos.sh
  scripts/setup-ubuntu.sh
Due: none

Add additional column metadata to event listener QueryOutputMetadata
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestOutputColumnTypes.java
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/execution/Output.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestOutput.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/Column.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryInputMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryOutputMetadata.java
Due: none

Allow conditional loading of plugins
  presto-main-base/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/etc/config.properties
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/CoordinatorPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
Due: none

fix: Exclude recently updated time zones in TimestampWithTimeZoneInputGenerator (#13257)
  velox/functions/prestosql/types/fuzzer_utils/TimestampWithTimeZoneInputGenerator.cpp
Due: none

fix: Allow executor test to work with older GTest versions (#13165)
  velox/common/base/tests/LazyCPUThreadPoolExecutorTest.cpp
Due: none

Update error classification for group by with lambdas
  presto-parser/pom.xml
  presto-parser/src/main/java/com/facebook/presto/sql/tree/GroupingElement.java
Due: none

[native] Add runtime-histogram-metrics-collection-enabled config
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/README.md
  presto-native-execution/etc/config.properties
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs, run_linux_tests=false

feat: Add barrier support for index lookup join (#13244)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/core/tests/PlanNodeTest.cpp
  velox/exec/IndexLookupJoin.cpp
  velox/exec/IndexLookupJoin.h
  velox/exec/LocalPlanner.cpp
  velox/exec/Task.cpp
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.h
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/TestIndexStorageConnector.h
Due: none

Add E2E test for TDigest
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
Due: run_native_specific_jobs

feat: Add query config for hash join mixed grouped execution mode spill (#13255)
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/exec/HashBuild.cpp
  velox/exec/HashProbe.cpp
  velox/exec/fuzzer/JoinFuzzer.cpp
  velox/exec/tests/GroupedExecutionTest.cpp
Due: none

Use feature toggle for logging
  presto-main-base/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Due: none

[native] Move parseIndexLookupCondition out so it can be reused
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

fix: Clear hash table as soon as probe finish (#13254)
  velox/exec/HashProbe.cpp
  velox/exec/HashProbe.h
  velox/exec/tests/HashJoinTest.cpp
Due: none

Add integer type to visitGenericLiteral in translator
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestIntegerOperators.java
Due: none

misc: Use COPY instead of ADD in Dockerfile (#13187)
  scripts/prestojava-container.dockerfile
  scripts/spark-container.dockerfile
  scripts/ubuntu-22.04-cpp.dockerfile
Due: none

build: Fix macOS clang17 duckdb dependency build (#13125)
  scripts/setup-macos.sh
Due: none

Added column mapping to QueryBuilder
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
Due: none

Refactor test framework to return `clearTransactionId` flag to client
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/KafkaLoader.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main-base/src/main/java/com/facebook/presto/testing/MaterializedResult.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisLoader.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/ResultsSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesExcludingInvalidProperties.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesIncludingInvalidProperties.java
Due: none

Enhance test framework to handle start/rollback/commit in a nature way
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestAccumuloDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: none

Refactor test framework to return `startedTransactionId` to client
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/main/java/com/facebook/presto/client/QueryStatusInfo.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/KafkaLoader.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main-base/src/main/java/com/facebook/presto/server/protocol/QueryResourceUtil.java
  presto-main-base/src/main/java/com/facebook/presto/testing/MaterializedResult.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisLoader.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/ResultsSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Due: none

Added a new column list for the drop column test case, as the existing list caused a type incompatibility issue in Hadoop 3.4.1 when the first column was dropped
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Due: none

fix: Fix mixed group mode hash join spill in non-spill case (#13263)
  velox/exec/HashProbe.cpp
  velox/exec/fuzzer/JoinFuzzer.cpp
  velox/exec/tests/GroupedExecutionTest.cpp
Due: none

Merge issue
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
Due: none

Enable mixed-case support for postgresql
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlCaseSensitiveMapping.java
Due: run_linux_tests=false

Edit clients/dbeaver.rst
  presto-docs/src/main/sphinx/clients/dbeaver.rst
Due: run_linux_tests=false

Timeout reading delta tables after incremental updates with null values (#24919)
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaExpressionUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/IncrementalUpdateQueriesTest.java
Due: none

Add comprehensive e2e tests for function validation when sidecar is enabled
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeArrayFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/IcebergExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesParquetUsingThrift.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeAggregationsWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeArrayFunctionQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeBitwiseFunctionQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeCtasQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeCteExecutionWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeGeneralQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeHiveExternalTableTpchQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeIcebergPositionDeleteQueriesParquetUsingThriftWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeIcebergTpchQueriesParquetUsingThriftWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeJoinQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeProbabilityFunctionQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSystemQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeTpcdsQueriesParquetUsingThriftWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeTpchConnectorQueriesWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeTpchQueriesParquetUsingThriftWithSidecarEnabled.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeWindowQueriesWithSidecarEnabled.java
Due: run_native_specific_jobs

Added support for geometry type in mysql connector
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
