Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

fix: Integer overflow in range filter boundary conversion (#27600)
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnectorUtils.cpp
Due: run_native_specific_jobs

feat(optimizer): Add distributed execution for RPCNode via rpc_function_parallelism session property
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Due: none

feat(native): Wire PUFFIN format and DV fields through Prestissimo protocol layer
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
Due: run_native_specific_jobs

upgrade hudi version to 0.15.0
  pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeBootstrapBaseFileSplitConverter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HudiRealtimeSplitConverter.java
  presto-hive/src/test/java/com/facebook/presto/hive/util/TestCustomSplitConversionUtils.java
Due: none

fix dependency issue
  presto-hive/pom.xml
Due: none

feat: [presto][iceberg] Apache Iceberg V3 full C++/Java support (#27478)
  pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CommitTaskData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FileFormat.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveTableOperationsConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMergeTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/VariantBinaryCodec.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletionVectorPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/function/VariantFunctions.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDeleteFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestVariantBinaryCodec.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestVariantFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-spi/src/main/java/com/facebook/presto/spi/TableHandle.java
Due: run_native_specific_jobs

Enable HTTP protocol support in presto
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/HiveMetastoreModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/http/HttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/http/HttpHiveMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HmsModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/MetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/StaticHiveCluster.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/StaticMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/util/HiveMetastoreUtils.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/http/MockHttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/http/TestHttpHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHttpHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockThriftHiveMetastoreClientFactory.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestStaticHiveCluster.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestingHiveCluster.java
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/BaseTestHiveInsertOverwrite.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHttpEnabledMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveHadoopContainer.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
  presto-hive/src/test/resources/hive_http_enable/hive-site.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/hive/IcebergHiveMetastoreModule.java
Due: run_linux_tests=false

fix(connector): Skip floating-point MAP key subfield extraction
  presto-hive-common/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSubfieldExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPushdownSubfields.java
Due: none

fix(connector): Share floating-point map key helper
  presto-common/src/main/java/com/facebook/presto/common/type/TypeUtils.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Due: none

feat(ci): Add advance velox actions
  .github/workflows/velox-advance-pr-check.yml
  .github/workflows/velox-advance-pr-create.yml
  .github/zizmor.yml
  presto-native-execution/README.md
Due: run_native_specific_jobs

[Sapphire Velox] Populate existing Spark TaskMetrics accumulators from Presto TaskStats (#27156)
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkStatsCollectionUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/util/TestPrestoSparkStatsCollectionUtils.java
Due: none

Doc | Add missing authentication and advanced configs for Druid Connector (#17683)
  presto-docs/src/main/sphinx/connector/druid.rst
Due: run_linux_tests=false

chore(deps): Bump jetty from 12.0.29 to 12.0.34
  pom.xml
Due: none

fix build issues
  pom.xml
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
Due: none

fix(plugin-delta): Creating Delta table to unaccesible location makes the metastore inconsistent (#27129)
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaIntegration.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
Due: none

fix(security):Upgrade async-http-client to 3.0.9 to address CVE-2026-40490
  presto-druid/pom.xml
Due: none

fix(security): Upgrade gcs version to 2.2.28
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/GcsConfigurationProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/HiveGcsConfigurationInitializer.java
Due: none

docs | Add missing authentication and advanced configs for Druid connector
  presto-docs/src/main/sphinx/connector/druid.rst
Due: run_linux_tests=false

feat(plugin-native-sidecar): Add operational metrics to sidecar
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarCommunicationModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerModule.java
Due: none

feat(optimizer): Add distributed execution for RPCNode via rpc_function_parallelism session property (#27603)
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Due: none

feat: Bump Iceberg [presto][iceberg] dependency from 1.10.0 to 1.10.1 (#27614)
  pom.xml
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
Due: none

test: Add end to end tests for base32 functions
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

test: Add end to end tests for array_top_n with lambda comparator
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPrestoNativeArrayFunctionQueries.java
Due: none

feat: Bump Iceberg [presto][iceberg] dependency from 1.10.0 to 1.10.1 (#27614) (#27614)
  pom.xml
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
Due: none

[presto][iceberg] Add PUFFIN file format enum to FileFormat wrapper
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FileFormat.java
Due: none

fix(analyzer): Unify simple CASE operand coercion across all WHEN operands
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
Due: none

Upgrade testing-library/react version to 16.3.2
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Due: none

Add z-order UDF
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPlugin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/function/IcebergZOrderFunctions.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/ZOrderByteUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestRewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/function/TestIcebergZOrderFunctions.java
Due: none

Fix checkstyle
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/function/TestIcebergZOrderFunctions.java
Due: none

Refactor analysis context for call distributed procedure
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/procedure/TableDataRewriteAnalysisContext.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/ProcedureAnalysisContext.java
Due: none

Support rewrite_data_files to sort by values generated by dummy zorder
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/procedure/TableDataRewriteAnalysisContext.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
Due: none

fix(security): Upgrade gcs version to 2.2.28 (#25424)
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/GcsConfigurationProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/gcs/HiveGcsConfigurationInitializer.java
Due: none

fix(security): upgrade jackson-core to 2.18.6 to remediate GHSA-72hv-8253-57qq
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessieWithBearerAuth.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/JsonObjectMapperUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestDriver.java
Due: none

chore(deps): Bump org.apache.logging.log4j:log4j-core from 2.25.3 to 2.25.4 (#27583)
  presto-accumulo/pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Due: none

feat(plugin-delta): Support reading variant type in Delta Lake tables
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTypeUtils.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestDeltaVariantType.java
  presto-delta/src/test/java/com/facebook/presto/delta/TestIncrementalUpdateQueries.java
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000000.crc
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000000.json
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000001.crc
  presto-delta/src/test/resources/delta_v3/test_variant/_delta_log/00000000000000000001.json
  presto-delta/src/test/resources/delta_v3/test_variant/part-00000-0ff28d95-1290-4769-b092-9d15791e49aa.c000.snappy.parquet
  presto-docs/src/main/sphinx/connector/deltalake.rst
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-parquet/pom.xml
  presto-parquet/src/main/java/com/facebook/presto/parquet/VariantField.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/cache/MetadataReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/spark/Variant.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/spark/VariantUtil.java
  presto-parquet/src/main/java/org/apache/parquet/io/ColumnIOConverter.java
Due: run_linux_tests=false

[Codemod][ThriftAnnotateAllowLegacyMissingUrisFBSource] fbcode/github/ (#27630)
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_native.thrift
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/temp_presto_thrift.thrift
Due: run_native_specific_jobs, run_linux_tests=false

feat(planner): Support CUBE/ROLLUP/GROUPING SETS column rewriting in MV optimizer (#27538) (#27538)
  presto-main-base/src/main/java/com/facebook/presto/sql/ExpressionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
Due: none

feat(plugin-native-sidecar): Add operational metrics to sidecar (#27595)
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NativeSidecarCommunicationModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeExpressionsModule.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/expressions/NativeSidecarExpressionInterpreter.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanChecker.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/nativechecker/NativePlanCheckerModule.java
Due: none
