Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Add Iceberg format version 3 table support
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RewriteDataFilesProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

feat: Add support for Parquet TIMESTAMP_NANOS type
  presto-parquet/src/main/java/com/facebook/presto/parquet/ColumnReaderFactory.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetTypeUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/delta/Int64TimeAndTimestampNanosDeltaBinaryPackedValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/plain/Int64TimeAndTimestampNanosPlainValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/rle/Int64TimeAndTimestampNanosRLEDictionaryValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/LongTimestampNanosColumnReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimestampWithTimezoneValueWriter.java
Due: none

feat: Explicitly set PARQUET format in Iceberg V3 table creation tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

Temp update package
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestTimestampNanosSupport.java
Due: none

refactor: Remove unnecessary blank lines in TestIcebergV3
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
Due: none

Add support for AWS Glue Statistics
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/RecordingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/DefaultGlueColumnStatisticsProvider.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/DisabledGlueColumnStatisticsProvider.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/ForGlueColumnStatisticsRead.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/ForGlueColumnStatisticsWrite.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueColumnStatisticsProvider.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastoreConfig.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueMetastoreModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueMetastoreStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueInputConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueStatConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/UnimplementedHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueHiveMetastoreConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
Due: run_linux_tests=false

feat(optimizer): Add TopN Rank pushdown
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TopNRowNumberNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestWindowFilterPushDown.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWindowQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestTextReaderWithTpcdsQueriesUsingThrift.java
Due: run_native_specific_jobs, run_linux_tests=false

Fix size estimate printed in TextRenderer
  presto-main-base/src/main/java/com/facebook/presto/cost/PlanNodeStatsEstimate.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/sanity/TestPlanPrinterSmoke.java
Due: none

Upgrade org.apache.httpcomponents.core5:httpcore5 version to 5.3.4
  presto-iceberg/pom.xml
Due: none

chore(deps): update hive-apache version to 3.0.0-11 and remove unused test dependencies
  pom.xml
  presto-hive-metastore/pom.xml
  presto-parquet/pom.xml
Due: none

Fix undefined iceberg* symbols
  presto-native-execution/presto_cpp/main/tool/trace/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

fix(build): Undefined Iceberg* symbols (#27094)
  presto-native-execution/presto_cpp/main/tool/trace/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
Due: run_native_specific_jobs

Make HBO canonicalization connector-driven via ConnectorMetadata
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CachingPlanCanonicalInfoProvider.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalTableScanNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanGenerator.java
  presto-spi/src/main/java/com/facebook/presto/spi/HboCanonicalizableTableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/HboUnpublishableTableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
Due: none

Add Presto C++ query workarounds doc
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/queries.rst
Due: run_linux_tests=false

Even if the snapshot is specified, history stats can be used, but the current stats will not be published
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
Due: none

[Presto-Reliability] Add observability for query state transitions in Presto (#26418)
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateTransitionMonitor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryStateTransitionMonitor.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Due: none

Changed the way to unpublish stats for time travel query
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedStatisticsCacheManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CachingPlanCanonicalInfoProvider.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
Due: none

Address sourcery feedback
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraMetadata.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
Due: none

add template for build image trigger
  .github/ISSUE_TEMPLATE/build-image.yml
Due: none

add velox branch option to rebase for automatic advancing
  .github/ISSUE_TEMPLATE/rebase.yml
Due: none

cudf exchange presto setup
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

relax issue creation and add the rebase request type
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/rebase.yml
  .github/ISSUE_TEMPLATE/usage-question.md
Due: none

actually call install_ucx when building image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

guard ucx server startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Copy cuda libraries independently of the machine arch
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

make CUDA and UCX env variables for the dependency container
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

cudf-exchange Presto hooks
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

Include /usr/local/cuda/compat/libnvidia-ptxjitcompiler.so
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Fix shutdown of velox UCX communicator thread in PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

revert the old rootFragment fix
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Due: run_native_specific_jobs

fix ucx communicator startup
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

Minor from review
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Due: run_native_specific_jobs

fix ucx server startup integration
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Due: run_native_specific_jobs

Remove unnecessary cudf header import
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

Build for CUDA 12.9 instead of 12.8
  build.yaml
Due: none

feat(CI): add image matrix to CI's build.yaml
  build.yaml
Due: none

Install nsight-systems-cli
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

feat(native): when translating OutputNode, properly set rootFragment
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Due: run_native_specific_jobs

add coordinator build
  build.yaml
Due: none

feat(cudf): Install CUDA runtime packages instead of copying libraries
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs
