Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

feat(OSS Presto): Support tracking Page Sink Runtime Stats in TableWriterOperator (#25846)
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TableWriterOperator.java
  presto-main-base/src/main/java/com/facebook/presto/split/PageSinkManager.java
Due: none

Upgrade Pinot version to 1.3.0 & move off of presto-pinot-driver
  pom.xml
  presto-elasticsearch/pom.xml
  presto-main-base/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotStreamingQueryClient.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotUtils.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot/pom.xml
Due: none

fix: Ttable writer tests and refactor grouping set APIs (#14579)
  velox/exec/GroupingSet.cpp
  velox/exec/GroupingSet.h
  velox/exec/HashAggregation.cpp
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/TableWriterTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/exec/tests/utils/TableWriterTestBase.cpp
Due: none

Enable case-sensitive identifier support for BigQuery connector
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryClient.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryConfig.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryMetadata.java
  presto-bigquery/src/test/java/com/facebook/presto/plugin/bigquery/TestBigQueryConfig.java
  presto-docs/src/main/sphinx/connector/bigquery.rst
Due: run_linux_tests=false

Changes to support Join Pushdown for JDBC Connectors
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcColumnHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcModule.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSessionProperties.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSplit.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableLayoutHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcFilterToSqlTranslator.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPredicateToSqlTranslator.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcPlanOptimizerProvider.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/JdbcTranslationUtil.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/JoinOperatorTranslators.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/JdbcQueryRunner.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestBaseJdbcConfig.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcClient.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcColumnHandle.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilderJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcRecordSet.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcSplit.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcTableHandle.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJoinQueriesWithPushDown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabaseJoinPushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcJoinPushdown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
Due: none

Refactoring connector level changes
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcJoinPushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcPlanOptimizerProvider.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestSimpleJdbcConnectorCompatibility.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcJoinPushdown.java
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/GroupInnerJoinsByConnectorRuleSet.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestGroupInnerJoinsByConnectorRuleSet.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: run_linux_tests=false

README: fixed a typo in aws install command.
  presto-native-execution/README.md
  presto-native-execution/docs/images/cl_clangformat_switcherenable.png
Due: run_native_specific_jobs

Add property release.autoPublish to pom.xml
  pom.xml
Due: none

Deploy jar individually to avoid 413 error
  .github/workflows/presto-release-publish.yml
Due: none

clean up
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiBackgroundSplitLoader.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
Due: none

Lazy load metaclient and fsview
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiTableHandle.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiBackgroundSplitLoader.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiPartitionSplitGenerator.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestHudiPartitionManager.java
Due: none

[native] Implement Sketch Theta aggregate and scalar functions
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchAggregate.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/ThetaSketchFunctions.h
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/functions/theta_sketch/tests/ThetaSketchAggregationTest.cpp
  presto-native-execution/scripts/setup-adapters.sh
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/functions/TestThetaSketchFunctionsNativeVsJava.java
Due: run_native_specific_jobs

Upgrade helix-core to 1.4.3 to address CVE-2023-38647
  pom.xml
Due: none

feat(type): Add BigintEnum type in Velox (#14182)
  velox/docs/develop/types.rst
  velox/expression/tests/CustomTypeTest.cpp
  velox/functions/prestosql/TypeOf.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/tests/BigintEnumCastTest.cpp
  velox/functions/prestosql/tests/TypeOfTest.cpp
  velox/functions/prestosql/types/BigintEnumRegistration.cpp
  velox/functions/prestosql/types/BigintEnumRegistration.h
  velox/functions/prestosql/types/BigintEnumType.cpp
  velox/functions/prestosql/types/BigintEnumType.h
  velox/functions/prestosql/types/CMakeLists.txt
  velox/functions/prestosql/types/tests/BigintEnumTypeTest.cpp
  velox/type/Type.cpp
  velox/type/Type.h
Due: none

feat(type): Add TypeParser logic to parse BigintEnumType (#14274)
  velox/functions/prestosql/types/parser/ParserUtil.cpp
  velox/functions/prestosql/types/parser/ParserUtil.h
  velox/functions/prestosql/types/parser/TypeParser.ll
  velox/functions/prestosql/types/parser/TypeParser.yy
  velox/functions/prestosql/types/parser/tests/CMakeLists.txt
  velox/functions/prestosql/types/parser/tests/TypeParserTest.cpp
  velox/type/parser/TypeParser.yy
Due: none

feat: Add LongEnumParameter to SignatureBinder (#14370)
  velox/core/SimpleFunctionMetadata.h
  velox/exec/fuzzer/FuzzerUtil.cpp
  velox/exec/fuzzer/FuzzerUtil.h
  velox/expression/FunctionSignature.cpp
  velox/expression/FunctionSignature.h
  velox/expression/ReverseSignatureBinder.h
  velox/expression/SignatureBinder.cpp
  velox/expression/SignatureBinder.h
  velox/expression/fuzzer/ArgumentTypeFuzzer.cpp
  velox/expression/fuzzer/ArgumentTypeFuzzer.h
  velox/expression/tests/SignatureBinderTest.cpp
  velox/type/Type.h
Due: none

Enhance property mechanism to support specifying multiple value types
  presto-main-base/src/main/java/com/facebook/presto/metadata/AbstractPropertyManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
Due: none

[Iceberg]Support specifying multiple transforms when adding a column
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeOnS3Hadoop.java
Due: run_linux_tests=false

fix(build): Fix build error with VELOX_ENABLE_AGGREGATES=OFF (#14245)
  velox/functions/lib/CMakeLists.txt
  velox/functions/lib/sfm/CMakeLists.txt
  velox/functions/lib/sfm/MersenneTwisterRandomizationStrategy.h
  velox/functions/lib/sfm/RandomizationStrategy.h
  velox/functions/lib/sfm/SecureRandomizationStrategy.h
  velox/functions/lib/sfm/SfmSketch.cpp
  velox/functions/lib/sfm/SfmSketch.h
  velox/functions/lib/sfm/SfmSketchAccumulator.cpp
  velox/functions/lib/sfm/SfmSketchAccumulator.h
  velox/functions/lib/sfm/tests/CMakeLists.txt
  velox/functions/lib/sfm/tests/SfmSketchTest.cpp
  velox/functions/prestosql/SfmSketchFunctions.cpp
  velox/functions/prestosql/SfmSketchFunctions.h
  velox/functions/prestosql/aggregates/CMakeLists.txt
  velox/functions/prestosql/aggregates/SfmSketchAggregate.h
  velox/functions/prestosql/aggregates/tests/MergeAggregateTest.cpp
  velox/functions/prestosql/aggregates/tests/NoisyApproxSfmAggregationTest.cpp
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/tests/SfmSketchFunctionsTest.cpp
  velox/functions/prestosql/types/fuzzer_utils/CMakeLists.txt
  velox/functions/prestosql/types/fuzzer_utils/SfmSketchInputGenerator.h
Due: none

refactor: Extract split filter provider interface to improve flexibility for user customization. (#46)
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConfig.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpConnector.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpErrorCode.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpMetadataFilterProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpModule.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizer.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/ClpPlanOptimizerProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/filter/ClpMySqlSplitFilterProvider.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/filter/ClpSplitFilterConfig.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/filter/ClpSplitFilterConfigCustomOptionsDeserializer.java
  presto-clp/src/main/java/com/facebook/presto/plugin/clp/split/filter/ClpSplitFilterProvider.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/split/filter/TestClpMySqlSplitFilterConfig.java
  presto-clp/src/test/java/com/facebook/presto/plugin/clp/split/filter/TestClpSplitFilterConfigCommon.java
  presto-clp/src/test/resources/test-mysql-split-filter.json
  presto-docs/src/main/sphinx/connector/clp.rst
Due: run_linux_tests=false

Got QueryDetail polling working
  presto-ui/src/components/QueryDetail.jsx
Due: none

Support multiple catalogs for Presto spark native execution (#25883)
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkServiceFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Due: none

Native built in sidecar demo 2 OSS (#25826)
  pom.xml
  presto-built-in-worker-function-tools/pom.xml
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/ForNativeFunctionRegistryInfo.java
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/NativeSidecarFunctionRegistryTool.java
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/WorkerFunctionRegistryTool.java
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/WorkerFunctionUtil.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInSpecialFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInWorkerFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestConvertApplicableTypeToVariable.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestBuiltInNativeFunctions.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-spark-base/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Due: run_native_specific_jobs

Fixed polling bugs; fixed code highlighting bug
  presto-ui/src/components/QueryDetail.jsx
Due: none

feat: Velox Scalar Function Unknown Support (#14573)
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Due: none

[native] Expose index join perf related session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs, run_linux_tests=false

Extract SQL invoked inlined functions tests into AbstractTestEngineOnlyQueries
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestEngineOnlyQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

test
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
Due: none

refactor: Avoid unnessary strings (#14576)
  velox/exec/BlockingReason.cpp
Due: none

refactor(abfs): Extract AbfsReadFile implementation into separate files (#14497)
  velox/connectors/hive/storage_adapters/abfs/AbfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/abfs/AbfsReadFile.cpp
  velox/connectors/hive/storage_adapters/abfs/CMakeLists.txt
Due: none

fix: Initialize errors only once in JsonCastOperator (#14582)
  velox/functions/prestosql/types/JsonCastOperator.h
Due: none

feat: Add getters for nested arrays and maps in Variant (#14583)
  velox/type/Variant.h
  velox/type/tests/VariantTest.cpp
Due: none

Add dep presto-spark-classloader-spark* in launcher
  presto-spark-launcher/pom.xml
Due: none

Migrate Iceberg ApplyChangeLog to connector function
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPlugin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
Due: none

Refactor test framework to return transactionId control flags to client
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/KafkaLoader.java
  presto-main-base/src/main/java/com/facebook/presto/testing/MaterializedResult.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisLoader.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/main/java/com/facebook/presto/tests/ResultsSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesExcludingInvalidProperties.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSetWorkerSessionPropertiesIncludingInvalidProperties.java
Due: run_native_specific_jobs

Enhance test framework to handle start/rollback/commit in a nature way
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestAccumuloDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Due: none
