Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

No default CUDA_ARCHITECTURES in runtime dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Use rapids-cmake to configure CUDA architectures
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

Remove unnecessary/redundant comments in Dockerfiles
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Due: run_native_specific_jobs

build(prestissimo): Keep the sccache server alive so cuDF objects persist to S3
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Update docker-compose.yml with -DVELOX_ENABLE_UCX_EXCHANGE=${GPU:-OFF}
  presto-native-execution/docker-compose.yml
Due: run_native_specific_jobs

build(prestissimo): Add optional sccache S3 backend for compile caching
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs

Fix rapids-cmake promotes the imported fmt::fmt target to GLOBAL
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

chore: Point jitpack airlift at rebased jetty 12.1.11 branch
  pom.xml
Due: none

chore(build): Add @jja725 (Jianjian Xie) as module committer
  CODEOWNERS
Due: none

perf(connector): Cache JDBC metadata within transactions (#28402)
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataCache.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadataConfig.java
Due: none

fix: Address update failure when using partitioned semi-join
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplicateSemiJoinInDeleteOrUpdate.java
Due: none

feat: Pass filter condition to conflict detection during Iceberg update
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Due: none

Ignore tests for Rest catalog on Nessie because of a known issue
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieRestCatalogDistributedQueries.java
Due: none

Address AI review comments
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/transaction/IcebergTransactionContext.java
Due: none

fix: Fix target table inconsistency for Iceberg's rewrite_data_files
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
Due: none

Address review comment
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/DistributedProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/procedure/TableDataRewriteDistributedProcedure.java
Due: none

Remove redundant method calls involving MV query optimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/ExpressionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
Due: none

chore: Add @jja725 (Jianjian Xie) as module committer (#28401)
  CODEOWNERS
Due: none

test(native): Add Prestissimo schema-evolution tests for ADD COLUMN FIRST/AFTER
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
Due: run_native_specific_jobs

feat: Add FIRST/AFTER clause to ALTER TABLE ADD COLUMN (#28328)
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StatsRecordingMetadataManager.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestAddColumnTask.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestSqlFormatter.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/iceberg/AbstractTestSchemaEvolution.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AddColumn.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ColumnPosition.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/tree/TestDefaultTraversalVisitorAddColumn.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ColumnPosition.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/test/java/com/facebook/presto/spi/connector/TestConnectorMetadataAddColumn.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/DefaultTreeRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestDefaultTreeRewriterAddColumn.java
Due: run_native_specific_jobs, run_linux_tests=false

feat(scheduler): Add a new scheduler + exchange rules to support multiple table scans in a single stage (#23476)
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/MultiSourcePartitionedScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
Due: none

feat(scheduler): Add a new scheduler + exchange rules to support multiple table scans in a single stage (#23476)
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
Due: none

feat(scheduler): Add a new scheduler + exchange rules to support multiple table scans in a single stage (#23476) [update existing tests]
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q02.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q05.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q54.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q71.plan.txt
Due: none

feat(scheduler): Add a new scheduler + exchange rules to support multiple table scans in a single stage (#23476) [new automated test]
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

Add highlights
  presto-docs/src/main/sphinx/release/release-0.299.rst
Due: run_linux_tests=false

Apply batched suggestions from code review
  presto-docs/src/main/sphinx/release/release-0.299.rst
Due: run_linux_tests=false

Update presto-docs/src/main/sphinx/release/release-0.299.rst
  presto-docs/src/main/sphinx/release/release-0.299.rst
Due: run_linux_tests=false

perf(connector): Cache JDBC metadata within transactions (#28402) (#28402)
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataCache.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataFactory.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadataConfig.java
Due: none

Minor fixes
  presto-docs/src/main/sphinx/release/release-0.299.rst
Due: run_linux_tests=false

docs: Add release notes for 0.299 (#28286)
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.299.rst
Due: run_linux_tests=false

feat(iceberg): Add support for the V3 unknown type
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergOrcFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergParquetFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/UnknownFieldTypes.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/UnknownFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergParquetDereferencePushDown.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergV3.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/ParquetReader.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCapabilities.java
Due: run_linux_tests=false

[upstream] build(native): Use rapids-cmake to configure CUDA architectures for GPU builds
  presto-native-execution/CMakeLists.txt
  presto-native-execution/docker-compose.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Due: run_native_specific_jobs
