Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Fix querying and filtering using Iceberg metadata columns
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
Due: run_native_specific_jobs

[ForTest]Add native test and print the messages
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesParquetUsingJSON.java
Due: run_native_specific_jobs

[native] Fix a typo in LocalPersistentShuffleReader ctor.
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
Due: run_native_specific_jobs

First cut FK constraint
  presto-main/src/main/java/com/facebook/presto/execution/AddConstraintTask.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ConstraintSpecification.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Due: none

Distinguish scheduler runtime stats for scan stage
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
Due: none

Add a session property to do broadcast join when available
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DetermineJoinDistributionType.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ReorderJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestDetermineJoinDistributionType.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReorderJoins.java
Due: none

[Iceberg]Refactor test classes to avoid them growing too large
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergHadoopCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestCatalogDistributedQueries.java
Due: none

Validate all like patterns can only use one character escape strings
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/type/LikeFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestConditions.java
  presto-main/src/test/java/com/facebook/presto/sql/TestLikeFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestLikeQueries.java
Due: none

Fix LEFT and ANTI joins to preserve probe order (#10832)
  velox/core/PlanNode.h
  velox/exec/HashProbe.cpp
  velox/exec/HashProbe.h
  velox/exec/tests/HashJoinTest.cpp
Due: none

Skip exception type check for dwrf reader internal check change
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Due: run_native_specific_jobs

[native] Fix conversion of partitining const keys.
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/PartitionedOutput.json
Due: run_native_specific_jobs

Relax the reclaimed bytes check for hash build (#10833)
  velox/exec/HashTable.cpp
  velox/exec/HashTable.h
  velox/exec/Operator.cpp
  velox/exec/RowContainer.cpp
Due: none

Fix minor doc typos in SelectiveColumnReader.h (#10835)
  velox/dwio/common/SelectiveColumnReader.h
Due: none

Update version of maven-gpg-plugin
  pom.xml
Due: none

Fix querying and filtering using Iceberg metadata columns
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
Due: run_native_specific_jobs

Drop test tables to make CTE and other native tests run correctly
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Trace metadata during task creation (#10815)
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/core/QueryConfig.h
  velox/docs/configs.rst
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/trace/CMakeLists.txt
  velox/exec/trace/QueryDataReader.cpp
  velox/exec/trace/QueryDataWriter.cpp
  velox/exec/trace/QueryMetadataReader.cpp
  velox/exec/trace/QueryMetadataWriter.cpp
  velox/exec/trace/QueryTraceConfig.cpp
  velox/exec/trace/QueryTraceUtil.cpp
  velox/exec/trace/QueryTraceUtil.h
  velox/exec/trace/test/CMakeLists.txt
  velox/exec/trace/test/QueryTraceTest.cpp
Due: none

Extend MongoDB connector support binData
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoSession.java
Due: none

Add registerMapFunction helper function (#10857)
  velox/functions/prestosql/Map.cpp
  velox/functions/prestosql/Map.h
  velox/functions/prestosql/registration/MapFunctionsRegistration.cpp
Due: none

Change FileInputStream Stats readTimeUs to readTimeNanos (#10822)
  velox/common/file/FileInputStream.cpp
  velox/common/file/FileInputStream.h
  velox/common/file/tests/FileInputStreamTest.cpp
  velox/exec/SpillFile.cpp
Due: none

[native] Remove sanity check for event base from idle session in GCC
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Due: run_native_specific_jobs

Add release notes for 0.289
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.289.rst
Due: run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
