Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Disable some tests
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarHiveCatalog.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarQueriesOnSystemTables.java
Due: none

fix(docs): Added documentation for the comparator version of array_top_n (#27010)
  presto-docs/src/main/sphinx/functions/array.rst
Due: run_linux_tests=false

Add support for materialized views with Hive catalog
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergViewMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMaterializedViewsBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergMaterializedViewsHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergMaterializedViewsRest.java
Due: none

fix: ST_Equals should return true for same type empty geometries
  presto-main-base/src/main/java/com/facebook/presto/geospatial/GeoFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/geospatial/TestGeoRelations.java
Due: none

fix(native): Add support for kHyperLogLog type in NativeTypeManager
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-main-base/src/main/java/com/facebook/presto/type/TypeCoercer.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogAggregationFunction.java
  presto-main-base/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Due: none

fix: make aud validation optional in userinfo
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/NimbusOAuth2Client.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestNimbusOAuth2ClientUserInfoParser.java
Due: none

Add mysql getViews
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

Compiles
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

Enable listSchemasForViews
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlMetadata.java
Due: none

more editing
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthenticator.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthenticator.java
  presto-main/src/test/java/com/facebook/presto/server/security/oauth2/TestDualAuthenticationFilterWithOAuth.java
Due: none

changes
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
Due: none

work on cli
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthenticator.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthentication.java
  presto-main/etc/config.properties
  presto-main/src/main/java/com/facebook/presto/server/security/oauth2/OAuth2Authenticator.java
Due: none

new config values
  presto-main/etc/config.properties
Due: none

testing
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthenticator.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthentication.java
Due: none

CLI external authentication and composite redirect handler
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
  presto-cli/src/main/java/com/facebook/presto/cli/QueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
Due: none

add exceptions
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthenticator.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthenticator.java
Due: none

back to normal
  presto-client/src/main/java/com/facebook/presto/client/auth/external/ExternalAuthentication.java
  presto-client/src/test/java/com/facebook/presto/client/auth/external/TestExternalAuthentication.java
Due: none

chore(native): Remove unused variable in VeloxToPrestoExprConverter
  presto-native-execution/presto_cpp/main/types/VeloxToPrestoExpr.cpp
Due: run_native_specific_jobs

Remove coroutines flag from proxygen to match velox
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Due: run_native_specific_jobs

Use IcebergColumnHandle
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/IcebergPrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxConnectorTest.cpp
Due: run_native_specific_jobs

Fix tvf union
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/SectionExecutionFactory.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestSequenceFunction.java
Due: none

fix(build): Fully qualify yield call to avoid java 17 compilation error (#27006)
  presto-main-base/src/main/java/com/facebook/presto/operator/PageBuffer.java
Due: none

refactor(testing): Move testMapBlockBug to TestExpressionInterpreter
  presto-main-base/src/test/java/com/facebook/presto/sql/expressions/AbstractTestExpressionInterpreter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: none

create subdir for spark2 and spark3
  pom.xml
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/MutablePartitionId.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/MutablePartitionIdOrdering.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/PrestoSparkNativeExecutionShuffleManager.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/PrestoSparkUtils.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/ScalaUtils.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/MutablePartitionId.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/MutablePartitionIdOrdering.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/PrestoSparkNativeExecutionShuffleManager.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/PrestoSparkUtils.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/ScalaUtils.java
  presto-spark-classloader-spark2/pom.xml
  presto-spark-classloader-spark3/pom.xml
  presto-spark-launcher/pom.xml
Due: none

fix(ci): Add presto native docker image tests
  .github/workflows/presto-release-publish.yml
Due: none

chore(deps): Upgrade org.glassfish.jaxb:jaxb-runtime version to 4.0.6 (#27003)
  pom.xml
Due: none

Add tests for Materialized Views on C++ workers
  pom.xml
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/AbstractTestIcebergMaterializedViews.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRestMaterializedViews.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergMaterializedViews.java
Due: run_native_specific_jobs

fix: Add global tracker for view definitions used in a query (#26927)
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalysis.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AlterFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateViewTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DropFunctionTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/BuiltInQueryAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DescribeInputRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DescribeOutputRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/MaterializedViewOptimizationRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestColumnAndSubfieldAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestUtilizedColumnsAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestViewDefinitionCollector.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/accesscontrol/PrestoSparkAccessControlCheckerExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/AccessControlReferences.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/QueryAnalysis.java
  presto-spi/src/main/java/com/facebook/presto/spi/analyzer/ViewDefinitionReferences.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs

[Crux][Presto] Fix row field names dropped for varchar/map types in SHOW FUNCTIONS
  presto-built-in-worker-function-tools/src/main/java/com/facebook/presto/builtin/tools/WorkerFunctionUtil.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestConvertApplicableTypeToVariable.java
Due: none

HBO: canonicalize Iceberg table handle by stripping out the snippet id and skip publishing for time travel
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableHandleHbo.java
  presto-main-base/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalTableScanNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanGenerator.java
  presto-spi/src/main/java/com/facebook/presto/spi/HboCanonicalizableTableHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/HboUnpublishableTableHandle.java
Due: none

fix merge conflict
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableHandleHbo.java
Due: none

feat(native): Add TopNRowNumberNode rank function plumbing to Velox
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MinMaxByToWindowFunction.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanNodeDecorrelator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TopNRowNumberNode.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Due: run_native_specific_jobs

fix code style
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
Due: none

test: Add end to end test for key_sampling_percent
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Due: run_native_specific_jobs

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*
