Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

Register REST Remote function
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Due: run_native_specific_jobs

fix
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-spi/src/main/java/com/facebook/presto/spi/function/Signature.java
Due: run_native_specific_jobs

Update velox joe
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutor.java
  presto-main/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Due: run_native_specific_jobs

Add UseTask.java class changes
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestUseTask.java
Due: none

x
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Due: run_native_specific_jobs

Fix ARRAYS_OVERLAP function bug
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArraysOverlapFunction.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Due: none

Add scope for OAUTH2 authentication in Iceberg's REST catalog
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/rest/IcebergRestConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestConfig.java
Due: run_linux_tests=false

[native] Symlink table mapping for Delta table access.
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/pom.xml
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeHiveExternalTableTpchQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/SymlinkManifestGeneratorUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeHiveExternalTableTpchQueriesParquet.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Due: run_native_specific_jobs, run_linux_tests=false

Add single parameter (array<array<T>>) support for array_intersect (#11305)
  velox/functions/prestosql/ArrayIntersectExcept.cpp
  velox/functions/prestosql/tests/ArrayIntersectTest.cpp
Due: none

Support jvm version libhdfs in velox (#9835)
  .github/workflows/linux-build.yml
  CMakeLists.txt
  NOTICE.txt
  velox/CMakeLists.txt
  velox/connectors/hive/storage_adapters/hdfs/CMakeLists.txt
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/hdfs/HdfsReadFile.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsReadFile.h
  velox/connectors/hive/storage_adapters/hdfs/HdfsWriteFile.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsWriteFile.h
  velox/connectors/hive/storage_adapters/hdfs/RegisterHdfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/hdfs/tests/CMakeLists.txt
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
  velox/connectors/hive/storage_adapters/hdfs/tests/InsertIntoHdfsTest.cpp
  velox/external/hdfs/ArrowHdfsInternal.cpp
  velox/external/hdfs/ArrowHdfsInternal.h
  velox/external/hdfs/CMakeLists.txt
  velox/external/hdfs/hdfs.h
Due: none

set value to pack function in packed values decoder
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/delta/Int64TimeAndTimestampMicrosDeltaBinaryPackedValuesDecoder.java
Due: none

Report inputSizeInBytes in HiveDataSink (#11339)
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/exec/tests/TableWriteTest.cpp
Due: none

Add session property for jdbc metadata, pool size, caching enabled
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataCache.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataConfig.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadataSessionPropertiesProvider.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadata.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcMetadataConfig.java
Due: none

Automatically link sections in rst
  presto-docs/src/main/sphinx/conf.py
Due: run_linux_tests=false

Fix nullable bug of Arrow MapVector in Bridge.cpp (#11214)
  velox/vector/arrow/Bridge.cpp
  velox/vector/arrow/tests/ArrowBridgeSchemaTest.cpp
Due: none

Use 'if constexpr' for Buffer::is_pod_like_v<T> (#11341)
  velox/buffer/Buffer.h
  velox/vector/FlatVector-inl.h
  velox/vector/FlatVector.h
Due: none

Avoid local shuffle and global shuffle use the same hash value to avoid data skew (#11338)
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnector.h
  velox/connectors/hive/HivePartitionFunction.h
  velox/connectors/hive/tests/HivePartitionFunctionTest.cpp
  velox/core/PlanNode.h
  velox/exec/HashPartitionFunction.cpp
  velox/exec/HashPartitionFunction.h
  velox/exec/LocalPartition.cpp
  velox/exec/PartitionedOutput.cpp
  velox/exec/RoundRobinPartitionFunction.h
  velox/exec/Task.cpp
  velox/exec/tests/HashPartitionFunctionTest.cpp
  velox/exec/tests/MultiFragmentTest.cpp
  velox/exec/tests/TaskTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
Due: none

clean value writer code
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimestampWithTimezoneValueWriter.java
Due: none

rm isWithTimezone method from interface
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/ValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/delta/Int64TimeAndTimestampMicrosDeltaBinaryPackedValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/plain/Int64TimeAndTimestampMicrosPlainValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/rle/Int64TimeAndTimestampMicrosRLEDictionaryValuesDecoder.java
Due: none

Add admin/properties-session.rst
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Due: run_linux_tests=false

added withTimezone arg to all decoders
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
Due: none

Fix flaky allocationFromFreeReservedMemoryDuringGlobalArbitration (#11346)
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
Due: none

Add monthly update template (#11195)
  velox/docs/README.md
Due: none

Add documentation for properties
  CONTRIBUTING.md
Due: none

Propagate driver context in parallel join build (#11329)
  velox/exec/Driver.cpp
  velox/exec/Driver.h
  velox/exec/HashBuild.cpp
  velox/exec/HashTable.cpp
  velox/exec/MemoryReclaimer.cpp
  velox/exec/Operator.cpp
  velox/exec/tests/DriverTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
Due: none

implement rest endpoint
  presto-function-namespace-managers/pom.xml
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestComminicationModule.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutionModule.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutor.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestSqlFunctionExecutorsModule.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/testing/SqlInvokedFunctionTestUtils.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/execution/TestSqlFunctionLanguageConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/InterpretedFunctionInvoker.java
  presto-openapi/src/main/resources/rest_function_server.yaml
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionImplementationType.java
  presto-tests/pom.xml
  presto-tests/src/test/java/com/facebook/presto/tests/TestRestSqlFunctionExecutor.java
Due: none

Fix GTest_SOURCE=BUNDLED not work (#11215)
  .github/workflows/linux-build.yml
  CMakeLists.txt
Due: none

Improve documentation for hive.gcs.endpoint (#11289)
  velox/docs/configs.rst
Due: none

[native] Use core protocol header in FunctionMetadata
  presto-native-execution/presto_cpp/main/types/FunctionMetadata.cpp
Due: run_native_specific_jobs
