Repository prestodb/presto: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_native_specific_jobs, run_linux_tests=false

Path conditions:
  run_native_specific_jobs: any of: presto-native-execution/.*
  run_linux_tests=false: any of: presto-docs/.*

docs: Update presto.default-namespace description (#26625)
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Due: run_linux_tests=false

feat: Add trace replay support for BroadcastWrite operator to presto_cpp (#26690)
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tool/trace/BroadcastWriteReplayer.cpp
  presto-native-execution/presto_cpp/main/tool/trace/BroadcastWriteReplayer.h
  presto-native-execution/presto_cpp/main/tool/trace/TraceReplayerMain.cpp
  presto-native-execution/presto_cpp/main/tool/trace/tests/BroadcastWriteReplayerTest.cpp
Due: run_native_specific_jobs

Add release notes for 0.296
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.296.rst
Due: run_linux_tests=false

Apply suggestions from code review
  presto-docs/src/main/sphinx/release/release-0.296.rst
Due: run_linux_tests=false

fix: Info and infoUnion should always be synced (#26707)
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorInfoUnion.java
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorStats.java
Due: none

fix: Info and infoUnion should always be synced
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorInfoUnion.java
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorStats.java
Due: none

Add time, time with tz for Greatest in FunctionMetadataTest
  presto-native-execution/presto_cpp/main/functions/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/functions/tests/data/Greatest.json
Due: run_native_specific_jobs

Make event loop default for httpRemoteTask related code
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
Due: none

Fix testBucketTransformOnTime in presto-iceberg
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Due: none

Fix timestamp failures in TestHiveClient
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/TestHiveClient.java
Due: none

Fix timestamp UTs in presto-rcfile and presto-druid
  presto-druid/src/test/java/com/facebook/presto/druid/TestDruidQueryGenerator.java
  presto-rcfile/src/test/java/com/facebook/presto/rcfile/RcFileTester.java
Due: none

Fix timestamp UTs in presto-tests-general CI pipeline
  presto-tests/src/test/java/com/facebook/presto/tests/TestBlackHoleSmoke.java
Due: none

Fix timestamp UTs in presto-main-base
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonOperators.java
  presto-main-base/src/main/java/com/facebook/presto/util/JsonUtil.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/TestRowExpressionSerde.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionFormatter.java
Due: none

Fix ParquetReader Timestamp UTs
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/AbstractTestParquetReader.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/ParquetTester.java
Due: none

Fix timestamp UTs in presto-orc
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTimestampWriteAndRead.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestingOrcPredicate.java
Due: none

Fix Product Tests
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursor.java
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursorProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectRecordCursor.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectRecordCursorProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3select/TestS3SelectRecordCursor.java
  presto-hudi/src/main/java/com/facebook/presto/hive/HudiRecordCursors.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAllDatatypesFromHiveConnector.java
Due: none

fix(plugin-druid): Add validation for schema names in Druid (#26723)
  presto-druid/src/main/java/com/facebook/presto/druid/DruidMetadata.java
Due: none

Update presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties-session.rst
Due: run_linux_tests=false

fixing product tests
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLJoinPushDown.java
Due: none

Register iceberg connector factory
  presto-native-execution/presto_cpp/main/connectors/Registration.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Advance velox
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Due: run_native_specific_jobs

Build and run presto_server
  presto-native-execution/CMakeLists.txt
Due: run_native_specific_jobs

feat: Add native_pushdown_integer_upcasts_to_source session properties
  .gitmodules
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-main-base/src/main/java/com/facebook/presto/sql/Optimizer.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/connectors/SystemConnector.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.h
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Due: run_native_specific_jobs

Add $snapshot_sequence_number as hidden column in iceberg table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SnapshotsTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
Due: run_linux_tests=false

Add CombineApproxDistinctFunctions optimizer to combine multiple approx_distinct calls, controlled by session parameter
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CombineApproxDistinctFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCombineApproxDistinctFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Due: run_linux_tests=false

chore(connector): Upgrade surefire-testng to 3.5.4 (#26571)
  presto-kafka/pom.xml
Due: none

misc: Make event loop THE implementation for httpRemoteTask and related code (#26697)
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskConnectorCodec.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
Due: none

create subdir for spark2 and spark3
  pom.xml
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/MutablePartitionId.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/MutablePartitionIdOrdering.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/PrestoSparkNativeExecutionShuffleManager.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/PrestoSparkUtils.java
  presto-spark-classloader-interface/src/main/java-spark2/com.facebook.presto.spark.classloader_interface/ScalaUtils.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/MutablePartitionId.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/MutablePartitionIdOrdering.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/PrestoSparkNativeExecutionShuffleManager.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/PrestoSparkUtils.java
  presto-spark-classloader-interface/src/main/java-spark3/com.facebook.presto.spark.classloader_interface/ScalaUtils.java
  presto-spark-classloader-spark2/pom.xml
  presto-spark-classloader-spark3/pom.xml
  presto-spark-launcher/pom.xml
Due: none

refactor: Change native pos API to return BaseSerializedPage (#26692)
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleRead.cpp
  presto-native-execution/presto_cpp/main/operators/tests/ShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Due: run_native_specific_jobs
